[2020-05-28 05:08] XinfengZhang commented on #629
middle ware issue, should not traced here

[2020-05-28 05:31] onabiull commented on #498
I've copied this issue to https://github.com/Intel-Media-SDK/MediaSDK/issues/2138. @fulinjie are you ok with closing this one?

[2020-05-28 05:33] fulinjie commented on #498
sure, thanks,

[2020-05-28 05:33] #498 closed

[2020-05-28 05:36] onabiull commented on #325
@zhuqingliang are you ok to close this issue? If it is still relevant looks https://github.com/Intel-Media-SDK/MediaSDK are better place for it.

[2020-05-28 13:20] ailumiyana commented on #759
sorry, I lost the clip . but i fix this problem by porting my application to the windows environment.

the clip likes a bare h264  stream that gop size 30 and no b-frames.

[2020-05-29 02:02] Jister commented on #929
Please try patch #948

[2020-05-29 02:09] Jister commented on #912
Hi, @xhaihao could you try with the latest Gmmlib(d7a0586104096f3e2241e2a773c6bc41a9e2c422) and check whether the issue is still exist or not?

[2020-05-29 03:26] Jister commented on #640
Hi @feiwan1 , could you please try #949

[2020-06-01 11:05] wangyan-intel commented on #618
@fulinjie
I think current driver has disabled ICQ mode for VDENC:
https://github.com/intel/media-driver/blob/master/media_driver/linux/common/ddi/media_libva_caps.cpp#L663
Could you please check it?
If this issue has been fixed, could you please close it?
Thanks.

[2020-06-02 02:23] xhaihao commented on #912
@Jister it works well with gmmlib commit d7a0586, thx

[2020-06-02 02:23] #912 closed

[2020-06-02 08:00] FurongZhang commented on #471
@XinfengZhang , We sent the binary to bug submitter via Email, not get any response. Need you to check with the bug submitter.

[2020-06-03 05:43] wangyan-intel commented on #894
@HeJunyan
I checked it with the latest iHD driver. The issue is gone. Could you please double check it?
Thanks.

[2020-06-03 05:56] HeJunyan commented on #894
I checked and not hang now. If you can not find the root cause, we can reopen it when we find it again.

[2020-06-03 06:04] wangyan-intel commented on #894
I think some SCC decoding patches fix of iHD driver this issue recently.

[2020-06-03 06:04] #894 closed

[2020-06-03 06:39] Alex1Zhang commented on #686
@xhaihao @xuguangxin please try #956 to test the ProCamp issue which only adjust Brightness. Thanks.

[2020-06-03 07:20] xuguangxin commented on #686
Thanks alex,
Hi @Zhang, YuankunX<mailto:YuankunX.Zhang@intel.com>, could you help test this patch on ICL.
see brightness uv change issue is fixed or not?
You can start at sanity test firstly, then full round test for vpp.

thanks

From: Alex1Zhang <notifications@github.com>
Sent: Wednesday, June 3, 2020 2:40 PM
To: intel/media-driver <media-driver@noreply.github.com>
Cc: Xu, Guangxin <guangxin.xu@

[2020-06-03 07:36] XinfengZhang commented on #898
@fulinjie  , not very clear, are you talking about https://github.com/intel/media-driver/blob/master/media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp#L1458?

[2020-06-03 07:44] fulinjie commented on #898
Yep

[2020-06-03 10:11] Alexandr-Konovalov commented on #281
@wangzj0601, Are you OK with closing it, or some more analysis required?

[2020-06-04 02:10] xuguangxin commented on #686
Hi guangxin,
因为yinhang在用我的电脑去配置直播的那个demo，所以我没有及时看到你的信息，我马上开始测试。
Thanks,
--yuankun

From: Xu, Guangxin <guangxin.xu@intel.com>
Sent: Wednesday, June 3, 2020 3:20 PM
To: intel/media-driver <reply@reply.github.com>; intel/media-driver <media-driver@noreply.github.com>; Zhang, YuankunX <yuankunx.zhang@intel.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [intel/media-driver] [ICL VPP] brigh

[2020-06-04 02:57] xhaihao opened #958 "Compared to ICL, CSC on TGL has low quality."
Reproduce step (e.g. convert 256x256 nv12 file to 128x128 nv12 file, then convert 128x128 nv12 file to 256x256 i420 file)
1. gst-launch-1.0 filesrc location=input.nv12.yuv ! rawvideoparse format=nv12 width=256 height=256 ! vaapipostproc format=nv12 width=128 height=128 ! filesink location=tmp.nv12.yuv

2. gst-launch-1.0 filesrc location=tmp.nv12.yuv ! rawvideoparse format=nv12 width=128 height=128

[2020-06-04 06:55] ljia5 commented on #368
should not open source issue. We cannot get media package. Please transfer to msdk?

[2020-06-04 07:01] ljia5 commented on #315
Fix patch merged, please close this issue.

[2020-06-04 07:23] eero-t commented on #368
Filed issue under MSDK: https://github.com/Intel-Media-SDK/MediaSDK/issues/2148

[2020-06-04 07:23] #368 closed

[2020-06-04 07:35] Jister commented on #640
Seems driver and gst-vaapi have different understanding about backward reference and forward reference. For deinterlace, driver regard past frame as backward reference, future frame as forward referece, but gst-vaapi regard past frame as forward reference, future frame as backward reference.

[2020-06-05 09:46] HeJunyan opened #963 "VAConfigAttribEncMaxSlices attribute return invalid for HEVC encoder on Gen12"
vaGetConfigAttributes with VAConfigAttribEncMaxSlices return -2147483648, which is an invalid value.

[2020-06-05 09:53] wangyan-intel commented on #963
@tim-xie-in Could you please check it? Thanks

[2020-06-06 18:09] mrzippyuk commented on #930
Any update on this, or additional info required as I also see the same issue here too.

Using Gigabyte Brix 4105C - so the J4105 processor.

Ubuntu 20.04.

[2020-06-07 13:27] XinfengZhang commented on #561
already updated it https://github.com/intel/media-driver#components-and-features

[2020-06-07 13:27] #561 closed

[2020-06-07 14:18] XinfengZhang commented on #369
two issue reported, 1. is chromium issue , suppose it is VP9 or VP8, need to verify whether the issue still there, we have several fix related with it. 2. OBS/QSV encode issue.

[2020-06-07 14:26] XinfengZhang commented on #328
close it, it could not reproduced on latest kernel version , such as 5.4

[2020-06-07 14:26] #328 closed

[2020-06-08 01:12] XinfengZhang commented on #958
@Jister @FurongZhang  could you help to take a look?

[2020-06-08 01:19] XinfengZhang commented on #947
thanks reporting, the issue happens on Ubuntu20.4 , but not 19.04, same libva version and media driver version?

[2020-06-08 01:41] wangyan-intel commented on #941
@weizhu-intel Could you please check it? Thanks.

[2020-06-08 06:32] FurongZhang commented on #958
@Jister  to have a look.

[2020-06-08 09:32] AntonGrishin commented on #768
Any updates?

[2020-06-08 20:27] #618 closed

[2020-06-09 04:09] #640 closed

[2020-06-09 04:12] #841 closed

[2020-06-09 04:12] #893 closed

[2020-06-09 06:44] weizhu-intel commented on #941
Yan, can you check which platform they are working on?

[2020-06-09 06:49] wangyan-intel commented on #941
@HeJunyan What platform are your working? TGL?

[2020-06-09 07:06] HeJunyan commented on #941
I test it on SKL/ICL. But seems all platform use NV12, no gray8 available.

[2020-06-09 07:17] #898 closed

[2020-06-09 07:24] fulinjie commented on #963
Seem to be related with https://github.com/intel/media-driver/pull/961 ?

[2020-06-09 08:22] FocusLuo opened #965 "[Regression] iHD driver build failed on Ubuntu Xenial (16.04)"
Media CI build failed log link: https://media-ci.ostc.intel.com/build/434645/overview

07:34:04,277 INFO  - /opt/media/build/intel-media-driver/media_driver/agnostic/gen12/codec/hal/codechal_decode_scalability_g12.cpp: In function 'MOS_STATUS CodecHalDecodeScalability_FEBESync_G12(PCODECHAL_DECODE_SCALABILITY_STATE, PMOS_COMMAND_BUFFER, bool)':
07:34:04,277 INFO  - /opt/media/build/intel-media-dri

[2020-06-10 03:07] teeedubb commented on #947
I am not sure what the libva and media driver versions were in 19.10. I did not have to use the LIBVA_DRIVER_NAME=i965 environment variable in 19.10.

[2020-06-11 06:04] #325 closed

[2020-06-11 06:51] XinfengZhang commented on #468
already been fixed by 6c99fc02c0fd6adaf7f00b1cf571769ebf62e5a5

[2020-06-11 06:51] #468 closed

[2020-06-15 13:02] ss22ongithub opened #973 "[Encode] Differences in slice header prefix for AVC Vdenc and VME"
We tried to record a video using Android camera  application on the ChromeOS  (via the android VM ) using H264Main profile and EncSliceLP entrypoint.

After the frame is encoded the App tries to validate certain length checks ,  the before writing to the disk  and this causes failure.
Point of failure in android https://cs.android.com/android/platform/superproject/+/master:frameworks/av/media/libs

[2020-06-15 13:06] ss22ongithub commented on #973
A patch has been pushed here #971 for review

[2020-06-15 19:28] uartie commented on #918
@Xiaogang-Li @shawnli2 can you verify/review #919 please?

[2020-06-15 22:37] sreerenjb opened #974 "GPU Hang while decoding VP9 4K streams on GEN9 devices"
We have been seeing random GPU hangs while decoding 4k video streams on GEN9 devices.

Here is the sample video provided by Google:
https://drive.google.com/open?id=1VxyD5SVj7rUkTsDPNjcAuFQ7nwae_WNN

How to reproduce the issue with GStreamer:
Run the below pipeline and you will get random GPU hangs. Sometimes it will take only a few minutes to hit the hang but sometimes it takes 15-30 minutes of l

[2020-06-16 17:51] DiegoGuidaF commented on #925
I also have this issue with the latest released version (20.1.1) however it seems to be fixed if using the latest pre release version 20.2.pre (3640b64c).
@Daegalus Could you test it again to see if it is fixed for you too?

I have installed latest version from Archlinux AUR:
intel-media-driver: 3640b64c
intel-gmmlib: 3f1ff23
libva: 7fde463

[2020-06-17 02:19] #913 closed

[2020-06-17 04:03] Daegalus commented on #925
20.2.pre3 did not fix it for me, same issue.

[2020-06-17 05:13] xuguangxin opened #976 "pkg_config: require libva version 1.0 is not right."
Currently, we require libva 1.0 to build.
https://github.com/intel/media-driver/blob/1e4cfae7c72cde426a93ebbbbfc2103cfe900216/media_driver/linux/ult/CMakeLists.txt#L46

But build with libva 1.0 will show compile errors. Many libva defines is not from 1.0 .
Could we change the requirement to the right libva version?

[2020-06-17 08:00] xuguangxin opened #978 "kernel panic when we do 1 to N transcode"
platform: CFL or other platforms

1. run following commandline
`gst-launch-1.0 -v tee name = t filesrc location = ~/cin.264 ! h264parse ! vaapih264dec ! vaapipostproc ! "video/x-raw(memory:VASurface), format=NV12, width=320, height=240" ! t.  t. ! queue max-size-buffers=5 ! vaapipostproc ! "video/x-raw(memory:VASurface), format=NV12, width=320, height=240" ! vaapih264enc  ! fakesink t. ! queue max

[2020-06-17 08:05] xuguangxin commented on #978
@XinfengZhang , this is an important issue since it will hang the entire cpu stack.
Please help check it.
thanks

[2020-06-17 08:24] XinfengZhang commented on #978
could we reproduce the issue by any stream?

[2020-06-17 08:44] xuguangxin commented on #978
yes, any 1080P stream. I can share stream with you if you need it

[2020-06-17 08:59] XinfengZhang commented on #978
is there i915_error_state?

[2020-06-17 10:19] HeJunyan commented on #978
It seems that the vaBeginPicture/vaEndpicture kind APIs are not MT safe. When only one thread call them, that's OK. But if multi-thread call them, this bug shows.

Is Batch buffer operation/feeding MT safe?

[2020-06-17 10:24] DiegoGuidaF commented on #925
Before trying out the 20.2.pre I had an older version I found out to work pretty good, if you have the time you could try it out and see if that one also works for you better, I have to say for me it seems that it had better performance than current one with Parsec, but it might also be placebo effect since I haven't done any numbers to compare them.

Previous version I was using had the following

[2020-06-17 12:43] danvet opened #980 "Please don't mention i915.force_probe in end-user documentation"
Ping @XinfengZhang, we discussed in private a bit.

Preliminary hw support is only for UMD developers, never for end-users. As soon as end-users discover this option, they will use it, and upstream linux kernel will force us to provide full regression fixes support even for code we know isn't ready. That's why we have to rename this option every few years already because too many users have discov

[2020-06-17 12:52] xhaihao commented on #978
It works well for me on my ICL. You could try with a newer version of Linux kernel. I am using 5.4.0

[2020-06-17 20:01] Daegalus commented on #925
I tried a few different 20.2 versions today and they all performed worse. I don't know if there is a difference in our 620 chips, as my CPU is a different model and the device ID for the 620 is different. It shouldn't be different, but I dont know.

For now if I use the i965 driver, I get about 1-2ms latency on decode. and 23-30ms latency on decode for iHD. Along wit it freezing or falling too far

[2020-06-18 08:51] HeJunyan commented on #978
We also hang on TGL.
Is all these APIs MT safe? When we delete all queues in the command line(one thread mode), then everything runs well.
I just notice that when get the command buffer,  the legacy way like
GpuContextSpecific::GetCommandBuffer will do
MOS_LockMutex(m_cmdBufPoolMutex) to protect.
While in Gen12 encoder's command buffer allocation, it uses global var, but I can not find the sync ma

[2020-06-18 09:06] xuguangxin commented on #978
I have updated my kernel to 5.4.0 on CFL.
8 channels can't easily reproduce the issue now.
But if I increase channel number to 12, it will hang the system at first run.

`gst-launch-1.0 -v tee name = t  filesrc location = ~/cin.264 ! h264parse ! vaapih264dec ! vaapipostproc ! "video/x-raw(memory:VASurface), format=NV12, width=320, height=240" ! t.  t. ! queue ! vaapipostproc ! "video/x-raw(memory:

[2020-06-22 00:20] #929 closed

[2020-06-22 05:17] Xiaogangli-intel commented on #379
@dvrogozh so, this issue should be closed by  #319, right?

[2020-06-23 05:44] xinyudox opened #985 "A media driver patch causes gst-vaapi pass rate dropped on TGL"
this patch:

commit 50c845460f3c2453afb0f965618bc6940a434e6c
Author: Bai, Guangyao <guangyao.bai@intel.com>
Date:   Wed Jun 10 16:40:13 2020 +0800

    [Media Common] Defaule Enable Media MMC

Defaule Enable Media MMC for BW saving

egg:

command line:
gst-launch-1.0 -vf filesrc location=SA00040.vc1 ! 'video/x-wmv,profile=(string)advanced',width=176,height=144,framerate=14/1 ! vaapivc1dec ! videoc

[2020-06-23 09:27] XinfengZhang commented on #32
#939

[2020-06-24 03:09] Xiaogangli-intel commented on #579
@eero-t @mattburgess
If HuC was not loaded successfully, you will not get VAEntrypointEncSliceLP for VP9 profiles. If HuC loaded successfully, the information in vainfo should like this:
![image](https://user-images.githubusercontent.com/48201750/85493841-35659780-b60a-11ea-9e82-f7ea63e0b328.png)

Please check your GuC and HuC load status using the following command:
cat /sys/kernel/debug/dri/0/i9

[2020-06-24 03:44] Xiaogangli-intel commented on #579
@eero-t, I cannot reproduce this issue using the latest media-driver, could you try the latest driver? If it still doesn't work, could you provide GuC and HuC status?

[2020-06-26 15:37] NeV3rKilL commented on #930
Same behavior here with another:

model name      : Intel(R) Celeron(R) J4105

[2020-06-26 23:20] Brainiarc7 commented on #625
What's the resolution?
Has this been resolved upstream, say, in libav/ffmpeg?

[2020-06-28 06:51] wangyan-intel commented on #822
@fulinjie Is this issue existed still? If yes, could you please share your clip for debugging?

[2020-06-28 10:31] wangyan-intel commented on #744
@xuguangxin Could you please try my PR: #986? Thanks

[2020-06-29 02:42] xuguangxin commented on #744
@wangyan-intel In which condition we will return here?
https://github.com/intel/media-driver/blob/adc23261d4a4f60d6e113959cdb3acbed055fde9/media_driver/linux/common/codec/ddi/media_ddi_decode_avc.cpp#L832
In this condition,  we still loop the entire array, will it have problem?

thanks

[2020-06-29 02:46] fulinjie commented on #822
Yes, it still exists.
In FFmpeg, we've implemented some work around for this:
(e.g. set slice_param_size to sizeof(VASliceParameterBufferHEVCExtension) only if its profile is FF_PROFILE_HEVC_REXT )
https://github.com/FFmpeg/FFmpeg/blob/master/libavcodec/vaapi_hevc.c#L302
https://github.com/FFmpeg/FFmpeg/blob/master/libavcodec/vaapi_hevc.c#L403

You may verify after changing it into:
int slice_para

[2020-06-29 11:50] VUNNYSODHI opened #988 "Regression: Display corruption for NV12 format with dmabuf"
**Command Used:**
$GST_GL_PLATFORM=egl gst-launch-1.0 videotestsrc ! video/x-raw,format=NV12,width=1920,height=1080 ! msdkvpp ! 'video/x-raw(memory:DMABuf),format=NV12' ! glimagesink

**Platform:** TGL

**OS**:  Ubuntu 18.04.3 LTS

**Environment:**
Latest Libva: https://github.com/intel/libva/commit/3cc2212c38630ffcdc6b38e0bd867845adee5ed9
Latest Gmmlib: https://github.com/intel/gmmlib/commit/40c7

[2020-06-29 13:50] VUNNYSODHI commented on #988
Issue can be resolved if we revert 2 patches https://github.com/intel/media-driver/commit/cc869f7a27c0fbf7182ecca8e8a3e2fb383e233a ([VP] Fix KW issue)+ https://github.com/intel/media-driver/commit/a88a4d60fa8f67531d121c43b28f883b12ed3af0 ([Media Common] Fix Surfacing sharing issue on Linux) on top of adc2326

[2020-06-30 02:23] wangyan-intel commented on #744
@xuguangxin IMHO, we don't know how many frames in avcPicParams->RefFrameList. So we have to search all elements for this slice. Do you think so?
https://github.com/intel/media-driver/blob/adc23261d4a4f60d6e113959cdb3acbed055fde9/media_driver/linux/common/codec/ddi/media_ddi_decode_avc.cpp#L127
https://github.com/intel/media-driver/blob/adc23261d4a4f60d6e113959cdb3acbed055fde9/media_driver/linux/c

[2020-06-30 02:41] xuguangxin commented on #744
Array is not good for search.
Is it possible use some std::map instead of Array.
else if platform supports compressed memory, we still have this high overhead.

[2020-07-01 02:10] xinyudox opened #989 "JPEG encode transcoding failed on EHL"
os: ubuntu 18.04.3
kernel: 5.4.0-997-generic
platform: EHL
iHD commit id: 3640b64c7f9e6406b3b6d520a76d96e364d228bc
gstreamer vaapi commit id: 1c5f32b5cd0ba48f12201565f76aa550733e544a
libva commit id: b4e690fb33cbfb35a12cffe4b655a4045f71aa82

commond line:
gst-launch-1.0 filesrc location=input.mp4 ! qtdemux ! h264parse ! vaapih264dec ! tee name=t ! queue !  vaapijpegenc ! avimux! filesink location=

[2020-07-01 06:37] Xiaogangli-intel commented on #700
@zhuqingliang This issue should be fixed in the latest driver? Could you have a try?
And please use this FFmpeg which has some fixes for VAAPI.
PS: Please run _git am patchset/*.patch_ before build.

[2020-07-01 07:07] XinfengZhang commented on #989
is there details, such as HW platform, vainfo messages, logs?

[2020-07-01 07:10] XinfengZhang commented on #988
the issue should be related with MMC,  need to check it about modifier support, @Guangyao-Bai , could you take a look?

[2020-07-01 07:18] Guangyao-Bai commented on #988
Media Alreay support Modifier and we passed with Kodi Player. what APP are you using? if Gstreamer or FFMPEG, then it need to switch to Memory_type_2 for surface info sharing

[2020-07-01 07:20] XinfengZhang commented on #980
close it, already was fixed by bcfaf0b43e02d14b373995523c1475d07442c1f9

[2020-07-01 07:20] #980 closed

[2020-07-01 07:22] HeJunyan opened #990 "VAConfigAttribPredictionDirection query failed on VMEPAK mode."
The VAConfigAttribPredictionDirection query for HEVC encoder in VMEPAK mode on TGL only returns VA_ATTRIB_NOT_SUPPORTED, which causes that the low-delay-b mode can not be detected correctly.
"VA_PREDICTION_DIRECTION_PREVIOUS | VA_PREDICTION_DIRECTION_FUTURE | VA_PREDICTION_DIRECTION_BI_NOT_EMPTY" should be the correct result.
For VDENC mode, it works well.

And in the code, I notice that this prop

[2020-07-01 07:23] XinfengZhang commented on #976
@ljia5 , please help to check and fix it

[2020-07-01 07:26] XinfengZhang commented on #965
should already been fixed by 3640b64c7f9e6406b3b6d520a76d96e364d228bc

[2020-07-01 07:26] #965 closed

[2020-07-01 07:32] XinfengZhang commented on #985
this patch enabled MMC, so, there are some impact with memory sharing cases. but should not impact legacy feature. @Guangyao-Bai , please help to take a look

[2020-07-01 07:34] XinfengZhang commented on #990
thanks reporting, will file PR to fix it soon

[2020-07-01 07:38] XinfengZhang commented on #419
will close it, because no plan to separate gmmlib and make it as an option

[2020-07-01 07:38] #419 closed

[2020-07-01 08:04] XinfengZhang commented on #471
I believe there should be a PR to fix it. @FurongZhang

[2020-07-01 08:12] Guangyao-Bai commented on #985
yes, already have a fix, check-in WIP

[2020-07-01 12:45] danvet commented on #980
Thanks for addressing this so quickly!

[2020-07-01 14:39] argakon commented on #930
Same problem with:

MB: Asrock J4105-ITX

Artifacts in encoded video file.

[2020-07-02 03:29] Xiaogangli-intel commented on #579
@eero-t do you have time for a try?

[2020-07-02 03:56] XinfengZhang commented on #558
could be closed, current flow in vaGetImage is: create linear surface, call VPP to do de-swizzle, then copy to system memory.

[2020-07-02 03:56] #558 closed

[2020-07-02 03:57] #682 closed

[2020-07-02 03:59] XinfengZhang commented on #701
no response, the USER_PTR should works if the allocation of system memory is aligned with the requirements

[2020-07-02 03:59] #701 closed

[2020-07-02 04:38] VUNNYSODHI commented on #988
Yes @Guangyao-Bai i am using gstreamer, can you please explain more on switching to Memory_type_2?

[2020-07-02 05:34] #932 closed

[2020-07-02 05:37] #918 closed

[2020-07-02 05:52] wangyan42164 commented on #744
@xuguangxin
Yes. It could be changed tree structure like std:map for searching. But it need more effort and test for avoid regression.

[2020-07-02 08:42] XinfengZhang commented on #702
We will not implement it.

[2020-07-02 08:42] #702 closed

[2020-07-02 08:51] #715 closed

[2020-07-02 08:52] #721 closed

[2020-07-03 03:14] wangyan-intel commented on #822
@fulinjie
I have  reproduced and debugged it.
From driver side,  DdiDecodeHEVCG11::AllocSliceControlBuffer doesn't accept the input size from ffmeg and it always operate the request based on the real size. if it is HEVC main 10, it always uses VASliceParameterBufferHEVC to do it. But its caller DdiMediaDecode::CreateBuffer() will use the input size and doesn't double check it.
From FFmpeg side, IM

[2020-07-03 03:33] XinfengZhang commented on #238
build option -fno-semantic-interposition block mock function, and -DBYPASS_MEDIA_ULT=yes could be used to help bypass ULT test, it could be closed

[2020-07-03 03:33] #238 closed

[2020-07-03 03:35] #315 closed

[2020-07-03 04:10] xhaihao commented on #988
@VUNNYSODHI please do not use DMABuf on TGL or revert MMC in your environment.  Currently DMABuf in gstreamer doesn't support modifier, however to support MMC, modifier is required.

[2020-07-03 04:11] xhaihao commented on #958
Any progress for this issue?

[2020-07-03 04:14] VUNNYSODHI commented on #988
Thanks for the info @xhaihao, currently anyone working on adding MMC modifier support in gstreamer?

[2020-07-03 05:08] xhaihao commented on #988
@VUNNYSODHI It seems MMC is disabled in the latest media driver. Your pipeline works well for me on my TGL with the latest media-driver (commit 0c96976ab972f7633ea205aedd4177a0a42b4fab)

So far, someone did some initial work for modifier in waylandsink https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad/-/merge_requests/470. we need similar work in glimagesink.

I filed two issues (https://gi

[2020-07-03 05:11] Guangyao-Bai commented on #988
@xhaihao @VUNNYSODHI  yes, MMC was disable for non-production board. but when you switch to production, it will enabled automatically.

[2020-07-03 08:44] fulinjie commented on #822
Hi,

Yes please, a CHECK is necessary to avoid the potential crash from user.

As to the usage of VASliceParameterBufferHEVCREXT, I'd prefer to use the extended structure for all profiles from the perspective of downward compatibility, and the memory overhead is not very large.

But we'd keep it as a open for now, and make some alignments with gstreamer side before we touch the code of real alloca

[2020-07-03 08:53] wangyan-intel commented on #822
@fulinjie
Thanks for your comments.
I will submit the PR for adding the checking at first.
Please sync with @xhaihao about gstreamer status for this..
Thanks.

[2020-07-03 10:06] zcwang opened #992 "Suffer GPU hang by specific HEVC transcoding in CML"
Need help on GPU hang issue of HEVC transcoding in CML.

It will cause GPU hang by following command  with specific HEVC video (sample video about 5xxMB in [here](https://intel-my.sharepoint.com/:v:/p/gary_c_wang/EaWj5Tanx1VEr1orcr5G8o8BZO0dsZE9Tp4inbwPFPuzdw)).

- Command
ffmpeg -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -hwaccel_output_format vaapi -i target-HEVC-video.mkv -vf 'deinterla

[2020-07-04 09:19] vivami opened #993 "Building 2020.1.1 on Debian buster CML 10400 failing"
I'm trying to build the media-driver 2020.1.1 on Debian buster. Followed all the steps in README.md. When `make -j"$(nproc)"`, I get the following error: `error: 'IGFX_GEN12_CORE' was not declared in this scope`
[code]
Some info:
[code]

Tried installing [intel-media-va-driver from sid repo](https://packages.debian.org/sid/intel-media-va-driver), but I cannot satisfy the `libva-driver-abi-1.7` dep

[2020-07-04 12:49] vivami commented on #993
Managed to resolve my issue by installing `intel-media-va-driver` from Debian testing:

1. Add the following repo to `deb http://ftp.nl.debian.org/debian testing non-free contrib main` to `/etc/apt/sources.list`.
2. `apt update`
3. `apt --purge remove intel-media-va-driver`
4.  `apt install gcc-8-base`
5. `apt -t testing install intel-media-va-driver`

[2020-07-04 12:49] #993 closed

[2020-07-04 14:43] XinfengZhang commented on #411
@artem-shaporenko , how about current status?  suppose legacy feature should also be supported by MFE, is it a bug?

[2020-07-04 14:46] XinfengZhang commented on #447
@wangzj0601 suppose you are not talking i915 "pass with i915 driver" , and no further support of FEI on gen11, could we close it?

[2020-07-05 12:50] XinfengZhang commented on #450
@dvrogozh  the platform build option and feature build option is designed but not maintain well. we have no enough build resource to build each combination. we could provide fix if there are real request or usage.

[2020-07-05 12:50] #450 closed

[2020-07-05 13:58] th0ma7 commented on #906
Error as now disappeared.  I believe this was fixed through https://github.com/intel/media-driver/commit/34815b3d3f210241da7541e7b1beabb01607f9cf
Built successfully TAG `intel-media-20.2.pre4`.
Closing the issue.

[2020-07-05 13:58] #906 closed

[2020-07-06 01:10] XinfengZhang commented on #512
@wangzj0601 is the issue still there? we have multiple fixes merged

[2020-07-06 01:18] XinfengZhang commented on #519
@wakuken  it will take time to merge the code from drm-tips to DRM , then to kernel master, so v5.0.13 of drm-tips works , not mean v5.0.13 work. I suppose it already in DRM and kernel master now.  you also could file issue with DRM.  I will close it, if you have further concern, please let us know, thanks

[2020-07-06 01:18] #519 closed

[2020-07-06 01:25] wangzj0601 commented on #512
@feiwan1 Please help take a look at the all issues under my name, thanks.

[2020-07-06 01:25] XinfengZhang commented on #556
already was fixed by 60cdeaaee875e7b656c12688fb204a54c5b7bb32

[2020-07-06 01:25] #556 closed

[2020-07-06 01:52] feiwan1 commented on #512
thanks @wangzj0601 for caring the issues :), @FocusLuo Could you help to confirm this issue ?

[2020-07-06 02:22] VUNNYSODHI commented on #988
Thanks @xhaihao and @Guangyao-Bai for info.
I have retested with https://github.com/intel/media-driver/commit/0c96976ab972f7633ea205aedd4177a0a42b4fab + latest libva(afca400), gmmlib(40c7d14),  on my setup

**Still see corruption on my side**

**Addition info:**
libva info: VA-API version 1.8.0
libva info: User environment variable requested driver 'iHD'
libva info: Trying to open /usr/lib/x86_64-

[2020-07-06 02:53] #483 closed

[2020-07-06 05:33] XinfengZhang commented on #354
there are too many variable casting , for different purpose. such as: gpu memory access.

[2020-07-06 06:02] zcwang commented on #992
Issue cannot be duplicate by MSDK’s transcoding sample with command “sample_multi_transcode -i::h265 ~/input.h265 -deinterlace -o::h265 test-output.h265 -w 1920 -h 1080”

The successful transcoded video with 1080p resolution (from 2160p) I put [here](https://intel-my.sharepoint.com/:u:/p/gary_c_wang/Eff3uQE4meBGod-jQFO4LeoBSwlDcANCMaR5z3Yp2-fY6Q).

[2020-07-06 06:35] XinfengZhang commented on #629
it is different, media driver will keep some inter-media variables for different frames, different codec should have different inter-media variable required. for example: for h264, MV of P frame should be kept for future B frame. application should not destroy/re-create the context.

[2020-07-06 06:35] #629 closed

[2020-07-06 07:09] xuguangxin commented on #744
@wangyan42164 let us merge your patch firstly. then we will measure the performance at TGL, create a new issues if we still see the problem.
thanks

[2020-07-06 08:51] XinfengZhang commented on #729
@ljia5 , could you help to check it, some flags should be decide by user.

[2020-07-06 09:36] wangyan-intel commented on #744
@xuguangxin Sure. I have added verifying flag for #986.

[2020-07-06 13:20] Alexandr-Konovalov commented on #720
Not reproduced with 232c32f6cbb.

[2020-07-06 13:20] #720 closed

[2020-07-08 02:18] xuguangxin commented on #989
@XinfengZhang any update on this?
thanks

[2020-07-08 06:23] XinfengZhang commented on #735
@Sherry-Lin

[2020-07-08 06:23] #735 closed

[2020-07-08 06:24] #737 closed

[2020-07-08 06:31] XinfengZhang commented on #735
@chivakker  it should be a requirement to gmmlib and libva,  release process and tag cadence is not similar

[2020-07-08 06:36] XinfengZhang commented on #745
@eero-t , other bitrate control has BRC algorithm involved, why expect same perf?

[2020-07-08 07:42] XinfengZhang commented on #747
#169

[2020-07-08 07:43] #749 closed

[2020-07-08 07:54] XinfengZhang commented on #759
@kanade2010  could we close the issue now, seems it is a clip based issue. if you have any further concern , please reopen it , thanks

[2020-07-08 07:54] #759 closed

[2020-07-08 07:59] XinfengZhang commented on #766
for different usage scenario , should have different recommendation setting , bf is just one factor affecting quality. it should be a big topic.  if we just talking about bf, @Xiaogangli-intel  do you have any recommendation?

[2020-07-08 07:59] #767 closed

[2020-07-08 08:10] #780 closed

[2020-07-08 08:15] XinfengZhang commented on #782
it is freed here: https://github.com/intel/media-driver/blob/8a8b8ae263a04cb5dd384d4625215cf296d2cc59/media_driver/agnostic/common/heap_manager/memory_block_manager.h#L223

[2020-07-08 08:15] #782 closed

[2020-07-08 08:17] XinfengZhang commented on #784
@eero-t , most of the violation is noise, it happens with GPU memory access. valgrind could not know the real gpu size

[2020-07-08 08:17] #784 closed

[2020-07-08 08:22] #794 closed

[2020-07-08 08:26] XinfengZhang commented on #796
issue should already been fixed, please refer to https://github.com/intel/media-driver/blob/master/media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp#L813

[2020-07-08 08:26] #796 closed

[2020-07-08 08:37] XinfengZhang commented on #801
as @sreerenjb  mentioned https://github.com/intel/media-driver/issues/801#issuecomment-596842528, you are using sw decoder, not HW acceleration, right?

[2020-07-08 08:43] XinfengZhang commented on #805
after https://github.com/intel/libva/pull/398 merged, ffmpeg should check this definition instead of "equal row"

[2020-07-08 08:44] #809 closed

[2020-07-08 08:51] fulinjie commented on #805
@XinfengZhang , yes "Equal rows" works for FFmpeg.
Feel free to close this issue even if it didn't got merged yet for now.

[2020-07-08 11:08] michaelolbrich opened #995 "vaExportSurfaceHandle is broken for YV12 and I420"
And probably other three-plane formats. The same offset is returned for the U and V planes.

From a quick look at the code, it seems that `DdiMedia_ExportSurfaceHandle()` does not handle 3 planes at all.

[2020-07-09 05:18] wangyan-intel commented on #822
@fulinjie Could you please take a look: #996? Thanks.

[2020-07-09 05:25] Xiaogangli-intel commented on #579
This issue has been fixed in the latest driver, so close it.

[2020-07-09 05:25] #579 closed

[2020-07-09 05:26] Xiaogangli-intel commented on #700
This issue has been fixed in the latest driver, so close it.

[2020-07-09 05:26] #700 closed

[2020-07-09 06:03] XinfengZhang commented on #995
@Guangyao-Bai @Jister , please help to check the issue, when MMC is not enabled , it should support 3 planes , right?

[2020-07-09 06:32] Xiaogangli-intel commented on #511
This issue has been fixed by the latest driver, please help to confirm it, thank you.

[2020-07-09 06:46] Xiaogangli-intel commented on #513
Hevc-10bit is not supported on APL/BXT.
Please reference https://github.com/intel/media-driver/blob/master/README.md.

[2020-07-09 06:46] #513 closed

[2020-07-09 06:49] Guangyao-Bai opened #997 "TGL Surface sharing methodology update on TGL"
TGL will use memory type VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME_2 for surface sharing with compression/tiling etc. info. thus may need outside user upgrate the memory type supporting logic when usages include more than 2 component like media + Mesa.

[2020-07-09 06:51] Xiaogangli-intel commented on #563
This issue has been fixed in the latest driver. Please help to confirm it.

[2020-07-09 07:13] Sherry-Lin commented on #997
This interface upgrade is necessary in DMA buffer sharing for ffmpeg/gstreamer. Detail information as below.
* https://github.com/intel/libva/issues/424
* [gst-msdk/issues/1329](https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad/-/issues/1329)
* [gstreamer-vaapi/issues/263](https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/-/issues/263)
* [ffmpeg-vaapi patch](https://patchwork.ffmpeg.

[2020-07-09 07:19] Sherry-Lin commented on #997
If you want to know more about compression info sharing, you could access https://github.com/intel/media-driver/wiki/Compression-Info-Sharing

[2020-07-09 07:25] Sherry-Lin commented on #997
If you have to disable memory compression, you could revert https://github.com/intel/media-driver/commit/50c845460f3c2453afb0f965618bc6940a434e6c \(https://github.com/intel/media-driver/pull/970 \), but the driver health is not qualified in test.

[2020-07-09 07:46] #744 closed

[2020-07-09 08:08] HeJunyan opened #998 "vaQueryImageFormats does not return Y212 and Y412 format on TGL."
Y212 and Y412 formats should be returned if we want to decode 12 bits 422 and 444 streams in HEVC.
The Y216 and Y416 are returned, but we need to use 12 bits format, it is more precise. And I also notice that the P012 is available.

Please also make sure Y212 and Y412 are in the list of vaQuerySurfaceAttributes's VASurfaceAttribPixelFormat, then we can make these formats as RT surface format of en

[2020-07-09 08:41] fulinjie opened #999 "[FFmpeg][HEVC][SCC][Decode]"
FFmpeg:
https://github.com/intel-media-ci/ffmpeg/pull/231

Note that Screen-Extended Main 4:4:4 and 4:4:4 10 supports chroma_format_idc from 0, 1 or 3, hence both 420 and 444 are supported.

However, in MediaLibvaCapsG12::QuerySurfaceAttributes (gen12) for SCCMain444, no 420 format is supported:

        else if(profile == VAProfileHEVCSccMain444)
        {
            //422/444 8/10bit included

[2020-07-09 08:43] fulinjie commented on #999
Hi @XinfengZhang @Sherry-Lin, would you please help to check?

[2020-07-10 08:25] #822 closed

[2020-07-10 15:04] pythonsan commented on #935
@XinfengZhang I encountered a new problem, follow your guide :-(

[code]

Upgrading libc is a risky operation, so can it support ubuntu 18.04 of intel-graphics.list ?

[2020-07-11 13:18] XinfengZhang commented on #935
it should support ubuntu 18.04. I suppose , it is a package problem. they build the package on 19.04 or 20.04.  will check it with maintainer of the package.

[2020-07-11 16:21] dvrogozh commented on #935
@XinfengZhang : no, https://repositories.intel.com/graphics/ubuntu support only Ubuntu 19.10 (eoan). Ubuntu 20.04 (focal) is in plans, but I think packages are not there yet. I don't think that the named repository supports packages for Ubuntu 18.04 (bionic) at least for media.

@ambicapramod : since you are on Ubuntu 18.04, but try to install packages from Ubuntu 19.10, you step into dependency i

[2020-07-12 06:49] fredvb commented on #818
Issues seems to exist with  intel-media-driver 20.1.1-1 , intel-gmmlib 20.2.2-1 , libva 2.8 , libva-utils 2.8

I'm encountering the same issue when running MPV with --vo=vaapi when using iHD driver.
If I use i965 all goes well.

My problem is that i965 doesn't work on a Comet Lake

[2020-07-12 08:44] pythonsan commented on #935
Thank you very much for your reply

Because we use specific hardware, its operation must depend on the 18.04 version, so we cannot upgrade to a higher ubuntu temporarily.

I have given up installing media-driver through apt-get. I have solved this problem using the source code compilation and installation mode. If 18.04 is supported in the future, please tell me, thank you :-)

@XinfengZhang @dvro

[2020-07-13 00:23] THX723 commented on #930
Adding issue to include all new 2020 Synology NAS based on J4105 and J4125 (GLK) CPU.
Observing heavy artifact issue, especially with HEVC 8-bit.

[2020-07-13 00:35] THX723 commented on #376
@XinfengZhang @dmitryermilov Curious if a timeline has been established for when GLK will be fully integrated and tested in the media driver?

[2020-07-13 02:05] Jister commented on #995
please try #1000

[2020-07-13 06:23] XinfengZhang commented on #935
@ambicapramod  , sorry, I dont know your OS version before I give your command line, for 8.04, you should use this one (but the driver maybe is not latest one):  cat << EOF | sudo tee /etc/apt/sources.list.d/intel-graphics.list
deb [trusted=yes arch=amd64] https://repositories.intel.com/graphics/ubuntu bionic main
EOF

[2020-07-13 11:11] eero-t commented on #579
Sorry for late reply.  I don't have ICL HW anymore, so unfortunately I cannot verify this.

Maybe media driver could output something like this when required functionality is missing: "HuC firmware is required for functionality <X>, check from "/sys/kernel/debug/dri/0/i915_huc_load_status" whether it's loaded, and if not, add kernel option to do that"...?

[2020-07-13 11:30] eero-t commented on #715
Of course it can.  You just add Valgrind annotation define for it, like e.g. libdrm does:
https://github.com/freedesktop/mesa-drm/blob/master/intel/intel_bufmgr_gem.c#L1485

Besides annotating allocations, you obviously need to annotate also frees, and tell Valgrind something about the memory area types, like is done in the linked libdrm example.

If driver uses those mappings as a memory pool ins

[2020-07-13 11:35] eero-t commented on #745
"...with the other bit-rate controls utilizing GPU only partially, it would seem that there's room to improve also their performance."

Or do you mean that BRC requires more syncing with CPU side, which is unavoidable?

[2020-07-13 11:40] eero-t commented on #784
Just tell Valgrind what the allocation sizes are, like e.g. libdrm does:
https://github.com/freedesktop/mesa-drm/blob/master/intel/intel_bufmgr_gem.c#L1485

Please re-open until this is properly fixed (I don't seem to be able to do that).

[2020-07-14 02:57] wangyan42164 commented on #999
@fulinjie Could you please try #1001? Thanks.

[2020-07-14 03:00] wangyan-intel commented on #998
@HeJunyan It should be similar with #921. Right? I can add them.

[2020-07-14 03:27] HeJunyan commented on #998
Yes, please. And I notice the P012 is ready.

[2020-07-14 03:44] XinfengZhang commented on #579
@Xiaogangli-intel hi Xiaogang, could we add some message for it, then there will be some clue to facilitate the debug

[2020-07-14 03:50] XinfengZhang commented on #715
@eero-t , thanks, to add these annotation, we should include valgrind header file and detect valgrind installation. right?

[2020-07-14 03:53] XinfengZhang commented on #745
BRC is handled by Huc, @Xiaogangli-intel , do you have the data whether HUC BRC will impact perf? and how much impact?

[2020-07-14 05:59] xinyudox commented on #512
I tried a few cases with last media driver on APL, and here's the result.
bframes=0,bitrate=1000,case=bluesky,fps=30,gop=100,profile=main,slices=1    bitrate_gap = 13.78%
bframes=0,bitrate=1000,case=bluesky,fps=30,gop=100,profile=main,slices=3    bitrate_gap = 12.55%
bframes=0,bitrate=1000,case=bluesky,fps=30,gop=30,profile=main,slices=1      bitrate_gap = 11.33%

[2020-07-14 06:21] xinyudox commented on #563
I tried a few cases with last media driver on APL, and here's the result.
bframes=2,case=bluesky,gop=30,profile=high,qp=10,quality=1,slices=1    timeout  Total duration: 00:05:01
bframes=2,case=bluesky,gop=30,profile=high,qp=10,quality=1,slices=3    timeout  Total duration: 00:05:01
bframes=2,case=bluesky,gop=30,profile=high,qp=10,quality=4,slices=1    timeout  Total duration: 00:05:01

[2020-07-14 06:28] Sherry-Lin commented on #989
Could you please confirm whether it's workable for signal transcode in EHL with 5.4 kernel? As I know, EHL also require 5.7+ kernel version.

[2020-07-14 06:48] xinyudox commented on #989
it's workable for signal transcode in EHL with 5.4 kernel.

[2020-07-14 09:41] wangyan42164 commented on #998
@HeJunyan Could you please try #1002 which is dependent on https://github.com/intel/libva/pull/434? Thanks.

[2020-07-14 10:20] eero-t commented on #715
Adding valgrind headers to the system before build is a user responsibility (on Debian derived distros, this would mean doing just "sudo apt install valgrind-dev").

Media driver needs to:
* Detect presence of valgrind headers
* Enabled Valgrind annotations when headers are present
* Annotate non-standard[1] memory allocations + frees for Valgrind so that Valgrind knows when accesses to these memo

[2020-07-14 15:21] #974 closed

[2020-07-14 21:24] argakon commented on #947
I think this problem can be related to this #930

[2020-07-15 01:27] Xiaogangli-intel commented on #512
@xinyudox how many frames in your tests? It should be bigger than 200 frames, otherwise, it's not accurate.

[2020-07-15 01:33] Xiaogangli-intel commented on #563
@xinyudox could you list the versions of the tool list and the ubuntu version? Also, could you provide dmesg?
Thank you.

[2020-07-15 01:34] #511 closed

[2020-07-15 05:42] XinfengZhang commented on #686
fixed by #956

[2020-07-15 05:42] #686 closed

[2020-07-15 07:52] #999 closed

[2020-07-15 08:28] xinyudox commented on #563
APL | OS: ubuntu 18.04 | kernel 5.7.0-rc5-daily-nocodec-20200519
[dmesg.log](https://github.com/intel/media-driver/files/4923911/dmesg.log)

libva | afca400d5629409ae7d51c4b1109a1b73ab2844a
Mediasdk | 04626ad4ca5d720957cbe59fd7b468d978e36150
gmmlib | 40c7d14fd16a4282410a2f6b0cd59251c8e41d5c
iHD Driver | 388ea758af1f050b66c9150f7981192cea0ae540
libva-utils | 287f3a581f46f2e38aa7dc8b371033e91110da6a

[2020-07-16 06:02] xinyudox commented on #512
I tried a few cases with last media driver on APL, and here's the result.
num-buffers=300
bframes=0,bitrate=1000,case=bluesky,fps=30,gop=100,profile=main,slices=3       bitrate_gap = 31.51%
bframes=0,bitrate=1000,case=bluesky,fps=30,gop=100,profile=main,slices=1       bitrate_gap = 32.52%

APL | OS: ubuntu 18.04 | kernel 5.7.0-rc5-daily-nocodec-20200519
libva | afca400d5629409ae7d51c4b1109a1b73ab2

[2020-07-16 06:26] Xiaogangli-intel commented on #512
Synced with @FocusLuo, as this issue cannot be reproduced on my side based on the latest tool list, I will close this now. If it still exist on your side, please issue a new one.

[2020-07-16 06:26] #512 closed

[2020-07-16 06:27] Xiaogangli-intel commented on #563
From dmesg, we didn't find hang. Synced with @FocusLuo, as this issue cannot be reproduced on my side based on the latest tool list, I will close this now. If it still exists on your side, please issue a new one.

[2020-07-16 06:27] #563 closed

[2020-07-16 07:39] #995 closed

[2020-07-16 08:24] XinfengZhang commented on #376
#1005 should fixed some issue with GLK

[2020-07-16 08:40] #901 closed

[2020-07-17 08:21] xuguangxin commented on #989
@Sherry-Lin any update on this?
thanks

[2020-07-17 12:53] XinfengZhang commented on #963
fixed by #961 , commit 152008b6c95e56939d80e44f8a2023504b76ab62

[2020-07-17 12:53] #963 closed

[2020-07-17 12:55] #805 closed

[2020-07-17 13:00] XinfengZhang commented on #813
build system is designed to platform and feature independent, these part is less maintenance , always use one binary to cover all platform and all features. I set "reserved" flag , expect some effort from community to improve this part .

[2020-07-19 12:07] th0ma7 commented on #813
As the option was documented I thought this as a nice way to reduce binary size on embedded systems.

[2020-07-19 13:51] XinfengZhang commented on #813
agree with you, it is designed for it. but as you know, we haven't enabled the test case to cover the combination , during this period there are some commits break it.

[2020-07-20 04:23] FurongZhang commented on #998
Most of code changes are related to Codec.

[2020-07-21 08:53] XinfengZhang commented on #864
* libva already is dependency, and libdrm is dependency of libva, valgrind headers should be added to avoid noise, but need support in code and should related with #715
* already was resolved https://github.com/intel/media-driver#video-processing-features
* fixed by #1007.
* it is closed.

[2020-07-21 10:10] ovaar commented on #733
Any progress regarding this issue?

[2020-07-23 09:07] fulinjie commented on #992
Ping.
This gpu hang accidentally occurs in decoding procedure for some clips with missing refs.

[2020-07-23 11:32] dmitryermilov commented on #992
@fulinjie , if msdk decoder can handle the stream, perhaps a WA is possible on ffmpeg side?

[2020-07-24 01:57] fulinjie commented on #992
Hi @dmitryermilov ,

The main reason for this issue is that:
•	The clips doesn’t start from an IRAP frame (Intra random access point)
o	Hence the first 50 frames lack the valid reference list, they could not be decoded correctly.
o	Also missing reference in application level leads to the Null pointer in driver, **however it should not leads to GPU hang**;

It seems to be related with error toleran

[2020-07-24 02:27] xuguangxin commented on #978
@Xiaogang-Li are you able to reproduce my result?
thanks

[2020-07-24 08:28] XinfengZhang commented on #880
@HeJunyan , could you have a try #1009

[2020-07-24 08:43] dmitryermilov commented on #992
Yes, I fully understand you, @fulinjie . It goes without saying that UMD should attempt to prevent GPU hangs.
My point is, ideally, each component in media stack should be error tolerant. Then, problems, which one component in media layer can't handle, will be handled by another component.

The motivation here is not just "simply" skip as many as possible frames :) There should be a balance betwee

[2020-07-24 09:17] fulinjie commented on #992
Yep, agree. These skipped frames are useless and are with garbage in this clips, and would be better to be skipped.
And that's the reason I'm working on some WAs in FFmpeg to start decoding from IRAP frames:
https://github.com/fulinjie/ffmpeg/commit/8926ae48ba7316cdebe59c27d4b6a01bb766ce00

The gpu hang could be hide after applying above patch.
However since we've caught this hang issue, IMHO it w

[2020-07-25 14:55] francoisbertelatschrodinger opened #1010 "typo: (re)souce->(re)source"
This is a typo in many files not only in comments but also in method names.

Collected with:
[code]
[typo.txt](https://github.com/intel/media-driver/files/4975735/typo.txt)

[2020-07-28 05:48] XinfengZhang commented on #1010
thanks, will check it. but it is not urgent, right?

[2020-07-28 12:51] francoisbertelatschrodinger commented on #1010
Not urgent. Just reporting.

[2020-07-30 02:47] uartie commented on #723
@XinfengZhang can we get some progress here for HEVC case?  Also #379 may be related for AVC case.

[2020-07-30 02:48] uartie commented on #723
cc: @onabiull @Xiaogangli-intel

[2020-08-03 03:01] #864 closed

[2020-08-04 05:39] #880 closed

[2020-08-04 11:38] eero-t opened #1016 "Regression: CPU side format conversions don't work anymore"
Setup:
* HW: GEN9 (SkullCanyon)
* OS: Ubuntu 20.04
* Driver stack: latest Git version builds of drm-tip kernel, libdrm, gmmlib, libva, media-driver and FFmpeg

media-driver regressed between following commits:
*  2020-07-30 08:21:31 a732aa18a282770d3b3b13e58f54f568b721f5fe: [VP] Refine VP HW Filter
* 2020-08-02 11:43:13 8aa1d74b80668f9963e691b1c01ab564f50aec85: media: don't advertise AV1 decoding

[2020-08-05 07:53] AndrejOrsula opened #1017 "VP9 encoding on CML"
Hello everyone, I would like a suggestion about what driver should I use to enable hardware-accelerated VP9 encoding on Comet Lake H-series. Thank you in advance.

## Setup

* **iGPU**: UHD Graphics (CML GT2) [i7-10875H]
* **OS**: Ubuntu 18.04
* **Kernel**: 5.4.0-42-generic
* **media-driver**: [intel-media-20.2.0](https://github.com/intel/media-driver/releases/tag/intel-media-20.2.0)
* **libva**:

[2020-08-05 18:00] sreerenjb commented on #1017
Not officially supported, but you can try this :https://github.com/intel/media-driver/pull/717

[2020-08-06 06:30] HeJunyan commented on #990
I checked the newest code in master, and find #1009 does not fix all problems on TGL. Though, the ICL can works well.

[code]

[2020-08-06 06:35] HeJunyan commented on #990
I can not find the reopen option, @XinfengZhang please reopen it.

[2020-08-06 07:46] AndrejOrsula commented on #1017
I can confirm that #717 works well on CML and I have not encountered any problems so far (tested with GStreamer). Thank you so much @sreerenjb for resolving my issue.

For more info, here is the new VP9 encoder profile/entrypoint pair.
[code]

[2020-08-06 09:53] QiAnXinCodeSafe opened #1018 "The return value of 'sscanf()' should be checked"
https://github.com/intel/media-driver/blob/2d36ef5426da3ea422356195052b2d7731b47a3e/cmrtlib/linux/hardware/drm_device.h#L375

[2020-08-06 21:15] #1017 closed

[2020-08-07 05:45] XinfengZhang commented on #990
@HeJunyan , please double confirm it, the code you copied should be old , VME & VDEnc is same on TGL, support I B Lowdelay B

[2020-08-07 06:02] XinfengZhang commented on #990
@HeJunyan , could you help to check whether #1021 fix the issue?

[2020-08-07 06:27] HeJunyan commented on #990
It works for me on my TGL, please help to merge it.

[2020-08-07 06:27] HeJunyan commented on #990
It works for me on my TGL, please help to merge it.

[2020-08-07 06:27] HeJunyan commented on #990
It works for me on my TGL, please help to merge it.

[2020-08-07 06:27] HeJunyan commented on #990
It works for me on my TGL, please help to merge it.

[2020-08-07 06:27] HeJunyan commented on #990
It works for me on my TGL, please help to merge it.

[2020-08-07 06:57] XinfengZhang commented on #930
#1005 fixed basic function --- memory access of GLK. actually, because i965 and iHD both cover gen9 platforms,   we suggest to switch driver from ICL.

[2020-08-07 07:08] XinfengZhang commented on #935
@ambicapramod  I will close the issue, if you have any other concern, please add comment here, we could re-open it

[2020-08-07 07:08] #935 closed

[2020-08-07 07:11] XinfengZhang commented on #937
copied from #356 need to enable a special CXXFLAGS such as -D_FILE_OFFSET_BITS=64 or by default the value is 32.

[2020-08-07 07:11] #937 closed

[2020-08-07 07:15] XinfengZhang commented on #938
already been implemented by 8de0dd5a537ad1c7816de2c40db525cc61955b54

[2020-08-07 07:15] #938 closed

[2020-08-07 07:26] weizhu-intel commented on #941
Our HW can't use yuv400 directly.  If give yuv400,  we need to convert to nv12 in driver.

[2020-08-07 07:30] #941 closed

[2020-08-07 08:46] XinfengZhang commented on #985
there are a serious patch to fix the issue, last one is 84a1423a74c7ee82a5b397f61c6eac66c717b754.

[2020-08-07 08:46] #985 closed

[2020-08-10 02:21] pedrocr opened #1024 "VP9 decoder for Skylake?"
According to this table:

https://en.wikipedia.org/wiki/Intel_Graphics_Technology#Hardware-accelerated_algorithms

as well as the Skylake source linked there:

http://www.intel.com/content/dam/www/public/us/en/documents/datasheets/desktop-6th-gen-core-family-datasheet-vol-1.pdf

Skylake should be capable of hardware decoding VP9. The old hybrid driver seemed to include some support for that. Is su

[2020-08-10 08:04] HeJunyan opened #1025 "TGL SCC encoder context return wrong format for VASurfaceAttribPixelFormat attribute."
On TGL, all VAProfileHEVCSccMain444/VAProfileHEVCSccMain444_10/VAProfileHEVCSccMain10 return only NV12 as the input/recon format when query the VASurfaceAttribPixelFormat attribute.

Should be VUYA for VAProfileHEVCSccMain444, Y410 for VAProfileHEVCSccMain444_10 and P010_10LE for VAProfileHEVCSccMain10.

Gstreamer pipeline fails to create correct input surface for these scc encoder context.

[2020-08-11 02:53] XinfengZhang commented on #1024
SKL has no HW VP9 decoding support,  I suppose  you are talking about older intel-vaapi-driver driver, the solution is hybrid solution , if you want to use VP9 decoding support on SKL, I suggest still use https://github.com/intel/intel-hybrid-driver. media driver has no plan to add the support on SKL , media driver enable HW VP9 decoding from BXT/APL KBL

[2020-08-11 08:06] #1018 closed

[2020-08-11 08:07] #990 closed

[2020-08-11 09:05] pedrocr commented on #1024
I do mean that hybrid driver that now seems discontinued. Why not integrate that into this one?

[2020-08-11 20:52] uartie opened #1028 "[regression][ffmpeg-vaapi][vp8d] decode output corrupt"
We are observing this issue only on gen 9.5 (KBL/CFL/WHL/CML ...).  However, some of our gen9.5 platforms don't exhibit this problem.  So maybe it's related to SKU or kernel that causes bad driver behavior?

[code]

The second frame in threads-default.yuv output is corrupt:

![threads-default-frame-2](https://user-images.githubusercontent.com/677859/89946692-277ace80-dbd8-11ea-8009-0358c3f57cf9.jp

[2020-08-11 21:57] uartie commented on #1028
This is a regression that started with:
[code]

cc: @Xiaogangli-intel

[2020-08-12 01:55] Xiaogangli-intel commented on #1028
@uartie This change only impacts the platform which uses software sizzling(should be >Gen11). So I don't think this issue caused by this change because gen 9.5 (KBL/CFL/WHL/CML ...) are not using SW swizzling.

[2020-08-12 03:04] uartie commented on #1028
I checked on several different KBL, CFL and WHL packages SKUs.  Some SKUs did not reproduce... but the others reproduce reliably.  I also double-checked before and after patch... and regression always after patch.

[2020-08-12 03:07] uartie commented on #1028
For example, a i7-7700 (KBL) I tested has 100% reproduced regression.  But it is fine before the patch.

[2020-08-12 03:44] uartie commented on #1028
Interestingly, on my local KBL Fedora OS development machine, it does not regress before or after this commit.  But, if I compile and test in an Ubuntu Bionic Docker container on the same machine, I see the regression after this commit, but not before.  Hope this gives some clues.

[2020-08-12 04:49] uartie commented on #1028
Another observation... with Debug build, the issue goes away in container, too.

[2020-08-12 06:51] Xiaogangli-intel commented on #989
@xinyudox we checked this issue, the failure is caused by JPEG encoding, although with single JPEG encoding, it still failed.

But you mentioned, "it's workable for signal transcode in EHL with 5.4 kernel.", single H264? H265 or JPEG?

[2020-08-12 07:37] uartie commented on #1028
But this change does modify some of the code paths taken by gen9.5, right? Perhaps the change exposed a previously dormant multi-thread race condition?  Or maybe introduced one by accident?

[2020-08-13 06:53] Xiaogangli-intel commented on #934
@sesse Thanks for your suggestion, I will check and correct it.

[2020-08-13 07:51] XinfengZhang commented on #1016
yes,  I reproduced the issue, but it already been fixed with latest driver. I tried a51bd7c36937c69c0cd824ec57c337dc27f6045a.

[2020-08-13 08:14] XinfengZhang commented on #992
@wangyan-intel could we add a check when call vaEndPicture, if there are no reference frame, media-driver should return failed to avoid gpu hang

[2020-08-13 08:30] XinfengZhang commented on #989
suppose it is same issue with #902 ?

[2020-08-13 11:51] eero-t commented on #1016
Thanks, verified with a51bd7c36937c69c0cd824ec57c337dc27f6045a.

[2020-08-13 11:51] #1016 closed

[2020-08-13 13:03] #976 closed

[2020-08-13 21:04] Rimasi89 commented on #930
Same issue even with the new updated plex apk (PlexMediaServer-1.19.5.3112)

NAS: Asustor 5202t
CPU: Intel Celeron J4005

iHD.bak workaround was still needed :/

[2020-08-13 23:31] tmathmeyer commented on #621
I've also started experiencing this issue on debian with the iHD 20.1.1 driver version.

we're working on shipping HW acceleration in chrome by default for linux here: https://chromium-review.googlesource.com/c/chromium/src/+/2288633

you'll notice that we used a workaround to ask chrome to switch to the i965 driver, if available. Obviously, we'd like to not have this workaround, but it seems that

[2020-08-14 00:42] tmathmeyer commented on #621
also, as a note to @freefreeno
the reason your videos play when not using the flag is because they are being played using a software decoder. You can see that the decoder name is VpxVideoDecoder. This is one of the software decoders in chromium, the other common one being FfmpegVideoDecoder (which you will see for h264 videos)

DecryptingVideoDecoder is using widevine, which can punt the decoding

[2020-08-16 14:20] XinfengZhang commented on #978
@xuguangxin @HeJunyan I could not reproduce the issue on SKL with latest driver, we already clean some global variable recently. could you help to check whether the issue already been fixed?

[2020-08-17 05:43] ykku16github opened #1029 "[TGL] Disable E2E Compression for hardware revisions from 0 to 2"
E2E compression is currently disabled for hardware revision 0.  See [1].  The kernel commit in [2] indicates that media decompression isn't available for steppings A0-C0.

If we test today's iHD with today's drm-tip on a B-stepping, for example, we would see corrupted video frames on the display by default.

Does it make sense to disable E2E compression until media decompression is available?

[1]

[2020-08-17 05:46] zcwang opened #1030 "GPU hang caused by GST's HEVC encode in JSL"
Need help on GPU hang issue of HEVC encoding in JSL (4-cores/6W).

Test Environment
OS: Ubuntu 18.04 with kernel v5.8.
Open Source Media Stack: 2020’Q1 release or the latest upstream on 8/14/2020
FFmpeg vresion: the latest code in upstream on 8/14/2020
libva info: VA-API version 1.9.0
libva info: User environment variable requested driver 'iHD'
libva info: Trying to open /usr/lib/dri/iHD_drv_video

[2020-08-17 05:47] XinfengZhang commented on #1029
hi @Guangyao-Bai , please help to check it

[2020-08-17 05:56] zcwang commented on #1030
@dmitrybrazhkin and @Sherry-Lin, Sorry for bothering you.

This issue is critical to customer's evaluation. please help on it.

[2020-08-17 06:00] zcwang commented on #989
@XinfengZhang could you please to check issue #1030 for similar issue comparing to this issue? Thanks!

[2020-08-17 06:03] zcwang commented on #1030
@XinfengZhang could you please help to check issue #989 for any similar issue comparing to this issue? I am tracking on #989 now but still hope to make sure this GPU HANG issue is another issue or not.

Thanks!

[2020-08-17 06:12] ykku16github commented on #1029
@XinfengZhang , thanks for your quick response.  I submitted the following pull request:
https://github.com/intel/media-driver/pull/1031

Assuming the pull request makes sense, I have the following 3 additional questions:

1.  Should a similar change be made to the following?
https://github.com/intel/media-driver/blob/d457d66da7065e5116f818e4bca2d6ea4b841422/media_driver/linux/gen12/ddi/media_sku_

[2020-08-17 06:57] Guangyao-Bai commented on #1029
1. The kernel commit in [2] in sharing about the stepping is for Display stepping, not for GT Stepping, from TGL, the GT/Display may have different Stepping info. for Example, the HW issue was fix on Display D Stepping while the GT stepping will map C Step.
2. based on talking with Display team, kernel can reject submision with such change if modifior with compression enabled info. but need to fur

[2020-08-17 07:51] HeJunyan commented on #978
I also can not produce this on SKL at the first time. TGL has his issue when I checked.

[2020-08-17 19:46] ykku16github commented on #1029
OK, thanks for the clarification.

[2020-08-19 06:27] #1025 closed

[2020-08-19 06:30] quiricada opened #1033 "build error"
/intel/media-driver-master/media_driver/linux/common/vp/ddi/media_libva_vp.c:1031:10: error: ‘VA_FILTER_INTERPOLATION_NEAREST_NEIGHBOR’ was not declared in this scope
 1031 |     case VA_FILTER_INTERPOLATION_NEAREST_NEIGHBOR:
      |          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/intel/media-driver-master/media_driver/linux/common/vp/ddi/media_libva_vp.c:1034:10: error: ‘VA_FILTER_INTERPOLATIO

[2020-08-19 07:33] Xiaogangli-intel commented on #989
@xinyudox Could you upgrade your Linux kernel?
The requirement already mentioned in README. (EHL/JSL/TGL: drm-tip, missed in <=5.4.3 kernels)

JPEG encoding works well if we don't run AVC encoding. So maybe some of the registers were not reset after run AVC encoding. This maybe related to KMD, so please try the KMD which supports EHL.

[2020-08-19 15:08] zcwang commented on #1030
BTW my i915 is setup with parameter **i915.force_probe=4e51** for JSL system's bring-up.
Thanks!
Gary

[2020-08-20 00:56] zcwang commented on #1030
@dmitrybrazhkin After adding low-power setting, is still got GPU hung (**`gst-launch-1.0 videotestsrc ! vaapih265enc tune=low-power low-delay-b=true ! fakesink`**)

![image](https://user-images.githubusercontent.com/1322055/90704431-07779900-e2c3-11ea-8ebc-30e48a16ca74.png)

[2020-08-20 02:14] zcwang commented on #1030
After installing GuC/HuC, and add i915.enable_guc=2 in my kernel v5.8, issue went away then close this issue.

Sorry for my incorrect setting & testing in JSL's media.

[2020-08-20 02:14] #1030 closed

[2020-08-20 10:51] daleksan commented on #768
When you plan to merge #1013 ?

[2020-08-21 08:29] zhangyuankun-star opened #1035 "[csc][ffmpeg-vaapi]Failed to convert ayuv to another format"
**cmd-line**
ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v verbose -f rawvideo -pix_fmt 0yuv -s:v 1280x720 -i /home/yefeng/build/media/yuv/zyk_csc_1280x720_AYUV.yuv -vf 'hwupload,scale_vaapi=format=yuv420p,hwdownload,format=yuv420p' -f rawvideo -vsync passthrough -an -vframes 10 -y 1.yuv
**error**
[Parsed_scale_vaapi_1 @ 0x55a396551c00] Failed to render parameter buffer: 18 (invalid p

[2020-08-25 13:28] FurongZhang commented on #1035
Thanks @zhangyuankun-star . Sure.

[2020-08-25 13:36] FurongZhang commented on #1035
There is one PR https://github.com/intel/media-driver/pull/994 to fix the above issue. But it causes regression. Need some one to take a look again.

[2020-08-26 06:22] XinfengZhang commented on #1033
it related with libva version , you could compile it basing on latest libva. or build the driver after b828bdc8ea408b404a94c772b9d1e6b5df567f1e --- it add some protection code to avoid such build issue by detecting libva version

[2020-08-26 10:18] HeJunyan opened #1036 "AV1 decoder should support multi slice input."
The av1 decoder currently does not support multi slices for one frame.
In practice, there are cases which have several separated tile group OBUs to compose one frame.
It is not a good way to collect all the data of tile group OBUs and just send one slice parameter. We just send one slice and one slice parameter buffer for each one tile group, which make the decoded picture lose some part of conten

[2020-08-27 01:06] feiwan1 commented on #1036
Hi @HeJunyan, does this commit https://github.com/intel/media-driver/pull/1015 helpful ?

[2020-08-27 04:37] HeJunyan commented on #1036
OK, good.

[2020-08-27 06:05] zcwang commented on #992
@XinfengZhang sorry for bothering you. May I know any progress on this issue?

[2020-08-27 06:08] wangyan-intel commented on #992
I will take a look. Sorry for slow response.

[2020-08-28 01:46] rosetta-jpn opened #1037 "vaDeriveImage()/vaGetImage() doesn't fill the last column and row in chroma plane if the dimension is odd"
This is same issue of i965 driver filled in https://github.com/intel/intel-vaapi-driver/issues/516.
vaDeriveImage() in media driver has the same issue unlike i965 driver though.
I expect the same gstreamer command can reproduce this issue.
https://github.com/intel/intel-vaapi-driver/issues/516#issuecomment-672166170

[2020-08-28 03:23] wangyan-intel commented on #992
@weizhu-intel Could you please help take a look? Thanks.

[2020-08-28 03:35] sreerenjb commented on #1037
Issue can be reproduced with slightly different command:
 gst-launch-1.0 videotestsrc num-buffers=90 !  video/x-raw, width=320, height=240 ! vaapipostproc width=321 height=241 ! xvimagesink

[2020-08-28 06:03] HeJunyan opened #1038 "vaQuery of AV1 decoder context does not return correct 10 bits info"
The vainfo -a return:

VAProfileAV1Profile0/VAEntrypointVLD
    VAConfigAttribRTFormat                 : VA_RT_FORMAT_YUV420
                                             VA_RT_FORMAT_YUV422
                                             VA_RT_FORMAT_RGB32
    VAConfigAttribDecSliceMode             : VA_DEC_SLICE_MODE_NORMAL
                                             VA_DEC_SLICE_MODE_BASE
    VACo

[2020-08-28 18:19] sreerenjb commented on #1037
@XinfengZhang  Can you please find someone to look into this issue?

[2020-08-31 01:15] XinfengZhang commented on #1037
@FurongZhang , there are VPP call from 320x240 to 321x241. could you help to to check it?
@sreerenjb, @rosetta-jpn  the command line shows it is a VPP issue, but not sure whether we are also discussing odd resolution decoding or encoding? we already have a similiar fix for VP9 encoding  https://github.com/intel/media-driver/commit/d6166b3538a89376771f2769d49d1ade8b177f7e.

[2020-08-31 19:07] uartie commented on #1028
@Xiaogang-Li @feiwan1 any update?

[2020-09-01 01:58] rosetta-jpn commented on #1037
I think decoding should be fine. I remember the video on screen looked fine when I played odd dimension video with iHD driver.

[2020-09-01 03:00] FurongZhang commented on #1037
May I know why you need to do 320x240 to 321x241? It is only one pixel difference.

[2020-09-01 04:23] sreerenjb commented on #1037
@FurongZhang one pixel difference is **big** :)
It is not just about 320x240 to 321x241, there are plenty of odd dimension videos out there and because of wrongly implemented vaGetImage (==vpp internally) in the driver, we see green lines in the output.

[2020-09-03 03:06] DaveBinM commented on #752
@carpalis, I'm sorry to ask, but is there any chance the work here is similar to what you did to resolve https://github.com/intel/intel-vaapi-driver/issues/13? 🙂 🤞

[2020-09-03 03:26] weizhu-intel commented on #992
Hi Linjie&zcwang,
I have a try on my side, and found that, ffmpeg still pass ref_pic_id even reference is missed. This will cause some unexpected issue.
Sometimes it has no gmm resourceinfo then we can detect it in endpicture, then return error.  Sometimes error gmm resource info,  this will lead to hang.

So could you pass in_valid_surfaceid instead  of correct ref_pic_id if reference is missed,

[2020-09-04 03:37] #998 closed

[2020-09-08 17:57] Melearn867 opened #1041 "Whaz"

[2020-09-08 17:58] Melearn867 opened #1042 "[]()"
[]()

__Originally posted by @Melearn867 in https://github.com/intel/media-driver/pull/1040#discussion_r485099601__

[2020-09-09 04:09] Melearn867 opened #1043 "Now upgraded if you are still interested ;)"
Now upgraded if you are still interested ;)

__Originally posted by @wende60 in https://github.com/wende60/Electron-Webpack4-React-Sass/issues/1#issuecomment-504702303__

[2020-09-09 05:08] Xiaogangli-intel commented on #825
Which platform are you working on?

[2020-09-09 05:09] Xiaogangli-intel commented on #824
Please provide the platform information, thank you.

[2020-09-11 05:46] Xiaogangli-intel commented on #704
Hi @tmm1, could you update the libva version, and try again? Thank you.

[2020-09-11 05:50] Xiaogangli-intel commented on #745
@eero-t, some optimizations were checked-in, could you re-run the test and check whether the issue is gone.

[2020-09-11 05:54] Xiaogangli-intel commented on #772
@avstrakhov, is the issue still exist?

[2020-09-11 10:03] HeJunyan commented on #1036
solved by #1015

[2020-09-11 10:07] #1036 closed

[2020-09-14 09:47] eero-t commented on #745
When using Media stack (drm-tip kernel, gmmlib, libva, media-driver, mediasdk) built from yesterday Git heads, and testing on CML-H...

According to "intel_gpu_top", CQP has, when compared to to other rate-controls:
* 50% higher FPS
* 5% higher power consumption
* 100% GPU utilization instead of 95%

I.e. there's still the same 2x performance gap (which seems still too high, when considering that

[2020-09-15 06:39] rosetta-jpn commented on #1037
Any update on this bug?

[2020-09-15 06:40] rosetta-jpn commented on #1038
The potential fix is https://github.com/intel/media-driver/pull/1044.
I am not sure gen12 supports 10bit and 12bit.
Could you mention in the pull request?

[2020-09-15 06:51] HeJunyan commented on #1038
gen12 should supports 10bit, but no 12bits support. @XinfengZhang is more clear about this.

[2020-09-15 06:51] HeJunyan commented on #1038
gen12 should supports 10bit, but no 12bits support. @XinfengZhang is more clear about this.

[2020-09-15 06:51] HeJunyan commented on #1038
gen12 should supports 10bit, but no 12bits support. @XinfengZhang is more clear about this.

[2020-09-15 07:15] XinfengZhang commented on #1038
yes, just support 10bit, actually, it should just support 8 bit 10bit 420. it is profile0, so will remove profile1 soon.

[2020-09-15 07:25] XinfengZhang commented on #1041
@Melearn867 , it is a blank issue, no additional description added during these days. so I close it

[2020-09-15 07:25] #1041 closed

[2020-09-15 07:26] XinfengZhang commented on #1042
blank, and #1040 already been merged. close

[2020-09-15 07:26] #1042 closed

[2020-09-15 07:27] #1043 closed

[2020-09-15 09:32] tvunetworks-x opened #1045 "Huge difference of transcoding performance between Ubuntu 16 and Windows10"
We run this sample on Linux and Windows10
  ./sample_multi_transcode -ec::p010 -i::h265 /home/tgl/source/tm1000v3_2160p5994_20mbps_yuv420p10bit.h265 -o::h265 ./xxx.h265 -b 30000 -async 3  -hw -n 600 -gop_size 60 -u speed

The CPU is i9-9900k. We run it on both CentOS and Ubuntu 16 Linux to compare with win10.

On Linux, it takes 17 seconds to transcode 600 frames, while on Windows it takes only 8

[2020-09-15 10:22] rosetta-jpn commented on #1038
Added 10bits to https://github.com/intel/media-driver/pull/1044
Oh, really. Profile1 is not supported?

[2020-09-15 11:02] FurongZhang commented on #1037
Basically, we expect surface should be at least 2 aligned. What is your format? As I know, at least for NV12, we can not support odd resolution. What is the justification and impact from your side?

[2020-09-15 11:05] FurongZhang commented on #1010
@XinfengZhang , I will assign this issue.

[2020-09-15 11:11] FurongZhang commented on #958
@Jister to update.

[2020-09-16 03:08] hxl-dy opened #1046 "Can decode H264 GDR(intra-refresh) stream?"

[2020-09-16 07:39] HeJunyan opened #1047 "The attribute vaCreateSurfaces query of VASurfaceAttribPixelFormat for VPP lose some formats."
It only returns "NV12, I420, YV12, YUY2, ABGR, ARGB, xBGR, P010_10LE, BGRA, RGBA, BGR10A2_LE", some format such as VUYA is missing.

[2020-09-16 07:40] HeJunyan commented on #1047
Accord to @XinfengZhang and @xhaihao, this should contain all formats of input and output of VPP.

[2020-09-16 07:56] Xiaogangli-intel commented on #1028
@uartie, could you try this patch #1048?

[2020-09-16 08:17] XinfengZhang commented on #1037
@FurongZhang , I suggest to rounding up the alignment inside driver  ,such as 321x241 to 322 x 242, of course, application still treat it as 321x241 . suppose it will fix the issue .  @rosetta-jpn , does it resolve the issue?

[2020-09-16 08:48] XinfengZhang commented on #1047
@FurongZhang , could you help to check it?

[2020-09-16 08:52] XinfengZhang commented on #1046
intra refresh insert some I blocks in inter frames, media driver could decode it

[2020-09-16 09:01] Jister commented on #958
@xhaihao For this case, first step is downscaling from NV12 to NV12, seconde step is upscaling from NV12 to I420. The downscaling is done by SFC, the upscaling is done by Render(since SFC cannot support I420). On TGL SFC scaling will enable output centering, but ICL SFC don't support, and alsot Render don't not support output centering on both TGL and ICL, which cause the difference.
One solution

[2020-09-16 09:27] hxl-dy commented on #1046
Any sample code to test my video file?

https://1drv.ms/u/s!AtcnNSjUJHaDlyv6737MjlGz0ry8?e=4TfCXg

[2020-09-16 17:34] uartie commented on #1028
@Xiaogang-Li yes #1048 appears to resolve this issue.  Thanks!

[2020-09-16 17:44] dvrogozh opened #1049 "build: driver build with -DENABLE_KERNELS=OFF is broken"
Broken since commit https://github.com/intel/media-driver/commit/fefa9ecd7a3720078e6ace56bedf9da75ffd150c.

Broken configuration:
[code]

See http://mediasdk.intel.com/buildbot/#builders/61/builds/2403 build log.

[2020-09-16 20:33] anonimuos commented on #771
+1. VP9 should be exposed on Gen9 GPUs even with their limitations. On Windows also as there are many devices vs Ice Lake which is far too new.

[2020-09-16 23:32] sreerenjb commented on #1037
@FurongZhang We can't change the alignment for each driver, in fact, this is working fine with i965 driver now. Also it is not possible to go and change all the middleware stacks like gstreamer, ffmpeg etc unless it is a VA spec change.

[2020-09-17 00:56] Xiaogangli-intel commented on #1045
@tvunetworks-x Could you provide the version of media driver, and also the version of KMD?

[2020-09-17 01:47] tvunetworks-x commented on #1045
The MediaSDK version is 19.4 and KDM version is 4.13.

[2020-09-17 01:52] zcwang commented on #989
@xinyudox May I know if it still could be reproduced after upgrade kernel to newer version >= 5.4.3 for my reference?

Thanks!
Gary

[2020-09-17 02:08] Xiaogangli-intel commented on #1045
Could you provide the commit id of the media-driver which you are using?

[2020-09-17 03:15] Alex1Zhang commented on #1049
The fix is #1050 , please help review the change. Thanks a lot in advance!

[2020-09-17 04:16] tvunetworks-x commented on #1045
Not understand what media-driver is and where to find the commit id.

We use the official release 19.4 and get the package from your GitHub
site.  You should be able to trace back the source code.

Best

On Thu, Sep 17, 2020 at 10:08 AM Xiaogang Li <notifications@github.com>
wrote:

--

*James Liu*

VP of Engineering, Shanghai Office

*TVU networks*

Suite 732-735, Asionics Hi-Tech Center
1279 Zho

[2020-09-17 06:04] HeJunyan opened #1051 "QuerySurfaceAttributes return incompleted VASurfaceAttribMemoryType."
The query of vaQuerySurfaceAttributes return incompleted for most of the platforms and entrypoint.

1. On pre Gen12 platform, only VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME is returned, no VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME_2, which should be available according to @xhaihao.

2. On Gen12 platform, only VPP return VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME|VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME 2, other decod

[2020-09-17 14:49] #1049 closed

[2020-09-17 17:35] dvrogozh commented on #1028
@uartie : is this observation specific to vp8d only or you saw the same on vp9/av1? and did you ever see that on avc/hevc?

[2020-09-17 18:36] uartie commented on #1028
Only vp8d using ffmpeg-vaapi + iHD as far as I've observed since this regression started ~2 months ago.

[2020-09-17 18:44] uartie commented on #1028
Also, note that adding -threads 1 to ffmpeg-vaapi does not exhibit this issue.

[2020-09-18 05:49] xinyudox commented on #989
This issue can't be reproduced using kernel version 5.9.0-rc2+.

[2020-09-18 05:50] #989 closed

[2020-09-18 06:13] feiwan1 commented on #902
Verified by @xinyudox with #989, the output jpeg looks good. Close this issue. Thanks.

[2020-09-18 06:13] #902 closed

[2020-09-18 10:51] wangyan42164 commented on #1028
@uartie I have not your VP8 clip. So I cannot reproduce this issue on my local platform. But I find Xiaogang's patch may impact one VP8 special buffer (VAProbabilityBufferType) creation. bUseSysGfxMem is not initialized but will be used in the creation. As you said previously, debug build has no this issue. For debug build, it should be zero/false. But for release build, the value should be undefi

[2020-09-18 11:11] wangyan42164 commented on #1028
I check it again. MOS_AllocAndZeroMemory should fill zero. Please ignore it. Sorry for this.

[2020-09-18 11:14] wangyan42164 commented on #1028
I will continue to investigate it in the next week. Please provide the clip.

[2020-09-18 18:58] uartie commented on #1028
@wangyan42164 you can easily reproduce this issue with the webm vp8 decode test vectors here: https://www.webmproject.org/code/

Here is a basic script that decodes and compares frame md5 differences on those cases.  Just clone the test vectors repository (https://chromium.googlesource.com/webm/vp8-test-vectors), rename this script to `test-vp8-vectors.sh`, and run the script relative to the direc

[2020-09-18 19:28] uartie commented on #1028
Oddly, though, I see the same behavior with this test set even before commit c383f7ef2d65f523b8b8c70a71c94a296541d5be or after applying #1048... so perhaps this has been a latent issue all along.

[2020-09-18 21:47] dvrogozh commented on #1028
Right. Most likely c383f7e just better exposed existing issue. But considering that both c383f7e and #1048 are patching common code non-related to vp8d we can't actually say that only vp8d is affected.

[2020-09-18 23:42] dvrogozh commented on #1028
That's interesting. Actually I see that ffmpeg-vaapi creates 2 VAAPI contexts on vp8 decoding with -threads 2 (I don't see such behavior on AVC...):
1. Create first context
2. Decode 1st frame
3. Destroy first context
4. Create second context
2. Decode 2nd+ frames
3. Destroy second context

This does not seem to be right. @xhaihao : can you, please, comment how that can be? Do we face some ffmpeg

[2020-09-19 20:31] okias commented on #405
Issue is still valid on 20.2.0 .

[2020-09-21 02:55] XinfengZhang commented on #1028
@dvrogozh  it is an older ffmpeg-vaapi vp8 decoder issue, we already have a lot of discussion, ffmpeg should fix it inside ffmpeg.
there are some discussion for the fix https://patchwork.ffmpeg.org/project/ffmpeg/patch/1533798542-2494-1-git-send-email-mypopydev@gmail.com/      but the patch was not accepted.   so, we have a WA inside driver to handle this case

[2020-09-21 07:56] XinfengZhang commented on #405
same as https://github.com/intel/media-driver/issues/308#issuecomment-529856356

[2020-09-21 14:39] dvrogozh commented on #1028
That's nasty:(. Considering that ffmpeg-vp8 creates 2 configs and driver tries to handle this inside, this means that driver should kind of restore first context inside a second one. Did we miss some key settings from first context which lead to artifacts?

Can you point me to the WA code inside the driver?

[2020-09-21 18:23] uartie commented on #1028
I tried the ffmpeg patch and it fixes this issue on my side.  I see the ffmpeg patch was superseded by https://patchwork.ffmpeg.org/project/ffmpeg/patch/1560235949-29164-1-git-send-email-shaofei.wang@intel.com/ and its review has stalled.

@xhaihao @sfeiwong @mypopydev @feiwan1 please help to get this ffmpeg patch reviewed so it can be merged.

[2020-09-21 21:23] uartie commented on #317
FFMpeg patch never got merged to upstream... see #1028

[2020-09-21 22:34] #1046 closed

[2020-09-22 17:15] sreerenjb commented on #1017
@ajgnet that patch was only for gen9.
You should have the vp9 encode support in gen10 with official iHD branch.

[2020-09-22 23:02] ajgnet commented on #1017
@sreerenjb it's not. i wonder if the i7-10710U is simply not capable of VP9 encoding, for some reason.

[2020-09-22 23:16] sreerenjb commented on #1017
Aha, okay, It seems to be the CML device. VP9 encode is not supported in the official tree then. Sorry for the confusion. In theory, it should work with my dev branch though. The gen9 gfx hardware has the dual pipe(using both EUs and FixedFunction unit) encode support.

[2020-09-23 06:47] XinfengZhang commented on #1051
VPP could accept VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME and VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME2. encode / decode should have special requirement , such as tiling.

[2020-09-23 07:13] XinfengZhang commented on #1038
Profile1 will be removed because less of  444 support.

[2020-09-23 18:28] uartie commented on #1028
ffmpeg patch has been merged (https://git.ffmpeg.org/gitweb/ffmpeg.git/commit/eb6bb8f32fdc9be89cce65869dce9dd950e91be2)

I will close after I test it again (assuming it works 😉).

[2020-09-23 19:04] uartie commented on #1028
Also related #190

[2020-09-23 19:33] uartie commented on #1028
Closing.  Fixed with https://git.ffmpeg.org/gitweb/ffmpeg.git/commit/eb6bb8f32fdc9be89cce65869dce9dd950e91be2.

[2020-09-23 19:33] #1028 closed

[2020-09-24 07:22] Jister commented on #1037
As I tried the following command: gst-launch-1.0 videotestsrc num-buffers=90 ! video/x-raw, width=320, height=240 ! vaapipostproc width=321 height=241 ! filesink location=./test.yuv
For 320x240 to 321x241, VPP will scale the image to 322x242 by default, and the last colum(321) and row(241) will be filled with data. But as I check the filesink output, the app save the image to 324x242, is it correc

[2020-09-24 19:01] ajgnet opened #1056 "VP9 encoding on i7-10710U with UHD Graphics for 10th Gen Intel® Processors"
Hi everyone — Could anyone suggest what driver I should be using to enable hardware-accelerated VP9 encoding on a **Comet Lake U-Series i7-10710U**?

### Current setup:

- iGPU: UHD Graphics on an i7-10710U
- OS: Debian Bullseye / testing 11
- Kernel: 5.8.0-1-amd64
- intel-media-va-driver-non-free: 20.2.0+ds1-1
- libva: 2.9.0-1
- vainfo: 2.8.0+ds1-1 (if at all relevant)
- libva-drm2: 2.9.0-1

Hard

[2020-09-25 10:41] huliang4github opened #1057 "[libyami][hevc encode][assert failed]"
./yamiencode -i /tmp/_3840x2160.NV12 -W 3840 -H 2160 -s NV12 -o /tmp/out.265
libva info: VA-API version 1.6.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'iHD'
libva info: Trying to open /opt/intel/mediasdk/lib64/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_6
libva info: va_openDriver() returns 0
yamiencode: vaapiencoder_hevc.cpp:1567: bool YamiM

[2020-09-27 01:51] Daegalus commented on #925
Any updates on this? Anything else I can provide to help with this?

[2020-09-27 11:19] Avatat commented on #733
I have a similar issue.

Software:
Ubuntu 20.04
Kernel 5.4.0-48-generic
Intel Media SDK 20.2.1
FFmpeg 4.3.1

CPU: Intel J4105
GPU:
[code]

[2020-09-27 15:22] Feqzz opened #1058 "DRM_IOCTL_I915_GEM_APERTURE failed: No such file or directory"
I've been trying to get the iHD_drv_video.so to work. I have an AMD GPU which is somehow set to default when typing `$ vainfo`.

I get the error when writing:
[code]

Although it seems to work with this input:
[code]

[2020-09-28 04:05] Xiaogangli-intel commented on #1045
could you go into media-driver folder and get git log? I need to confirm which version you are using, thank you.

[2020-09-28 07:02] tvunetworks-x commented on #1045
Is this what you are looking for?

On Mon, Sep 28, 2020 at 12:05 PM Xiaogang Li <notifications@github.com>
wrote:

--

*James Liu*

VP of Engineering, Shanghai Office

*TVU networks*

Suite 732-735, Asionics Hi-Tech Center
1279 Zhong Shan Road West, Building 6
Shanghai, P.R.China 200051

jamesliu@tvunetworks.com <howardhong@tvunetworks.com>

Office: +86 (21) 3209.5581

Fax: +86 (21) 3209.5515

 *M

[2020-09-28 07:14] tvunetworks-x commented on #1045
https://github.com/intel/media-driver/releases/tag/intel-media-20.1.1

we got the driver from above..

On Mon, Sep 28, 2020 at 3:02 PM James Liu <jamesliu@tvunetworks.com> wrote:

--

*James Liu*

VP of Engineering, Shanghai Office

*TVU networks*

Suite 732-735, Asionics Hi-Tech Center
1279 Zhong Shan Road West, Building 6
Shanghai, P.R.China 200051

jamesliu@tvunetworks.com <howardhong@tvunetwor

[2020-09-29 01:06] Xiaogangli-intel commented on #1045
Thank you. This one should be released several months ago, there are some optimizations recently, could you download the latest media driver, build locally, and try it? Or you can provide the reproduce environment, then I will try it on your machine.

[2020-09-29 02:16] Xiaogangli-intel commented on #1057
Cold you provide more detail about this issue? Log, platform, and reproducer. Thank you.

[2020-09-29 02:38] tvunetworks-x commented on #1045
We tried with the new driver.  The performance is around the same. Simon
will provide your environment.

On windows, it can decode 4k 10bit  more than 240fps.  While on Linux it
can only do at 130fps.

On Tue, Sep 29, 2020 at 9:06 AM Xiaogang Li <notifications@github.com>
wrote:

--

*James Liu*

VP of Engineering, Shanghai Office

*TVU networks*

Suite 732-735, Asionics Hi-Tech Center
1279 Zhong

[2020-09-29 04:40] huliang4github commented on #1057
I test it on my laptop with Intel(R) Celeron(R) CPU 3865U @ 1.80GHz , installed Ubuntu 18.04 OS;

first of all, I test hevc encode with the built-in i965_dri.so , it work well ,

later, I switch to use the iHD_drv_video.so (ver 19.3.1), and  it  failed sometimes

you can ref the log
[hevc.log.txt](https://github.com/intel/media-driver/files/5296418/hevc.log.txt)

by the way , I also test it on Int

[2020-09-29 10:40] huliang4github opened #1059 "[libva][jpeg decode][iHD driver][ failed]"
I use the loadjpeg in libva-utils to decode the jpeg files, it ok with i965 driver, but have problem with iHD,
the detail info is in the following file,
[libva-utils_loadjpeg_failed.log](https://github.com/intel/media-driver/files/5298319/libva-utils_loadjpeg_failed.log)

does any body help me? thanks so much!

[2020-09-30 10:21] huliang4github commented on #1057
the log says that it failed at libyami/encoder/vaapiencoder_hevc.cpp:1567

ASSERT(!m_seqParam->seq_fields.bits.separate_colour_plane_flag);

and I just comment this line, and it work, both with i965 and iHD.
so, per my understanding, it's the issue of libyami,
thanks

[2020-09-30 10:21] #1057 closed

[2020-10-02 00:49] tlonic commented on #930
Issue still present in Q3.2020 release:

CPU: Celeron J4115

[code]

[2020-10-02 16:40] Rimasi89 commented on #930
I can conclude that this fix is not on the top priority list from both Plex and Intel. Nice one! 👏

[2020-10-03 19:16] thejinx0r commented on #733
Same issue here: Intel N5000 with UHD 605.

[2020-10-04 11:46] felixbuenemann commented on #733
I haven't tested in a long time and am relying on dpkg-divert to automatically disable the iHD driver in Plex Media Server by renaming it.

[2020-10-06 07:51] rosetta-jpn commented on #1038
Shall we close this issue because https://github.com/intel/media-driver/pull/1044 is merged?

[2020-10-06 07:55] rosetta-jpn commented on #1037
Any update on this issue?

[2020-10-06 13:21] DOFfactory commented on #930
Well, more and more NASes are going to reach the market in the coming months with j4125 Celeron CPUs. The only way is to keep reminding Intel I guess...

My case is Asustor AS6604T unable to hardware transcode even into H264, while much older processors were completely fine.

[2020-10-06 22:14] sreerenjb commented on #1037
@Jister saving the raw data with filesink might not work in all cases, because it won't respect the cropped rectangle or additional padding bytes set in the memory.
I usually use this one https://github.com/sreerenjb/gst-checksumsink for dumping the raw data to file.

[2020-10-08 05:29] ykku16github opened #1060 "[VP] Extra write for sync tag in VPHAL_VEBOX_STATE::VeboxRenderVeboxCmd"
There seems to be an extra write for sync tag in VPHAL_VEBOX_STATE::VeboxRenderVeboxCmd.

The first write is here:
https://github.com/intel/media-driver/blob/8de44c97c6d221d793e54d94add19fdfeda9797e/media_driver/agnostic/common/vp/hal/vphal_render_vebox_base.cpp#L2076

The second write is here:
https://github.com/intel/media-driver/blob/8de44c97c6d221d793e54d94add19fdfeda9797e/media_driver/agnosti

[2020-10-08 06:27] ykku16github commented on #1060
@FurongZhang , please take a look.  Thanks in advance.

[2020-10-09 00:35] ykku16github commented on #1060
@FurongZhang , sorry for the noise.  Additional tests seem to suggest that the extra write isn't the root cause of the problem I'm debugging.  Closing this for now.

[2020-10-09 00:35] #1060 closed

[2020-10-09 03:16] Xiaogangli-intel commented on #1057
@huliang4github, thank  you.

[2020-10-09 10:08] l1ge commented on #930
I just got the new Synology DS1520+ which uses a J4125 Celeron, so i'd love a fix too for this driver!

[2020-10-09 11:57] davidsonb commented on #930
Same problem. Plex and Synology DS1520+ which uses a J4125 Celeron.

[2020-10-09 12:28] jara1 commented on #930
Same problem Qnap TS453D - Celeron J4125.

[2020-10-09 13:03] Rimasi89 commented on #930
You should wait sitting............ They just don't even care. Since you pay every month they're happy...

[2020-10-09 13:05] DOFfactory commented on #930
Shaming and naming ... they will care eventually :D

[2020-10-09 13:22] Rimasi89 commented on #930
I wouldn't be so sure about that. With answers like this one bellow reflects how they care about they're customers and how about they care about the new one to come:

![plex](https://user-images.githubusercontent.com/12767705/95587596-27f9df00-0a3a-11eb-8fd1-fbc81c00caf6.png)

👏👏👏

PLEX: "Every user has to decide for themselves whether they wish to continue a Plex Pass subscription. We can't make

[2020-10-09 13:24] DOFfactory commented on #930
Oh, I meant Intel and not Plex. I think the issue is with the driver and not with the Plex as an backend. I thought this is about Intel...

[2020-10-09 14:12] l1ge commented on #930
yep i don't think Plex are the ones to blame now.

[2020-10-09 20:25] solnyshok commented on #925
similar situation here. parsec decoding with iHD is ~20ms, with i965 1-2ms. how do I install 20.2pre versions on Fedora 32? (Thinkpad L490, i8365u, GPU Intel UHD 620, Wayland)

[2020-10-10 04:05] XinfengZhang commented on #1037
@sreerenjb , just like @Jister  said, VPP will align the surface to 322x242, and all data will be filled. so, there should not be any green line , if there are greeline, seems the display resolution > 322x242. filesink shows it is 324x242. xvimagesink maybe also is > 322x242.  you mean gst-checksumsink will show it to be <=322x242?

[2020-10-10 05:03] XinfengZhang commented on #1056
hi @ajgnet , thanks for reporting the issue. sorry for late response. 2 solutions: 1. if you want to use intel-vaapi-driver, you could add pciid into https://github.com/intel/intel-vaapi-driver/blob/master/src/i965_pciids.h  2. if you want to use media driver, suppose you need to cherry-pick #717

[2020-10-10 05:07] XinfengZhang commented on #1058
hi , suppose you have two GPU, one is from AMD, another is from Intel. you specify the GPU in the second command line. could you run "ls /dev/dri/" and show the result?

[2020-10-10 05:28] XinfengZhang commented on #1059
the issue is: iHD could decode jpeg , but can't display  decoded output?

[2020-10-10 07:22] Feqzz commented on #1058
@XinfengZhang
[code]

[2020-10-10 07:34] #1038 closed

[2020-10-10 07:37] Xiaogangli-intel commented on #733
I checked @XinfengZhang 's [change ](https://github.com/intel/media-driver/commit/ea513e05ba20acda1934c0ef6afef68a7f767351)should already fix this issue.
Could you try the latest source and try again?

[2020-10-10 07:42] Xiaogangli-intel commented on #930
Today, I checked #733, @XinfengZhang's PR #1005 should already fix this issue.
I think these 2 issues should have the same root cause.
Could you try the latest source and try again?

[2020-10-10 08:06] XinfengZhang commented on #930
1. have anyone tried #1005?? which already been merged. it should already fix most of GeminiLake issue. because this issue is mixed with MSDK issue https://github.com/Intel-Media-SDK/MediaSDK/issues/1663 , please also make sure msdk include https://github.com/Intel-Media-SDK/MediaSDK/pull/1770
2. another problem is about application, as I know, https://github.com/intel/intel-vaapi-driver support G

[2020-10-10 08:34] huliang4github commented on #1059
yes, but to be exact, it hapend with jpeg which contian the Exif info

[2020-10-10 10:28] chetan-prime opened #1063 "High & Main profile output has issues with old hardware decoders"
My use case consists of transcoding with ffmpeg various live sources like MPEGTS cameras, etc then sending the ouput via DVB-C.

The stream comes in as mpegts, I use something similar to below command -
`ffmpeg -fflags +nobuffer -hwaccel vaapi -hwaccel_output_format vaapi  -i http://camera.ip/mpegts -f mpegts -c:v h264_vaapi -profile:v high -rc_mode:v VBR -level:v 4.1 -b:v:0 1600k -compression_lev

[2020-10-10 20:52] l1ge commented on #930
I would like to try if its solved with the latest source. But I have no idea how to replace the current driver version I have on my Synology DS1520+ by the new version that you fixed. Is it possible to do it by myself or do we have to wait for Synology to update it themselves?

[2020-10-10 23:54] tlonic commented on #930
As seen in [my comment above](https://github.com/intel/media-driver/issues/930#issuecomment-702469826), at least HEVC 10-bit encoding is still broken using bleeding edge packages.

[2020-10-11 00:08] tlonic commented on #930
HandBrakeCLI hangs at 0% when trying to encode using the QSV decoder with a HEVC 10-bit file, again, using bleeding edge packages:

kernel: 5.8.13-arch1-1
intel-gmmlib-git: 20.3.2.r0.g2072b0d-1
intel-media-driver-git: 2020.3.pre8.r94.g8de44c97-1
intel-media-sdk-git: 2020.3.pre6.r45.g7beb403e-1
CPU: Celeron J4115

`x264 [info]: using SAR=1/1
x264 [info]: using cpu capabilities: MMX2 SSE2Fast SSSE3

[2020-10-12 01:49] XinfengZhang commented on #930
replace iHD package or redirect it by such env variables :LIBVA_DRIVERS_PATH=xxx

[2020-10-12 18:59] sreerenjb commented on #1037
That is still not answering the question why display getting that green line only with ihd but not with i965 :)
BTW, the filesink pipeline & xvimagesink pipeline are using different formats.
The filesink pipeline will save the raw data as nv12 which is of course the intel's native format. On the other hand, xvimagesink (or try with other software renderer like ximagesink with proper csc) will use

[2020-10-13 02:51] FurongZhang commented on #1037
Hi, Regarding the issue https://github.com/intel/media-driver/issues/1037, please see the dump YUV file. VPP has correct behavior. VPP output the correct value in X=321.

For this case, App passed a output surface with 4 alignment, VPP processing with 2 alignment(But VPP processing all the valid region). When displaying, App needs to specify the valid display region. How about setting  output_regi

[2020-10-13 02:52] FurongZhang commented on #1037
![Uploading output_region.png…]()

[2020-10-13 02:53] FurongZhang commented on #1037
![Uploading 321.png…]()

[2020-10-13 02:53] FurongZhang commented on #1037
![Uploading 323.png…]()

[2020-10-13 05:56] XinfengZhang commented on #1037
I have not test i965, maybe i965 already aligned to 324x 244? so there are no green line?

I believe it is same with both nv12 and i420, VPP should already  aligned to 322x242 and fill the values. but beyond this rectangle  , it should be green. could you help to verify the display region?

[2020-10-13 06:09] XinfengZhang commented on #1063
thanks reporting @chetan-prime , but TBH, the issue is a difficult for us to debug. it seems a conformance issue or spec upgrade issue? do you have the encoded bitstream and have you compared the NAL such as SPS PPS etc. ?

[2020-10-13 07:44] Xiaogangli-intel commented on #930
@tlonic I checked with sample_decode, decode can work properly, you need to confirm whether your input stream is 10-bit HEVC. If yes, please provide your command line and stream. Thank you.

For HEVC 10-bit encode,  I did find an issue on GLK, will fix it ASAP.

[2020-10-13 11:20] chetan-prime commented on #1063
I haven't yet checked the NAL, SPS etc.
But what I do know is that any source works fine on the old TV's if transcoded to "Constrained Baseline" profile using ffmpeg h264_vaapi. The issue comes only if I try to transcode to High or Main profile.
I have tried in multiple versions of the intel media driver, different versions of ffmpeg, different versions of ubuntu. The only constant is that no matt

[2020-10-13 21:35] sreerenjb commented on #1037
Hm, why am I getting the green line even with ffmpeg too? Both ffmpeg & gst are asking to display only 321x241 , at least in my analysis.

gst-launch-1.0 filesrc location= sample_vp8.webm ! matroskademux ! vaapivp8dec ! vaapipostproc width=321 height=241 format=i420 ! checksumsink2 dump-output=true dump-location=sample_check_i420.yuv

ffplay -f rawvideo -pixel_format yuv420p -video_size 321x241 sa

[2020-10-14 01:56] sreerenjb commented on #1037
Here is a quick fix: https://github.com/intel/media-driver/pull/1064

Caution: I didn't do any in-depth analysis or testing, in fact, I only added the code for handing for specific 420 formats. Probably similar things needed for other formats too. But I hope this will give an idea of what is going wrong. Please keep in mind that all middleware applications won't set surface hint usage attributes.

[2020-10-14 03:06] XinfengZhang commented on #1037
I dont think aligning with 8 is a solution, we should only align with 2 for i420/NV12.  if display region is out of aligned width, there will be green line. align with 8 just just expand the VPP region. I still suppose it is related with display region.   @FurongZhang  @Jister  could you help to double confirm

[2020-10-14 09:33] huliang4github commented on #1059
I modified tinyjpeg.c to dump decode output to file,  and use it to deocde yuv444 jpeg, the dumped file is  right , both with iHD and i965;  and using iHD the dump file is the same with using i965; but  i965  can display the yuv444p jpeg to x11 window by vaPutSurface, but iHD can't!

[2020-10-14 10:33] eero-t opened #1065 "Build fail with -DGEN8=OFF or -DGEN10=OFF"
When building media driver sources from latest release tag "intel-media-20.3.0":
`cmake -G Ninja  -DGEN8=OFF -DGEN9=ON -DGEN10=OFF -DGEN11=ON -DGEN12=ON .  &&  ninja`

The build fails with:
[code]

[2020-10-14 10:41] eero-t commented on #1065
If I change cmake to use "-DGEN8=ON", then the build fails to:
[code]

Aren't you doing automated build-testing before releases to check that the GEN options in CMake still work?

[2020-10-14 11:07] huliang4github opened #1066 "[libyami][jpeg decode][iHD driver][ failed]"
use yamidecode in  libyami-utils to decode jpeg,  and dump to file

./yamidecode -i /tmp/1920x1080.jpeg -m 0 -w 1 -o /tmp/

i965 driver work well, while switch to use iHD driver,  the size of the dump out file is right, but content is wrong!

[2020-10-14 15:51] sreerenjb commented on #1037
@XinfengZhang  It doesn't seems to be a display region issue. Because it happens only if you try to download an I420 image from Nv12, nv12 to nv12 works fine.

[2020-10-14 21:26] dvrogozh commented on #1065
No, we don't. These are advanced options used in rare cases. So far there were no requests asking for such build configurations to be permanently supported. We focus on the driver build which targets all platforms supported by the driver. Supported build options are described in the top level readme file: https://github.com/intel/media-driver#build-options.

[2020-10-15 02:53] Jister commented on #1037
@sreerenjb from you description, the issue happens when using vaGetImage to do conversion from 321x241 NV12 to 321x241 I420?

[2020-10-15 02:53] wangyan-intel commented on #925
@Daegalus Thanks for your trace information. Could you please add another libva trace for more information like the following?
echo "LIBVA_TRACE=/home/<user>/trace/file" | sudo tee -a /etc/libva.conf
echo "LIBVA_TRACE_BUFDATA=1" | sudo tee -a /etc/libva.conf
Thanks.
Yan Wang

[2020-10-15 06:33] Jister commented on #1037
As I tried to make a hard code to force to convert NV12 to I420 in GetImage, I can reproduce the issue now. The reason why NV12 has no issue is that it is aligned in DdiMediaUtil_AllocateSurface but I420 is not. So I agree with the solution #1064 to make alignment for I420 for both width and height to 2.

[2020-10-15 14:56] eero-t commented on #1065
Thanks!

If those options are deprecated legacy ones that're going away, that's fine.  Some note in CMake file about their status would be nice though.

However, if media driver wants to avoid adding accidental dependencies between GENs, I would suggest adding tests for building with GENs disabled, as that kind of dependency mess can be very hard to clean up afterwards.

It needs only build testin

[2020-10-17 23:05] smp79 commented on #804
What's the status of this issue? I still don't see the deinterlacing options in Kodi with iHD driver on GLK.

[2020-10-19 08:53] XinfengZhang commented on #1059
it maybe related with vaPutSurface,   the implementation of vaPutSurface is totally different, and there are different VPP call in these two driver. so. thanks for reporting, it may take some time to investigate the issue.  the position of media-driver is codec/vpp driver. so we care more about codec/vpp feature.

[2020-10-19 12:21] XinfengZhang commented on #1066
is it same as #1059 ?

[2020-10-19 12:45] XinfengZhang commented on #947
if it is same as #930, it should already been fixed by #1005

[2020-10-19 12:48] XinfengZhang commented on #897
@zcwang hi Gary, have you tried PR #1005 ?

[2020-10-19 12:48] XinfengZhang commented on #376
@zcwang hi Gary, have you tried PR #1005 ?

[2020-10-19 15:34] dvrogozh opened #1067 "build fails with -Werror on usage of deprecated VAAPI fields"
Commits:
* https://github.com/intel/libva/commit/1c5de1eb22007a5816cd831745e3c1b169bf34d0
* https://github.com/intel/media-driver/commit/9881f7ae90665106f0e5a34a81b31aa774a27b25

[code]

[2020-10-19 22:51] uartie commented on #1067
Feel free to use my temporary workaround if this can't be properly fixed right away.  https://github.com/uartie/media-driver/commit/fe25ea249127062b30e94f9bf512bd505f600d22

[2020-10-20 02:02] tvunetworks-x commented on #1045
Adding **-gpucopy::on** in command line can fix this issue. The performance on Linux is on par with Win10 now.

[2020-10-20 02:02] #1045 closed

[2020-10-21 07:16] XinfengZhang commented on #1067
should already been fixed by https://github.com/intel/media-driver/commit/250db2198aa6a6024fe20c1f18f9ebbf1939b5c8

[2020-10-21 07:16] #1067 closed

[2020-10-21 07:18] XinfengZhang commented on #1063
libva trace could be used to compare the parameters

[2020-10-21 08:20] XinfengZhang commented on #1035
#994 was merged, @zhangyuankun-star  could you help to check whether it is fixed?

[2020-10-21 08:20] #1033 closed

[2020-10-21 08:33] zcwang commented on #897
I used the latest code in upstream and  issued went away.  Closed issue.
Thanks!
Gary

[2020-10-21 08:33] #897 closed

[2020-10-21 09:09] zcwang commented on #992
Issue was fixed by following patch (but not in upstream),
https://github.com/intel-media-ci/intel-ffmpeg-patch/blob/master/0057-lavc-vaapi_hevc-add-skip_frame-invalid-to-skip-inval.patch

[2020-10-21 09:13] zcwang commented on #992
@weizhu-intel,
Do you think it is fixed for this issue? Thanks!
https://patchwork.ffmpeg.org/project/ffmpeg/list/?series=2021
Gary

[2020-10-21 10:06] chetan-prime commented on #1063
Thanks @XinfengZhang , I have dumped and uploaded the logs with this comment.

First is High profile transcode using h264_vaapi. As you can see in below picture the TV detects it as an audio stream only.
[libva-high.zip](https://github.com/intel/media-driver/files/5415046/libva-high.zip)
![old-tv-high-profile-failed](https://user-images.githubusercontent.com/5426103/96705390-d98dfe00-13b2-11eb-812

[2020-10-23 10:52] huliang4github commented on #1066
it seem not completely the same.
#1059 :  libva can decode all format jpegs, just can't display the yuv444p jpeg to X window via vaPutSurface;
#1066: libyami can't decode all the format jpegs, I  dump the  "frame" and "dest"  in decodeoutput.cpp like following code snippets

bool DecodeOutputDump::output(const SharedPtr<VideoFrame>& frame)
{
    if (!initOutput(frame))
        return false;
    Sh

[2020-10-25 13:14] XinfengZhang commented on #1024
because the benefit is not enough :) hybrid solution always will consume CPU & GPU. no power gain, and perf gain is not enough

[2020-10-25 13:14] #1024 closed

[2020-10-25 13:15] #997 closed

[2020-10-25 13:48] XinfengZhang commented on #1066
only libyami has this issue?

[2020-10-25 14:19] XinfengZhang commented on #1058
it is strange, it should load renderD128 or card0 by default for DRM, it should be same with --device /dev/dri/renderD128, but it is not.
it maybe because it will failed with X11 or Wayland path?

[2020-10-25 14:22] #1056 closed

[2020-10-25 14:27] XinfengZhang commented on #804
it should work on all platforms , for GLK, you also need #1005 , hi @Jister  when the #820 could be merged?

[2020-10-25 14:35] XinfengZhang commented on #1051
1. only has PRIME on pre-gen12 platform
2. like https://github.com/intel/media-driver/issues/1051#issuecomment-697169058

[2020-10-25 14:35] #1051 closed

[2020-10-25 14:57] XinfengZhang commented on #716
already was fixed.

[2020-10-25 14:57] #716 closed

[2020-10-25 15:03] XinfengZhang commented on #726
the issue should already been fixed. because libva-utils conformance test is import to daily ci.  if there are still something wrong, please re-open it. thanks

[2020-10-25 15:03] #726 closed

[2020-10-25 15:08] XinfengZhang commented on #738
@rosetta-jpn no response, I will close it, if any other concern, please re-open it directly

[2020-10-25 15:08] #738 closed

[2020-10-25 15:13] XinfengZhang commented on #781
already fixed.

[2020-10-25 15:13] #781 closed

[2020-10-25 15:42] Feqzz commented on #1058
@XinfengZhang
You're maybe onto something here. I tried these different environments:

- GNOME
- GNOME on Xorg
- Openbox
- Ubuntu
- Ubuntu on Wayland

GNOME on Xorg and Ubuntu gave the same results as the original post. The others gave me this error by simply writing `$ vainfo`:
[code]

In all cases `$ vainfo --display drm --device /dev/dri/renderD128` worked.

[2020-10-25 15:54] dvrogozh commented on #1058
@XinfengZhang : there is a trick in the libva-drm code:
https://github.com/intel/libva/blob/e52d9de9e24cddc54f8107020fefc3f996624687/va/drm/va_drm_auth.c#L37

It means, that if user is under active X environment and tries to access libva-drm backend, then first libva will try to get authentication from the X server. And as far as I see in this path:
https://github.com/intel/libva/blob/e52d9de9e24c

[2020-10-25 17:42] smp79 commented on #804
I just re-tested, It does not work on GLK - MADI or MCDI options do not appear in Kodi.
Tested on LibreELEC with current Kodi master. I applied both #820 and #1005
I used media-driver v.20.1.1 because #820 patch applies more or less cleanly on it.
Built with -DBUILD_CMRTLIB=OFF -DENABLE_NONFREE_KERNELS=OFF -DBUILD_KERNELS=OFF

[2020-10-25 18:34] smp79 commented on #804
I just built with -DENABLE_NONFREE_KERNELS=ON and MADI or MCDI options did appear.
However, when MADI or MCDI is enabled the video is extremely jerky. This is when I play an interlaced 1080i50 stream: https://www.dropbox.com/s/st262j6ikkgv1cg/VID_20201025_212840.mp4?dl=1

[2020-10-27 02:10] huliang4github commented on #1059
by the way, on my hw platform, decoding jpeg with i965 driver, performance can reach 300+ fps with 1080p(IMC3 format); using iHD driver only reach 100+ fps with the same jpeg.

[2020-10-27 12:23] FurongZhang commented on #804
Need @Jister 's attention.

[2020-10-28 19:00] uartie opened #1071 "[regression][gstreamer] VPP rotation 90/270 YV12 corruption"
Since commit 450fcc06c0eb4a61a2f5f73b3e07e0e875a484d6 (#1064):

[code]

YV12 rotation at 90 or 270 degress with vaapipostproc and msdkvpp produces corrupted output.

[code]

Actual Result:
<p><img src="https://user-images.githubusercontent.com/677859/97481833-9a136480-1912-11eb-875d-928a9a9430f8.jpg" width="25%"/></p>

Expected Result:
<p><img src="https://user-images.githubusercontent.com/677859/

[2020-10-28 19:03] uartie opened #1072 "[regression][ffmpeg-vaapi] VPP scaling corrupts UV channel"
Since commit 450fcc06c0eb4a61a2f5f73b3e07e0e875a484d6 (#1064):

[code]

Scaling with ffmpeg-vaapi produces corrupted UV channel

[code]

Actual Result:
<p><img src="https://user-images.githubusercontent.com/677859/97484081-81f11480-1915-11eb-82e4-d106a0102af1.jpg" width="25%"/></p>

Expected Result:
<p><img src="https://user-images.githubusercontent.com/677859/97484091-861d3200-1915-11eb-9e84-36e2

[2020-10-28 21:59] sreerenjb commented on #1071
Ouch! we should revert immediately then.
@Jister @XinfengZhang

Quickly tested with xvimagesink but didn't see any issue. Probably the conversion involved in the middle is hiding the actual issue.
Originally I proposed 8 byte alignment to match with i965.  Any chance to test with
--- a/media_driver/linux/common/ddi/media_libva_util.cpp
+++ b/media_driver/linux/common/ddi/media_libva_util.cpp
@@ -2

[2020-10-28 22:02] sreerenjb commented on #1071
Aha, formatting issue.
Change **alignedWidth = MOS_ALIGN_CEIL(width, 2);  to  alignedWidth = MOS_ALIGN_CEIL(width, 8);**
and  **alignedHeight = MOS_ALIGN_CEIL(height, 2); to  alignedHeight = MOS_ALIGN_CEIL(height, 8);**

[2020-10-28 22:25] sreerenjb commented on #1071
@uartie
I tested with
gst-launch-1.0 -vf videotestsrc num-buffers=1 ! video/x-raw,format=YV12,width=1920,height=1080   ! vaapipostproc video-direction=90r ! video/x-raw,format=YV12   ! checksumsink2 file-checksum=false qos=false frame-checksum=false   plane-checksum=false dump-output=true dump-location=gst-vaapi-1080x1920_YV12.yuv

and play with ffmpeg:
ffplay -f rawvideo -pixel_format yuv420p -vi

[2020-10-28 23:42] uartie commented on #1071
You mean you're not seeing any corruption *with* your aforementioned changes or *without* your changes?

[2020-10-29 01:12] sreerenjb commented on #1071
Without any changes. I mean, use the iHD master which has https://github.com/intel/media-driver/commit/450fcc06c0eb4a61a2f5f73b3e07e0e875a484d6

[2020-10-29 04:23] uartie commented on #1071
@sreerenjb I just tried with your change in https://github.com/intel/media-driver/issues/1071#issuecomment-718233128.  But it did not seem to fix the issue.

@XinfengZhang @Sherry-Lin can you please revert 450fcc06c0eb4a61a2f5f73b3e07e0e875a484d6 commit.  I'm seeing more use-cases failing in our full testing too.

[2020-10-29 06:40] XinfengZhang commented on #1071
sure， will revert it

[2020-10-29 11:23] YaboWei opened #1073 "media-driver-intel-media-19.4.0r build failed, no MhwBltInterface"
[  2%] Building CXX object media_driver/CMakeFiles/iHD_drv_video_OBJ.dir/linux/common/media_interfaces/media_interfaces.cpp.o
In file included from /home/web_server/media-driver-intel-media-19.4.0r/media_driver/agnostic/common/media_interfaces/media_interfaces.h:31:0,
                 from /home/web_server/media-driver-intel-media-19.4.0r/media_driver/agnostic/common/media_interfaces/media_interfa

[2020-10-29 16:25] sreerenjb commented on #1071
Ya, revert and investigate is the option :)

[2020-10-29 17:01] uartie commented on #1072
related to #1071

[2020-10-30 07:04] HeJunyan opened #1074 "Encode: VP9: Failed to create the correct VP8 frame header for 4:4:4 profile."
When the 4:4:4 chrome is seleced, the sub_sampling_x/y is not very correct in VP9 frame header.

I notice:

In  linux/common/codec/ddi/media_libvpx_vp9.cpp:

96     if ((codecProfile == VP9_PROFILE_1) ||
97         (codecProfile == VP9_PROFILE_3))
98     {
99         /* sub_sampling_x/y */
100         /* Currently the sub_sampling_x = 0, sub_sampling_y = 1 */
101         vp9_wb_write_bit(wb, 0);
1

[2020-10-30 07:28] uartie commented on #1071
reverted in ca794cb70bdd5faf134324310b7054f240dd77f9 and fixes this issue.

[2020-10-30 07:28] #1071 closed

[2020-10-30 07:28] uartie commented on #1072
reverted in ca794cb70bdd5faf134324310b7054f240dd77f9 and fixes this issue.

[2020-10-30 07:28] #1072 closed

[2020-10-31 07:15] heitbaum commented on #804
Still seeing this VAAPI error on Matrix master “devel-20201030100043-7f3b20d (Generic.x86_64)” on i5-6260U Skylake CPU with ISO Mpeg2 / TV headend Mpeg2 playback.

# grep -i intel  kodi.log
2020-10-31 15:56:50.438 T:1138     INFO <general>: Host CPU: Intel(R) Core(TM) i5-6260U CPU @ 1.80GHz, 4 cores available
2020-10-31 15:56:51.418 T:1179     INFO <general>:         m_displayName     : Default (H

[2020-11-02 07:57] XinfengZhang commented on #1074
thanks for reporting.  most usage  application should already packed it, and headerInsertFlag of
https://github.com/intel/media-driver/blob/master/media_driver/linux/common/codec/ddi/media_ddi_encode_vp9.cpp#L269
is true.  and in this part, it only know the profile ,still not know the chrome sub_sampling.

[2020-11-02 08:08] XinfengZhang commented on #1073
could you help to figure out  your compiler , version and env.  and more details.

[2020-11-04 00:49] FocusLuo opened #1075 "ffmpeg-vaapi/qsv has different md5 checksum for vp9 12bit 444 decode (Y412)"
ffmpeg -hwaccel vaapi -init_hw_device vaapi=hw:/dev/dri/renderD128 -hwaccel_flags allow_profile_mismatch -filter_hw_device hw -v verbose -i /home/focus/workspace_focus/full/vp9/12bit/444/vp9_dec_12bit_420_4096x8192.ivf -pix_fmt y412 -f rawvideo -vsync passthrough -autoscale 0 -vframes 3 -y  test-vaapi.yuv
ffmpeg -init_hw_device qsv=qsv:hw -hwaccel qsv -filter_hw_device qsv -v verbose -c:v vp9_qsv

[2020-11-04 00:50] FocusLuo commented on #1075
"The issue is related to Y416, not Y412.
The driver fills 12bits for Y/U/V, but 16 bits for A when decoding 12bit stream and using Y416 as output format, so I think the driver should fill 12bits for A too."

[2020-11-04 03:54] dida8311 opened #1076 "I5"

[2020-11-04 03:54] dida8311 opened #1077 "i5"

[2020-11-04 16:50] dvrogozh commented on #1076
please, provide valid description.

[2020-11-04 16:50] #1076 closed

[2020-11-04 16:51] dvrogozh commented on #1077
please, provide valid description.

[2020-11-04 16:51] #1077 closed

[2020-11-05 01:59] XinfengZhang commented on #1075
thanks reporting, yes, to set the alpha value to be 1, we set it to 0xffff for Y416 and 0xfff0 for Y412, it is not suitable, because the stream are both 12 bit. so , we should set it to 0xfff0.

[2020-11-08 17:43] chao-camect opened #1080 "Crash in 19.4.1 on Ubuntu 18.04.5 (kernel 5.4.0-52)"
The stack trace is like:
_ZN18GpuContextSpecific16RegisterResourceEP22_MOS_SPECIFIC_RESOURCEb
    media-driver/media_driver/linux/common/os/mos_gpucontext_specific.cpp:328 pc=0x7f6eaa29f89d
_ZN18GpuContextSpecific16RegisterResourceEP22_MOS_SPECIFIC_RESOURCEb
    media-driver/media_driver/linux/common/os/mos_gpucontext_specific.cpp:328 pc=0x7f6ea9f954f6
_Z30Mhw_AddResourceToCmd_PatchListP14_MOS_INT

[2020-11-08 22:31] chao-camect commented on #1080
Another stack trace
_ZN18GpuContextSpecific13SetPatchEntryEP14_MOS_INTERFACEP23_MOS_PATCH_ENTRY_PARAMS
    media-driver/media_driver/linux/common/os/mos_gpucontext_specific.cpp:376 pc=0x7f63ec61fa01
_ZN18GpuContextSpecific13SetPatchEntryEP14_MOS_INTERFACEP23_MOS_PATCH_ENTRY_PARAMS
    media-driver/media_driver/linux/common/os/mos_gpucontext_specific.cpp:376 pc=0x7f63ec315622
_Z30Mhw_AddResourceToC

[2020-11-09 04:22] SiewHoon commented on #1074
Any update on this? The fix need to be in media-driver or gst-vaapi?

[2020-11-09 08:26] XinfengZhang commented on #1074
it depend on your usage case, if you pack the header in gst-vaapi and sent it to driver. the fix should be exist in gst-vaapi, if not , it should be fixed in media_driver.

[2020-11-09 10:09] SiewHoon commented on #1074
@XinfengZhang , my test is run using gst-vaapi.  I don't have any app to run it beside gst-vaapi.

On libva-utils component, the vp9enc.c does not AYUV and Y410 color format.  Not able to verify the issue seeing it or not.

@HeJunyan what is your opinion at here?

[2020-11-09 15:47] dvrogozh opened #1081 "Support load of media-driver on unsupported platforms"
From https://github.com/intel/libva/issues/466

Forwarding a [bug report](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=972833) from Debian: libva tries to load media-driver on Penryn. Since that platform is not supported by media-driver, it should not be loaded in this case.

What we need to do:
1. Remove cpu-specific flags from gmmlib build
2. Remove cpu-specific flags from driver build

[2020-11-09 15:53] dvrogozh commented on #1081
Places in driver which uses specific cpu instructions:
* https://github.com/intel/media-driver/blob/f85a3d908f57c3bcbe163867cefb6bdb9959377e/media_driver/linux/common/cm/hal/cm_mem_os.h#L152
* https://github.com/intel/media-driver/blob/f85a3d908f57c3bcbe163867cefb6bdb9959377e/media_driver/agnostic/common/cm/cm_mem.h#L565
* https://github.com/intel/media-driver/blob/f85a3d908f57c3bcbe163867cefb6bdb

[2020-11-10 03:12] YijinLiu commented on #1080
In case it matters, the CPU is i7-10700

[2020-11-10 03:18] wangyan-intel commented on #1080
Could you please share your command and video clip? We can reproduce it.

[2020-11-10 03:31] YijinLiu commented on #1080
Unfortunately, I cannot provide such a command. It's program that transcodes realtime stream from security cameras.
Here is another different stack trace:
<pre>
#1  0x00007fffb55809dd in CodechalDecode::Execute (this=0x17908000, params=0x2bcb6010) at media-driver/media_driver/agnostic/common/codec/hal/codechal_decoder.cpp:1211
#2  0x00007fffb58de116 in DdiMediaDecode::EndPicture (this=0xd80a300, c

[2020-11-10 03:34] YijinLiu commented on #1080
BTW, I am using ffmpeg-4.1.6 with libva 2.9.0

[2020-11-10 05:20] wangyan-intel commented on #1080
What is your ffmpeg command?

[2020-11-10 05:37] YijinLiu commented on #1080
We call the ffmpeg library as part of a complicated process. I don't think there is anything wrong the way we use ffmpeg...
The same program works very well with intel-vaapi-driver. This frequent crashes only happen when we switch to iHD driver.
It seems to me it's an index-out-of-boundary bug?

[2020-11-10 05:51] wangyan-intel commented on #1080
We need one method to reproduce your issue.

[2020-11-10 06:00] wangyan-intel commented on #1080
As my understanding, You are using i7-10700 + iHD driver to decode the video clip which is encoded by your camera. I guess the encoded clip may have some error which causes this issue.

[2020-11-10 07:49] HeJunyan commented on #1051
Please reopen it.

Even the VA_SURFACE_ATTRIB_MEM_TYPE_VA is also missing.
And I think we also need this  VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME2 flag to support DMA mode for decoder/encoder.
We will handle the tiling by modifier. According to my opinion,  the driver should give this VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME2 flag for decoder context, and then we can create DMA path. Then, the modifier c

[2020-11-10 07:57] HeJunyan commented on #1051
According to my understanding, the decoder can also support DMA output, and the mem type. such as tiling/compressed can be acquired by vaExportSurfaceHandle's modifier. We can transport this modifier with this DMA buffer, and let the user access the memory correctly.

But lack of this flag, we can not enable the DMA path totally.

[2020-11-11 03:32] Daegalus commented on #925
This might take me a while, as I had to switch back to Windows for other reasons. I can setup a dual boot to test this though, but It might take a while.

[2020-11-11 05:21] wangyan-intel commented on #925
No problem.

[2020-11-11 18:25] manetelpian commented on #1058
I am having a similar issue when I attempt to run an OpenVINO Model, and run the following command: ./text_detection_demo -m_tr /opt/intel/openvino_2021/deployment_tools/open_model_zoo/tools/downloader/intel/text-recognition-0012/FP32/text-recognition-0012.xml -i /dev/video0 -r

libva info: VA-API version 1.6.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'iHD'
libva

[2020-11-11 23:45] YijinLiu commented on #1080
I think you are probably right that there is some issue of the stream, either due to the camera or network.
If this is what happened, the driver could return some error instead of crash...
I understand you want a method to repro it. However, as you said it's likely caused by the data. Even I can give you some ffmpeg command to mimic what I am doing in the program, it won't help.
For me, the stack

[2020-11-12 01:56] wangyan-intel commented on #1080
Yes. The driver should return error and not crash. So the error clip may be useful to locate this issue in media driver.

[2020-11-16 01:53] yefengxx opened #1083 "[Gen12 regression][sample_vpp]The md5 of input file and output file are same through sample_vpp sharpen for I420 and YV12 on Gen12."
The md5 of input file and output file are same through sample_vpp sharpen for **I420** and **YV12** on **Gen12**.

for example:
sample_vpp -sw 3840 -sh 2160 -scc yv12 -dw 3840 -dh 2160 -dcc yv12 -detail 75 -i input -o output
On ICL platform, we can get different input and output files for **I420** and **YV12**, and we confirm that this is the correct result. But on **Gen12** the md5 of input file

[2020-11-16 08:14] Sherry-Lin opened #1085 "Report caps in vainfo if no Guc binaries in machine"
There is no Guc binaries in some users' environment but some media encode features are rely on Huc. Is it possible to report the caps in vainfo if no Guc in local?

[2020-11-17 01:58] kvernNC commented on #925
tried today with fedora 33 and parsec client.
Decode latency seems better since last time I tried (with fedora 32), but after starting a video game, parsec client started to ask reducing quality and image frozen. It works perfectly with i965 driver.

Here are the traces with BUFDATA flags, connecting to parsec and launching a game until menu is shown. With ihd, menu was never displayed, only audio

[2020-11-17 02:01] wangyan-intel commented on #925
Thanks for your info. We will check it.

[2020-11-17 02:40] Sherry-Lin commented on #1083
You mentioned it's regression. Could you provide the good stack commit list? Thanks.

[2020-11-17 02:50] yefengxx commented on #1083
I'm sorry, maybe I didn't express it clearly enough. I want to say that there is no issue with the ICL platform, but GEN12(TGL&DG1) found this issue.

[2020-11-17 03:09] wangyan-intel commented on #925
@Jexu Could you please take a look? Thanks.

[2020-11-17 03:12] Jexu commented on #925
@wangyan-intel  sure, will investigate it.

[2020-11-17 10:02] wangyan-intel commented on #1075
@FocusLuo I have tried your ffmpeg command line with your clip. But I find vp9_dec_12bit_420_4096x8192.ivf is YUV420 12-bit clip in fact.  And you uses "-pix_fmt y412" for output YUV. So it will enable VP pipeline for CSC from YUV420 12-bit to Y412 (YUV444 12 bit). And I guess qsv may use the different CSC parameter with vaapi path. I also tried VP9/HEVC YUV444 12 bit clips. The result is same bet

[2020-11-18 13:11] nyanmisaka opened #1087 "[KBL] tonemap_vaapi filter not working as expected"
As I see that `tonemap_vaapi` filter have been implemented in ffmpeg 4.3.
Then I tried it to do H2S for my HDR videos on a KabyLake chip(HD 630), ffmpeg works with no error but the output color doesn’t seem to have been changed at all.

The 4k HDR example is from https://4kmedia.org/sony-food-fizzle-uhd-hdr-4k-demo/
Note that the software tonemap filter and tonemap_opencl filter are all works for

[2020-11-18 13:18] nyanmisaka commented on #1087
[code]

https://github.com/FFmpeg/FFmpeg/blob/e3081d6f4f36adc3d06b88a3c43ca6f18ab674c8/libavfilter/vf_tonemap_vaapi.c#L204

@FurongZhang
The iHD driver report that it supports HDR tonemapping on KBL however the color of output video doesn't change at all.

Could you help me to identify this on KBL?

[2020-11-18 14:37] XinfengZhang commented on #1087
@FurongZhang , could you help to check it?

[2020-11-18 14:39] XinfengZhang commented on #1085
I understand the request. sometimes , driver need to query some information like huc/guc readiness.  but how about the usage case? application query the readiness of huc/guc readiness , then will have different behavior?

[2020-11-18 14:53] XinfengZhang commented on #1083
@FurongZhang , please help to check the issue

[2020-11-19 04:01] uartie commented on #1037
@jister for patch #1088, can you confirm that #1071 and #1072 don't show up again?

[2020-11-19 16:19] dbermond opened #1089 "Build failure"
I'm getting the following build error on the git master branch (currently at commit c5bd97d4):

[code]

A git bisect shows that this is caused by commit ed04dbcc1d45df4ae88caa8c5565fb3864c1f167.

System information:
- OS: Arch Linux x86_64
- Compiler: gcc 10.2.1
- gmmlib: git master
- libva: git master

[2020-11-19 18:30] arpu commented on #816
hi @mahsoommoosa42

can you describe how to do this? ( i am on fedora 33 )

[2020-11-19 18:31] arpu commented on #816
i think this should be reopen

[2020-11-23 03:46] XinfengZhang commented on #1089
@Jister , please fix the ult issue , thanks

[2020-11-23 05:31] Jister commented on #1089
@dbermond Could you have a quick try with #1091

[2020-11-23 15:25] dbermond commented on #1089
I can confirm that it fixes this issue for me.

Thank you for fixing this.

[2020-11-24 10:39] XinfengZhang commented on #1085
sorry, understanding is incorrect. if there are no huc, driver should change the capability report , such as the BRC mode ...

[2020-11-24 11:14] daijh opened #1093 "Is iHD driver thread-safe?"
A recent libva PR imposed the requirement that all backends must be thread-safe.
Does iHD driver implement comply with this libva thread-safe statement?

**Update va.h for multi-threaded usages** https://github.com/intel/libva/pull/347

Thanks for the clarification.

[2020-11-25 01:49] XinfengZhang commented on #1093
yes, iHD implementation comply with the libva thread-safe statement.
it was tested by https://github.com/Intel-Media-SDK/samples/tree/master/samples/sample_multi_transcode.
if there are thread safe issue, please report ,it, maintainers will fix it.
please also pay attention on these statement of libva:
 When multiple threads are operating on
 the same VAAPI objects, it is the application's respons

[2020-11-25 06:41] mahsoommoosa42 commented on #816
@arpu refer to Early KMS Start section https://wiki.archlinux.org/index.php/kernel_mode_setting . I added i915 to MODULES and it solved the issue.

[2020-11-26 07:23] #1075 closed

[2020-11-27 13:20] #1089 closed

[2020-11-28 22:11] LaserEyess opened #1095 "Crash when using vo=vaapi in mpv"
For as far back as I have tried, `--vo=vaapi` is crashing when using `LIBVA_DRIVER_NAME=iHD`. It does not crash when using `LIBVA_DRIVER_NAME=i965`, however, it is broken in a different way. There is certainly an mpv bug or two here, but I think there may be an intel one as well.

Information about what `--vo=vaapi` is can be found here: https://mpv.io/manual/master/#video-output-drivers-vaapi

It

[2020-11-29 14:24] XinfengZhang commented on #1095
thanks for reporting, we will check it, but the backtrace is broken? there are no code from *3 to *2, I suppose the issue exist in the  DdiMedia_PutSurface instead of DdiMediaUtil_AllocateSurface . it will call get_drawable to render the picture. will try to reproduce it

[2020-11-29 14:37] LaserEyess commented on #1095
You are right, that backtrace was broken. I rebuilt the same versions libva/intel-media-driver with debug symbols but I used an old coredump and that was giving an incorrect trace. I rebuilt mpv against the newly built libraries just in case to get a new backtrace: https://0x0.st/i7XZ.txt.

I can reproduce this at will, so anything else you need let me know.

[2020-11-29 19:41] Jqh63 commented on #930
@XinfengZhang Hello, any update about merge request? how can I test it anyway

[2020-12-01 16:54] Freeben666 commented on #930
Any news on this ? I have an Asustor AS6604T NAS with a Celeron J4125 that is impacted.

[2020-12-01 17:07] #1037 closed

[2020-12-01 22:40] fhvwy opened #1096 "Import or use of X-tiled BGRX surfaces has regressed"
The hardware is an Ice Lake 1065G7.  I'm running Xorg on a 1920x1080 display, and it makes its framebuffers as X-tiled BGRX.  The VAAPI driver is iHD at versions below, gmmlib is always 1598c1b46fb911cb9060d1a5380aec1ca1ef2c19 (current head).

`# ffmpeg_g -v 55 -y -f kmsgrab -device /dev/dri/card0 -i - -vf 'hwmap=derive_device=vaapi,scale_vaapi=format=nv12' -c:v h264_vaapi out.mp4`

At 1c8e076cad5

[2020-12-01 23:32] fhvwy commented on #1096
Working in 1f70472c765c086aef77d7ca9604d2754c333ec2.

Broken by fe06066f8c643b75d6cdac21df8e16106d74e89c.

Maybe the gmmlib API change there has lost the tiling information in some cases?

[2020-12-03 02:51] #733 closed

[2020-12-03 07:58] wangyan42164 commented on #1095
@LaserEyess
I tried your command with one HEVC 4K MKV file in my hand. But I cannot find the crash and play rightly (with vaapi-x11).

CPU: Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz
GPU: Intel Corporation HD Graphics 630 (rev 04)
Kernel: 5.7.7 which is built by myself. The source code comes from kenerl.org
Distro: Fedora 28 (Workstation Edition)
Mesa: From F28 repo.
libva: latest master branch: 6fd9

[2020-12-03 09:06] wangyan-intel commented on #1095
mpv 0.33.0-22-g84d0930fa1 Copyright © 2000-2020 mpv/MPlayer/mplayer2 projects
 built on Thu Dec  3 16:04:42 CST 2020
FFmpeg library versions:
   libavutil       56.61.100
   libavcodec      58.114.100
   libavformat     58.64.100
   libswscale      5.8.100
   libavfilter     7.91.100
   libswresample   3.8.100
FFmpeg version: N-100131-g0639f5c294

[2020-12-03 17:07] ykku16github opened #1100 "Link errors related to GetGpuPriority and SetGpuPriority"
When the ANDROID macro is defined, linking fails with the following 2 error messages:

`ld.lld: error: undefined symbol: OsContextSpecific::GetGpuPriority(int*)
referenced by mos_os_specific.c:6979
media_driver/CMakeFiles/iHD_drv_video_OBJ.dir/linux/common/os/mos_os_specific.c.o:(Mos_Specific_GetGpuPriority(_MOS_INTERFACE*, int*))`

`ld.lld: error: undefined symbol: OsContextSpecific::SetGpuPriori

[2020-12-03 17:25] ykku16github commented on #1100
The problem is due to `OsContextSpecific::GetGpuPriority` and `OsContextSpecific::SetGpuPriority` being implemented inside a `#ifndef ANDROID` block.

Please see the following 3 lines of code:
https://github.com/intel/media-driver/blob/674a79f2e7d424c902e8fad98884cab39a19c25b/media_driver/linux/common/os/mos_context_specific.cpp#L368
https://github.com/intel/media-driver/blob/674a79f2e7d424c902e8f

[2020-12-03 22:57] LaserEyess commented on #1095
@wangyan42164
I'm able to reproduce this crash on any video, regardless of codec. For example, if you have youtube-dl you can recreate it with any such video, such as this randome one for example: https://www.youtube.com/watch?v=NUYvbT6vTPs

I downloaded this random video locally and the same issue persists. If you don't have youtube-dl you can download it from here https://0x0.st/i7UF.mkv. Once a

[2020-12-04 05:47] wangyan42164 commented on #1095
@LaserEyess
I tried your command
The playback isn't fluent because network speed is slow but no error.
[yanwang@yanwang-kbl mpv]$ LIBVA_DRIVER_NAME=iHD mpv --no-config --vo=vaapi --hwdec=no https://0x0.st/i7UF.mkv
 (+) Video --vid=1 (*) (vp9 1920x1080 60.000fps)
 (+) Audio --aid=1 --alang=eng (*) (aac 2ch 44100Hz)
[vo/vaapi] OSD format not supported. Disabling OSD.
[vo/vaapi] Warning: this compati

[2020-12-04 06:11] #1100 closed

[2020-12-04 13:55] LaserEyess commented on #1095
I'll attempt to rebuild mpv linked against those specific library commits you posted earlier. Thanks for being so responsive, I'll try to narrow this down on my end.

[2020-12-04 17:17] andatche commented on #733
I'm seeing the same issue as @felixbuenemann when trying to encode HEVC.

[2020-12-05 16:57] LaserEyess commented on #1095
- libgmm: https://github.com/intel/gmmlib/commit/8057a638c1bdf973b29c98dc9ebf5822a514e80c
 - media-driver: https://github.com/intel/media-driver/commit/b7b1b00619e135d613ad563876fbe0506db63341
 - libva: https://github.com/intel/libva/commit/179a07b6c8642a53e274210a78912a28744b424d
 - mpv: https://github.com/mpv-player/mpv/commit/7c4465cefb27d4e0d07535d368febdf77b579566

With rebuilding all of thes

[2020-12-07 00:23] Xiaogangli-intel commented on #733
@felixbuenemann and @andatche, could you provide the latest commit id of the media driver you are using?

[2020-12-07 10:07] wangyan-intel commented on #1095
@LaserEyess From your CFLAGS/CXXFLAGS/LDFLAGS, I cannot find any side effect.  Could you try it based on X? I am not sure if it is wayland/Xwayland issue. IMHO, current media driver should not support Wayland when calling putSurface. @XinfengZhang will provide one unmerged patch for wayland support. You could try it too.

[2020-12-07 13:08] LaserEyess commented on #1095
Ok, I tried Xorg directly instead of via Xwayland and you are right, there is no crash. Everything works perfectly, even on i965. However, Xwayland is supposed to be Xorg, it is there precisely for legacy clients to use the Xorg server on a wayland compositor. Is there enough of a difference that this crash could occur?

[2020-12-08 03:14] wangyan-intel commented on #1095
@LaserEyess
Yes. VAAPI only supports dri2 so far. I have also confirmed with @XinfengZhang. He will give more details.

[2020-12-08 03:20] LaserEyess commented on #1095
Just to clarify a couple things, This actually works on radeonsi ([sort of ](https://github.com/intel/libva/issues/278#issuecomment-735481005)), so is it VAAPI/libva that does not support this or just intel-media-driver? Also, is the crash still an intel-media-driver bug or is there someone else I need to report it to?

[2020-12-08 11:02] eero-t commented on #1081
Is there some plan on doing run-time CPU feature detection & conditional SSE/AVX usage, for things where performance matters (such as CPU side format conversions)?

[2020-12-08 14:30] heitbaum opened #1103 "media-driver-intel-media-20.4.3 build failed, has no member named 'CreateCustomResInfoObject'"
20.4.2 builds fine. 20.4.3 doesn’t.

http://paste.ubuntu.com/p/j527yybrF2/

This is being build in a docker container - Ubuntu 18.04.5 LTS"
Linux 10c557ef484f 5.9.12 #1 SMP Mon Dec 7 14:05:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[code]

The build environment is driven by https://libreelec.wiki/development-1/build-basics and using master from https://github.com/LibreELEC/LibreELEC.tv

[2020-12-08 21:29] heitbaum commented on #1103
Bumping gmmlib: update to 20.3.3 has resolved this (using libva 1.10.0 already) - will test. Can we update the dependencies?

[2020-12-09 04:59] FocusLuo opened #1104 "[Gst-vaapi] DMA->VAAPI and DMA->SysMEM conversion worked on CFL platform, but failed on TGL platform"
Detail:
On CFL
gst-launch-1.0 -vf filesrc location=/home/focus/workspace_focus/full/hevc/ra_main-BasketballDrillText_832x480_50_qp22.bin  ! h265parse ! vaapih265dec ! "video/x-raw(memory:VASurface)" ! vaapipostproc ! "video/x-raw(memory:VASurface)" ! vaapih264enc ! h264parse ! filesink location=test1.h264 (worked)
gst-launch-1.0 -vf filesrc location=/home/focus/workspace_focus/full/hevc/ra_main-Ba

[2020-12-09 17:02] taktiker12 opened #1105 "Intel i5 6300U missing vp9 profile"
thank you very much for this code , i just installed ubuntu 20.04 , kernel-5.4 running fine on thinkpad x260 i( 6300U intel HD 520 .
output of vainfo shows this :

libva info: VA-API version 1.10.0
libva info: User environment variable requested driver 'i965'
libva info: Trying to open /usr/lib/x86_64-linux-gnu/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_1_6
libva info: va

[2020-12-11 06:55] XinfengZhang commented on #1105
what's the problem? you installed i965 driver ,not media-driver. so you want to install media-driver?

[2020-12-11 07:36] XinfengZhang commented on #1104
is it a regression ?   especially before fe06066f8c643b75d6cdac21df8e16106d74e89c

[2020-12-11 13:06] taktiker12 commented on #1105
thank Xinfeng
with media driver it does not show vp9 too .

[2020-12-12 13:45] XinfengZhang commented on #1095
we have not add dri3 support with libva, also , have not enable wayland support inside media-driver. i965 enabled wayland support, but you mentioned that there are another different issue?

[2020-12-13 02:19] LaserEyess commented on #1095
i965 exits with:
[code]
Given the discussion in this thread I would say that's actually expected, i965 does not support dri3.

However, I will say that libva itself does seem to support wayland, at least using mesa's radeonsi vaapi driver. So I'm not quite sure how that's possible if you're saying libva does not support it *at all*. But that doesn't really matter, I still think this is a bug becau

[2020-12-13 12:09] XinfengZhang commented on #1095
agree, media-driver or libva should exist gracefully without crash. the easiest way is to add some protection/check code.If it's convenient,  could you provide a PR for it?  because it is reproducible on your site. of course. of course , we also could try to provide a patch, but suppose need your help to verify it.

[2020-12-15 06:16] MicroYY commented on #1035
This issue is fixed by https://github.com/intel-innersource/drivers.gpu.unified/pull/4091
Could you pls verify it? @zhangyuankun-star

[2020-12-15 06:45] zhangyuankun-star commented on #1035
The failed cases in CI can be passed successfully now, so this issue has been solved. Thank you very much!

[2020-12-15 06:45] #1035 closed

[2020-12-15 07:57] HeJunyan opened #1108 "AV1 decoder has corruption inside the stream."
hiroh@chromium.org reported the following av1 streams cannot be decoded correctly with media-driver:

data/00000527.ivf
in
https://code.videolan.org/videolan/dav1d-test-data/-/tree/master/8-bit

both gstreamer pipeline:

gst-launch-1.0 -v -f filesrc location=~/dav1d-test-data/8-bit/data/00000527.ivf ! ivfparse ! vaapiav1dec ! checksumsink2 file-checksum=false frame-checksum=false plane-checksum=fa

[2020-12-15 09:21] dmitryermilov commented on #1108
@wangyan-intel , FYI

[2020-12-15 10:00] wangyan-intel commented on #1108
@Jexu Could you please take a look? Thanks.

[2020-12-15 21:39] felixbuenemann commented on #733
@Xiaogangli-intel I was testing with b7b1b00619e135d613ad563876fbe0506db63341.

[2020-12-16 13:00] LaserEyess commented on #1095
I'm afraid I'm not familiar enough with how to do this. How would this check work? Is it possible to just detect wayland and exit? That wouldn't really fix the problem I guess. If you can provide a patch I can certainly test it but I would need an incredible amount of handholding and explanation to make a PR on my own.

[2020-12-18 11:03] taktiker12 commented on #1105
hi XinfengZhang
i have installed media-driver but vainfo does not show vp9 profile .
PS: i put iHD in /etc/environement

[2020-12-20 11:01] fubsan commented on #771
Is there an update on this wrt roadmapping and 10th gen KBL derivative comet lake support?  Particularly considering this used to work with the intel vaapi driver on related cpu generations and also replies like this: https://github.com/intel/intel-vaapi-driver/issues/499

[2020-12-20 16:26] paulmenzel commented on #1081
This is also Debian bug report [974772](https://bugs.debian.org/974772).

I am seeing this on a GM45 device with Pentium Dual-Core CPU T4500.

    $ lspci -nn
    00:00.0 Host bridge [0600]: Intel Corporation Mobile 4 Series Chipset Memory Controller Hub [8086:2a40] (rev 07)
    00:02.0 VGA compatible controller [0300]: Intel Corporation Mobile 4 Series Chipset Integrated Graphics Controller [8086

[2020-12-20 16:38] sebastinas commented on #1081
@paulmenzel I think you need to install `i965-va-driver` and remove `intel-media-va-driver`.

[2020-12-21 06:53] wangyan-intel commented on #1095
@LaserEyess Could you please try @Jexu's PR? Thanks.

[2020-12-21 11:35] Jexu commented on #1080
It is hard to locate the issue from your log. The crash always happens in same function or in random function? can you share the core dump when crash happened? Then we can get the full call stack from the core file.

[2020-12-21 12:25] XinfengZhang commented on #1105
it is not an real issue, SKL does not support VP9 , please refer to https://github.com/intel/media-driver#decodingencoding-features

[2020-12-22 06:57] MicroYY commented on #1047
Hi @HeJunyan
Fix check in done. https://github.com/intel/media-driver/commit/026924fd08570b372333caac97a190ed8aa78216

[2020-12-23 06:57] #1074 closed

[2020-12-24 05:10] Jister commented on #1104
@FocusLuo Could you try intel-media-20.4 branch with latest gmmlib?

[2020-12-24 09:30] SiewHoon opened #1114 "Missing AYUV color format support in vaExportSurfaceHandle without VA_EXPORT_SURFACE_COMPOSED_LAYERS"
vaExportSurfaceHandle return AYUV is unsupported color format on separate planes.

Example:
export GST_GL_PLATFORM=egl
gst-launch-1.0 -v filesrc location=MVRESIDC_A_MS_2.bit ! h265parse ! msdkh265dec ! glimagesink

[2020-12-25 01:21] YijinLiu commented on #1080
I am having some difficulty getting the core file for you. I'll try..
However, I posted the full stack traces (except the part of my program, which is not relevant here) earlier on.
I don't think it's random crashes. It's not in one function either. The same binary works fine with i965 driver.
Here are two more crashes:
<pre>
mos_add_validate_buffer2
    /tmp/4shome_tmp/build/media-driver/media_dr

[2020-12-25 02:12] wenbinc-Bin opened #1116 "sample_decode may has a bug when running in multi-process."
I run simple_2_decode_vmem of MediaSDK to decode 1080p video on the DG1 platform with 8GB video memory. when I run it in 120 processes it will be blocked at somewhere, but when I run it in 100 processes it works well and will be finished in 5 minutes. If I  force it to allocate 32 surfaces (set Request.NumFrameSuggested to 32 before it call alloc() ) and run simple_2_decode_vmem in 50 processes, s

[2020-12-25 02:16] wangyan-intel commented on #1116
Please submit MSDK issue to MSDK repo: https://github.com/Intel-Media-SDK/MediaSDK/issues. Thanks.

[2020-12-25 02:22] wenbinc-Bin commented on #1116
Ok, Thanks.

[2020-12-25 02:22] #1116 closed

[2020-12-25 08:35] #1114 closed

[2020-12-26 16:25] xry111 commented on #1096
#1113 fixed this issue on my laptop (with an ICL 1065G7).

[2020-12-26 19:07] paulmenzel commented on #1081
Yes, thank you. *i965-va-driver-shaders* is already installed, and MPEG2 decoding is available. (H264 support was never finished.)

[2020-12-29 02:25] zhangyukai0302 opened #1117 "build media-driver-20.4 error"
media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.h:132:13:错误：检测到调用delete运算符时可能出现的问题：[-Werror]
          delete(ptr)
media_driver/media_driver_next/agnostic/common/os/mos_utilities_next.h:132:13:错误：对不完全的类型‘class vp::VpPipeline’的非法使用[-Werror]
In file include from media_driver/include/common/media_interfaces/media_interfaces.cpp:33:0:
media_driver/agnostic/common/media_interfaces/

[2020-12-29 02:37] XinfengZhang commented on #1117
@zhangyukai0302 , could you provide more details? about the env and compiler?

[2020-12-29 02:42] zhangyukai0302 commented on #1117
gcc 4.8.5 (Red hat 4.8.5-39)
centos 7.7.1908

[2020-12-29 02:46] XinfengZhang commented on #1117
I suppose the gcc version is too older, gcc > 6.3 was recommended. another question: could you compile master branch on your machine?

[2020-12-29 02:52] zhangyukai0302 commented on #1117
master is same mistake.

[2020-12-29 04:41] zhangyukai0302 commented on #1117
刚安装了gcc8.3还是报一样的错误

[2020-12-29 09:53] YijinLiu commented on #1080
This one is same as the first one, except it has some ffmpeg functions.
<pre>
#0  0x00007fffb517589d in GpuContextSpecific::RegisterResource (this=0x2a202ba0, osResource=0x282e0250, writeFlag=true) at /tmp/4shome_tmp/build/media-driver/media_driver/linux/common/os/mos_gpucontext_specific.cpp:328
#1  0x00007fffb4e6b4f7 in Mhw_AddResourceToCmd_PatchList (pOsInterface=0x1ecc2000, pCmdBuffer=0x7fff7ea

[2020-12-30 07:39] YijinLiu commented on #1080
Just took some time reading the stack traces. It seems to me caused by memory corruption. Our code calling avcodec_send_packet runs in one thread. So it's not caused by contention.
Not sure whether the following is useful. All crashes have these in common:
<pre>
linux/common/codec/ddi/media_ddi_decode_base.cpp:806
linux/common/codec/ddi/media_libva_decoder.cpp:153
linux/common/ddi/media_libva.cpp:

[2020-12-30 07:59] samuel100u opened #1120 "Use VPP convert VA_FOURCC_BGRA to VA_FOURCC_NV12"
I noticed that `VA_FOURCC_BGRA `, `VA_FOURCC_ARGB`, `VA_FOURCC_RGBA`  and `VA_FOURCC_ABGR` is identical because no matter what `fourcc` I choose the output is always the same.

I use `iHD_drv_video.so` as encode driver.

[2020-12-30 13:24] dmitryermilov opened #1118 "Kernel version for TGL"
Hi @XinfengZhang , @Sherry-Lin ,
What is minimal kernel version which fully supports TGL and recommended to production ?  What is the right process to report TGL GPU hang issues observed on Ubuntu 20.04 built-in kernel ? Report them to media-driver project? Or to report them to Ubuntu maintainers?  Or to report them to drm-tip maintainers? Or something else?
There are bugs like https://github.com/

[2020-12-30 16:04] HeJunyan opened #1119 "Mpeg2 decoder crash because of missing reference."
The gstreamer pipeline
gst-launch-1.0 -vf filesrc location=~/koncercik.mpg ! parsebin ! vaapimpeg2dec ! fakesink
crashes because missing the reference.

This stream have group of picture header. It is an optional header that can be used immediately before a coded I-frame to indicate to the decoder if the first consecutive B-pictures immediately following the coded I-frame can be reconstructed prop

[2020-12-31 02:20] XinfengZhang commented on #1120
@FurongZhang  @Jister , suppose it is not an real issue, please help to comment it. about current HW restriction and history , why we export these format. thanks

[2020-12-31 02:40] HeJunyan commented on #1119
CC: @XinfengZhang & @xhaihao

[2020-12-31 03:31] XinfengZhang commented on #1119
two questions:
1.  you are talking about IBBBB, why forward reference picture is invalid?  backward reference picture should be invalid
2.  the consecutive B frame just have one reference frame?

[2020-12-31 03:37] XinfengZhang commented on #1118
as I know, not all TGL KMD patch was upstreamed , so we did not use built-in kernel to verify TGL. I suppose we should prepare a
 github wiki page to describe the situation and suitable kernel version.  user should choose recommended kernel for new platforms. it maybe is not real issue, just issue with the process and upstream timeline.

[2020-12-31 04:07] HeJunyan commented on #1119
Yes, the B is in the stream header, and has no forward reference frame. I can send you the stream to analyze it if you want.
And, more important, even the B frame missing the forward_reference_picture  or back_reference_picture, and we set VA_INVALID_ID for these field, the driver should not crash.

[2020-12-31 07:11] XinfengZhang commented on #1119
you mean, the driver should not crash, but could add some protection code (condition check) and return failure?

[2020-12-31 07:21] #1105 closed

[2020-12-31 07:25] XinfengZhang commented on #1103
good suggestion, we will check with gmm team to add version and version check.  thanks

[2020-12-31 07:25] HeJunyan commented on #1119
What is the behaviour of H264/265 and other codecs when missing some reference? The same behaviour is OK.

[2020-12-31 07:27] XinfengZhang commented on #1096
@fhvwy , it should already been fixed. could you help to try #1113

[2020-12-31 07:32] HeJunyan commented on #1119
It's better to insert some. for example, grey surface for missing reference surface. That kind of B frame I mentioned can be decoded successfully with just back_reference_picture. So, return failure is not a good option.

[2020-12-31 08:13] XinfengZhang commented on #1119
it means all of prediction is from back_reference_picture, no any prediction is from forward_reference_picture.  is it a common usage case?

[2020-12-31 08:56] XinfengZhang commented on #988
the policy changed , MMC is disabled by default now , so , suppose the issue already been fixed by latest media-driver

[2020-12-31 18:43] dvrogozh commented on #1118
Concerning Ubuntu, you can try to use `apt-get install linux-oem` kernel running Ubuntu 20.04.1. One of the delta with default ubuntu kernel is new devices support. Read more here: https://wiki.ubuntu.com/Kernel/OEMKernel. In particular TGL support was added into this kernel for Ubuntu 20.04.1, see https://bugs.launchpad.net/intel/+bug/1855399. And refer to https://wiki.ubuntu.com/FocalFossa/Relea

[2021-01-04 02:25] #1095 closed

[2021-01-04 03:27] VUNNYSODHI commented on #988
Thanks @XinfengZhang, not able to reproduce issue with latest media-driver tip. Hence closing ticket.

[2021-01-04 03:27] #988 closed

[2021-01-04 07:39] Jexu commented on #1080
[igfx_user_feature.txt](https://github.com/intel/media-driver/files/5763530/igfx_user_feature.txt)

Hi @YijinLiu
Please use igfx_user_feature.txt to help dump the driver log:
1.  mv igfx_user_feature.txt /etc/igfx_user_feature.txt
2. mkdir -p /tmp/codechal_dump
3. run your case
then share the xxx.log in /tmp/codechal_dump with me, then i can check where is crashed in driver.

[2021-01-04 18:05] k29t59dh commented on #930
Has anyone successfully encoded **8-bit** H.265 on Gemini Lake with this fix?
10 bit H.265 works on my j5005 but 8-bit fails.

[2021-01-04 20:16] YijinLiu commented on #1080
Thanks. Dropped the file.
I also upgraded the driver to intel-media-20.3.0
I'll report back if I'll find sth.

[2021-01-05 02:05] XinfengZhang commented on #930
the issue was closed automatically, because #1078 mentioned it fixed this issue. @Xiaogang-Li , we should already test 8 bit hevc encoding, it is strange , 10bit works  ,but 8 bit failed.  @k29t59dh , could you help to add more details?

[2021-01-06 14:11] k29t59dh commented on #930
I'm getting the error in a HandBrake docker with driver version 20.4.4.
What other details would be helpful - any commands I can run (and paste the output) or logs I should include?

[2021-01-06 20:23] fhvwy commented on #1096
Yep, the X-tiled surface import is fixed in the current version (I tested fcdacb40e128dfeaa95d6c9166d547dea72221ac with gmmlib 6f15b795e1511febf233b42d7dde603f52fcfdab).  Thank you!

[2021-01-06 21:46] jotacor commented on #930
It happens the same to me with version 20.4.5.
It encodes fine 10 bit x265 and x264, but not 8 bits.
I'm working with an Intel j4125 processor.

[2021-01-06 23:21] Rimasi89 commented on #930
I never got it fixed. I've disable the iHD intel driver!

I got an ASUSTOR NIMBUSTOR 2 with the intel J4005 and the issue was never fixed. I dont know why you closed the thread.

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: jotacor <notifications@github.com>
Sent: Wednesday, January 6, 2021 9:46:38 PM
To: intel/media-driver <media-driver@noreply.githu

[2021-01-07 06:14] XinfengZhang commented on #930
@Rimasi89 , have you tried the patch? if it was not fixed. let's reopen it, @Xiaogang-Li , could you help to double confirm whether it already been fixed?

[2021-01-07 06:44] FurongZhang commented on #1087
Sure. I will take a look at this.

[2021-01-07 07:16] uartie commented on #1087
H2S on KBL works for me with gstreamer-vaapi:

[code]

[2021-01-07 07:21] uartie commented on #1087
My KBL is i7-8650U (UHD 620).  Can you verify if it works for you on gstreamer-vaapi?  Maybe this is an issue in ffmpeg?

[2021-01-07 07:35] uartie commented on #1087
This also works for me on KBL... gstreamer-vaapi tone map vs. _**no**_ tone map side-by-side (note: requires scaling to 1080p due to max resolution limitation in vaapioverlay):
[code]

[2021-01-07 07:52] uartie commented on #1087
![snapshot](https://user-images.githubusercontent.com/677859/103866202-42177d80-507a-11eb-800c-2a2199bef990.jpeg)

[2021-01-07 08:37] uartie commented on #1087
@nyanmisaka do you have the driver with the patch from #821 (i.e. 73bcc3415e32fa0697e384aa1f301a8b56327bc1)?

[2021-01-07 09:54] nyanmisaka commented on #1087
Sure. I'm using media-driver 20.2 and this commit was introduced in `intel-media-20.1.pre2`.

[2021-01-07 11:09] nyanmisaka commented on #1087
Unfortunately the color is still washed out in gstreamer.
Does it mean UHD 6XX can do tonemapping but HD 6XX cannot?
Or is there anything I should update?
[code]

![Screenshot from 2021-01-07 19-06-28](https://user-images.githubusercontent.com/14953024/103885787-8018ae00-511b-11eb-9f88-369aae9ecfe5.png)

[code]

[code]

[2021-01-07 18:15] uartie commented on #1087
@FurongZhang it looks like @nyanmisaka software stack is correct... so maybe it's driver/platform issue?

[2021-01-07 18:18] jotacor commented on #930
where/what is the patch?

[2021-01-07 19:39] uartie commented on #1087
Hmmm... I just tested using gstreamer on a KBL i7-7700 with HD630 graphics and it worked for me.  But my software stack is latest master branch code:
[code]

[2021-01-07 20:03] Rimasi89 commented on #930
I couldn't see the Patch like @jotacor

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: jotacor <notifications@github.com>
Sent: Thursday, January 7, 2021 6:19:14 PM
To: intel/media-driver <media-driver@noreply.github.com>
Cc: Rimasi89 <rimasi89@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [intel/media-driver] [Issue] KO hardware decod

[2021-01-07 20:14] uartie commented on #1087
...and gstreamer-vaapi tone map still works for me if I use libva 2.8, iHD 20.2, and gstreamer 1.18:
[code]

So I'm a little stumped why it doesn't work for you.

@FurongZhang sorry for hijacking this issue... maybe you can reproduce and/or resolve better than me?

[2021-01-08 02:06] rosetta-jpn commented on #1108
Any update on this?

[2021-01-08 02:22] Jexu commented on #1108
Hi @rosetta-jpn ,
it maybe driver issue and still under debug.

[2021-01-08 13:36] XinfengZhang commented on #1047
@HeJunyan , could you help to check the patch. if no other problem, please help to close it

[2021-01-08 13:38] XinfengZhang commented on #1029
now , MMC already disabled by default on TGLB, so , I will close it. thanks

[2021-01-08 13:38] #1029 closed

[2021-01-08 13:41] XinfengZhang commented on #958
@xhaihao , does the explanation from Jason make sense, if so, please help to close it

[2021-01-08 13:43] XinfengZhang commented on #947
it should already been fixed by #1005, so I close it, any concern, please re-open it

[2021-01-08 13:43] #947 closed

[2021-01-08 13:51] XinfengZhang commented on #925
@Jexu , any update?

[2021-01-08 16:56] DanitiKain commented on #105
Did this ever get resolved for Kabylake?

[2021-01-08 17:23] dvrogozh commented on #105
Media driver supports KBL and APL. See list of supported platforms in readme: https://github.com/intel/media-driver#supported-platforms. Repeating here (as of today's):
- BDW (Broadwell)
- SKL (Skylake)
- BXT (Broxton) / APL (Apollo Lake)
- KBLx (KBL/Kaby Lake; CFL/Coffe Lake; WHL/Whiskey Lake; CML/Comet Lake; AML/Amber Lake)
- ICL (Ice Lake)
- JSL (Jasper Lake)/EHL (Elkhart Lake)
- TGL (Tiger Lak

[2021-01-09 02:22] YijinLiu commented on #1080
I got another crash from 20.3.0. /tmp/codechal_dump is empty though.
Stack trace is like
<pre>
#14 0x00007f9f5b3346f9 in GpuContextSpecific::RegisterResource (this=0x4a0a, osResource=0x4a34, writeFlag=6) at /tmp/4shome_tmp/build/media-driver/media_driver/linux/common/os/mos_gpucontext_specific.cpp:398
#15 0x00007f9f5b0470d4 in Mhw_AddResourceToCmd_PatchList (pOsInterface=0x0, pCmdBuffer=0x4a0a, pP

[2021-01-09 10:16] jengajenga commented on #105
very selfish of you to close this without telling others how you got it to work yet many chipped in to help you.

[2021-01-09 13:55] XinfengZhang commented on #825
ideally , mb_rate_control will enable MB BRC , which will reduce bitstream size with same quality, but sometimes, it is already enabled by default inside driver.  because no platform mentioned in the issue description , @Xiaogangli-intel , could we try the command on TGL, and check the difference, if there are no such issue, we could close it. thanks

[2021-01-09 13:56] XinfengZhang commented on #824
@Xiaogang-Li , lets check it on TGL, if no such issue, we could close it

[2021-01-11 15:12] aobolensk opened #1123 "vaCopy implementation does not work on Gen9/11 platforms"
When vaCopy is called on Gen 9/11 platforms `McpyDevice::CreateFactory` function is called: https://github.com/intel/media-driver/blob/80dd4ffdb6cd4ff8885ab17983bc5dec060ce6c3/media_driver/linux/common/ddi/media_libva.cpp#L5990
This function fails because there is no McpyDevice created for Gen 9/11 platforms: https://github.com/intel/media-driver/blob/80dd4ffdb6cd4ff8885ab17983bc5dec060ce6c3/media

[2021-01-11 16:00] dmitryermilov commented on #1123
@rawide , @XinfengZhang , @dvrogozh , we expected that vaCopy is a general interface working on **all** platforms. Otherwise, it's impossible to use it in solutions.

[2021-01-12 02:18] yefengxx commented on #1104
I tried intel-media-20.4 branch with latest gmmlib, but it still failed.
**Gmmlib:**
commit 6f15b795e1511febf233b42d7dde603f52fcfdab (HEAD -> master, tag: intel-gmmlib-20.4.1, origin/master, origin/HEAD)
Author: johnbash <johnbasha.shaik@intel.com>
Date:   Tue Dec 22 15:22:38 2020 +0530

Fix for Media corruption issue with the new interface (#15)
**Media-driver:**
commit 74e2f11131def34314ce52940e

[2021-01-12 07:00] XinfengZhang commented on #1123
how about to add a capability of vaCopy if there are no  "all platform" support?

[2021-01-12 15:20] MartinX3 commented on #195
Yes, same issue here breaking the `parole` media player from playing videos with gstreamer-backend

[code]

Now I need to find a way to force the i915 to be on dri/128 until this bug got fixed.

[2021-01-12 15:24] dmitryermilov commented on #1123
Hi Carl,
Yes, it's an option. It can help. But from usability perspective it would be great to avoid it. Originally AFAIR vaCopy was declared as unified copy solution.  Now it doesn't look this way. Usually most of media applications use different kind of frame copy functionality. If vaCopy doesn't work everywhere, applications needs to keep copy fallback code. So app will have to support two copy

[2021-01-13 17:46] artlav opened #1124 "JPEG decode to RGB fails on some images"
Some jpg files decode into line-like noise when the output surface is set to VA_RT_FORMAT_RGB32. (Most work fine).

Tested on:
- i5-6260U (Iris Graphics 540)
- m5-6Y54 (HD Graphics 515)
- i3-10110U (UHD Graphics)

Version:
- VA version: 1.10, vendor: Intel iHD driver for Intel(R) Gen Graphics - 21.1.0  (today's git compiled with debug)
- VA version: 1.10, vendor: Intel iHD driver for Intel(R) Gen

[2021-01-14 06:41] Jister commented on #1104
@yefengxx I have tried to reproduce the issue locally, but cannot reproduce it, the case can pass both with the 20.4 branch and latest master branch, could you help to double confirm? My test command as follows:
gst-launch-1.0 -vf filesrc location=./ra_main-BasketballDrillText_832x480_50_qp22.bin ! h265parse ! vaapih265dec ! "video/x-raw(memory:DMABuf)" ! fakesink

[2021-01-14 07:07] Jexu commented on #1108
@rosetta-jpn
can you try the latest master code and we have a fix 2ccc52ed0081f33d0b2a6f57e7d3b51eadb44270 in the master which can fix above corruption now.

[2021-01-14 08:19] rosetta-jpn commented on #1108
Thanks.
Can you tell me the root cause and how likely there are videos causing the issue?
Is it quite edge case?

[2021-01-15 03:31] Jexu commented on #1108
@rosetta-jpn
It is caused by CTF buffer.  For av1, each frame has chance to generate one ctf buffer, these ctf buffer maybe transfered and used by rest frame. But in current driver, the ctf buffer will be removed along with reference frame even this ctf buffer is still needed by rest frame. So it will cause incorrect decoding.

[2021-01-15 08:34] rosetta-jpn commented on #1108
Thanks. I think you mean CDF (Cumulative Distribution Function) by CTF.
The codec feature is probably so usual in av1 streams that the fix is essential in our product.

[2021-01-18 06:46] XinfengZhang commented on #1124
seems the only difference is there are log related with SFC call, it means there are a color space conversion or scaling after decoding. no such operation with the failed case. but it was strange, just like your description, only part of the jpeg picture failed, so I suspect it was because the format of jpeg file itself. for example: if the jpeg is 420, but output is set to ARGB. then it will call

[2021-01-19 03:28] joojler opened #1125 "Failed to schedule to VDBOX2 in some decoding cases"
When we created multiple decoding sessions on platforms with 2 VDBOXs, after a while, the decoding workload can't be scheduled to VDBOX2. After some investigation, I found it's a bug in media-driver. The reasons are as below:

1. media-driver create & destroy the node association in function Mos_Specific_CreateVideoNodeAssociation & Mos_Specific_DestroyVideoNodeAssociation which are located in ./m

[2021-01-20 01:10] YijinLiu commented on #1080
I built the debug version of intel-media-20.3.0 and got the following crash:
<pre>
#0  0x000000000000000e in ?? ()
#1  0x00007fffb57641a9 in CodechalDecodeAvc::DecodePrimitiveLevel (this=0x5d5a8000) at /home/chao/projects/media-driver/media_driver/agnostic/common/codec/hal/codechal_decode_avc.cpp:1873
#2  0x00007fffb575afc2 in CodechalDecode::Execute (this=0x5d5a8000, params=0x1ab38e10) at /home/c

[2021-01-20 06:49] harryshan opened #1127 "Failed to create a RGBX VASurface importing a GBM buffer"
Hardware platform: Intel HD630
media-driver version: Compiled from Jan.14 commit (13c0e1480a96510ca1d3fff9f2e8574e1fba1979)

VA trace for configurations:
[vatest.064422.thd-0x0000714e.txt](https://github.com/intel/media-driver/files/5840569/vatest.064422.thd-0x0000714e.txt)

What I'm trying to do is creating a RGBX buffer using minigbm, importing the buffer to a VASurface and also an x11 Pixmap so

[2021-01-21 17:20] vijnasu opened #1129 "gmm errors while building the media-driver on Yocto"
Is there a fix for the following error. I am trying to build the driver for two days.

[code]

[2021-01-22 06:18] XinfengZhang commented on #1129
@vijnasu  have you update gmmlib https://github.com/intel/gmmlib? this new definition is from 1598c1b46fb911cb9060d1a5380aec1ca1ef2c19

[2021-01-22 06:20] XinfengZhang commented on #1129
I add this issue to "enhancement in plan", we should have a table for media-driver compliant gmmlib , better in wiki page.

[2021-01-22 23:19] caiusseverus opened #1130 "iHD drivers after 20.4.1 fail on Gemini Lake"
I have a J4105 system running ubuntu 20.04. I have the iHD driver version 20.4.1+i435\~u20.04 installed from https://repositories.intel.com/graphics/ubuntu focal/main

This works ok, with vainfo giving output:
[code]
etc

If I update to a later version (currently 20.4.3+i449\~u20.04 or 20.4.5+i455\~u20.04 are available), then vainfo gives an error:
[code]
iHD driver is set in environment along wit

[2021-01-23 00:34] dvrogozh commented on #1130
[code]

This symbol comes from `libigdgmm11` from which media driver depends. It seems that you somehow updated media driver, but gmmlib was not updated. I am currently running docker ubuntu:20.04 image with configured https://repositories.intel.com/graphics/ubuntu and all works fine for me, but the difference is that I fetched packages anew while you performed an update. Can you, please, try to c

[2021-01-23 01:29] caiusseverus commented on #1130
Interesting - The latest version of libigdgmm11 I have available is 20.4.1 according to apt:

The driver is manually set to the last working one at the moment.
[code]
and

[code]

So that explains why the driver isn't working, but I don't know why I don't see the more up to date libigdgmm11 package in the list.

The repo I have in apt sources is `deb [arch=amd64] https://repositories.intel.com/gra

[2021-01-23 02:35] dvrogozh commented on #1130
No, I afraid it does not. I have the same libigdgmm11 as you installed (`20.4.1+i455~u20.04`), but newer driver (`20.4.5+i455~u20.04`) and I don't see the same issue as you do. Don't be tricked by different version for gmmlib and driver - they have different enumeration. 20.4.1 is actually the latest available gmmlib (see https://github.com/intel/gmmlib/tags). And here is the symbol on my side:
[c

[2021-01-23 03:14] caiusseverus commented on #1130
OK noted.

I’ve not compiled libigdgmm1 from source previously. I do have opencl installed, but the symbolic link is identical to your example down to the timestamp and the sha1sum is also identical.

[2021-01-23 14:46] FocusLuo commented on #1104
@yefengxx @Jister let us to have a sync on this in next Monday or Tuesday?

[2021-01-25 01:54] Jister commented on #1104
@FocusLuo sure

[2021-01-25 03:55] Jexu commented on #1125
Hi @joojler, You can try to change value of I915_EXEC_VCS2 to 6<<0 since this value is idle

[2021-01-25 14:05] nyanmisaka commented on #1087
Hey! The issue is caused by some unmerged patches from https://github.com/intel-media-ci/intel-ffmpeg-patch

`tonemap_vaapi` in ffmpeg works well now with them applied.

I have no idea with the issue in gstreamer, but the original issue has been resolved. Close it for now.

[2021-01-25 14:05] #1087 closed

[2021-01-27 08:53] joojler commented on #1125
Got it. Just wondering the code for proper MOS_GPU_NODE_MAX definition as GFX_MAX(I915_EXEC_RENDER, I915_EXEC_VEBOX, I915_EXEC_BSD, I915_EXEC_VCS2, I915_EXEC_BLT) + 1 is actually there previously. Any possible bugs reported before for this kind of definition?

[2021-01-27 09:58] MartinX3 opened #1131 "parole: /usr/lib/dri/iHD_drv_video.so init failed - Unable to play videos"
Intel Skylake 6700HQ with Nvidia GTX 940M
Arch Linux / EndeavourOS
intel-media-sdk 20.5.1
intel-media-driver 20.4.5
libva 2.10.0
[code]

[code]

[code]

[2021-01-27 20:06] dvrogozh commented on #1081
While installing `i965-va-driver` might provide a workaround, our side desire is to get this behavior fixed in `intel-media-va-driver` since that's the driver we have on a new platforms.

As a step to the ultimate fix we've merged https://github.com/intel/media-driver/commit/ff55f781c91509ad6b6d21cd357346656066740b. This change removes cpu instruction set specific compile options from driver build

[2021-01-27 20:14] paulmenzel commented on #1081
Thank you for the update. You might be able to reproduce this issue in QEMU.

[2021-01-28 16:44] dvrogozh commented on #1130
Sorry for delay with response. I got distracted.

Basically, you have correct driver+gmmlib installed, i.e. driver of `20.4.5+i455~u20.04` + gmm of `20.4.1+i455~u20.04` is valid combination and should work as it does on my side. If you see that gmm library library is there and checksum is the same, I would suggest to verify whether it was actually tried by dynamic loader? So, the only other idea I

[2021-01-28 18:31] caiusseverus commented on #1130
This was the problem. It looks like there was another version of gmmlib being tried. From strace:

``openat(AT_FDCWD, "/usr/local/lib/libigdgmm.so.11", O_RDONLY|O_CLOEXEC) = 4``

I removed that version and vainfo now picks up the correct version:

``openat(AT_FDCWD, "/lib/x86_64-linux-gnu/libigdgmm.so.11", O_RDONLY|O_CLOEXEC) = 4``

which is the version that matches your sha1sum above.

That did n

[2021-01-28 18:31] #1130 closed

[2021-01-28 19:44] dvrogozh commented on #1130
You are welcome. Do you know what you have installed which landed artifacts into /usr/local? Which other libs/drivers you see here, maybe this will give a clue. But taking packages from https://repositories.intel.com/graphics/ubuntu you should not have anything landed into /usr/local (unless there is some bug in our packaging I am not aware of). So, my assumption would be you installed something f

[2021-01-28 20:06] caiusseverus commented on #1130
I'm not sure what would have installed to /usr/local. This particular machine is a bit a jack of all trades and has had quite a lot of things added and removed over time, mostly to do with media serving. I don't think it would have been from the intel ubuntu repo - I added that relatively recently. It's possible that there was a version of this driver installed outside of the repo at some point wh

[2021-01-29 02:41] XinfengZhang commented on #1127
1. yes 2. we already discussed in the mail loop, there are progress, after all done, I will paste the key changes into this issue to help other users.

[2021-01-29 02:53] XinfengZhang commented on #1131
hi @MartinX3 the log is enough, it just show a VPP filter failure, could you help to enable LIBVA_LOG?

[2021-01-29 02:58] XinfengZhang commented on #1047
@HeJunyan , it should already been fixed, if you still need to add more format, or , some format is still missed. please re-open it and tell the format. thanks

[2021-01-29 02:58] #1047 closed

[2021-01-29 03:30] XinfengZhang commented on #801
please help to enable LIBVA_TRACE to ensure HW decoder works,  perf drop is not expected. the Video engine just ~10% percent.  so , there are no enough task is sent to media_driver and HW.  in another words, the bottleneck should not related with video decoder.

[2021-01-29 03:31] #747 closed

[2021-01-29 05:00] XinfengZhang commented on #734
@uartie , we already have fix in ffmpeg & gstreamer, also has fix in media driver as Furong mentioned in https://github.com/intel/media-driver/issues/760#issuecomment-607587378 . so I close the issue, if you still have concern, please feel free to re-open it, thanks

[2021-01-29 05:00] #734 closed

[2021-01-29 09:52] MartinX3 commented on #1131
Hi and thank you very much for your response @XinfengZhang

I tried `GST_DEBUG=2 LIBVA_LOG=1 parole ` but the log is the same.
Do I use it wrong?

[2021-01-29 14:37] grzegorz-kurzejamski commented on #771
definitely +1
At the project I'm working in we had to switch to 10th gen for multiple of processing nodes and it was quite a suprise that there is a 9/10th gen VP9 encoder support black hole with intel-vaapi-driver support up to 8th gen and iHD driver from 10th+ onwards. We were using VP9 Enc extensively up till now on 7th and 8th gen so this new generation is like a big downgrade, given better CP

[2021-01-29 15:59] dmitryermilov opened #1132 "vaPutSurface crashes with default driver from Ubuntu20.04"
On Gen9 calls to vaPutSurface cause crashes.
Repro steps from freshly installed Ubuntu20.04
install packages:
[code]
Run mpv:
[code]
The same run under gdb:
[code]

[2021-01-29 16:01] dmitryermilov commented on #1132
vaPutSurface internally depends on color space conversion to RGB. And this CSC is enabled via shaders. CSC is missing in intel-media-va-driver. Due to a bug in code (missing nullptr check in code related to CSC) vaPutSurface crashes.
“apt install intel-media-va-driver-non-free” can workaround the crash.
The issue is seen in 20.1.1 media-driver release which landed in Ubuntu20.04, and it’s still th

[2021-01-31 02:33] XinfengZhang commented on #710
@dvrogozh , seems there are no definition of DRM_FOURCC_RGBP in drm_fourcc.h, so, we just implement it in DdiMedia_GetDrmFormatOfSeparatePlane

[2021-01-31 02:35] XinfengZhang commented on #704
because @wangyan-intel  could not reproduce the issue, and no LIBVA_TRACE provided. I will close it, @tmm1 any concern or any additional information, please feel free to re-open it

[2021-01-31 02:35] #704 closed

[2021-01-31 02:41] XinfengZhang commented on #1132
"Due to a bug in code (missing nullptr check in code related to CSC) vaPutSurface crashes" @FurongZhang ,have we fixed it? it is about free driver which maybe disable some kernel path.
@dmitryermilov suppose , it is a gen9 issue, because we open source VP shaders from gen11, right?

[2021-01-31 07:43] XinfengZhang commented on #746
the issue should already been fixed by https://github.com/intel/media-driver/commit/c1ce9538718c8b775bb2bd3be7011757d59a3592 &  https://github.com/intel/gmmlib/commit/1598c1b46fb911cb9060d1a5380aec1ca1ef2c19

[2021-01-31 13:57] #281 closed

[2021-01-31 18:23] wizkid057 opened #1133 "Possible memory leak in media_libva.cpp"
https://github.com/intel/media-driver/blob/085cb68483d26edc06b389ba6569bd5b1f649198/media_driver/linux/common/ddi/media_libva.cpp#L5249

This memory allocation does not appear to be free'd properly and causes an ongoing memory leak of approximately 208 bytes per frame when using VAAPI decoding.

I've done my best to rule out this being an application or issue with another library, and everything e

[2021-01-31 21:59] wizkid057 commented on #1133
As a local hack, this fixes this issue for me.  I'm actually unsure what's going on, as the check in this code only appears to attempt to free the pSurfDesc memory if it is an external surface? Seems backwards... but I'm not super familiar with the code.

[code]

Again, on HEAD of e280504bb3ccc429aa43f30aa76e0c990df6ccbf

I confirmed that DdiMediaUtil_IsExternalSurface(surface) returns false.  Sin

[2021-02-01 01:26] XinfengZhang commented on #1133
the rootcause is : surfaceDescriptor was created when there are VASurfaceAttribExternalBufferDescriptor. but the DdiMediaUtil_IsExternalSurface just checked memory type. will file a PR to fix it ASAP

[2021-02-01 01:37] FurongZhang commented on #1132
@XinfengZhang , let me check that. Will update ASAP.

[2021-02-01 18:34] esmorun commented on #930
I still can't do hardware transcoding in Jellyfin because of this issue. I'm on Ubuntu 20.04LTS and an Asrock j5005-board. Intel-media-va-driver-non-free (20.1.1+ds1-1build1).

If there is a patch, please let me know how I can test it and report back to you.

[2021-02-01 19:04] esmorun commented on #733
Any news on this issue? Hardware encoding is still completely broken with the current package in the Ubuntu 20.04LTS repository (intel-media-va-driver-non-free (20.1.1+ds1-1build1)).

Asrock j5005-board.

[2021-02-01 21:42] uartie opened #1134 "Test Failure: MediaCapsDdiTest.DecodeEncodeProfile"
Since 86c1dc2dcc03833eca74a55cc18efc7e99978e8b, the MediaCapsDdiTest.DecodeEncodeProfile test case fails after compilation.

[code]

cc: @ryanthua

[2021-02-01 21:49] uartie commented on #1134
This breaks "make install"

[2021-02-01 22:43] dvrogozh commented on #1134
Yep. And this was caught by media-driver own CI as well: https://github.com/intel/media-driver/runs/1809680772.

[2021-02-01 23:07] ryanthua commented on #1134
Revert this change in https://github.com/intel-innersource/drivers.gpu.unified/pull/10687

From: Dmitry Rogozhkin <notifications@github.com>
Sent: Monday, February 1, 2021 2:44 PM
To: intel/media-driver <media-driver@noreply.github.com>
Cc: Huang, Ryan T <ryan.t.huang@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [intel/media-driver] Test Failure: MediaCapsDdiTest.DecodeEncodeProfi

[2021-02-02 00:39] uartie commented on #1134
@ryanthua how long before the revert is sync'd here?

[2021-02-02 01:00] ryanthua commented on #1134
It's currently under internal CI build. I think it still needs around 1 hour to finish. After CI build, the sync will start and will take another few minutes I think.

[2021-02-02 02:06] Jexu commented on #1125
We only have 6 gpu node definition here, so MOS_GPU_NODE_MAX should be equal to 7. The value of the gpu node here seems not serial, i guess GFX_MAX+1 will not show the correct value when I915_EXEC_VCS2=7<<0

[2021-02-02 09:05] Xiaogangli-intel commented on #733
@felixbuenemann Seems sample_encode changed the default Encode to lowpower, so could you try:
/opt/intel/mediasdk/share/mfx/samples/sample_encode h265 -w 176 -h 144 -f 30 -cqp -qpi 30 -qpp 30 -qpb 30 -qsv-ff -i /usr/src/samples/AUD_MW_E.yuv -o encoded_AUD_MW_E.265 **_-lowpower:off_**

it works on my side.
For other guys, could you provide the command line?

[2021-02-02 18:05] uartie commented on #1134
Reverted in 2990a19101421ef0973b767d296d448345ac9a20

[2021-02-02 18:05] #1134 closed

[2021-02-03 10:14] samuel100u opened #1135 "HEVC only VA_RC_CQP works"
ffplay.exe
CBR ↓
![](https://imgur.com/qyXNfee.gif)

[2021-02-03 12:18] XinfengZhang commented on #1133
@wizkid057 does #1136  fix the issue?

[2021-02-03 12:19] XinfengZhang commented on #1135
could you provide more information?  platform, version, command  etc.

[2021-02-03 14:36] wizkid057 commented on #1133
This appears to have done the trick!  Thanks for the quick work. :)

[2021-02-05 11:54] SiewHoon opened #1138 "VPP PROAMP not effect with 3840x2160 and above"
This issue not able to reproduce by using video clip in resolution :  2560x1440, 1920x1080, 1280x720, 800x600
It only happen with 3840x2160 resolution and above. It can playback but not effect on PROAMP setting at here on this 4k resolution.

Command:
gst-launch-1.0 filesrc location= /mnt/media/Puppies_3840x2160_30mbps_60fps_Baseline@L5.2.mp4 ! qtdemux ! vaapih264dec ! vaapipostproc brightness=-1

[2021-02-05 11:56] SiewHoon commented on #1138
This issue able to reproduce in gstreamer-vaapi side after revert this WR patch due to media-driver side already fixed  it:

[a354c14e58f9afc6548668f5d6ed9bcc1a1d35f7] vaapipostproc: Remove YUV to/from RGB color primary quirk since iHD driver has fixed in https://github.com/intel/media-driver/commit/a39fe9bc051a8c3efa8f35122a1585981ec7f816.

I re-test with combination  by using :
media-driver (int

[2021-02-05 12:01] SiewHoon commented on #1138
Another issue report in gst-vaapi side: https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/-/issues/301 after remove the WR done in gstreamer-vaapi.

On MJPEG 4k Video playback failing if go thru video postprocessing.

Gst Command:
gst-launch-1.0 filesrc location=/mnt/media/Elecard1_3840x2160_8mbps_30fps_444_1.avi ! avidemux ! vaapijpegdec ! vaapipostproc ! glimagesink

[2021-02-08 04:04] samuel100u commented on #1135
I use DG1 at CentOS8.

H264 is correct, but h265 will produce the weird result above.

resolution : 1280x720
CBR

[2021-02-08 10:03] #1133 closed

[2021-02-09 20:46] uartie commented on #861
@FurongZhang Ping.  Any update?

[2021-02-11 17:01] softworkz opened #1143 "Tone Mapping Bug using Tiger Lake CPU"
I'm experiencing a bug when trying to use VAAPI H2S tone mapping with a Tiger Lake CPU.

I can reproduce that bug with both, ffmpeg and gstreamer.

## ffmpeg

- Latest master version of ffmpeg
- Applied patch: https://github.com/intel-media-ci/cartwheel-ffmpeg/blob/master/patches/0031-avfilter-tonemap_vaapi-pass-filter-parameters-to-VA-.patch
- OS: **Ubuntu 20.04 LTS**

### Command line:

`sudo ./

[2021-02-11 17:02] softworkz commented on #1143
Possibly related: https://github.com/intel/media-driver/issues/861

[2021-02-15 02:28] thetooth commented on #771
Also in the same situation with a 11th gen processor. Why advertise VP9 encoding support if nothing can access it?

[2021-02-17 14:01] XinfengZhang commented on #771
I could not commit that we could support VP9 VME(dual path) path on Gen9. there are several reasons, 1. VP9 VME path need the media-kernel (shader), and it was deprecated in future platforms , and it is not the direction , you could treat it as a temporal solution, TBH, I have no much confidence on it, so we have no plan to maintain it. 2. intel-vaapi-driver support all platforms of gen10- , so ,

[2021-02-17 14:03] XinfengZhang commented on #771
@thetooth , not sure whether I could answer your question, you mean you could not access ICL? , ICL 11th gen GPU certainly support VP9 encoding , it is fix function. hw support ..

[2021-02-18 03:52] HeJunyan commented on #1108
In fact, @rosetta-jpn and hiroh@chromium.org reported this issue, can you help to verify this? Thanks.

[2021-02-19 05:22] FurongZhang commented on #1143
I am debugging this issue.

[2021-02-19 12:16] softworkz commented on #1143
Let me know when you need help reproducing or testing any potential fix or workaround.

[2021-02-22 17:40] mkarwin commented on #930
Has the issue been fixed on the NAS devices? Synology DSXX20+, Qnap TS-X53D, Asustor AS660XT and their rackmount counterparts are all affected it seems. Any owners care to verify that their platform's working fine already or to explicitly verify that the issue persists?
The Gemini Lake Refresh CPUs are more or less ubiquituous amongst the NAS appliances from most NAS manufacturers that have been r

[2021-02-23 16:38] joojler opened #1148 "Failed to output to non (0,0) position on render target by VEBOX + SFC scaling from NV12 to YUY2"
With Media SDK sample_vpp application on TGL-U, it failed to output to non (0,0) position on render target by VEBOX + SFC scaling from NV12 to YUY2. The command is as below:

$ ./sample_vpp -sw 1920 -sh 1080 -scc nv12 -dw 3840 -dh 2160 -dcc yuy2 -dcrX 1920 -dcrW 1920 -dcrH 1080 -i /home/james/video/1080p.nv12 -o test_sfc.yuy2 -n 1 -scaling_mode 1

The expected position in above command should be (

[2021-02-24 09:05] davidbepo opened #1149 "no VP9 encoding on Tiger Lake"
[code]

as you can see, no encode profile, i also tried openshot VP9 vaapi encoding and it didnt work

[2021-02-24 09:06] davidbepo commented on #1149
of course, let me know if any more details are required

[2021-02-25 03:55] XinfengZhang commented on #1149
yes, could you also show the display adaptor information by lspci -x , just copy the VGA compatible controller part is enough

[2021-02-25 03:57] XinfengZhang commented on #1148
thanks for reporting, @FurongZhang  could you help to take a look and assign it?

[2021-02-25 04:09] dvrogozh commented on #1149
I think VP9 encoder requires HUC which is disabled by default on TGL in i915 driver. Try to add `i915.enable_guc=2` to linux kernel cmdline, reboot and try again.

This is by the way a mistake in our top-level readme which says that HUC is needed for bitrate control modes. That's true for AVC/HEVC, but does not seem to be true for VP9 since entire VP9 requires HUC.

[2021-02-25 08:07] davidbepo commented on #1149
00:02.0 VGA compatible controller: Intel Corporation Iris Xe Graphics (rev 01)
00: 86 80 49 9a 07 04 10 00 01 00 00 03 10 00 00 00
10: 04 00 00 1c 60 00 00 00 0c 00 00 00 40 00 00 00
20: 01 30 00 00 00 00 00 00 00 00 00 00 aa 17 09 38
30: 00 00 00 00 40 00 00 00 00 00 00 00 ff 01 00 00

[2021-02-25 08:11] davidbepo commented on #1149
yep, that does it, with that kernel parameter i get this:

vainfo
vainfo: VA-API version: 1.10 (libva 2.10.0)
vainfo: Driver version: Intel iHD driver for Intel(R) Gen Graphics - 20.4.5 ()
vainfo: Supported profile and entrypoints
      VAProfileNone                   :	VAEntrypointVideoProc
      VAProfileNone                   :	VAEntrypointStats
      VAProfileMPEG2Simple            :	VAEntrypo

[2021-02-25 08:15] davidbepo commented on #1149
im gonna try openshot

[2021-02-25 08:28] davidbepo commented on #1149
yep, its working

[2021-02-26 07:18] chetan-prime commented on #1063
Thanks for moving this to medium priority.
Kindly inform if there are any changes to the master branch and if I should do any testing on older TV once again with the latest drivers

[2021-02-26 07:50] fanli-hub opened #1151 "[TGL] hevc 10bit 444 decode found GPU hang by using sample_decode on iHD driver"
Platform: TGL
OS: Ubuntu 20.04.2 LTS
Kernel: 5.8.0-44-generic
MediaSDK: b3fbeabb29574dbf955e68b18a3dc402efa16522
libva: 7a92a2b7cc2ec89b19d50e990ca1a3580bbf297a
media-driver: 81531bd58064f019d513a21025d15d6f967907d1

Defect Description:
GPU Hang occured when using sample_decode H265 10bit 444 on iHD driver.

Command and error:
sample_decode h265 -i Fireworks_3840x2160_12mbps_30fps_Main_at_L5.0_10b

[2021-03-01 01:11] FurongZhang commented on #1148
Sure.

[2021-03-01 01:23] XinfengZhang commented on #1151
@fanli-hub , could you help to share the i915_error_state?

[2021-03-01 06:29] fanli-hub commented on #1151
@XinfengZhang
dmesg |grep i915
[    0.000000] Command line: BOOT_IMAGE=/boot/vmlinuz-5.8.0-45-generic root=UUID=81a7a377-c87c-4b03-90df-b1a177eca604 ro i915.force_probe=9a49 i915.enable_guc=2 quiet splash vt.handoff=7
[    0.044512] Kernel command line: BOOT_IMAGE=/boot/vmlinuz-5.8.0-45-generic root=UUID=81a7a377-c87c-4b03-90df-b1a177eca604 ro i915.force_probe=9a49 i915.enable_guc=2 quiet splash v

[2021-03-02 06:49] Sherry-Lin commented on #1118
Based on execution data, 5.9+ kernel could support TGL very well.

[2021-03-02 12:34] sebastinas commented on #1132
Any news here? We've got a bug report in Debian with the same [issue](https://bugs.debian.org/983860) where the driver is built with `-DENABLE_KERNELS=ON -DENABLE_NONFREE_KERNELS=OFF`.

[2021-03-02 17:56] rmkimathi commented on #1149
Very useful information. Have had this issue with intel iHD driver for long. Thanks.

**Ubuntu 21.04**

`GRUB_CMDLINE_LINUX_DEFAULT="quiet splash i915.enable_guc=2"`

[code]

[2021-03-03 15:03] linkmauve opened #1152 "Very bad artifacts at specific quality levels with jpegenc"
Here is an encoding at quality 90:
![sunshine-90](https://user-images.githubusercontent.com/7755816/109823855-9719df00-7c38-11eb-95f5-3d33d81b3736.jpeg)
Quality 94:
![sunshine-94](https://user-images.githubusercontent.com/7755816/109824681-55d5ff00-7c39-11eb-8a59-ab56f0f8bb44.jpeg)
Quality 95:
![sunshine-95](https://user-images.githubusercontent.com/7755816/109823875-9b45fc80-7c38-11eb-9292-c3e524

[2021-03-03 17:14] uartie commented on #1152
Seems related to #281

[2021-03-03 17:38] linkmauve commented on #1152
Indeed, but that coarse testing in #281 doesn’t seem to exhibit the periodicity (per quality) of the issue.

Here is my data for this one sample from quality 1 to quality 100: [psnr.csv](https://github.com/intel/media-driver/files/6077966/psnr.csv.txt)

And as a chart:
![psnr](https://user-images.githubusercontent.com/7755816/109847551-9e98b280-7c4f-11eb-8081-f6a776d240c3.png)

[2021-03-05 01:10] caiusseverus opened #1153 "[ffmpeg qsv] hevc_qsv encoder does not use preset option properly."
When using ffmpeg to encode to hevc, using the ``-preset `` option should set the TargetUsage parameter in ffmpeg accordingly. This works correctly with the h264_qsv encoder, with ``-preset 5`` selecting TargetUsage 5 for example.

With hevc_qsv however, only three different levels appear to be available as follows: [1, 2] -> TU 1; [3, 4, 5] -> TU 5; and [6, 7] -> TU 7.

For example, the command l

[2021-03-06 10:05] rmkimathi opened #1155 "AV1 hwdec vaapi visual glitches on Intel Tiger Lake Xe Graphics"
I am not sure if the problem is libva or intel-media-va-driver-non-free? I encoded a video file using ffmpeg libsvtav1 which mpv hwdec=vaapi hwdec-codecs=av1 was able to play flawless. ... All test videos downloaded online will only software decode using libdav1d. (AV1 Hardware decode through mpv produces glitches as per screen shot)

**mpv version:** mpv 0.33.0-93-gaac1844179/FFmpeg version: N-10

[2021-03-08 03:02] XinfengZhang commented on #1153
@onabiull could you help to take look , about target usage <===> preset  mapping.

[2021-03-08 07:20] troy818 commented on #1129
@vijnasu I have the same problem with you and I've fixed it. After building gmmlib, I do "sudo make install" in the gmmlib build folder. Then the error is solved.

@XinfengZhang Hi, I think maybe the "Install" session of Gmmlib README add "$ sudo make install"?  I think maybe it will be clearer for the user like me. Thanks.

[2021-03-08 08:06] XinfengZhang commented on #1155
@rmkimathi  have you tried other method to enable HW decode, such as FFmpeg? to check it is player issue or a driver issue?

[2021-03-08 16:11] rmkimathi commented on #1155
Okay will continue testing with ffmpeg and see. Thanks

[2021-03-08 17:59] dvrogozh commented on #1129
https://github.com/intel/media-driver#building says:
[code]

That's up to gmmlib to describe their build and install procedure. Media driver readme focus on the driver part of the story.

[2021-03-08 20:12] strassada opened #1156 "comet"

[2021-03-08 20:13] #1156 closed

[2021-03-09 06:04] XinfengZhang commented on #1152
@aleonenk @Alexandr-Konovalov could you help to check the issue

[2021-03-09 06:36] #1129 closed

[2021-03-09 06:39] mark-herbert42 commented on #1155
Have exactly same issue with mpv. I have tried ffplay and vlc - they work well, but they both fallback to dav1d software decoding ( no GPU activity shown in intel_gpu_top). Only mpv forces hardware AV1 ( intel_gpu_top shows hardware decoding activity) but the video is full of garbage like on screenshot attached.

[2021-03-09 06:43] XinfengZhang commented on #1127
close the issue, because it already be fixed though some email communications

[2021-03-09 06:43] #1127 closed

[2021-03-09 06:55] XinfengZhang commented on #1155
I have not tried ffplayer , could you try the command line like this:
ffmpeg -hwaccel vaapi -init_hw_device vaapi=hw:/dev/dri/renderD128 -hwaccel_flags allow_profile_mismatch -filter_hw_device hw -v verbose -i input.ivf -pix_fmt yuv420p -f rawvideo -vsync passthrough -autoscale 0 -vframes 100 -y output.yuv, could you help to try it?

[2021-03-09 07:09] mark-herbert42 commented on #1155
[AVHWDeviceContext @ 0x563c72c8c6c0] libva: VA-API version 1.10.0
[AVHWDeviceContext @ 0x563c72c8c6c0] libva: User environment variable requested driver 'iHD'
[AVHWDeviceContext @ 0x563c72c8c6c0] libva: Trying to open /usr/lib64/va/drivers/iHD_drv_video.so
[AVHWDeviceContext @ 0x563c72c8c6c0] libva: Found init function __vaDriverInit_1_10
[AVHWDeviceContext @ 0x563c72c8c6c0] libva: va_openDriver()

[2021-03-09 07:12] mark-herbert42 commented on #1155
I am using AV1 examples from here
https://www.elecard.com/videos

They all works well with dav1d software decoding, but with hardware it either fallback to dav1d (ffmpeg, vlc) and work perfectly, or continue using vaapi (mpv) with garbage on screen

[2021-03-09 07:13] #1103 closed

[2021-03-09 08:10] rmkimathi commented on #1155
Full log ...
[code]

[2021-03-09 08:58] XinfengZhang commented on #1073
closed, suppose it is related with environment .  with gcc 7.5.0 and cmake 3.10.2, it could be built successfully.

[2021-03-09 09:05] canyuedao opened #1157 "do_drawable_hash crashes on centos7.6"
the stack trace:

[code]

the vainfo:
[code]

Could you tell me how to solve this problem?

[2021-03-09 10:27] troy818 opened #1158 "errors of so files while building the media-driver"
I'm building media-driver on Ubuntu 18.04.2 LTS TGL i5, and I find that in step 7 of "Building", $ make -j"$(nproc)".
If I do "make" in root user, the result is ok;  but if I do "make" not in root, there will be bugs:
[code]
Is it correct or not? Besides, I can't find igfxcmrt64.so in /usr/lib/x86_64-linux-gnu/

Please let me know if any more details are required, thanks!

[2021-03-09 15:19] dvrogozh commented on #1158
Take a look on #1130. In particular, https://github.com/intel/media-driver/issues/1130#issuecomment-769287383. I think you might have 2 gmmlibs installed on the system and you get slightly different environments under root vs. generic users where root don't see the bad gmmlib while generic user does see it.

Anyhow, your undefined symbols comes from bad gmmlib. You need to identify where it is loc

[2021-03-09 20:14] StableNarwhal opened #1159 "HDR Tonemapping doesn't seem to be enabled for Apollo Lake"
It appears to have been added to [Kabylake](https://github.com/intel/media-driver/commit/15038615da2e5714ef86ebbbe752692b53acac84) and [Gemini Lake](https://github.com/intel/media-driver/commit/15038615da2e5714ef86ebbbe752692b53acac84).

Is there a specific reason it hasn't been added for Apollo Lake?

[2021-03-09 20:29] softworkz commented on #1159
Apollo Lake has the graphics from SkyLake and AFAIK, KabyLake is the minimum platform supporting HDHR tone mapping.

[2021-03-09 20:33] StableNarwhal commented on #1159
Oh, I was assuming that APL would support HDR tone mapping. Thank you for the quick response!

[2021-03-09 20:35] softworkz commented on #1159
It was accidental as I had thought this would be one of our repositories. But the answer should be accurate 😆

[2021-03-10 03:46] XinfengZhang commented on #1149
VP9 CQP encoding also has dependency on Huc

[2021-03-10 03:46] #1149 closed

[2021-03-11 05:07] egorovdanil commented on #1081
I tried to run `vainfo` on an unsupported platform (amd) and found out that the exit from `intel-media-va-driver` occurs before any entry into `gmmlib`:
`DdiMedia__Initialize()` exit location: [media_libva.cpp#L1736](https://github.com/intel/media-driver/blob/f60361dad30eb1c58aabaab65da514bd2b27fbaf/media_driver/linux/common/ddi/media_libva.cpp#L1736)
`gmmlib` entry point location in `DdiMedia__In

[2021-03-11 09:10] XinfengZhang commented on #1155
@rmkimathi , is there output.yuv? is there also glitches on the output.yuv?

[2021-03-11 09:24] rmkimathi commented on #1155
yes the output.yuv also has glitches

![yuv](https://user-images.githubusercontent.com/13484308/110764949-b500c880-8264-11eb-9d85-d7dcf9f88395.png)

[2021-03-12 07:24] zedgithb commented on #804
Has there been any movement on this issue? It is my understanding that the i965-va-driver does not work with Tiger Lake, so deinterlacing is effectively broken until this is fixed.

[2021-03-12 11:18] ivan-losev commented on #1152
Hi @linkmauve,
Could you, please, share what environment (platform, driver version, etc.) you are using and steps to reproduce this quality drop issue.
I tried to reproduce issue on KBL on the latest driver using sample_encode (as in #281 ) but didn't observe quality drop

[2021-03-15 06:24] XinfengZhang commented on #1157
suppose you are not using  X11, right?

[2021-03-15 06:56] XinfengZhang commented on #1159
yes, the answer is accurate. thanks

[2021-03-15 06:56] #1159 closed

[2021-03-15 07:01] XinfengZhang commented on #1158
@troy818 suppose Dmitry already answered your question.  is there additional question, if no , please help to close the issue.

[2021-03-15 07:48] XinfengZhang commented on #1131
you should add LIBVA_TRACE=./filename. then it will a libva trace generated. and from this log:
"get chip id failed: -1 [22]",
it should failed at https://github.com/intel/media-driver/blob/master/media_driver/linux/common/os/i915/mos_bufmgr.c#L3479
so, driver could not get the information related with this device ID
I suppose you should already meet some problem to open /dri/renderD128
does vainf

[2021-03-15 09:19] MartinX3 commented on #1131
@XinfengZhang Thank you for your response
It generated 4 log files on a single run.

[va.log.zip](https://github.com/intel/media-driver/files/6140169/va.log.zip)

[code]

[2021-03-15 19:47] yasij commented on #640
Are you sure it's not the driver that has this wrong? Have you compared it to the i965-va-driver implementation? I found [this discussion](https://mailman.videolan.org/pipermail/vlc-devel/2017-July/114119.html) on the VLC mailing list which states the opposite based on the FFmpeg implementation. That might explain why i965-va-driver is setting num_forward_references = 1, and num_backward_reference

[2021-03-16 08:31] canyuedao commented on #1157
I'm using X11, GNOME.
This is my X version and cpu info:

[code]

[2021-03-17 15:02] ivan-losev commented on #1152
Hi @linkmauve,
Could you, please, share steps to reproduce quality drop issue?

[2021-03-17 16:04] ivan-losev commented on #1152
Thanks, I'll take a look, what is wrong.

Could you, also try to reproduce issue using MSDK samples?
sample_encode jpeg -i input.yuv -n 1 -hw -vaapi -w 1280 -h 720 -device /dev/dri/renderD128 -q 96 -o se_1280x720_q96.jpeg &> log.txt; echo Quality 96; ffmpeg -pix_fmt yuv420p -s:v 1280x720 -i input.yuv -i se_1280x720_q96.jpeg      -frames:v 1 -lavfi psnr=stats_file=psnr_logfile.txt -f null - 2>&1 |

[2021-03-17 16:14] linkmauve commented on #1152
I just did, and here are my observations:
- this `sample_encode` tool seems to prefer y4m files to yuv, here is its log output when I give it a raw yuv file:

[2021-03-17 23:05] smp79 commented on #804
No one at Intel seem to give a shit.
At least on GLK we can use a legacy i965 driver. No such luck with TGL.

[2021-03-18 02:02] #1158 closed

[2021-03-18 02:03] troy818 commented on #1158
Thanks！

[2021-03-18 02:04] XinfengZhang commented on #804
hi @smp79  why the BUILD_KERNELS=OFF? , it means there are no kernel(shaders) support, it will impact VPP capability . I suggest all of these should set to be ON

[2021-03-18 02:06] XinfengZhang commented on #804
@Jister , why we still not merge #820? if the fix is not suitable, is there a better one?

[2021-03-18 02:09] yasij commented on #804
As I commented on #640 the reason I think MADI/MCDI was jerky for me with my video and this patch is because this driver reverses forward and backwards frames compared to the i965-va-driver and the client implementations (including FFMpeg). I found [this discussion](https://mailman.videolan.org/pipermail/vlc-devel/2017-July/114119.html) on the VLC mailing list which states that ""forward_refs" are

[2021-03-18 02:14] XinfengZhang commented on #804
@yasij , https://github.com/intel/libva/pull/426 , @Jister  should already change the implementation following the PR

[2021-03-18 02:21] Jister commented on #804
@XinfengZhang We need to change the behavior of media-driver, since there are some other application/users regarding backwork_refs as older frames, if we change such behavior directly, there will be some other compatibility issue.

[2021-03-18 02:44] yasij commented on #804
Looks like e6e7f90d reversed it, but that was reverted with eabb99f5.

The i965-va-driver regards forward_refs as older frames, and this driver has always advertised 0 max_forward_references and 0 max_backward_references so madi/mcdi don't actually work for them. On the driver where they do work, those clients are getting the wrong behavior. Why not match what the existing legacy driver is doing?

[2021-03-18 03:05] canyuedao commented on #1157
The other libva interface seem to be ok,  just when I call the vaPutSurface interface, my program crashes.
How is the problem occurs?
Is my environment configuration incorrect?

[2021-03-18 03:07] smp79 commented on #804
I use LibreELEC and the current default for LibreELEC is BUILD_KERNELS=OFF. [This PR](https://github.com/LibreELEC/LibreELEC.tv/pull/4771) will change it to BUILD_KERNELS=ON, probably as soon as deinterlacing issues are sorted out.

[2021-03-18 05:32] Jister commented on #804
Please try #1162 . In the meantime, I will check other application/framework's behavior, after all dependencies are clean, then we can merge the change.