[2021-03-18 06:34] canyuedao commented on #1157
Hi, @XinfengZhang
I have enable LIBVA_TRACE, and generate two files:

1. 1.142753.thd-0x00006fb5
[code]

2. 1.142751.thd-0x00006f9b
[code]

seems no error occurs?

[2021-03-18 08:38] canyuedao commented on #1157
I kown why it crashes:

[code]
the `createDrawable` func is NULL.
So how to solve this problem?  I am using `libva-2.10.0` and `intel-media-20.4.5`.

[2021-03-18 11:07] joojler commented on #1125
Hi Jexu, submitted an new PR with the modification of I915_EXEC_VCS2=6<<0.

[2021-03-18 14:01] smp79 commented on #804
MCDI now works! Tested on GLK with Kodi. Thank you!

[2021-03-18 15:48] haiyang1992 opened #1165 "Coffee Lake: iHD driver fails on Ubuntu 20.04"
I have a i3-8100T system running Proxmox and Ubuntu 20.04 as a headless VM. I have configured GPU passthrough.
Inside the Ubuntu VM:
[code]

[code]

[code]

I also have the latest intel-media-va-driver-non-free installed from the intel repo:
[code]

Running `vainfo` though, gives me the following error:
[code]

If I fall back on the i965 driver it seems to be working:
[code]

Attached is [strace.l

[2021-03-18 22:17] smp79 commented on #804
@yasij Do you still see the issue with PAFF video? I played your sample in Kodi with both iHD and i965 and I don't see any difference.

[2021-03-19 01:18] yasij commented on #804
Just tested #1162 on KBL with Kodi. MCDI is working well. I tested the PAFF recordings and other 1080i recordings and no issues.

[2021-03-19 03:18] canyuedao commented on #1157
@XinfengZhang  I tracked the prolem, here is the stack trace:
[code]

I find in `va_dri2.c` file, `VA_DRI2Connect` function:
[code]

It return `False` from here:
[code]

So I guess there is something wrong with my X setting.
How can I check where the problem is?

[2021-03-22 08:59] #1135 closed

[2021-03-24 15:33] karoldob commented on #771
Hi,
This is curious that Intel says "VP9 supported for gen 10" and it is not true for Linux.
Gen11 is not available on market, gen8 is quite old. It is very sad :(
I hope that priority of this task will increase sooner than later...

[2021-03-25 09:06] XinfengZhang commented on #1165
mos_gem_context_create call failed, @wyc55069407 could you help to take a look?

[2021-03-25 16:13] ivan-losev commented on #1152
Hmm, this is strange,
For sample encode, by default it expected I420/NV12 surface as input (type 0 and 1 in jpegenc)

Related to jpegenc, it's media-driver issue related to different quantization matrix scaling
jpegenc formula:
`(quantLuma.Qk[i] * quality)/100;`

media-driver formula (with round up):
`quantValue = ( ((uint32_t)(quantMatrix->m_quantTable[qMatrixCount].m_qm[i])) * quality + 50) / 10

[2021-03-26 06:09] XinfengZhang commented on #1108
I close the issue, because it already been fixed by https://github.com/intel/media-driver/commit/2ccc52ed0081f33d0b2a6f57e7d3b51eadb44270, any concern about it , you could re-open it

[2021-03-26 06:09] #1108 closed

[2021-03-26 06:13] XinfengZhang commented on #1165
and seems i965 has no DRM_IOCTL_I915_GEM_CONTEXT_CREATE call

[2021-03-26 06:36] XinfengZhang commented on #1131
from the log from https://github.com/intel/media-driver/files/6140169/va.log.zip ， it is a vpp issue.
[9824.030478][ctx       none]=========vaRenderPicture ret = VA_STATUS_SUCCESS, success (no error)
[9824.030479][ctx 0x40000000]==========va_TraceEndPicture
[9824.030480][ctx 0x40000000]	context = 0x40000000
[9824.030480][ctx 0x40000000]	render_targets = 0x00000008
[9824.030502][ctx       none]====

[2021-03-26 07:27] Jexu commented on #1151
it maybe kernel scheduling issue and have reported the issue to i915

[2021-03-29 06:03] Jexu commented on #1119
Hi @HeJunyan, by checking the driver, when there is no forward or backward reference, driver will set the reference index to be destination frame. That means driver can always get non-null reference. can you share the bitstream to me and i can double check that.

[2021-03-29 07:17] Jexu commented on #1124
@artlav
just checked your clip https://orbides.org/img/sml1.jpg
the chroma type for this jpeg file is yuv 444 which means you cannot just set the surface format to be RGB directly. media driver always creates the render surface by the bitstream chrome type. if you want to decode it into RGB format, you may need to use decode SFC for color converting

[2021-03-29 13:37] artlav commented on #1124
@Jexu
Problem is, most files work just fine, whether they are yuv 444, yuv 440 or anything. If this is unsupported, then i expect it to never work or give an error, if it's automatically converted then i expect it to always work. It's the inconsistency that is the problem.

[2021-03-30 00:38] DonCaliOni commented on #930
Hi, I have a QNAP TS-453D and I'm still having this damn issue!

[2021-03-30 00:41] DonCaliOni commented on #930
Hi, did you ever get this sorted? I have the same NAS and still experiencing the issue...

[2021-03-30 02:40] Jexu commented on #1124
will add the surface format check for invalid setting.

[2021-03-30 07:26] DOFfactory commented on #930
Here is a solution that works for Asustor (check YeJ's comment): https://emby.media/community/index.php?/topic/89948-hardware-encoding-issues-j4125/

Basically you have to delete/move the `iHD_drv_video.so` file from the libraries, and keep the `i965_drv_video.so` there. The hw with this driver seem to work.

[2021-03-30 07:30] jotacor commented on #930
That is a workaround, not a solution.
A solution would be the developers fixing the issue affecting ALL Gemini Lake Intel processors.

[2021-03-30 07:56] DOFfactory commented on #930
You are right, apologies for the bad wording, it is a workaround not a solution.

I would also welcome from @Xiaogang-Li (assigned intel dev) an update on progress...

[2021-03-30 08:27] Jexu commented on #1155
@rmkimathi
can you get the av1 bitstream from the .wbem file with ffmpeg:
    ffmpeg -i Stream3_AV1_720p_3.9mbps.webm -vcodec copy -an  av1.ivf
then try ffmpeg to decode the av1.ivf:
    ffmpeg -hwaccel vaapi -init_hw_device vaapi=hw:/dev/dri/renderD128 -hwaccel_flags allow_profile_mismatch -filter_hw_device hw -v verbose -i "av1.ivf" -pix_fmt yuv420p -f rawvideo -vsync passthrough  -vframes 100 -

[2021-03-30 11:32] mark-herbert42 commented on #1155
I have tried this 2 step operation. av1.ivf in mpv is still showing garbage. output.yuv I could not open - both vlc and mpv shows nothing

[2021-03-31 01:08] zcwang opened #1168 "GLK support in iHD driver (for cases: GST-vaapi suffers GPU hung when multi-sessions AVC transcoding)"
Hi All,
It needs iHD driver to support GLK in Linux due to internal issue **VIZ-16454** (GST-vaapi suffers GPU hung when multi-sessions AVC transcoding in i965 driver, no this issue in iHD driver). It confirmed i965 driver not be maintained and that there is no fixing plan further i965 for GLK). It relies on iHD driver in GLK now then file this issue for sighting.

I knew GLK is non-POR in iHD dri

[2021-03-31 08:58] mark-herbert42 commented on #1155
yes, tried it this way it works - but it is a must send video_size paramater to ffplay otherwise it aborts immediately same way as vlc or mpv.

[2021-03-31 09:36] rmkimathi commented on #1155
Yes, using your parameters produces a clean picture. I am wondering why it is not possible to get clean picture with mpv hwdec or with ffplay playing the sample files directly? (videos exported with libsvtav1 however do work) .... for example:

ffmpeg -v verbose -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -c:v av1 -i Stream3_AV1_720p_3.9mbps.webm -c:v rawvideo -c:a copy -f matroska - | ffpl

[2021-03-31 14:15] primeos opened #1169 "Version 21.1.3 fails to compile (error: 'IGFX_ALDERLAKE_P' was not declared in this scope)"
https://github.com/intel/media-driver/releases/tag/intel-media-21.1.3 fails to compile with:
[code]

The issue seems to be that the [latest gmmlib release](https://github.com/intel/gmmlib/releases/tag/intel-gmmlib-20.4.1) doesn't contain https://github.com/intel/gmmlib/commit/aae48c9ca03804d3dc3b9be1b7ad2122181fe61d. I assume this is not intended (/ that it should be possible to compile `media-dri

[2021-04-01 11:46] primeos commented on #1169
There's a new `gmmlib` release now: https://github.com/intel/gmmlib/releases/tag/intel-gmmlib-21.1.1

[2021-04-01 11:46] #1169 closed

[2021-04-01 12:35] heitbaum opened #1170 "Compile failed with 21.1.3"
See logs: http://paste.ubuntu.com/p/BpxqPsHDkv/

build with 21.1.2 was fine.

../media_driver/linux/gen12/ddi/media_libva_caps_g12.cpp:2542:47: error: 'IGFX_ALDERLAKE_P' was not declared in this scope; did you mean 'IGFX_ALDERLAKE_S'?
 2542 |     RegisterCaps<MediaLibvaCapsG12>((uint32_t)IGFX_ALDERLAKE_P);
      |                                               ^~~~~~~~~~~~~~~~
      |

[2021-04-01 12:39] XinfengZhang commented on #1170
have you updated gmmlib? the definition is from latest gmmlib

[2021-04-01 12:43] heitbaum commented on #1170
Closing my own ticket.
Gmmlib 21.1.1 required for media-driver 21.1.3 (was not required for 21.1.2j

[2021-04-01 12:43] #1170 closed

[2021-04-01 22:47] egorovdanil opened #1171 "HEVCe FEI returns 0 QP"
Reproduce Steps:

1. sample_hevc_fei -i test_stream_176x96.yuv -o 001.hevc -n 100 -w 176 -h 96 -qp 24 -g 1 -encode -EncodedOrder
2. hevc_fei_extractor 001.hevc -multi_pak_str 001.multipak
3. asg-hevc -generate -gen_repack_ctrl -n 100 -w 176 -h 96 -g 1 -repack_ctrl_file 001.repakctrl -repack_str_file 001.multipak -InitialQP 24 -DeltaQP 1 1 2 2 3 3 4 4
4. sample_hevc_fei -i test_stream_176x96.yuv -o

[2021-04-01 23:59] smp79 opened #1172 "VP9 10-bit videos unplayable on GLK"
[Sample video 1](https://mega.nz/file/hJdFEIBI#uSOjZtkkjIVYSfqD9aSfONf1yq__uQvlsf47pCtFvdQ)
[Sample video 2](https://mega.nz/#!pQEGgRwY!pD9whIlM-U9tJIA-LojxSt582BAZGfdSA5wAQLT06I4)

Both of those samples play fine with intel-vaapi-driver but not with media-driver.

Tested on J4105, Kodi 19, LibreELEC.

[2021-04-03 14:20] XinfengZhang commented on #1171
suppose the issue is caused by https://github.com/intel/media-driver/commit/b5e5aedd27ecdd71e9f4b03b784ee0bf85126a73?
could you help to have a check?

[2021-04-04 07:02] haiyang1992 commented on #1165
I wonder if the following log from dmesg helps

[code]

[2021-04-04 12:20] marmistrz opened #1173 "Baseline (66) profile is not supported, even though Main and High are"
I'm running Arch Linux, Intel Media Driver 21.1.2-1. My hardware is Intel i5-8265U. The supported VA profiles are:

[code]
In particular, Baseline support is missing.

Some mobile devices are using the Baseline AVC profile to encode the videos, for instance the default LineageOS camera. Consequently, decoding of such videos cannot be hardware accelerated. Since Baseline should be a subset of Main

[2021-04-04 15:56] haiyang1992 commented on #1165
It's working. I turned on the `video=efifb:off` option in GRUB on the host OS. Closing this now.

[2021-04-04 15:56] #1165 closed

[2021-04-05 11:15] egorovdanil commented on #1171
@XinfengZhang, you are right, issue is reproducible since `b5e5aed`.

[2021-04-06 06:57] wangyan-intel commented on #1172
@Jexu Could you please take a look? Thanks.

[2021-04-06 07:08] Jexu commented on #1155
it is app behavior of how to play the yuv file which is not related to media driver.  regarding ffplay has video_size paramater, i think picture size is required

[2021-04-06 07:25] rmkimathi commented on #1155
@Jexu

I have sent same bug report to @mpv-player As for @ffmpeg don't know how to file their bugs. Kindly assist if possible to keep @ffmpeg and @mpv-player in the loop for a possible diagnosis and fix. Thanks

[2021-04-06 08:15] Jexu commented on #1172
@smp79
sorry i cannot access to above video, can you share it to me.
by the way, what app do you use or how do you play the video?

[2021-04-06 12:37] smp79 commented on #1172
https://www.dropbox.com/s/8xwgxdyo60um9xf/The%20World%20in%20HDR.mkv?dl=1

I use Kodi to play it.

[2021-04-07 04:59] Jexu commented on #1172
can you try ffmpeg with bellow cmdline:
    ffmpeg -hwaccel vaapi -init_hw_device vaapi=hw:/dev/dri/renderD128 -hwaccel_flags allow_profile_mismatch -filter_hw_device hw -v verbose -i "**glk-vp9-not-work.mkv**" -pix_fmt yuv420p -f rawvideo -vsync passthrough -vframes 10 -y output.yuv

ffmpeg can decode above video on my GLK machine with media-driver. and can you also help confirm if Kodi really su

[2021-04-07 05:41] Jexu commented on #1125
@joojler
can you close this #1126 since you have sent new one #1164
and we will help merge the later one

[2021-04-07 14:38] smp79 commented on #1172
[code]

Yes, Kodi really supports iHD driver. All supported formats are HW-decoded. The issue is only with VP9 10-bit (VP9 8-bit works fine).

[2021-04-07 22:21] dbermond opened #1174 "Build failure"
I'm getting the following build error on the git master branch (currently at commit 95d413e519a980f6a7178880ccbfedace092316c):

[code]

A git bisect shows that this is caused by commit f7927753c5999861d42def7839ea5ed819d55199.

System information:

- OS: Arch Linux x86_64
- Compiler: gcc 10.2.0
- gmmlib: git master
- libva: git master

[2021-04-08 00:58] zcwang opened #1175 "vaPutSurface: Suffer GPU hung in VEBOX when AVC decoding and moving window of vaapisink"
Because of internal issue **VIZ-16502** then crease new one for sighting it easily in media-driver.

For SKL/CFL/CML platforms, it suffers GUP hung in VEBOX when moving and resizing a window which is showing a video to some specified positions and sizes, kernel's log show GPU hang. It only happens with iHD driver. There is no issue in i965. Please kindly help to check it.

[code]

1. Launch 1 chan

[2021-04-08 00:59] zcwang commented on #1175
[CML-kernel-03252021.log](https://github.com/intel/media-driver/files/6275274/CML-kernel-03252021.log)

[2021-04-08 02:09] Jexu commented on #1172
media-driver supports vp9 10bit decode, and ffmpeg decoding with iHD looks good on your machine as well.
the error seems come from Kodi, can you report issue to Kodi.

you can also enable libva trace to get trace log in media-driver by bellow steps:

enable libva tracing with (substitute with the real user, please):

mkdir /home/<user>/trace
echo "LIBVA_TRACE=/home/<user>/trace/file" | sudo tee /e

[2021-04-08 08:47] XinfengZhang commented on #1174
assigned to @Jister

[2021-04-08 13:56] ivan-losev commented on #1152
Hi @linkmauve,
Sorry for delay, we expect that commit will be merged till the end of the next week (16 Apr 2021)

[2021-04-08 14:38] XinfengZhang commented on #1152
thanks @ivan-losev , please add "fixes" keyword in your commit , or link the issue with your commit , thanks

[2021-04-08 15:54] linkmauve commented on #1152
Thanks! I’ll test that once it gets merged!

[2021-04-08 17:25] T4cC0re commented on #925
Adding a few more observations.

This is reliably reproducible with the following parsec host settings:
- Resolution: 1920x1080
- Refresh rate: 144Hz
- Constant FPS: yes (this will stress the encoder/decoder to always process 144 frames, rather than on demand)
- H264
- play video and/or quickly move a window with lots of content

OS: `Ubuntu 20.04.2 LTS x86_64`
Kernel: `5.4.0-71-generic`
CPU: `Int

[2021-04-09 01:53] wangyan-intel commented on #925
@Jexu Could you please take a look? Thanks.

[2021-04-09 15:26] satmandu opened #1177 "vainfo only shows profiles when using sudo"
[code]
[code]
The user appears to be in the appropriate groups:
[code]

[2021-04-09 20:38] satmandu commented on #1177
Curiously running this as a regular user works:
[code]

[2021-04-09 20:57] satmandu commented on #1177
Seems like this could be related to https://github.com/intel/libva/issues/221

[2021-04-11 08:44] mark-herbert42 commented on #1155
New ffmpeg 4.4 released enabling hardware av1 by default. Now mpv works as it worked - terrible artifacts all over. Vlc also started to use the hardware - and with vlc it much worse. it starts with normal picture sometimes - but it lasts couple of seconds. Then it hangs - absolutely deadly , so even  kill -9 can not remove it, only hard reset.  In that test of YUV conversion that was thr reason to

[2021-04-12 08:03] zhangyuankun-star opened #1178 "[ffmpeg-vaapi][regression]one commit of media-driver will cause ffmpeg-vaapi jpeg encode fail"
the commit c25a2915b66faf3481af3888f413ab2891e9a021 in media-driver will cause ffmpeg-vaapi jpeg encode fail.
**cmd-line**
ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v verbose -f rawvideo -pix_fmt yuv420p -s:v ${width}x${height} -i input.yuv -vf 'format=nv12,hwupload' -c:v mjpeg_vaapi -global_quality 10 -vframes 10 -f null -
**error log**:
[LIBVA]:CRITICAL - RenderPicture:207: not su

[2021-04-12 09:33] FocusLuo commented on #1178
Comment: this media-driver commit info is c25a2915b66f

[2021-04-12 20:02] uartie commented on #1178
This also breaks ffmpeg-qsv JPEGe.

[2021-04-13 06:13] XinfengZhang commented on #1178
@ivan-losev is working on this issue.

[2021-04-13 20:05] uartie commented on #1178
Nevermind.  The ffmpeg-qsv JPEGe regression was caused by ffmpeg commit that landed after this driver regression ( https://trac.ffmpeg.org/ticket/9186).

With ffmpeg fixed again, only ffmpeg-vaapi JPEGe appears to be regressed by this driver commit.

[2021-04-14 02:04] Jexu commented on #1155
since the av1 bistream is wrapped by .webm and app needs to do demux firstly. the av1 bitstream itself can be decoded by ffmpeg hw. so can we conclude it is app issue?

[2021-04-14 02:49] Jexu commented on #695
the issue looks gone on latest media-driver, pls help confirm that, then we can close this issue.

[2021-04-14 02:57] uartie commented on #1178
It doesn't hurt to just revert the commit, immediately, until a proper solution can be provided.  You never know how long a rework can take.  So reverting is the best course of immediate action for regressions, IMO, so your not forcing everyone/everything to workaround it in their daily workflow.

[2021-04-14 03:45] rmkimathi commented on #1155
@Jexu

According to:

`sudo intel_gpu_top`

You must specify `-c:v av1` before -i "av1.ivf" otherwise the decoding is done in software libdav1d in my case.

So the parameters that seem to go through hw are (the resultant output.yuv picture will be corrupted):

`ffmpeg -hwaccel vaapi -init_hw_device vaapi=hw:/dev/dri/renderD128 -hwaccel_flags allow_profile_mismatch -filter_hw_device hw -v verbose -

[2021-04-14 10:15] rmkimathi commented on #1155
## Update

### With "-c:v av1"
(av1 (native) -> rawvideo (native))

[code]

### Without "-c:v av1"
(av1 (libdav1d) -> rawvideo (native))

[code]

[2021-04-14 13:44] yskuridi opened #1179 "h265 encoding with intra refresh failed due to GPU hang (SKL)"
platform GEN 9
MediaSDK 77f673853c23a91241
Driver: Intel iHD driver for Intel(R) Gen Graphics - 21.1.3-6097 (e5b8ffd)

command line:
`sample_encode h265 -i 1920x1080.yuv -o sample_output.265 -ir_type 1 -ir_cycle_size 4 -ir_qp_delta -20 -ir_cycle_dist 20 -w 1920 -h 1080 -r 1`

`./mfx_transcoder h265 -i 1920x1072_250.yuv -o output.265 -w 1920 -h 1072 -f 25 -b 600000 -u 4 -hw -d3d -s 0 -async 1 -asyn

[2021-04-15 09:34] chao-camect commented on #1080
I got similar crashes on a i7-1165G7, with 21.1.3 on kernel 5.11.10
<pre>
#0  0x00007f64a747af8f in mos_add_reloc_objects (reloc_target=...) at media-driver/media_driver/linux/common/os/i915/mos_bufmgr.c:596
#1  0x00007f64a7481dd1 in mos_gem_bo_process_reloc2 (bo=0x1e8fdc20) at media-driver/media_driver/linux/common/os/i915/mos_bufmgr.c:2543
#2  do_exec2 (bo=bo@entry=0x1e8fdc20, used=32768, ctx=0x

[2021-04-16 06:09] djie1 opened #1181 "List for supported format for encoding requires update"
1. In the documentation, for example, https://github.com/intel/media-driver/blob/master/docs/media_features.md#hardware-encoding-low-power-encodingvdenchuc, the supported format list does not comply with that in the code: https://github.com/intel/media-driver/blob/master/media_driver/linux/gen12/ddi/media_libva_caps_g12.h#L52 . For example, RGB32 is not listed in the documentation.
2. on Gen12, fo

[2021-04-16 08:55] FurongZhang commented on #1132
https://github.com/intel/media-driver/pull/1182 fixed the crash.

BTW, Intel-media-va-driver-non-free build contains full feature. Intel-media-va-driver doesn’t support VP shaders in Gen9 platform.

[2021-04-16 10:28] dmitryermilov commented on #1132
Yes, Carl.

[2021-04-16 14:27] T4cC0re commented on #925
Since it seems that iHD has become the default driver in recent distributions (mine above is Ubuntu 20.04 on one machine) is there something you can communicate in terms of what priority this is for you?

While manually specifying a different driver is a viable workaround, I would much prefer if this would be looked at 😃

I only found this issue by accident and having this weird slowdown behavior

[2021-04-16 15:11] FurongZhang commented on #1143
I have fixed that and already provided the patch to the bug submitter. Will provide the commit ID in this link.

[2021-04-16 15:24] softworkz commented on #1143
Yup, that was me (different account). I've seen that you've been frequently pushing changes since then, that's why we haven't rolled out the patch yet.

Please let me know once it is committed or PRed.
Did you already submit the dependency changes to libva?

[2021-04-18 05:06] XinfengZhang commented on #1178
@hanlong1 lets revert the commit firstly, after @ivan-losev's change, we could merge it again. thanks

[2021-04-19 18:10] uartie opened #1183 "[regression] gst-vaapi JPEG encode failure"
Since:
[code]

Previously, similar commit c25a2915b66f broke ffmpeg-vaapi as reported in #1178.  The ffmpeg-vaapi regression was fixed with e0c41c11711e rework.  However, now **gstreamer-vaapi** JPEG encode fails with e0c41c11711e.

[code]

[2021-04-19 18:10] uartie commented on #1178
Reverted in eab77ad484cb.  Reworked in e0c41c11711e.  The rework does not regress ffmpeg-vaapi.  However, now gstreamer-vaapi is broken as reported in #1183

[2021-04-20 00:07] FurongZhang commented on #1143
It is committed.

Libva commit ID: 89f9f7673737ed2c425d6adad016f7cd35cd319a

[2021-04-20 00:08] FurongZhang commented on #1143
Media Driver Commit ID: b7bc4bd99d4b5cac721721e1cbb6bf82e1a37b48

[2021-04-20 00:09] FurongZhang commented on #1143
Basically, please use the latest libva and driver.

I will close this issue, Please let me know if you have other issues.

[2021-04-20 00:12] #1143 closed

[2021-04-20 00:14] softworkz commented on #1143
Thank you very much for taking care of this!

[2021-04-20 00:15] softworkz commented on #1143
BTW: Does this also fix https://github.com/intel/media-driver/issues/861?

[2021-04-20 00:27] softworkz commented on #1143
We haven't had a user report about ICL yet. There was one about Comet Lake recently, but in that case, tonemap_vaapi didn't work at all (rather than just showing wrong colors).

I'm not sure whether it should work on Comet Lake or not, but VAAPI indicated that tone mapping would be supported (via `VAProcFilterHighDynamicRangeToneMapping`), so that might be the same as #861, but I'm not sure.

[2021-04-20 07:20] FurongZhang commented on #1175
WIP.

[2021-04-20 07:25] XinfengZhang commented on #1174
the change was reverted by 1f91096ea0fb4971f25998ad96d969be31fc50ac, but we still need to check why there are build issue.
from the message, it should related with the mock function.  if it could not be reproduced on ubuntu. it suppose because  some option prevent the call from libdrm_mock.so to the function in iHD. maybe we should add mos_vma.h & mos_vma.c to be a part of libdrm_mock.so

[2021-04-20 07:44] Jister commented on #1174
@dbermond Could you help try #1185? Thanks

[2021-04-20 11:07] dbermond commented on #1174
Thank you for dedicating time to this issue.

@Jister Applying #1185 causes CMake to fail for me:

[code]

Now the clear master branch is building fine for me. Probably because the commit that caused the issue was reverted as mentioned by @XinfengZhang .

[2021-04-20 14:06] Jister commented on #1174
@dbermond Could you help rebase to previous commit? Or just using the latest PR of #1185 to have a try to see whether the build issue fixed or not. Thanks.

[2021-04-20 14:47] TheGamer1002 commented on #1131
Any update? I've also been having issues with this error.

[2021-04-21 02:07] XinfengZhang commented on #1174
@dbermond , yes, we reverted it , but I suppose we will re-checkin the change in future, this commit is used to enable softpin , it is important because i915 will deprecate relocation support in future. it's why @Jister  ask your help to check whether the issue could be fixed basing on previous commit. you also could use "git fetch origin pull/1185/head:localbranch" to fetch the code of #1185 dire

[2021-04-21 02:27] XinfengZhang commented on #1131
hi @TheGamer1002 you also have another NV card on your machine, also have two issues, 1. get deviceID faild, get chip id failed: -1 [22] (suppose it is because the device is not opened correct) 2. vaEncPicutre failed on the context with id 0x400000xx? the highest bit could be used to check the context type: https://github.com/intel/media-driver/blob/master/media_driver/linux/common/ddi/media_libva

[2021-04-21 11:09] dbermond commented on #1174
#1185 now works fine for me after the latest changes made on it by @Jister . Builds fine, thank you.

[2021-04-21 12:51] Jister commented on #1174
@dbermond Thank you very much for your verification!

[2021-04-21 15:25] uartie commented on #1183
Reverted in 034dfd7

[2021-04-25 02:00] zeddgb commented on #804
Very pleased to see there is a fix. What are the chances it will make it into the next release?

[2021-04-25 08:05] XinfengZhang commented on #1174
thanks @dbermond , could we close the issue now, suppose there will be no such issue when we merge the code in future.

[2021-04-25 20:48] dbermond commented on #1174
@XinfengZhang Sure. If something happens after the merge I can reopen.

Thanks to everyone that dedicated time to this issue.

Closing.

[2021-04-25 20:48] #1174 closed

[2021-04-26 01:46] ljia5 commented on #1148
The issue should be caused by Vebox only for this NV12 to YUY2 case. The left and top of the rcDst are (0, 0) for Vebox only. The latest build already switch to Vebox+SFC and fixed this issue.

[2021-04-26 02:00] FurongZhang commented on #1143
I got it, will continue to check #861 as you mentioned.

CML should be working per the design. #861 should be a different issue. Anyway, will check that.

[2021-04-26 02:17] FurongZhang commented on #471
I have requested shader folks to submit a PR to fix this warning.

[2021-04-26 06:42] FurongZhang commented on #1148
Thanks @ljia5 for the fix.

[2021-04-26 06:45] FurongZhang commented on #1148
@ljia5 , is it possible for you to post the commit ID?

[2021-04-26 06:45] #1148 closed

[2021-04-26 20:42] smp79 commented on #1172
It does seem to be a Kodi issue. Sorry for the noise.

[2021-04-26 20:42] #1172 closed

[2021-04-27 02:43] xcj123 opened #1188 "!!! compile failed ,media-driver-intel-media-21.1.3【centos7,gcc (GCC) 8.3.1 20190311 (Red Hat 8.3.1-3)】!!!,"
HI：
i'm getting the following build error ,[media-driver-intel-media-21.1.3]
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
[root@localhost build]# make
[  2%] Built target igfxcmrt
[  2%] Built target iHD_drv_video_SSE4
[  6%] Built target igfx_gmmumd_dll
[  6%] Building CXX object media_driver/CMakeFiles/iHD_drv

[2021-04-28 02:25] dvrogozh commented on #1188
https://github.com/intel/media-driver/blob/cf7085734994dcb0e5cb982d81adac938022a16b/cmrtlib/linux/CMakeLists.txt#L36
https://github.com/intel/media-driver/blob/cf7085734994dcb0e5cb982d81adac938022a16b/cmrtlib/linux/CMakeLists.txt#L37

Are you building on 32-bit or 64-bit?

[2021-04-28 19:53] artlav opened #1189 "H264 encoding crashes in vaEndPicture, since 21.x.x"
H264 encoding crashes in vaEndPicture, since 21.x.x or thereabout.

Tested on:

    i5-6260U (Iris Graphics 540)
    m5-6Y54 (HD Graphics 515)

Version 20.4.5 works fine, version 21.1.3 crashes, all else being the same.

Reproduction:

Run h264encode from libva-utils.

On 20.4.5 it would work fine.

On 21.1.3 it would segfault after printing "Loading data into surface 15.....Complete surface loadi

[2021-04-28 20:43] angryziber opened #1190 "Corrupted HEVC encoded files on Tiger Lake"
Ubuntu 21.04
intel-media-va-driver-non-free 21.1.1+ds1-1
ffmpeg         7:4.3.2-0+deb11u1ubuntu1
CPU: 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz
Laptop: Asus Zenbook UX393E

When encoding a video to HEVC with ffmpeg & vaapi, no errors are given, but the output is corrupted (screenshot below).
VP9 and H264 files are encoded fine.

[code]

output:

[code]

[2021-04-28 20:44] angryziber commented on #1190
mpv screenshot when playing back output file:
![Screenshot from 2021-04-28 23-42-50](https://user-images.githubusercontent.com/882016/116470023-8d4cda80-a87b-11eb-99ac-367c041acf3d.png)

[2021-04-28 20:54] angryziber commented on #1190
Just in case lspci -x:
[code]

[2021-04-29 08:05] ljia5 commented on #1148
Only checked the output path wrong with the produce version. The latest build use Vebox+SFC(fixed the issue). Maybe need to locate the commit ID.

[2021-05-04 09:36] andreyv1978 opened #1191 "[BRX/APL] Very Slow frame fetch from the GPU to CPU"
Hi

I hope this is a right place to ask about the issue I have with Apollo Lake customized platform
We are using Gstreamer 1.18.4 with VAAPI to decoder 1080p stream. The decoder is working in rate 1080p@30fps with no ptoblem. However, we need to copy the decoded NV12 frame from the GPU into the CPU (we have our dedicated DMA to make all required further transfers). The problem is the VAAPI provide

[2021-05-06 07:12] rmkimathi commented on #1155
I reported this AV1 bug way back in March 2021 hoping for a fix in time for AV1 VAAPI integration into KODI XBMC ..... is there someone who is able to reach out to @ffmpeg or @intel directly? @a1rwulf you may have to raise a new issue as this one seems to have been ignored.

[2021-05-06 07:27] a1rwulf commented on #1155
@Jexu mentioned ffplay can render correctly. I'll give it a shot and see if I can find the difference.

[2021-05-06 07:32] rmkimathi commented on #1155
AV1 hardware only available on (av1 (native) -> rawvideo (native)). .... You must specify -c:v av1 before ffplay input

[2021-05-07 02:57] Jexu commented on #1125
@XinfengZhang can you close this issue since the PR is merged.

[2021-05-07 02:58] #1125 closed

[2021-05-07 09:07] #1188 closed

[2021-05-08 23:45] artlav opened #1193 "JPEG decoding changes the image contrast and/or lacks minor details"
Tried on:

    i5-6260U (Iris Graphics 540)
    m5-6Y54 (HD Graphics 515)
    i3-10110U (UHD Graphics)

Not sure if it's an issue or a limitation on the decoding.

Take loadjpeg form libva-utils, run it on any file with high contrast and/or fine details, compare to software decoding.

What is expected: https://orbides.org/img/ref.png

What is produced: https://orbides.org/img/res.png

JPG file par

[2021-05-10 02:17] wangyan-intel commented on #1193
@Jexu Could you please take a look? Thanks.

[2021-05-10 02:23] XinfengZhang commented on #1193
hi @artlav  I suppose it is not related with JPEG decoding itself. as you know, there are different format jpeg. the format of jpeg and output surface maybe is different. so maybe sometime there are a VPP followed
for example:  the jpeg is 444 or 422Y/422H, but application create a NV12 surface for the output. then a internal color format conversion was called. some details left.
so, could you hel

[2021-05-10 02:58] XinfengZhang commented on #1193
of course, it also maybe related with Qmatrix (value and layout) , so, still need reproducer :)

[2021-05-10 07:18] a1rwulf opened #1194 "AV1 hw decoding artifacts when using VAAPI surface"
media-driver: bec8e1382637589bc3f302edf6c866bec3d754dd
libva: fb31fe67f303dbbca15a8aff060ff609895406c2
ffmpeg: 4.4

I tried to implement AV1 hw decoding in Kodi, but I suffer from similar problems reported here: https://github.com/intel/media-driver/issues/1155

I read the other ticket and ffplay seems to work when used in conjunction with the sw pix format `-pix_fmt yuv420p` however we want to us

[2021-05-10 11:35] artlav commented on #1193
Problem is, EVERY jpg file is off like that, which is what makes me wonder if there is something wrong with loadjpeg form libva-utils. It does create the output surface to match the input file.

Samples:
420: https://orbides.org/img/420.jpg

422V: https://orbides.org/img/422.jpg

444: https://orbides.org/img/444.jpg

All decode to: https://orbides.org/img/bad.png

Should look like: https://orbides

[2021-05-11 05:24] Jexu commented on #695
hi @XinfengZhang , can you help close this issue since it has no update for a long time.
above commit causes failure to free surface, but i don't see the issue in latest driver. i suspect the issue has been fixed somewhere.

[2021-05-13 02:37] Nicki-fu opened #1195 "Mosaic in the background if the rendered picture is smaller than output VASurface size"
Hi,
I meet an issue that There is Mosaic in the background if the rendered picture is scaled smaller than the output VASurface size when using EU for scaling engine.
I verified on the latest master branch of Media-driver, libva, libva-utils, gmmlib, it also exists this issue.

**How to reproduce:**
**Step 1.** Download Media-driver, libva, libva-utils, gmmlib from github and checkout to latest mas

[2021-05-13 04:37] Jexu commented on #1155
@rmkimathi
jsut double confirm again. the decode really uses hw decode even without param '-c:v av1', if you are interested in that, you can just debug into media driver to see it. or you can also enable libva trace to confirm it.

so, without param '-c:v av1', the output yuv does be correct, and i am not sure of this input param in ffmpeg, but it maybe related ffmpeg itself.

[2021-05-13 05:03] rmkimathi commented on #1155
I think this can be closed. @1rwulf will follow up

[2021-05-13 05:10] Jexu commented on #1155
jsut confirmed again, ffmpeg really cannot decode correct this content, but i also tried with sample_decode, it can decode correct output yuv:
sample_decode av1 -i  av1.ivf -n 100  -hw -o out.yuv

[2021-05-13 05:17] Jexu commented on #1155
compared with sample_decode, ffmpeg seems send incorrect bitstream to media_driver, so can you help report issue to ffmpeg?

[2021-05-13 05:20] rmkimathi commented on #1155
I will let @1rwulf follow up with @ffmpeg. He has better connections. Thanks

[2021-05-13 11:58] a1rwulf commented on #1155
@Jexu can you be a bit more specific about the difference you found regarding the bitstream?

[2021-05-14 02:35] Jexu commented on #1155
@a1rwulf  i add the libva trace dump of 10 frames here for both ffmpeg and sample_decode. you can search the buffer type of 'VASliceDataBufferType' to check the bitstream data.

[ffmpeg_trace.txt](https://github.com/intel/media-driver/files/6476152/ffmpeg_trace.txt)
[sample_decode_trace.txt](https://github.com/intel/media-driver/files/6476153/sample_decode_trace.txt)

[2021-05-14 07:29] XinfengZhang commented on #1155
hi @Jexu @rmkimathi  for multiple tile cases, seems ffmpeg need a patch https://github.com/intel-media-ci/ffmpeg/pull/403

[2021-05-14 07:38] Jexu commented on #1155
@XinfengZhang @a1rwulf  By applying above patch, the ffmepg can also decode the clip correctly now.  with above patch, ffmpeg can send correct size of bitstream to driver.

[2021-05-14 07:42] XinfengZhang commented on #1194
hi @a1rwulf , #1155 already been rootcaused. there is a patch with ffmpeg

[2021-05-14 07:42] #695 closed

[2021-05-14 08:12] a1rwulf commented on #1155
@XinfengZhang @Jexu  I've compiled https://github.com/intel-media-ci/ffmpeg/pull/403 and there's a major improvement to notice, however I still see artifacts.
They disappear every few seconds and reappear afterwards.
Looks a bit like IDR-Frames reset the image and it starts to artifact on reference frames then next IDR-Frame will correct the picture again.

[2021-05-14 08:13] a1rwulf commented on #1194
@XinfengZhang let's close this ticket and continue in #1155 as it's obviously the same issue and seems we are close to have a working patch.

[2021-05-14 08:13] #1194 closed

[2021-05-14 16:54] rmkimathi commented on #1155
Well Done!

Patched ffmpeg-git with your fix and success! mpv hwdec vaapi av1 is now working.
[code]

![av1](https://user-images.githubusercontent.com/13484308/118302930-84037500-b4ed-11eb-819e-9b4175037fbf.png)

[2021-05-15 12:42] a1rwulf commented on #1155
@mark-herbert42 @rmkimathi I'm trying to verify using mpv as well as I don't see the issue solved when using kodi.
However my mpv doesn't work at all and always falls back to sw decoding.
Can you share your exact configuration and/or a full log of mpv's output?

[2021-05-15 12:58] rmkimathi commented on #1155
Ubuntu 21.04 Wayland, Linux 5.11.0-18-generic
mpv 0.33.0-153-gded36a4470 with FFmpeg version: N-102544-gc9a79532e5 (compiled with mpv-build script)

### I compiled and installed everything git for intel-media-va-driver-non-free
gmmlib
libva
libva-utils
media-driver

[code]
### mpv short log
[code]

### mpv verbose log
[code]

[2021-05-15 13:14] rmkimathi commented on #1155
### ffplay pipe

`
ffmpeg -v verbose -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -c:v av1 -i Stream3_AV1_720p_3.9mbps.webm -c:v rawvideo -c:a copy -f matroska - | ffplay -x 1280 -y 720 -i -
`

### ffmpeg log

[code]

[2021-05-15 13:38] a1rwulf commented on #1155
Alright, I can also confirm that the patch works fine in mpv/kodi.

[2021-05-17 01:29] XinfengZhang commented on #1191
hi @andreyv1978 ,sorry for late response, , it should because of the map vs map_gtt.  for apollo Lake we are using map_gtt which will enable HW tile-detile conversion. but it will be slow for read, because map_gtt is for write operation. so "write" is faster than "read".  if you want to tile unmap the surface directly.

if you want to modify the code by yourself, you could refer #646 , it is used

[2021-05-17 08:32] andreyv1978 commented on #1191
Hi

Thank you for the support
I can confirm rolling back all the changes where the mapping uses gtt to standard map makes the read from the memory fast
It requires to write the code to untile the frame, but I had this code already
So closing this issue

[2021-05-17 08:32] #1191 closed

[2021-05-17 13:19] XinfengZhang commented on #1189
I debugged it, it is not a regression.
1. application should set the reference in slice parameter to be INVALID
2. driver should add some check statement to avoid crash.

backtrace:
#0  0x00007ffff2148e96 in CodecHalSetRcsSurfaceState (hwInterface=0x55555586f190,
    cmdBuffer=0x7fffffffcfa0, surfaceCodecParams=0x7fffffffcc60, kernelState=0x555555882f48)
    at /home/intel/carl/open_driver/media-d

[2021-05-17 13:20] #1183 closed

[2021-05-17 13:25] XinfengZhang commented on #1181
will update the document , thanks @djie1

[2021-05-17 23:16] artlav commented on #1189
Could you clarify what should be changed on application side?

I tried initializing RefPicList0 and RefPicList1 in render_slice
[code]

And that did solve the crash on the first call of vaEndPicture, but then the next frame still crashes it.

After that i tried to also initialize ReferenceFrames[16], RefPicList0_P[32], RefPicList0_B[32], RefPicList1_B[32] the same way at the start, and that worked

[2021-05-22 06:24] widon1104 opened #1198 "video screen become black after I stop the video"
I use chrome 90.0.4430.212 for linux. My cpu is i5 8350U hd620, after I use this driver I can use hardware accelerate now.
But when I play video in bilibili.com or ixigua.com, after I stop the video the video screen will become all black.
Sometimes I stop the video because I want to see the frame clearly I do not want the screen become black.

Thanks.

[2021-05-22 10:50] XinfengZhang commented on #1198
hi thanks for reporting, but I suppose it is not a decoder issue, it looks like a webrtc or browser  issue.  because media_driver just decode the pictures.

[2021-05-26 03:15] FurongZhang commented on #1175
I talked with @XinfengZhang  just now. He will double confirm since it is in DdiCodec_PutSurfaceLinuxHW.

[2021-06-02 21:49] sreerenjb opened #1200 "VP9 Encode performance(fps) drop while comparing with H264 & HEVC"
**Software stack:**
Kernel: 5.11.0-17
iHD: git master
GStreamer: git master

**Input:**
smpte stream
res: 720p
bitrate:2500kpps

**Encoder thoughput:**
vp9: ~150fps
h264: 500+
hevc: 600+

Test command for h264 enc:
gst-launch-1.0 -v videotestsrc num-buffers=10000 ! video/x-raw, format=NV12, width=720, height=1280, framerate=30/1 ! vaapihvp9enc rate-control=cbr bitrate=2500 tune=low-power ! fpsdisp

[2021-06-03 03:37] criusxu commented on #914
Is there any progress on this issue？
I  use this pipeline is ok on j3455 cpu.

gst-launch-1.0 vaapioverlay name=overlay min-upstream-latency=5000000000 \
 sink_0::xpos=0 sink_0::ypos=0  \
! vaapisink sync=false \
v4l2src  device=/dev/video0  ! "video/x-raw, width=1920, height=1080"  \
! vaapipostproc ! "video/x-raw(memory:VASurface),format=YV12,width=1920,height=1080" ! overlay.

but very slow use

[2021-06-03 04:47] #1175 closed

[2021-06-03 08:51] XinfengZhang commented on #1200
it is TGL, right?

[2021-06-03 08:52] XinfengZhang commented on #1198
hi @widon1104 , could we close it, if no other concern?

[2021-06-03 08:54] widon1104 commented on #1198
@XinfengZhang You can close this issue.

[2021-06-03 08:58] #1198 closed

[2021-06-03 12:14] jbolduc01 commented on #914
No progress. We dropped this platform…
Sorry

From: criusxu ***@***.***>
Sent: Wednesday, June 2, 2021 11:37 PM
To: intel/media-driver ***@***.***>
Cc: Jérôme Bolduc ***@***.***>; Mention ***@***.***>
Subject: Re: [intel/media-driver] [VP][Blend] APL VPP blend low framerate (#914)

Is there any progress on this issue？
I use this pipeline is ok on j3455 cpu.

gst-launch-1.0 vaapioverlay name=overla

[2021-06-03 13:00] criusxu commented on #914
why the data come from v4l2src is ok?  the data all is  memory:VASurface.
Can I fix this issue by myself?

[2021-06-03 13:25] FurongZhang commented on #914
Please try this PR https://github.com/intel/media-driver/pull/646

[2021-06-03 14:34] HeJunyan opened #1201 "[Encode] Fail to recognize the Mpeg2 HighP level IDC"
gst-launch-1.0 videotestsrc ! capsfilter caps=video/x-raw,format=NV12,width=1920,height=1080,framerate=60/1 ! vaapimpeg2enc ! fakesink

fails even with the patch
https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/-/merge_requests/432

The driver fails to recognize the HighP level's IDC 0x02 and return error.

https://www.itu.int/rec/T-REC-H.262/recommendation.asp?lang=en&parent=T-REC-H.262-2

[2021-06-03 22:12] criusxu commented on #914
It does not work for this issue.
What else can I try　？

[2021-06-04 02:47] zhangyuankun-star opened #1202 "[Quality regression][TGL]Hevc vbr encode cases' BDrate was decreased by one commit on TGL."
the commit 5988b2bd3280fc368e9c693f65032787d4dd309e will impact our quality test and sample_encode will also be affected.
for example:
sample_encode h265 -u $preset -b $bitrate -vbr **-extbrc:off** -x 5 -g 256 -NalHrdConformance:off -VuiNalHrdParameters:off -BufferSizeInKB $bufsize -n $nframes -i $input -w $width -h $height -f $framerate -gpucopy::on -hw -o ${prefix}_${mbps}Mbps_VBR_SENC.h265

[2021-06-04 04:42] xuguangxin commented on #1202
@XinfengZhang , this is an imporant quality regression. could you help check?
thanks

[2021-06-06 20:28] venzislav commented on #930
Please fix it https://github.com/Xiaogang-Li :)

[2021-06-07 02:45] FurongZhang commented on #1195
I rooted cause this issue. In DdiVp_SetProcPipelineParams, if Alpha !=0, driver will color Fill; otherwise, will not fill color. That is why you see corruption

[2021-06-07 02:47] FurongZhang commented on #1195
@Nicki-fu is communicating with customers. @Nicki-fu , any update?

[2021-06-07 02:49] FurongZhang commented on #1195
// Background Colorfill
    // According to libva  definition, if alpha in output background color is zero, then colorfill is not needed
    if ((pPipelineParam->output_background_color >> 24) != 0)
    {
        if (pVpHalRenderParams->pColorFillParams == nullptr)
        {
            pVpHalRenderParams->pColorFillParams = (PVPHAL_COLORFILL_PARAMS)MOS_AllocAndZeroMemory(sizeof(VPHAL_COLORFILL_PA

[2021-06-07 02:52] FurongZhang commented on #1138
We are checking this. Will update it when we root cause it.

[2021-06-07 02:53] FurongZhang commented on #1138
I have checked in the code.

[2021-06-07 03:10] HankWong-guangdong opened #1204 "About the media-driver-19.2.0 supporting platform"
Does the media-driver-19.2.0 support Tiger Lake?

[2021-06-07 03:28] Nicki-fu commented on #1195
The customer has checked that if set the alpha of background to 01 value(0x01000000) , the background is black but not transparent as expected, and the image under it can’t be seen at all.
Then we provided the customer another solution that to render all the videos' frame to a same picture at one VPP API time(Can see below example code to get more detail). This solution can resolve the customer’s

[2021-06-07 03:55] XinfengZhang commented on #1204
no, first release supporting TGL should be 19.4.0

[2021-06-07 04:06] HankWong-guangdong commented on #1204
Thank you very much!

[2021-06-07 06:00] #1204 closed

[2021-06-07 17:41] sreerenjb commented on #1200
It is TGL

[2021-06-09 14:05] XinfengZhang commented on #1201
from driver code https://github.com/intel/media-driver/blob/master/media_driver/agnostic/common/codec/hal/codechal_encode_mpeg2.cpp#L1699-L1720
it already checked 3 profiles and 4 levels, but new extension is added , 1080p@60, the level is highP, the value is 2. so need to add a new check. thanks for reporting.

[2021-06-09 14:12] HeJunyan commented on #1201
Yes, add the "level" seems only used for saint check, it does not change the encoding result.

[2021-06-10 10:36] SiewHoon commented on #1138
This issue still can reproduce with latest commit id from media-driver:
https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/-/issues/302
https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/-/issues/301

[2021-06-11 00:26] egorovdanil opened #1206 "[Regression] HEVC 10bit Encode have different R2R output stream size"
Platform: DG1
libva: 8803fc5363b635f950dc904e880a35f1c13eae88
MediaSDK: 31693415c3aa58dc826748990a59981cbaa9c6fa

Command line:
`sample_encode h265 -i 1080P_1920x1080.P010 -o output1.265 -p010 -w 1920 -h 1080 -b 5000 -lowpower:off -vaapi`

From run to run, the output stream size is different:
[code]
This issue starts from c383f7ef2d65f523b8b8c70a71c94a296541d5be and is reproduced on the current ma

[2021-06-13 08:00] XinfengZhang commented on #1206
looks r2r with VEbox copy, @Xiaogang-Li , could you help to take a look?

[2021-06-13 08:13] XinfengZhang commented on #1202
@nlu5 is checking it.

[2021-06-13 08:17] XinfengZhang commented on #1189
@artlav sorry for late response, suppose we could provide a PR in libva-utils or media_driver later.

[2021-06-13 08:19] XinfengZhang commented on #1178
#1183 also was closed by reverting the regression commit.

[2021-06-13 08:19] #1178 closed

[2021-06-13 08:23] XinfengZhang commented on #1177
the original issue should be caused by env variables, from the log you showed here:
libva info: **User environment variable requested driver 'i965'**
libva info: Trying to open /usr/local/lib64/dri/i965_drv_video.so
libva info: Found init function __vaDriverInit_1_10

but other command when it success, it is
**Trying to open /usr/local/lib64/dri/iHD_drv_video.so**

[2021-06-13 08:43] XinfengZhang commented on #1173
VAProfileH264Baseline is deprecated in libva by commit https://github.com/intel/libva/commit/6f69256f8ccc9a73c0b196ab77ac69ab1f4f33c2

VAProfileH264Baseline is special, it not a subset, I suppose what you are mentioning is constrained baseline profile. constrained baseline profile is subset of main, but baseline has additional feature than constrained baseline.

[2021-06-13 08:45] marmistrz commented on #1173
Hi, I'm precisely mentioning the baseline profile, which is the one being used by the default LineageOS camera.

[2021-06-13 08:49] XinfengZhang commented on #1171
suppose it already been fixed by 1f25be0a, could you help to check?

[2021-06-13 09:28] XinfengZhang commented on #1173
Constrained Baseline Profile bitstreams are also considered to be Baseline Profile bitstreams, the profileID is both 66, but "constraint_set1_flag " is set to be 1.

 I dont think the baseline profile is used now, because as I know, most of HW or SW does not support FMO...
at least, media-driver does not support it.

[2021-06-13 09:32] marmistrz commented on #1173
I raised an issue in the LineageOS bugtracker: https://gitlab.com/LineageOS/issues/android/-/issues/3616

[2021-06-13 12:11] XinfengZhang commented on #1200
@vvbuzove , please help to check this issue.

[2021-06-14 01:47] FurongZhang commented on #1132
I have fixed the crash. Will update the PR and further information.

[2021-06-14 01:56] FurongZhang commented on #1010
We have already had a plan to fix this issue. Will update it if any progress.

[2021-06-14 05:39] nlu5 commented on #1202
Comit has been reverted

[2021-06-15 02:17] Jexu commented on #1155
Hi @XinfengZhang
Please help close this issue while the fix has been merged.

[2021-06-15 05:34] a1rwulf commented on #1155
@Jexu that's right for 8bit non film grain content the fix has been merged and merged into upstream.
For 10bit film grain there is this open PR: https://github.com/intel-media-ci/ffmpeg/pull/412

[2021-06-16 06:22] FurongZhang commented on #1148
In our test, this issue has fixed in this commit: https://github.com/intel/media-driver/commit/205f76cca083c8feeaa20ee7052832de460c3cb6  (Apr.15)

Test cmd: $ ./sample_vpp -sw 1920 -sh 1080 -scc nv12 -dw 3840 -dh 2160 -dcc yuy2 -dcrX 1920 -dcrW 1920 -dcrH 1080 -i /home/james/video/1080p.nv12 -o test_sfc.yuy2 -n 1 -scaling_mode 1

[2021-06-16 20:12] sreerenjb commented on #1200
BTW, here is the MSDK results:
gst-launch-1.0 -v videotestsrc num-buffers=10000 ! video/x-raw, format=NV12, width=720, height=1280, framerate=30/1 ! msdkvp9enc rate-control=cbr bitrate=2500   ! fpsdisplaysink "video-sink=fakesink" text-overlay=false sync=false

fps ~185

So it doesn't seem to be a software-level issue.

[2021-06-17 09:00] XinfengZhang commented on #1200
@vvbuzove could you help to provide a sample app and command to sree, to check whether it is indeed a driver issue?

[2021-06-17 20:58] vvbuzove commented on #1200
@XinfengZhang the issue was reproduced using Media SDK tools. The team is looking into this further.

[2021-06-18 02:47] #1201 closed

[2021-06-18 04:46] #1189 closed

[2021-06-19 10:31] bkuhls opened #1209 "Segmentation fault using Kodi on rkl"
Hi,,

11th Gen Intel(R) Core(TM) i9-11900T
00:02.0 VGA compatible controller: Intel Corporation Device 4c8a (rev 04)
libdrm-2.4.106
libva-1.12.0
gmmlib-21.1.3
mesa3d-21.1.3
kernel 5.13-rc6 from current drm-tip tree https://cgit.freedesktop.org/drm-tip/tree/?id=3c00434f0d7ff138a7b56d5a901586d4473e10a7

using media-driver tree https://github.com/intel/media-driver/commits/08cbe4c102d1fe8ba1f5b699b1a

[2021-06-19 16:52] bkuhls commented on #1209
Vanilla kernel 5.13-rc6 does not cause segfaults, so the problem seems to be caused by patches from drm-tip

[2021-06-19 16:52] #1209 closed

[2021-06-20 21:51] YijinLiu commented on #1080
Did more investigation recently. Here are what I have found:

- The crash only happens if the decoded frames are freed in another thread with certain delay (like 1s).
- It only happems on broken stream. Cannot repro on saved footage, even if I drop the packets randomly.
Here is a [minimal program](https://drive.google.com/file/d/1qKYzycBHKnNpK5U0CQ_1oIRuYXaNSBUX/view?usp=sharing) to repro it.

Try

[2021-06-21 06:21] Jexu commented on #1080
@YijinLiu unfortunately i met some compiling issue with your minimal program, can you just share the binary to me?

[2021-06-21 06:34] YijinLiu commented on #1080
You can find it [here](https://drive.google.com/file/d/1EGr9yCo6l0a8aqGQUb4qkWsG6yTEFrLs/view?usp=sharing).
I am curious what's the compiling issue though?

[2021-06-22 18:56] bkuhls opened #1210 "VA_EXPORT_SURFACE_SEPARATE_LAYERS broken with auxplane"
Kodi uses vaExportSurfaceHandle with VA_EXPORT_SURFACE_SEPARATE_LAYERS
https://github.com/xbmc/xbmc/blob/master/xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.cpp#L453

and expects only one plane per layer
https://github.com/xbmc/xbmc/blob/master/xbmc/cores/VideoPlayer/VideoRenderers/HwDecRender/VaapiEGL.cpp#L486

Starting with 11th gen i5/i7/i9 cpus Kodi detects two planes however
htt

[2021-06-23 03:52] XinfengZhang commented on #1210
it is because the MMC enabled. there are some description, https://github.com/torvalds/linux/blob/master/include/uapi/drm/drm_fourcc.h#L528
but form implementation side, it maybe should use 4 layer with 1 plane /layer  instead 2 layer with 2planes/player
@Guangyao-Bai , could you help to check the implementation about the aux data?

[2021-06-23 04:06] Guangyao-Bai commented on #1210
hi  @XinfengZhang as i checked the export logic, it was using 2 layers, and each layer have two planes for pixel buffer and aux data buyffer.

[2021-06-23 05:17] XinfengZhang commented on #1210
@Guangyao-Bai , why we dont use 4 layer, and each layer just has 1 plane?

[2021-06-23 05:56] Guangyao-Bai commented on #1210
@XinfengZhang my Fault, i recall the history, in current libva, for Planar surface like NV12/P010, we support two kinds of report method based on the usages how the APP using.
Composit mode: where SW will treat NV12 as a combined format, in this case, we do export 4 plane and the orider will be Y, YCCS, UV, UVCCS, check defnie here https://github.com/torvalds/linux/blob/master/include/uapi/drm/drm

[2021-06-23 09:16] XinfengZhang commented on #1210
but from vaapi definition
* If VA_EXPORT_SURFACE_SEPARATE_LAYERS is specified on export, each
* layer will contain exactly one plane.
seems we need four layer and 1 plane in each layer

[2021-06-23 10:53] Guangyao-Bai commented on #1210
from VAAPI define: http://intel.github.io/libva/group__api__core.html#ga1eafc62ad88550c0e9bed7545a07d008
#define VA_EXPORT_SURFACE_SEPARATE_LAYERS   0x0004
Export surface with separate layers
For example, NV12 surfaces should be exported as **two separate** planes for luma and chroma. thus driver inplenment with two seperated layer, but let talk tmr to make it clear

[2021-06-23 11:03] bkuhls commented on #1210
Quoting https://github.com/intel/libva/pull/125#issuecomment-340274373

[2021-06-23 11:20] Guangyao-Bai commented on #1210
then how to understand the VA_EXPORT_SURFACE_COMPOSED_LAYERS, one single composited layers with one plane? then how to define the Luma(Y) and Chroma(UV) layout?

 /** Export surface with composed layers.
 *
 * For example, NV12 surfaces should be exported as a single NV12
 * composed object.
 */
#define VA_EXPORT_SURFACE_COMPOSED_LAYERS  0x0008

from https://github.com/intel/libva/blob/master/va/v

[2021-06-23 11:23] Guangyao-Bai commented on #1210
i mean "**VA_EXPORT_SURFACE_SEPARATE_LAYERS**" means libva need to export two spearated layers. and with modifier **I915_FORMAT_MOD_Y_TILED_CCS**, additional CCS plan needed to maintain the color control surfaces

[2021-06-23 13:42] bkuhls commented on #1210
Afaics this was discussed as case 2) and not implemented: https://github.com/intel/libva/pull/125#issuecomment-340274373. This PR was also the source for the, somehow misleading, comment
[code]
https://github.com/intel/libva/pull/125/files#diff-e0e7f3004535ebf01d1e34565ff4ba14ccbe5798a7814df2004cd5fd26530812R3318

but reading the [comments](https://github.com/intel/libva/pull/125#issuecomment-3413

[2021-06-24 07:47] XinfengZhang commented on #1210
so, this two planes (main plane and color control plane) share same "drm_format" , they are in one layer. ,https://github.com/intel/libva/blob/master/va/va_drmcommon.h#L107-L113 is supplementary to https://github.com/intel/libva/blob/master/va/va_drmcommon.h#L96-L101

[2021-06-25 17:17] pdemenko commented on #1200
I tried to run hevc and vp9 with vbr and cqp with different streams, here are results
_____________________________________________________
|  resolution  | 720x480 |  1920x1080  | 3840x2160 |
-----------------------------------------------------
| num frames|    1000   |     1000        |     900         |
-----------------------------------------------------
| CQP  VP9   |    291     |     140

[2021-06-26 04:49] FurongZhang commented on #1132
https://github.com/intel/media-driver/commit/66fa14da59ba6a81f1d604d1c71fa93502884599

[2021-06-26 04:49] FurongZhang commented on #1132
Fixed the crash issue.

[2021-06-26 04:49] #1132 closed

[2021-06-26 04:50] FurongZhang commented on #1132
Please feel free to let me know if any opens and questions.

[2021-06-26 12:05] #1195 closed

[2021-06-27 07:26] bkuhls commented on #1210
But VA_EXPORT_SURFACE_SEPARATE_LAYERS is still defined as "each layer will contain exactly one plane", regardless of other modifiers, like I915_FORMAT_MOD_Y_TILED_CCS.
What do you propose to make Kodi work on newer Intel CPUs?

[2021-06-27 15:21] bkuhls commented on #1210
Building media-driver with -DMMC_Supported=NO does not fix the problem.

[2021-06-28 06:09] XinfengZhang commented on #1210
@bkuhls it should only be used for "surface sharing" between different gpu component , the data is not readable ---- app could not decompress it. if you want  to access the data, you should use vaGetImage or vaDeriveImage + vaMapbuffer, media driver will decompress it.
when using the "surface sharing" application should read the obj number, layer number and planes in each layer and convey these in

[2021-06-28 15:46] #1010 closed

[2021-06-29 19:04] bkuhls commented on #1210
How to proceed with this issue then? Do you acknowledge that there is a bug in media-driver not following the specs laid out in libva or is Kodi at fault due to an incomplete understanding of the specs?

[2021-06-30 04:48] xhaihao commented on #1206
@XinfengZhang any progression on this issue?

[2021-06-30 06:28] ivan-losev commented on #1152
Hi @linkmauve,
Could you, please, try to reproduce quality issue on the latest master?
Fix commit: https://github.com/intel/media-driver/commit/1ec93f2888860ef992595e33c49e7b7d4f94fc86

[2021-06-30 14:40] yasij commented on #804
Looks like this still hasn't been merged. What's the status of your investigation @Jister ? This driver still does not have functional advanced deinterlacing without this.
I'm still puzzled by the comments about backwards compatibility. Both the legacy i965 VAAPI driver and the Mesa VAAPI drivers regard forward_refs as older frames, and this driver has always set the max_forward_references and max

[2021-06-30 15:30] satmandu opened #1213 "compile failure with gcc11: 'cscMatrix' may be used uninitialized"
This with compiling `21.2.3`:

[code]
[code]

[2021-06-30 16:35] karoldob commented on #771
@XinfengZhang It looks that on Intel gen 11, Ubuntu 21.04, iHD driver 21.1.1, VP9 encoder is still unsupported.
So "ICL 11th gen GPU certainly support VP9 encoding" on Linux with intel media-driver is not true.

[2021-07-01 08:45] Xiaogangli-intel commented on #930
#1215 this will fix the 8-bit encoding issue for HEVC. If you met this issue, please try this PR.
And 10-bit encoding should work.
If you still meet encoding issue on GLK, please send out your command line, then I will check it.
Thank you!

[2021-07-01 16:29] sreerenjb commented on #771
The iHD driver should have the vp9 encode support on ICL. Make sure you have Gu&HuC firmware in place to play with vp9 hardware encode (in case if it is missing).

[2021-07-02 00:08] cdotstout opened #1216 "License headers for vphal_render_fast1ton.h,cpp"
We're interested in using media-driver as part of a Fuchsia driver for media acceleration on Intel hardware.

The license headers in these files:
https://github.com/intel/media-driver/blob/master/media_driver/agnostic/common/vp/hal/vphal_render_fast1ton.cpp
https://github.com/intel/media-driver/blob/master/media_driver/agnostic/common/vp/hal/vphal_render_fast1ton.h

don't match the rest of the fil

[2021-07-02 01:53] XinfengZhang commented on #1216
sure, will check it and update the license. suppose just because it is missed when update the license.

[2021-07-02 10:11] MicroYY commented on #1138
Hi @SiewHoon
Pls try this PR https://github.com/intel/media-driver/pull/1218. It'll be merged after internal tests.

[2021-07-02 10:14] SiewHoon commented on #1138
Hi @MicroYY ,

Ok, sure. I will test this PR on my side.

[2021-07-03 02:41] cdotstout commented on #1216
Thank you.

I raised a similar issue in gmmlib, could you please take a look?

https://github.com/intel/gmmlib/issues/85

[2021-07-04 12:07] widon1104 opened #1219 "Video flicker sometimes use this driver"
I use deepin(linux)，chrome 版本 91.0.4472.114（正式版本） （64 位），I start chrome use: google-chrome-stable --enable-features=VaapiVideoDecoder to start hardware decode.
I find out the video will flicker sometimes, I will give you one example, the url: [https://www.ixigua.com/6948405576535638567?id=6970584012318310926&logTag=51335e14e723ea6aaf01](url), when I play this url on the 00:14 the video will flicke

[2021-07-04 14:52] XinfengZhang commented on #1219
thanks for reporting.  so , does video flicker with some dedicate/special stream ?

[2021-07-04 15:10] widon1104 commented on #1219
many video will flicker，so I think it's a  common phenomenon

[2021-07-05 02:51] wangyan-intel commented on #1219
@widon1104
We cannot access your URL. Could you please share it by another way?
Thanks.

[2021-07-05 03:46] widon1104 commented on #1219
@wangyan-intel

https://user-images.githubusercontent.com/12093211/124415030-84e6b380-dd86-11eb-99c2-9aff5f24b4f4.mp4

you can upload this video to youtube, and try it use google chrome with --enable-features=VaapiVideoDecoder, by the way I use i5-8350U

[2021-07-05 04:01] wangyan-intel commented on #1219
@Jexu Could you please take a look?

[2021-07-05 07:32] SiewHoon commented on #1138
Hi @MicroYY

I applied PR #1218 on top of Q2'21 media driver and running this test on my TGL board.

https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/-/issues/301 -> This issue still can reproduce it.
https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/-/issues/302 -> This issue can not reproduce anymore.

[2021-07-05 12:08] MicroYY commented on #1138
Hi @SiewHoon
Could you pls share the content (MJPEG 4K 8bit 444 video)? I think the root-causes of the two issues aren't the same, but maybe all related to BT2020.

[2021-07-05 18:12] starvald commented on #1210
So the intel devs going to just to ghost us?

[2021-07-06 01:16] Xiaogangli-intel commented on #1202
Hi @nlu5, could you share the commit ID of the PR for fixing this issue?

[2021-07-06 01:53] SiewHoon commented on #1138
Hi @MicroYY

The file size is too big upload at here. I share MPEG4 4k 8bit 444 video test clip thru internal share drive. Let me if you know able to access it.  Thanks.

[2021-07-06 02:24] rmkimathi commented on #1190
@fulinjie built latest ffmpeg master, got same corruption with hevc_vaapi encode on intel TGL

[2021-07-06 06:34] Xiaogangli-intel commented on #1190
Thank you @rmkimathi, working on this issue, will update it once we have some progress.

[2021-07-08 18:55] #1216 closed

[2021-07-09 06:17] xinyudox opened #1220 "[ADL-S][ffmpeg]PSNR difference between actual and expect is more than 0.2 on lp mode"
OS	ubuntu 20.04
kernel	5.11.0+
libva	8803fc5363b6
intel-media-driver	66fa14da59ba
gmmlib	915cfec5b3da
gstreamer	b16e96dd878e
gst-plugins-base	1565b9635b83
gst-plugins-good	aad9c8a2165b
gst-checksumsink	82ed43ff24ff
msdk-dispatcher (msdk)	b9d7e5dea2fd
msdk-runtime (msdk)	b9d7e5dea2fd
vaapi-fits-full	2788fb02db1d
vaapi-fits	f607dc5f96d7
gst-libmfx (gst-plugins-bad)	a93848528332
ffmpeg-libmfx (ffmpeg

[2021-07-09 06:29] #1220 closed

[2021-07-09 06:35] xinyudox commented on #1220
Sorry, I'm wrong.

[2021-07-10 21:44] bkuhls commented on #1210
Please test the current [master](https://github.com/intel/media-driver/commits/29d5f8fc118476dee84f3f784443badc819a3241) tree, it seems the problem was fixed:
https://forum.kodi.tv/showthread.php?tid=362073&pid=3048667#pid3048667

[2021-07-10 23:06] lrusak commented on #1210
It would be nice to know what commit fixed it.

[2021-07-11 08:44] bkuhls commented on #1210
https://github.com/intel/media-driver/commit/29d5f8fc118476dee84f3f784443badc819a3241 is a likely candidate.

[2021-07-12 01:21] Guangyao-Bai commented on #1210
29d5f8f is a fix only for RKL as some stepping info missed on RKL. but for Aux plan per layer is needed if you want to enable E2E Compression to save power.

[2021-07-12 06:58] wenbinc-Bin commented on #1206
Hi @Xiaogang-Li and @XinfengZhang, Any plan to fix this issue? Could you give me a date and I can check this issue at that day, which helps me to better track this issue.
Thanks
Wenbin

[2021-07-12 07:21] bkuhls commented on #1210
Any news on my [question](https://github.com/intel/media-driver/issues/1210#issuecomment-870842204)?
Currently Kodi works only because the feature "E2E Compression", which creates the aux plane, is disabled for the time being.

[2021-07-12 07:29] Guangyao-Bai commented on #1210
E2E Compression was a new feature on Intel platforms like RKL, and it needs a CCS plane to maintain the compression/color control surfaces, thus why a new modify type defined "**I915_FORMAT_MOD_Y_TILED_CCS**".

but on RKL, there's a HW limitation in display on those steppings, which require media must output a uncompressed surface. thus why this fix(29d5f8f ).

but if you check same kodi on TGL-R

[2021-07-12 20:13] bkuhls commented on #1210
Would it be possible by using DRM_FORMAT_MOD_LINEAR to turn off the CCS plane so that each layer will contain only one plane?

[2021-07-13 00:50] lrusak commented on #1210
It's unlikely as tiling will probably be required by the display engine (and depending what the decoder can actually output)

[2021-07-13 09:11] XinfengZhang commented on #1213
suppose there are some default build option in your env, cscMatrix is initialized in previous call --- GetCSCMatrix.  and it could be build successfully in my local side.  could you share more information, such as g++ versions, linux distribution...

[2021-07-13 12:17] satmandu commented on #1213
[code]
Our Distribution is Chromebrew (we're running inside ChromeOS).

[2021-07-13 14:45] dvrogozh commented on #1213
https://github.com/intel/media-driver/blob/29d5f8fc118476dee84f3f784443badc819a3241/media_driver/agnostic/common/codec/hal/codechal_encode_sfc_base.cpp#L360

@XinfengZhang : as you can see, `cscMatrix` is left uninitialized. Then we pass it to `GetCSCMatrix()` function to initialize it, but this function has initialization under conditional branches. So, compiler warns us that under some circumsta

[2021-07-13 14:52] XinfengZhang commented on #1177
@satmandu could we close it, it caused by different driver loaded.
libva info: User environment variable requested driver 'i965'
libva info: User environment variable requested driver 'iHD'

[2021-07-13 15:16] #1177 closed

[2021-07-14 03:59] XinfengZhang commented on #1213
ok , lets change it to "float cscMatrix[12]{}"

[2021-07-14 04:58] dvrogozh commented on #1213
yep. that's what I would do.

[2021-07-15 05:08] #1138 closed

[2021-07-15 08:40] MicroYY commented on #1138
Hi @SiewHoon  Could you pls create a new issue to track?

[2021-07-15 08:53] SiewHoon opened #1225 "vaapipostproc fail to convert when playing MJPEG 4K 8bit 444 video with vaEndPicture return VA_STATUS_ERROR_OPERATION_FAILED"
The MJPEG 2k video here go thru vaapipostproc: Input : colorimetry bt709 -> output: colorimetry sRGB. video clip: Firework_2560x1600_160mbps_60fps_444.avi

For MJPEG 4k (444) video decode go thru vaapipostproc: Input: colorimetry bt2020 -> output: colorimetry sRGB. Video clip: Elecard1_3840x2160_8mbps_30fps_444_1.avi

I re-check back for previous for H265 4k (444) no issue video clip go thru vaapi

[2021-07-16 12:15] egorovdanil commented on #1171
@XinfengZhang, yes, the problem is gone. Thanks!

[2021-07-16 12:15] #1171 closed

[2021-07-16 15:23] karoldob commented on #771
To sum up: encoding "works" but output video is broken.

Details:
- OS: Ubuntu 21.04, lastest kernel: 5.11.0-22-generic,
- Gu&HuC enabled by adding "enable_guc=2" in kernel boot command and /etc/modprobe.d
- kernel boot command with i915.force_probe=4c8b, because intel gpu is not recognized in /dev/dri without that.
- HW: i5-11400
- linux kernel loads this binaries (sudo dmesg --ctime |grep -i [hg

[2021-07-19 00:53] Xiaogangli-intel commented on #1206
Sorry @wenbinc-Bin, will sync with the team about the status, will let you know once I get feedback.

[2021-07-19 06:10] wenbinc-Bin commented on #1179
@Xiaogangli-intel Any progress on this issue?
Thanks
Wenbin

[2021-07-19 06:50] Xiaogangli-intel commented on #930
#1215 is merged, I will close this issue in two days if no more questions. Please file a new one if you still meet other issues of GLK.
Thank you.

[2021-07-19 11:04] HeJunyan opened #1227 "gst va decoder random crash when play some small resolution VP9 stream."
gst-launch-1.0 -vf filesrc location=./media/Smaller_VP9_209_extra_smaller_1.1.ivf ! ivfparse ! vp9parse ! vavp9dec ! fakesink

generate random crash(about once in two).
It crash in vaSyncSurface:

0  DdiDecode_StatusReport(DDI_MEDIA_CONTEXT*, CodechalDecode*, _DDI_MEDIA_SURFACE*) (mediaCtx=0x56498beea440, decoder=0x7fa1d403eae0, surface=0x7fa1d5f6c580)
    at /home/robinhe/media/media-driver/media

[2021-07-20 01:42] wumingdabei commented on #1058
Have you solve this problem??

[2021-07-21 08:58] rosetta-jpn opened #1228 "Support VAEncMiscParameterTemporalLayerStructure for H.264"
VAEncMiscParameterTemporalLayerStructure [1] is essential to support temporal scalability encoding.
It is not handled by media-driver.

[1] https://github.com/intel/libva/blob/6e86b4fb4dafa123b1e31821f61da88f10cfbe91/va/va.h#L2319
[2] https://github.com/intel/media-driver/blob/29d5f8fc118476dee84f3f784443badc819a3241/media_driver/linux/common/codec/ddi/media_ddi_encode_avc.cpp#L2113

[2021-07-21 09:10] rosetta-jpn commented on #1228
It looks supported for VP8 and VP9.

[VP8] https://github.com/intel/media-driver/blob/c2ab2faf51d766840d8d2f3a8b5c1c716d993b3f/media_driver/linux/common/codec/ddi/media_ddi_encode_vp8.cpp#L547
[VP9]https://github.com/intel/media-driver/blob/c2ab2faf51d766840d8d2f3a8b5c1c716d993b3f/media_driver/linux/common/codec/ddi/media_ddi_encode_vp9.cpp#L1033

[2021-07-22 13:40] bbbear2002 opened #1231 "Crash on Intel Iris Xe card."
Hi, this intel media driver is great. It works fine on my intel 10th gen integrated card. But on intel gen 11 card (Iris Xe), the browser keeps crashing. Any clue of solution for that? Thank you very much.

[2021-07-22 19:17] nlu5 commented on #1202
The commit was reverted on gfx-driver-ci-master-8291
commit e31016377d967af5e145945a9679a5507425b42d (tag: build/ci/gfx-driver-ci-master-8291)
https://github.com/intel-innersource/drivers.gpu.unified/pull/26813

[2021-07-23 02:20] xuguangxin commented on #1202
thanks @Xiaogang-Li  and @nlu5
@zhangyuankun-star could you double confirm this fix caught by our ci and close this
thanks

[2021-07-25 12:59] XinfengZhang commented on #1231
hi @bbbear2002 , no enough information, you mean you are using browser (hw acceleration enabled) to play some video? could you share your HW configuration, OS version, kernel version, also the browser version?

[2021-07-25 13:35] XinfengZhang commented on #1228
the story is different, actually, media driver support multiple temporal layer encoding for H264, VP8, VP9. but the story is different.  for H264, all of the temporal layer is controlled by application, media driver get the reference relationship from the PPS, SliceParameter of each frame. but it is transparent to media_dirver. media driver does not treat it in a different way.

for VP8 & VP9. it

[2021-07-25 23:50] HeJunyan commented on #1227
It's on TGL.

[2021-07-26 00:17] wangyan-intel commented on #1227
@Jexu Could you please take a look? Thanks.

[2021-07-26 00:30] rosetta-jpn commented on #1228
I thought this structure was essential to control bitrate properly within the driver.
Am I wrong? Then, don't we need to pass this structure to a driver in H264 temporal layer encoding?

[2021-07-26 01:22] XinfengZhang commented on #1228
it depends on whether there are multiple temporal layers BRC.  for AVC, it just need VAEncMiscParameterTypeRateControl and VAEncMiscParameterTypeFrameRate, because it just support per-sequence BRC.

actually, VP8/VP9 should report VAConfigAttribEncRateControlExt and accept VAConfigAttribValEncRateControlExt

[2021-07-26 14:20] rosetta-jpn commented on #1228
Thanks for the clarification.

[2021-07-28 07:49] rosetta-jpn commented on #1228
Sorry, I misunderstood Carl's comment.

This means media-driver doesn't support temporal layer BRC.
So H.264 temporal layer encoding is not doable with media-driver.

Can I ask driver folks to support it?

[2021-07-28 08:09] XinfengZhang commented on #1228
which platform?

[2021-07-28 14:43] rosetta-jpn commented on #1228
WhiskeyLake, CometLake, JasperLake and TigerLake.

Specifically Chrome, VME encoder is used on WhiskeyLake and CometLake, and VDEnc is used on JasperLake and TigerLake.

[2021-07-28 14:48] rosetta-jpn opened #1232 "Align a requested surface resolution by 16 for Encoder"
Media-driver doesn't align a requested surface resolution by 16 for encoder.
In fact, unless I aligned the surface resolution by 16 in app side, encoding fails.
I think the width and height both should be aligned by 16.
https://github.com/intel/media-driver/blob/master/media_driver/linux/common/ddi/media_libva_util.cpp#L279-L312-

[2021-08-02 22:20] daravi opened #1233 "Dependency vs Prerequisite"
Might be a bit of a dumb question, but what exactly is the difference between a dependency and a prerequisite in README.md?

[2021-08-02 22:53] daravi opened #1234 "Add project(IntelMediaDriver) to the top-level CMakeLists.txt file"
Please add `project(IntelMediaDriver)` to the top-level CMakeLists.txt file to suppress this CMake warning:
[code]

[2021-08-04 03:44] SiewHoon commented on #1225
Hi @MicroYY

Any update about this issue?
This also impacted on ADL platform as well.

[2021-08-04 08:25] XinfengZhang commented on #1232
the problem is : when you call vaCreateSurfaces, the codec type is not defined yet.
for example: AVC it should align with 16, HEVC may align with 8.  if we use 16 for all codec. it will waste some memory. is it ok?

[2021-08-04 08:45] XinfengZhang commented on #1228
@rosetta-jpn as offline discussion , seems this issue could be closed?

[2021-08-04 10:00] rosetta-jpn commented on #1232
I think vaCreateSurfaces() with a current encode profile is called before vaCreateSurfaces(). Can vaCreateSurfaces() know the current profile from some internal variable?

[2021-08-04 12:44] XinfengZhang commented on #1232
vaCreateContext may be called before vaCreateSurfaces or after. it depends on the behavior of application.

[2021-08-05 17:39] MathieuGirard opened #1237 "Not all fields of HW_VDBOX_ROWSTORE_PARAMS are initialized in CodecHalVdencHevcState::SetSequenceStructs"
https://github.com/intel/media-driver/blob/bec8e1382637589bc3f302edf6c866bec3d754dd/media_driver/agnostic/common/codec/hal/codechal_vdenc_hevc.cpp#L2649-L2661

Fields **bMbaff** and **bIsFrame** are left uninitialized are seems to be used (acording to valgrind) by mhw_vdbix_vdenc_g12_X.h (line 408)

https://github.com/intel/media-driver/blob/bec8e1382637589bc3f302edf6c866bec3d754dd/media_driver/ag

[2021-08-06 05:57] Sherry-Lin commented on #1233
The "prerequisite" is the environment preparison for third party open source packages. The "dependency" focus on Intel media stack. To avoid confuse, I will update the it more clearly.

[2021-08-06 09:18] #1228 closed

[2021-08-06 15:29] #1234 closed

[2021-08-07 06:43] bbbear2002 commented on #1231
Hi XinfengZhang,
PC: XiaomiBook Pro 14
OS: Deepin 20.2.2
Kernel: 5.12.14
CPU: 11th-Gen i5-11300H
Browser: Chrome 92.0.4515.131
Exec=/usr/bin/google-chrome-stable --use-gl=desktop --enable-features=VaapiVideoDecoder %U is added in the .desktop file
SwithGraphicCard from Xinghuo Appstore is installed

[2021-08-07 06:44] bbbear2002 commented on #1231
Graphics Feature Status
Canvas: Hardware accelerated
Compositing: Hardware accelerated
Multiple Raster Threads: Enabled
Out-of-process Rasterization: Hardware accelerated
OpenGL: Enabled
Rasterization: Hardware accelerated on all pages
Skia Renderer: Enabled
Video Decode: Hardware accelerated
Vulkan: Disabled
WebGL: Hardware accelerated
WebGL2: Hardware accelerated
Driver Bug Workarounds
adjust_sr

[2021-08-07 06:45] bbbear2002 commented on #1231
On my Redmibook Air 13 it works perfectly well.

[2021-08-07 06:48] bbbear2002 commented on #1231
The vainfo is correct.
libva info: VA-API version 1.13.0
libva info: User environment variable requested driver 'iHD'
libva info: Trying to open /usr/lib/x86_64-linux-gnu/dri//iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_13
libva info: va_openDriver() returns 0
vainfo: VA-API version: 1.13 (libva 2.4.0)
vainfo: Driver version: Intel iHD driver for Intel(R) Gen Graphics - 21.3.

[2021-08-09 05:19] alittleboys opened #1240 "[ffmpeg][vp8_vaapi encoder] Ignore alpha channel when encoding rawvideo frames to webm."
I use FFMPEG vp8_vaapi to encode a RGBA raw video stream and output a webm stream. But the transparency information of this is lost -- it shows a black background instead of the expected transparent.

My ffmpeg command is as follows:
`ffmpeg -vaapi_device /dev/dri/renderD128 -f rawvideo -pix_fmt rgba -r 30 -s 1280x720 -i - -vf 'hwupload' -c:v vp8_vaapi -b:v 2M -maxrate 2M -metadata:s:v:0 alpha_mod

[2021-08-09 06:48] XinfengZhang commented on #1232
yes, it is , I am considering another solution, if you set the VA_SURFACE_ATTRIB_USAGE_HINT_ENCODER, we could just record the requirement, but do not allocate the memory, until it is used (vaEndPicture). but the risk is:  how to handle this scenario, someone call vaCreateSurface, then upload data into it before it is used. ...

[2021-08-09 16:40] alittleboys commented on #1240
I check the pixel format of webm video encoded by vp8_vaapi.

The output of ffmpeg is as follows:
`Input #0, matroska,webm, from './test_output_hw.webm':`
 ` Metadata:`
    `        ENCODER         : Lavf58.12.100`
 `         Duration: 00:00:10.00, start: 0.000000, bitrate: 62 kb/s`
   `         Stream #0:0: Video: vp8, yuv420p(progressive), 1280x720, SAR 1:1 DAR 16:9, 30 fps, 30 tbr, 1k tbn, 1k t

[2021-08-09 16:42] alittleboys commented on #1240
I check the pixel format of webm video encoded by vp8_vaapi.

The output of ffmpeg is as follows:
`Input #0, matroska,webm, from './test_output_hw.webm':`
 ` Metadata:`
    `        ENCODER         : Lavf58.12.100`
 `         Duration: 00:00:10.00, start: 0.000000, bitrate: 62 kb/s`
   `         Stream #0:0: Video: vp8, yuv420p(progressive), 1280x720, SAR 1:1 DAR 16:9, 30 fps, 30 tbr, 1k tbn, 1k t

[2021-08-10 15:21] #1213 closed

[2021-08-11 01:39] LaserEyess commented on #1095
@wangyan-intel @XinfengZhang @Jexu I apologize for not even responding to this, that was rude of me, but I was having trouble testing the patch and I gave up and forgot about this. However, 8 months later, I am sorry to say that this bug is not fixed by that patch. I want to get this fixed though because I'm ultimately interested in having good vaapi support for wayland, and I think "not having ra

[2021-08-11 04:51] Jexu commented on #1095
so you saw the NULL pointer when using wayland. @XinfengZhang  can correct me if i miss something.

[2021-08-11 04:53] Jexu commented on #1227
@HeJunyan can you share the clip 'Smaller_VP9_209_extra_smaller_1.1.ivf' to me and then i can have a further debug.

[2021-08-11 05:00] HeJunyan commented on #1227
[Uploading Smaller_VP9_209_extra_smaller_1.1.zip…]()

[2021-08-11 09:54] HeJunyan opened #1241 "Missing the VA_SURFACE_ATTRIB_MEM_TYPE_DRM_PRIME_2 in vaQuerySurfaceAttributes from Gen9~Gen11"
In fact, vaExportSurfaceHandle  can work very well on Gen9 to Gen11, we already make it the default manner for DMA exporting. But the vaQuerySurfaceAttributes fails to report that memory type. We need that query to decide which way we use. So, please report that attribute correctly.

[2021-08-11 10:57] LaserEyess commented on #1095
Yes the scenario here is using mpv's `--vo=vaapi` on **Xwayland**, intel specifically. Here's a list of things that work and do not work.

### Works
On Xwayland (via wayland)
[code]
(Does not play video, but exits gracefully)

On Xwayland (via wayland) on an AMD system
[code]
Plays video

On Xorg
[code]
As expected, this has no issues since it isn't Xwayland

### Crashes
On Xwayland (via wayland)

[2021-08-12 01:50] Jexu commented on #1095
look like that pointer dri_state->createDrawable does not init.  You can report a bug to libva, and we may add null pointer check here before trying to call this func.

[2021-08-12 01:57] Jexu commented on #1227
access to heap item in mediaSurfaceHeapElmt is out of boundary in func 'DdiDecode_StatusReport'. seem that the item is destroyed somewhere, but item number 'uiAllocatedHeapElements' is not updated.

[2021-08-12 03:36] Jexu commented on #1227
@HeJunyan can you help verify this fix on your side?

[2021-08-12 04:48] HeJunyan commented on #1227
Verified, OK for me. Thanks.

[2021-08-13 12:39] Bin-CI opened #1245 "[regression][DG1] catch regression on encode/avc on gst-vaapi"
catch regression at fdd0557866b4

failed reason is PSNR have some change with this commit

[2021-08-13 23:27] KenMacD opened #1247 "Segfault from MmdDevice::CreateFactory"
In testing some hardware acceleration stuff in Firefox I've run to the following segfault:

[code]

With mapped in memory:

[code]

I don't have debug symbols but from [the looks of things](https://github.com/intel/media-driver/blob/68f6f2bc8f5c8e69c3a010931f7940d4a7937746/media_driver/linux/common/media_interfaces/media_interfaces.cpp#L336) it looks to me like there's an attempt to call `osInterf

[2021-08-15 09:49] XinfengZhang commented on #1247
please provide the platform information, thanks

[2021-08-15 13:41] KenMacD commented on #1247
@XinfengZhang Included, please let me know if you need more info:

[code]

[2021-08-16 05:51] uartie commented on #1245
please provide more details.

[2021-08-16 05:52] uartie commented on #1245
Before result...  After result...  Command line... etc.

[2021-08-16 06:18] FocusLuo commented on #1206
@Xiaogang-Li @XinfengZhang  This is a Run 2 Run encode issue. May I check with you whether there is any progress on this issue fixing?

[2021-08-16 06:19] XinfengZhang commented on #1247
suppose this platform should not enable MMC, @Guangyao-Bai , could you help to check it?

[2021-08-16 07:07] Bin-CI commented on #1245
Test case command line:
[code]

Failed reason::
[code]

[2021-08-16 08:04] XinfengZhang commented on #1240
codec does not care about the alpha channel, it means , when it become to an encoded bitstream, it will lost the alpha channel, if you want store the alpha channel, suppose it should be handled in upper layer, such as ffmpeg level

[2021-08-17 01:09] Guangyao-Bai commented on #1247
Hi  @XinfengZhang , it's about the MMC Device init fail, not a real compression HW func issue.

@KenMacD do you have more details to repro such issue? we need to check the reason

[2021-08-17 03:52] rosetta-jpn commented on #1232
I would not like to introduced the complexity to handle this alignment problem.
Maybe we should begin with just aligning by 16 regardless of codec, and thereafter look for a better way to avoid the unnecessary alignment.

[2021-08-18 07:31] XinfengZhang commented on #1231
sorry for late response. from the information
1. there are two GPU device,  GPU1 is from intel
GPU0 VENDOR= 0x10de, DEVICE=0x1f97
GPU1 VENDOR= 0x8086, DEVICE=0x9a49 ACTIVE
2.  vainfo works correct, but browser video acceleration failed.
3. the platform is TGL, gpu device is 0x9a49  https://github.com/intel/media-driver/blob/master/media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp#L466

I wonder w

[2021-08-19 01:23] Amalsarr opened #1248 "init failed"
vainfo (as a regular user)
libva info: VA-API version 1.13.0
libva info: Trying to open /usr/lib/x86_64-linux-gnu/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_13
[MOS]:  CRITICAL - HWInfo_GetGfxInfo:140: Failed to get the device info for Device id: 22b1

[LIBVA]:CRITICAL - DdiMedia_InitMediaContext:1777: Fatal error - unsuccesfull Sku/Wa/GtSystemInfo initialization
libva e

[2021-08-19 03:49] uartie commented on #1248
This media driver (iHD) does not support Cherryview (see https://github.com/intel/media-driver#supported-platforms).  Only the i965 media driver supports this platform (see https://github.com/intel/intel-vaapi-driver/blob/master/README).

[2021-08-19 03:51] uartie commented on #1248
Try setting LIBVA_DRIVER_NAME=i965 as both regular and root user.

[2021-08-19 08:44] Amalsarr commented on #1248
What thread and what’s the solution to this?

Sent from my iPhone

[2021-08-19 08:57] Amalsarr commented on #1248
What is the LIBVA_DRIVER_NAME? I remember setting it to iHD like this
Export libva=iHD
But I wasn’t so sure of what i did, could you please assure me if the libva driver neans the libva directory altho I don’t think this makes any sense but I’m really confused because this was the only one to work out for me i tried to set the drive that ends in .os extension but it didn’t work for me.

[2021-08-19 09:47] Amalsarr commented on #1248
i did it and here's the results as a regular user :
libva info: VA-API version 1.13.0
libva info: Trying to open /usr/lib/x86_64-linux-gnu/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_13
[MOS]:  CRITICAL - HWInfo_GetGfxInfo:140: Failed to get the device info for Device id: 22b1

[LIBVA]:CRITICAL - DdiMedia_InitMediaContext:1777: Fatal error - unsuccesfull Sku/Wa/GtSystemIn

[2021-08-19 16:56] rosetta-jpn commented on #1232
Hi Carl, any update?

[2021-08-20 11:12] D0nnieD4rk0 opened #1249 "i presume its a pretty ez fix"
libva error: /usr/lib/dri/iHD_drv_video.so init failed
[75326:75326:0820/140135.524589:ERROR:CONSOLE(1)] "[Shields]: Can't request shields panel data. Error: No tab url specified", source: chrome-extension://mnojpmjdmbbfmejpflffifhffcmidifd/out/brave_extension_background.bundle.js (1)

[2021-08-22 06:54] bbbear2002 commented on #1231
by-path  card0  card1  renderD128  renderD129

    DRI2
    DRI3

I don't know how to use LIBVA_TRACE

[2021-08-22 06:56] bbbear2002 commented on #1231
[62643.472976][ctx       none]==========va_TraceInitialize
[62643.472988][ctx       none]=========vaInitialize ret = VA_STATUS_SUCCESS, success (no error)
[62643.473024][ctx       none]=========vaQueryConfigProfiles ret = VA_STATUS_SUCCESS, success (no error)
[62643.473029][ctx       none]=========vaQueryConfigEntrypoints ret = VA_STATUS_SUCCESS, success (no error)
[62643.473043][ctx       none]==

[2021-08-23 01:30] dwang26 opened #1250 "TGL: Multi-sessions low-power HEVC and AVC transcoding failed"
It can be reproduced  by sample_multi_transcode on Media SDK 21.2.3/libva2.12/Media-driver21.2.3 or Media SDK 21.1.3/libva2.11/Media-driver21.1.3.
The test par file is like below:
-i::h264 /home/work/video/2.h264 -o::h265 /tmp/1.h265 -qsv-ff -b 4000
-i::h264 /home/work/video/2.h264 -o::h265 /tmp/2.h265 -qsv-ff -b 4000
-i::h264 /home/work/video/3.h264 -o::h264 /tmp/3.h264 -qsv-ff -b 4000

System in

[2021-08-23 02:03] XinfengZhang commented on #1250
hi @dwang26 , is there hang or crash?  could you help to check the dmesg to show whether there are reset/hang?

[2021-08-23 02:10] dwang26 commented on #1250
Hi Xinfeng,
No gpu hang or crash in kernel log.  This issue can be reproduced every time I run the test.
I'm using a 1080p h264 clip as input. It has 1000 frames.

[2021-08-23 03:54] XinfengZhang commented on #1231
looks like it is libva trace generated by vainfo. not your case

[2021-08-23 23:35] bbbear2002 commented on #1231
Then how to use LIBVA_TRACE?

[2021-08-24 02:02] XinfengZhang commented on #1231
export LIBVA_TRACE=logfile

[2021-08-27 11:37] george-norton opened #1254 "Attempt to calloc -22 bytes"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): Intel(R) Xeon(R) CPU E3-1578L v5 @ 2.00GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`): Intel Corporation Iris Pro Graphics P580 [8086:193d] (rev 09)
- Display server if rendering to display(X or wayland): N/A

## Issue behavior
### Describe the current behavior
On a CentOS 7 kernel (3.10.0-1160.25.1.

[2021-08-27 14:12] digitaldriver opened #1255 "[BRX/APL] Encoding crashes GPU when using map instead of map_gtt"
gstreamer version: 1.18.4
VA-API version: 1.11 (libva 2.11.0)
Driver version: Intel iHD driver for Intel(R) Gen Graphics - 21.1.3
CPU: Intel(R) Atom(TM) Processor E3950 @ 1.60GHz

Following the instructions from #1191 I was able to fix the "slow frame fetch from GPU to CPU" when decoding. But when trying to use vaapih264enc to encode, it fails and the GPU crashes.

gstreamer sample pipeline:
gst-l

[2021-08-28 14:32] XinfengZhang commented on #1255
map_gtt will do the de-swizzle , convert the surface from tile to linear, map not, but it should not crash.  but unfortunately , I have no such platform aside. so may not to reproduce it. , could you help to collect some information, such as LIBVA_TRACE?

[2021-08-28 14:49] XinfengZhang commented on #1254
yes, thanks for analysis and providing rootcause, but it looks strange, your GPU is skylake , so, it should not call this function. and I think you should not add such option in build (ENABLE_PRODUCTION_KMD=ON).  by default , the file in media_driver/linux/common/os/i915_production will not be compiled.

[2021-08-28 15:09] george-norton commented on #1254
We enabled this flag as we were evaluating DG1 hardware.

[2021-08-29 13:24] bbbear2002 commented on #1231
And then where can i find the logfile?

[2021-08-30 03:04] Xiaogangli-intel commented on #1250
@dwang26 Could you try this PR #1256 to check whether it can help on this issue?

[2021-08-30 05:56] dwang26 commented on #1250
@Xiaogangli-intel I just tried this patch with latest Media-driver but I still can see the error. With this patch, the low-power HEVC encoding failed on 1st frame.

Even without running together with low-power AVC encoding, the low-power HEVC encoding still failed. No error or GPU hang message in dmesg.

$sample_multi_transcode -par enc.par
Multi Transcoding Sample Version 8.4.27.0

Par file is: e

[2021-08-30 06:08] XinfengZhang commented on #1254
We could not use upstream kernel now, it need a kernel of https://github.com/intel-gpu/kernel
will support upstream kernel in near future. thanks

[2021-08-30 09:54] emaster987 opened #1257 "Hardware video acceleration corrupts video"
## System information
- CPU information: Processors: 8 × 11th Gen Intel® Core™ i7-1165G7 @ 2.80GHz
- GPU information: Mesa Intel® Xe Graphics
- Display server if rendering to display: X

## Issue behavior
I have tried to open videos with different codecs and found that H264, H265 and VP9 videos when hardware-accelerated are corrupted while AV1 videos aren't.
How reproducible:
You can reproduce ope

[2021-08-30 15:34] KenMacD commented on #1247
@Guangyao-Bai I was following the settings in [this reply on the pipewire repo](https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/460#note_720627). Specifically I set:

`~/.drirc`:

[code]

`~/.mozilla/firefox/<PROFILE>/user.js`:
[code]

Then I've browsed to a site the plays a video. For example [this html5 video tester](https://tools.woolyss.com/html5-audio-video-tester/?u=woolyss.com/f/B

[2021-08-31 03:12] XinfengZhang commented on #1257
thanks for reporting, from libva_trace, there are no real function call, it just call initialization, query feature and termination , no Begin/EndPicture.  have you copy all of the log? it looks like the log of vainfo, not vlcplayer.

[2021-08-31 03:27] Xiaogangli-intel commented on #1250
Got it, will do more investigation.

[2021-09-03 08:35] digitaldriver commented on #1255
Thank you for your response. Wil try and get the LIBVA_TRACE.

Meanwhile I have attached the patch file that I used to get the decoder working. If I revert map to map_gtt in Lock and Unlock funtions(line 67 and 78 as highlighed in pdf file), the GPU doesn't crash any more and I can encode. Although the encoded image(colour bars) is tiled. I have attached that too for your reference.

Decoder still

[2021-09-06 08:17] nach opened #1258 "Unexpected h264 FHD encoding perf for i7-10510U (UHD 620) vs i5-1135G7 (Iris Xe) -> 372fps vs 276fps"
## System information
- CPU information: Intel(R) Core(TM) i7-10510U CPU @ 1.80GHz; 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz vs
- GPU information:
00:02.0 VGA compatible controller [0300]: Intel Corporation TigerLake-LP GT2 [Iris Xe Graphics] [8086:9a49] (rev 01)
00:02.0 VGA compatible controller [0300]: Intel Corporation CometLake-U GT2 [UHD Graphics] [8086:9b41] (rev 02)
- Display server i

[2021-09-07 01:27] Bin-CI commented on #1245
issue fixed

[2021-09-07 01:27] #1245 closed

[2021-09-07 17:30] uartie opened #1259 "[regression] libva conformance failures since #1229"
## System information
- Impacted GPU platform:  <= Gen9 (CML, CFL, KBL, SKL,...)
- Host machine if it's descreted card: NA
- Good libva/libva-utils/gmmlib/media-driver version? 91cf6de96b87c30c2a4d340897ee967963812478
- Bad libva/libva-utils/gmmlib/media-driver version? 4ce77a648065205711f16dccd374ab83464aa911

## Issue behavior
### Describe the current behavior
Since PR #1229, libva conformance t

[2021-09-07 17:42] paulmenzel commented on #854
What is the status of this? [It’s also relevant for using the Intel driver with Mozilla Firefox.](https://bugzilla.mozilla.org/show_bug.cgi?id=1619585#c46)

[2021-09-08 04:26] zhangyuankun-star commented on #1259
I submitted PR: https://github.com/intel/media-driver/pull/1260 to try to fix this issue.

[2021-09-08 05:27] bbbear2002 commented on #1257
It seems that all Intel Xe cards have this issue.

[2021-09-08 05:28] bbbear2002 commented on #1257
It seems that all Intel Xe cards have this issue.

[2021-09-08 08:10] Esokrates opened #1261 "iHD IPC calls violate firefox browser sandbox"
## System information
- CPU information(`11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz`):
- GPU information(`00:02.0 VGA compatible controller [0300]: Intel Corporation TigerLake GT2 [Iris Xe Graphics] [8086:9a49] (rev 01)`):
- Display server if rendering to display: Wayland

## Issue behavior
### Describe the current behavior
Currently, Firefox can't make use of the iHD driver for video decoding

[2021-09-08 08:12] Esokrates commented on #1261
Seems to be a duplicate of https://github.com/intel/media-driver/issues/854

[2021-09-08 08:12] #1261 closed

[2021-09-08 10:30] Darkspirit commented on #854
Regarding Firefox it should be noted that - still experimental - VAAPI decoding will be moved from the sandboxed content process to the unsandboxed GPU process. Current sandbox violations don't seem to matter then.

[2021-09-08 16:38] uartie commented on #1259
fixed by #1260

[2021-09-08 16:38] #1259 closed

[2021-09-09 13:22] simonbagley opened #1262 "Fails to build"
I'm probably making a newby mistake, but the media-driver build is failing at the last step, when I issue the make -j8 command.
I am getting lots of these sort of errors:

[code]

and

[code]

[2021-09-10 06:49] MicroYY commented on #1225
Hi @SiewHoon

MJPEG 2k
MJPEG 4k (444)
H265 4k (444)

Could you comment on what's the format of decode output in the above 3 cases?
From the driver log, I see MJPEG 4k (444) decode format is 444 planar, while BT2020 444 planar format  isn't supported by driver.

[2021-09-13 08:48] Sherry-Lin commented on #1117
Does this issue still exist?

[2021-09-14 00:05] JeremyShang commented on #1237
Fix is merged in https://github.com/intel/media-driver/commit/f762ed1bc1c46f50e93af70fa50cf12f4750b7d4

[2021-09-14 06:06] XinfengZhang commented on #210
it should already been fixed by latest driver. latest driver add the support of GLK

[2021-09-14 06:06] #210 closed

[2021-09-14 06:06] XinfengZhang commented on #211
it should already been fixed by latest driver. latest driver add the support of GLK

[2021-09-14 06:06] #211 closed

[2021-09-14 06:06] XinfengZhang commented on #212
it should already been fixed by latest driver. latest driver add the support of GLK

[2021-09-14 06:06] #212 closed

[2021-09-14 08:38] FurongZhang commented on #1225
@MicroYY , what is BT2020 444 planar format you are seeing? Thanks a lot in advance!

[2021-09-14 21:54] sushma08 commented on #1200
@vvbuzove any updates on this?

[2021-09-15 14:04] XinfengZhang commented on #1262
hi @simonbagley , could you share more information , compiler version, OS version etc.

[2021-09-19 00:53] ajgnet opened #1265 "VAAPI VP9 Encode on Rocket Lake Crashes - GPU HANG"
- 11th Gen Intel(R) Core(TM) i7-11700K @ 3.60GHz
- 00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:4c8a] (rev 04)

GPU hangs when HW VP9 encoding using ffmpeg + vp9_vaapi:
[code]

dmesg shows:
[code]

The current packages are installed:

- intel-media-va-driver-non-free:amd64 21.1.1+ds1-1
- intel-gpu-tools                      1.25-2.1
- intel-media-va-driver-non-free:amd6

[2021-09-22 07:22] Xiaogangli-intel commented on #343
close it because we will not fix it.

[2021-09-22 07:22] #343 closed

[2021-09-22 07:26] Xiaogangli-intel commented on #723
This issue should already be fixed, and there are no activities on it for more than 1 year. Close it, if you still meet this issue, please fill a new issue, thank you.

[2021-09-22 07:26] #723 closed

[2021-09-22 07:28] Xiaogangli-intel commented on #745
There are no activities on this issue for almost 1 year, I will close it. If you still can meet this issue, please file a new one for it. Thank you.

[2021-09-22 07:28] #745 closed

[2021-09-22 07:34] Xiaogangli-intel commented on #766
I will close it because there's no responses for more than 1 year.

[2021-09-22 07:34] #766 closed

[2021-09-22 07:35] Xiaogangli-intel commented on #772
close it because there's no response for more than 1 year.

[2021-09-22 07:35] #772 closed

[2021-09-22 07:37] Xiaogangli-intel commented on #824
Close it, there's no such issue now.

[2021-09-22 07:37] #824 closed

[2021-09-22 07:39] Xiaogangli-intel commented on #825
Close it, no activities for more than 9 months.

[2021-09-22 07:39] #825 closed

[2021-09-22 23:30] bbbear2002 commented on #1231
It seems that LIBVA_TRACE didn't export anything when i opened the stream media.

[2021-09-28 17:41] Mr-Tao opened #1268 "iHD reports 0 subpicture formats available resulting in no OSD support in mpv"
## System information
- CPU information: model name : Intel(R) Core(TM) i5-8350U CPU @ 1.70GHz
- GPU information: 00:02.0 VGA compatible controller [0300]: Intel Corporation UHD Graphics 620 [8086:5917] (rev 07)
- Display server if rendering to display: X

## Issue behavior
### Describe the current behavior
[code]

### Describe the expected behavior
[code]
## Debug information
- What's libva/libva

[2021-09-29 05:53] FocusLuo commented on #1227
@wangyan-intel  @Xiaogangli-intel does this issue fixed and can be used?

[2021-09-29 16:11] chao-camect commented on #1080
I spent some time on this recently. Apparently, there are at least two bugs here. My previous minimal program can only repro one of them. The first one is an easy fix. It's caused by the code reads a vector w/o lock. The fix is here:
<pre>
diff --git a/media_driver/agnostic/common/os/mos_gpucontextmgr.cpp b/media_driver/agnostic/common/os/mos_gpucontextmgr.cpp
index f5ffc26..72711e3 100644
--- a/m

[2021-09-30 01:03] bbbear2002 opened #1270 "Intel Tiger Lake, Xe Graphics, vainiliate failed"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
model name      : 11th Gen Intel(R) Core(TM) i5-11300H @ 3.10GHz

- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:9a49] (rev 01)

- Display server if rendering to display(X or wayland):
Don't know how

## Issue behavior
Cannot use v

[2021-09-30 03:11] Jexu commented on #1080
My understanding, mos_bo_unreference will totally release the bo handle from kernel and make the bo unaccessible. So you maynot try to add mos_bo_unreference in GpuContextSpecificNext::ResetGpuContextStatus.  Your above log shows the resource becomes unreadable which maybe caused by the unreference call.
You can do the experiment by calling GpuContextSpecificNext::ResetGpuContextStatus in every be

[2021-09-30 11:33] gromiak opened #1271 "lack of VAEntrypointEncSlice for VAProfileVP9."
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):model name	: 11th Gen Intel(R) Core(TM) i7-11700T @ 1.40GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:4c8a] (rev 04)
- Display server if rendering to display(X or wayland):

## Issue behavior
### Describe the current behavior

[2021-09-30 12:05] #1271 closed

[2021-10-07 07:36] chao-camect commented on #1080
Both mos_bo_reference and mos_bo_unreference are reference counted. The change I proposed was to avoid a typical dangling pointer bug.
Anyway, I figured out why the fix didn't work. It's indeed a dangling pointer bug, just wrong place.
<pre>
diff --git a/media_driver/agnostic/common/codec/hal/codechal_decode_avc.cpp b/media_driver/agnostic/common/codec/hal/codechal_decode_avc.cpp
index ac85098..ff

[2021-10-08 02:16] Jexu commented on #1080
Can you send out both PR directly, so we can ask to verify and merge it.

[2021-10-09 00:33] bbbear2002 commented on #1270
I saw in the vainfo that, the libva version is (libva 2.4.0), but i have installed the latest v2.13. Is this caused the issue?

[2021-10-12 11:21] aniketor opened #1273 "HW DEC vaapi visual glitches on Intel Tiger Lake Xe Graphics"
## System information
- CPU information: 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz
- GPU information: Intel Corporation TigerLake-LP GT2 [Iris Xe Graphics]
- Display server: Xorg
- OS: Debian 10 Buster
- Kernel: 5.10.0-0.bpo.8-amd64
- Environment: Docker (Base: Ubuntu 18.01)

## Decoded image is garbled or glitched
Trying to decode an RTSP stream using gstreamer with vaapi.

Gstreamer pipelin

[2021-10-13 19:38] edwarddavidbaker opened #1274 "(valgrind) AV1 decode mismatched free/delete"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
[code]
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
[code]
- Display server if rendering to display(X or wayland):
Ubuntu 21.04 by default uses wayland.
[code]

## Issue behavior
### Describe the current behavior
[code]

### Describe the expected behavior
No output from valgrind.

## Debug information

[2021-10-13 23:36] #1274 closed

[2021-10-15 04:49] XinfengZhang commented on #854
actually, for Iris Xe, we do not need IPC any more, the IPC call is only for Gen9 (SKL, KBL,...) which has no virtual engine support.

We already have a patch which remove the IPC call , but it is not merged because of regressions and concerns.
for gen9 platforms like SKL.   it has two VDBoxes, so, to balance the task from different process, we need IPC call to reserve the task information on thes

[2021-10-15 08:41] ravenexp commented on #854
CPU: Core i5-1135G7
DEV ID: `0x9a49`

[2021-10-17 12:32] XinfengZhang commented on #1270
and the libva log you shared should just include the vainfo, not from the failed cases of your browser usage

[2021-10-17 12:43] XinfengZhang commented on #1258
hi @nach ,
for the performance , I suppose the most important part of the perf data is frequency. could you share the frequency data  of each platform when you run the encode command?

another issue is about low_power mode, you modified the h264encode.c to replace VAEntrypointEncSlice to VAEntrypointEncSliceLP?

[2021-10-17 12:52] XinfengZhang commented on #1249
@D0nnieD4rk0  will close the issue, if you have any concern or new information , please re-open it directly.

[2021-10-17 12:52] #1249 closed

[2021-10-17 13:19] #1168 closed

[2021-10-17 13:24] XinfengZhang commented on #1270
duplicate with #1231 ?

[2021-10-17 13:27] #1240 closed

[2021-10-17 13:29] XinfengZhang commented on #1248
cherryview is supported by https://github.com/intel/intel-vaapi-driver , not by intel media driver. so suppose the issue was resolved. thanks

[2021-10-17 13:29] #1248 closed

[2021-10-19 06:09] babam86 commented on #1155
@rmkimathi

Can Mpv using HW decoding properly?

Distro: Slackware64 Current
Cpu: Intel i3 1115G4
Graphic: Intel UHD Graphics Xe G4
Ffmpeg-git (20211017)
Mpv 0.33.0

mpv --hwdec=vaapi Stream1_AV1_HD_2.7mbps.webm  ---> Broken

ffmpeg -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -c:v av1 -i Stream1_AV1_HD_2.7mbps.webm -c:v rawvideo -c:a copy -f nut - | mpv -  ---> Works fine

Thanks.

[2021-10-19 07:44] rmkimathi commented on #1155
The fix was applied in ffmpeg git. So you have to mpv-build with latest ffmpeg to enjoy proper AV1 hw decode

[2021-10-20 07:43] HeJunyan commented on #1241
for all encoder, decoder and VPP context

[2021-10-20 08:50] aidan2020sh commented on #1265
@ajgnet , have you updated the IFWI to the latest? Recently a random GPU hang issue found in HEVC/VP9 Vdenc cases on RKL has been fixed with ww33 or the latest IFWI.

[2021-10-21 06:04] XinfengZhang commented on #1232
merged by 78cddcb692f9e14fa62727f7848200f43e397cd5

[2021-10-22 01:39] Darkspirit opened #1276 "Intel sold an unlocked H264 hardware decoder to me that is usable via the VAAPI interface. Where can I find the H264 patent license confirmation?"
* One can buy a license key to unlock Raspberry Pi's MPEG2 hardware decoder: https://codecs.raspberrypi.org/mpeg-2-license-key/
(H264 hardware decoder is already unlocked/licensed by default, it could be used via ffmpeg h264_v4l2m2m api)
* One can buy a license to unlock Windows' HEVC software decoder+encoder: https://www.microsoft.com/en-us/p/hevc-video-extensions/9nmzlz57r3t7
* [Cisco](https://w

[2021-10-22 06:42] #1273 closed, assigned to guowillyy

[2021-10-26 07:25] #1254 closed, assigned to XinfengZhang

[2021-10-26 10:26] lat9nq opened #1279 "VP9 FFmpeg encoding outputs garbage via both vaapi and qsv"
## System information
Output of `inxi -GSC -xx`:
[code]

This issue was present in the previous Linux installation I was running.

## Issue behavior
### Describe the current behavior
Output of `ffmpeg -vaapi_device /dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i 2021102322202600-CBA841B50A92A904E313AE06DF4EF71A.mp4 -c:v vp9_vaapi -b:v 2M -bf 2 -bsf:v vp9_raw_reorder,vp9_superfra

[2021-10-27 06:11] SiewHoon opened #1280 "Does CSC input NV12 to output RGBA support up to 8k resolution?"
## System information
TGL-U and ADL-S/P platform.

## Issue behavior
### Describe the current behavior
CSC input NV12 to output RGBA is not working at 8K (7680x4320) resolution.
CSC input NV12 to output RGBA is working at small  (1080x720) resolution.

### Describe the expected behavior
CSC input NV12 to output RGBA should be also working on 8k resolution.

## Debug information
- What's libva/libv

[2021-10-29 03:09] xhaihao opened #1282 "GPU hang when using ffmpeg and gstreamer for h265 decoding on SG1"
## System information
- Impacted GPU platform: SG1 (PCI id: 0x4907)
- Host machine if it's descreted card: CFL machine but iGPU is disabled)
- Good libva/libva-utils/gmmlib/media-driver version?  It worked with production kernel and media-driver without upstream kerenel support.
- Bad libva/libva-utils/gmmlib/media-driver version?
  libva: bc5c4b0e30ff426d7b9d6611098d02fc5c7d45d1
  gmmlib: 70d68b9

[2021-10-30 19:06] nirik opened #1283 "Crash on Xe graphics with seccomp"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
model name      : 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
00:02.0 VGA compatible controller [0300]: Intel Corporation TigerLake-LP GT2 [Iris Xe Graphics] [8086:9a49] (rev 01)
- Display server if rendering to display(X or wayland):
Wayland
## Issue be

[2021-10-31 04:21] bbbear2002 opened #1284 "gmmlib cmake error"
cmake [-DCMAKE_BUILD_TYPE= Release] [-DARCH= 64] ..
-- API version: 11.3.0
-- Package version: 11.3.0
*BUILD_TYPE not defined, default to: release
platform: Linux
source_dir: /home/bbbear2002/gmmlib/Source/GmmLib
arch: 64
build type: Release
SourceConfiguration:
CommonDir: /home/bbbear2002/gmmlib/Source/Common
IncDir: /home/bbbear2002/gmmlib/Source/inc
MOCS table: Static
CMake Error at /usr/share/

[2021-10-31 04:21] bbbear2002 commented on #1284
Compiling the CXX compiler identification source file "CMakeCXXCompilerId.cpp" failed.
Compiler: CMAKE_CXX_COMPILER-NOTFOUND
Build flags:
Id flags:

The output was:
No such file or directory

Compiling the CXX compiler identification source file "CMakeCXXCompilerId.cpp" failed.
Compiler: CMAKE_CXX_COMPILER-NOTFOUND
Build flags:
Id flags: -c

The output was:
No such file or directory

Compiling the

[2021-10-31 04:22] bbbear2002 commented on #1284
The system is: Linux - 5.12.14-amd64-desktop - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: /usr/bin/cc
Build flags:
Id flags:

The output was:
0

Compilation of the C compiler identification source "CMakeCCompilerId.c" produced "a.out"

The C compiler identification is GNU, found in "/home/bbbear2002/gmmlib/CMakeFiles/3.13.4/CompilerIdC/a.ou

[2021-10-31 10:10] Jqh63 commented on #930
Seems OK now on last LSIO Plex from 4K HDR H265 to 1080p H264 using HW, nice!

[2021-11-01 02:06] #1119 closed

[2021-11-01 06:34] XinfengZhang commented on #1284
sorry, but why not file the issue against https://github.com/intel/gmmlib?

[2021-11-01 06:35] XinfengZhang commented on #1284
@johnmach

[2021-11-02 21:39] chao-camect commented on #1080
I think it's a fix now. Thanks!

[2021-11-03 04:02] georgnistor commented on #1190
Hi,
I have the very same problem on i9-11900T
with UHD 750.

The setup I have is:
Open SUSE Tumbleweed 20211101 with ffmpeg 4.4.1
Kernel 5.14.14-1 64 bit
Mesa Intel Graphics

I am not able to encode with ffmpeg using va-api
ffmpeg -y -vaapi_device /dev/dri/renderD128  -i  input.ts  -vf 'format=nv12,hwupload' -c:v hevc_vaapi  -b:v 6M  -c:a copy out.mkv

@lobomfz
Did you find a solution?

[2021-11-03 04:20] georgnistor commented on #1265
Hi,
I cannot encode at all with vp9_vaapi encoder selected.

[vp9_vaapi @ 0x56388f8c0000] No usable encoding entrypoint found for profile VAProfileVP9Profile0 (19).
Error initializing output stream 0:0 -- Error while opening encoder for output stream #0:0 - maybe incorrect parameters such as bit_rate, rate, width or height

Here is my vainfo output:
george@localhost-live:~> vainfo
libva info: VA-A

[2021-11-03 08:36] XinfengZhang commented on #1265
@georgnistor , please share your platform information, huc firmware was not loaded?

[2021-11-03 08:53] Xiaogangli-intel commented on #1250
@elainewangprc Thank you, we already added some tests for this.
I will close this issue.

[2021-11-03 08:53] #1250 closed

[2021-11-04 02:34] aidan2020sh commented on #1265
you can try below commands to check the guc&huc status, maybe the directory has some tiny difference in your system:
sudo cat /sys/kernel/debug/dri/0/i915_guc_load_status
sudo cat /sys/kernel/debug/dri/0/i915_huc_load_status
if guc/huc is not on, please try adding the paramter "i915.enable_guc=2" when loading i915.

[2021-11-08 19:58] paulmenzel commented on #854
@XinfengZhang, thank you for working on this issue. As this issues seems to [prevent the Firefox developers to enable VA-API video decoding by default in Mozilla Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1698778), do you have a time frame, when all generations will be fixed?

[2021-11-08 23:07] heftig commented on #854
It seems ICL is not fixed yet, either.

[2021-11-09 02:09] feiwan1 commented on #1190
Hi @Xiaogangli-intel @XinfengZhang this may be caused by leak of VAConfigAttribEncHEVCFeatures&VAConfigAttribEncHEVCBlockSizes attrib report on ICL+ in media-driver. Previously Mark submitted a patch https://github.com/intel/media-driver/pull/866 which based on legacy interface. It need port to lastest libva interface. And I am not sure if Mark's patch is correct, in my understanding, ICL/TGL attr

[2021-11-09 04:40] #1227 closed

[2021-11-09 06:44] MicroYY commented on #1280
Hi @SiewHoon
I debugged and found that in this case, the input is BT2020 NV12, which is unsupported in media-driver.
Seems this issue shares the same root-cause with this one https://github.com/intel/media-driver/issues/1225.
Will discuss with @FurongZhang  on how to handle this situation.

[2021-11-09 07:01] MicroYY commented on #1083
Hi @yefengxx
This is expected, as VPP BLT doesn't gives bit match result even in/out is the same.
This case is using render kernel. For ICL and TGL, different kernels are used.
So there may be results that ICL in/out bit match while TGL not.

[2021-11-09 08:09] Xiaogangli-intel commented on #1179
@wenbinc-Bin Won't this issue be fixed by [https://github.com/Intel-Media-SDK/MediaSDK/pull/2667](url)?

[2021-11-09 08:12] wenbinc-Bin commented on #1179
@Xiaogangli-intel Yes, this issue is fixed. Now this issue can be closed.

[2021-11-09 09:28] rmkimathi commented on #1190
Thank you @feiwan1

Workaround patch for ffmpeg fixes hevc_vaapi encode on TGL Xe Graphics.

[2021-11-10 18:54] SoftwareRat opened #1286 "Is Braswell not supported?"

[2021-11-11 07:42] xhaihao commented on #1190
@feiwan1 My understanding is that the added interfaces should be applied to TGL+ only, the legacy code works on ICL.

[2021-11-11 08:18] feiwan1 commented on #1190
Thanks @xhaihao for reminder. Current code works on ICL indeed. Just need to update TGL+'s code only. And corrected my previous comment.

[2021-11-11 08:34] XinfengZhang commented on #1190
https://github.com/intel/media-driver/pull/1121

[2021-11-11 10:54] HeJunyan opened #1287 "Webkit fails to play the video correctly."
## System information
- Impacted GPU platform: Mesa Intel® HD Graphics 620 (KBL GT2)

## Issue behavior
### Describe the current behavior
The video output has garbage and artifact.

### Describe the expected behavior
Should play the video well.

You can see
https://gitlab.freedesktop.org/gstreamer/gstreamer/-/issues/877
for more details.

21.3.2-1 is OK but 21.3.5-1 is not good.

[2021-11-11 10:54] HeJunyan commented on #1287
It's a bug found by the gstreamer community.

[2021-11-11 12:43] MicroYY commented on #958
Hi @xhaihao
This issue should be expected because output centering is introduced in TGL. Does the explanation make sense for you?
Could you help close this issue?

[2021-11-11 14:52] eero-t commented on #1283
Seems like media-driver does NULL pointer (method) access, when seccomp sandbox rejects system call "64", and returns error instead.

Instead media-driver should check for the error [1] and return failure back to libva.

Media still won't work though.  That you need to take up with Firefox sandbox authors.

---

[1] Easier way for media-driver devs to experiment with seccomp filters could be using

[2021-11-11 15:05] eero-t commented on #1286
As the README states, driver in this project (iHD) supports HW from Broadwell up.  For Braswell and older you need to use an older driver.

All the major Linux distributions provide that, e.g. in Ubuntu that older driver comes from the "i965-va-driver" package: https://packages.ubuntu.com/focal/i965-va-driver

Please close this bug (I cannot).

[2021-11-11 15:40] #1286 closed

[2021-11-13 10:34] JohyC opened #1288 "guys! I need someone help me! I use media-driver in vainfo got this: Sku/Wa/GtSystemInfo initialization!~"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
- Display server if rendering to display(X or wayland):

CPU : model name      : Intel(R) Core(TM) i7-4785T CPU @ 2.20GHz
GPU: Intel Corporation Xeon E3-1200 v3/4th Gen Core Processor Integrated Graphics Controller
LINUX: Debian GNU/Linux 11 (bullseye) x86_

[2021-11-15 01:54] XinfengZhang commented on #1288
sorry about it, but media-driver start the support from BDW, your platform is HSW which is not in please refer https://github.com/intel/media-driver#supported-platforms
please use i965 driver https://github.com/intel/intel-vaapi-driver , thanks

[2021-11-15 02:27] JohyC commented on #1288
😭😭😭i got it. thanks you reply for this ques.

[2021-11-15 02:28] #1288 closed

[2021-11-16 10:08] vvbuzove commented on #1200
@sushma08 we have narrowed down the issue to a component that is specific to VP9 VDEnc and is not used in AVC and HEVC. The perf drop is more noticeable on small resolutions. Detailed performance analysis is in progress.

[2021-11-16 15:57] vvbuzove commented on #1279
@XinfengZhang we will look into this.

[2021-11-16 17:34] sushma08 commented on #1200
Thank you @vvbuzove. Will look forward to the fix.

[2021-11-16 19:34] jtux270 opened #1289 "Tabs with embed video crash on Firefox 94.0.1 (64-bit) on Manjaro"
## System information
- CPU: 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz
- GPU: 00:02.0 VGA compatible controller [0300]: Intel Corporation TigerLake-LP GT2 [Iris Xe Graphics] [8086:9a49] (rev 01)
- kernel 5.15.0-1-MANJARO

## Issue behavior
### Describe the current behavior
Firefox tab crashes wile trying to open the page with the embed video, can't watch embed videos on Reddit, the example pa

[2021-11-17 05:18] mattst88 opened #1290 "Missing 21.4.2 tag?"
https://github.com/intel/media-driver/commit/9aef03e7c1a45b49f177926559f00f34e8314e7b bumped the version to 21.4.2, but there's no corresponding git tag.

Is this intentional, or is it an oversight?

[2021-11-19 10:24] HeJunyan commented on #1241
OK for me.

[2021-11-19 19:01] Brainiarc7 commented on #771
Hello there @karoldob ,

You'll need to add the the `vp9_superframe` and the `vp9_raw_reorder` bitstream filters to get correct output with these encoder wrappers.

Try the command below and report back:

[code]

[2021-11-22 06:50] ValZapod commented on #1225
It should use bt601 with full range since that is the only matrix mjpeg supports.

[2021-11-23 06:10] Jexu commented on #621
We will close this issue since it exists for long time. Please feel free to re-open it again if you still meet similar issue. Thanks a lot.

[2021-11-23 06:10] #621 closed

[2021-11-23 06:59] Jexu commented on #1151
Some fix in i915 driver, can you try with latest kernel + media driver to check if the issue still exists. Thanks a lot.

[2021-11-23 07:52] Sherry-Lin commented on #1117
no response from submitter couple months so close it.

[2021-11-23 07:52] #1117 closed

[2021-11-23 08:03] XinfengZhang commented on #1290
@Sherry-Lin

[2021-11-23 08:05] XinfengZhang commented on #1289
how about #1293

[2021-11-23 08:34] #958 closed

[2021-11-23 08:35] #1083 closed

[2021-11-23 09:12] Sherry-Lin commented on #1290
Yes, the flow is bump up to new version first, once it pass bi-weekly rolling release cycle, we will tag it.

[2021-11-23 11:19] paulmenzel opened #1294 "Accesses to `/etc/libva.conf` and `/etc/igfx_user_feature.txt`"
Using Debian sid/unstable intel-media-va-driver-non-free:amd64 21.4.1+ds1-1, and Mozilla Firefox (Nightly) with VA-API, running `sudo opensnoop.bt`, it shows a lot of accesses to `/etc/libva.conf` and `/etc/igfx_user_feature.txt`.

[code]

According to [Video Processing Debug Tool](https://github.com/intel/media-driver/wiki/Video-Processing-Debug-Tool), at least `/etc/igfx_user_feature.txt`, is ma

[2021-11-23 12:38] fti-ahande opened #1295 "segfault error 4 in iHD_drv_video.so"
## System information
- CPU information: 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz
- GPU information: Intel Corporation TigerLake-LP GT2 [Iris Xe Graphics] [8086:9a49] (rev 01)
- Display server: X

## Issue
iHD driver segfault while running my gstreamer pipeline (vaapih264enc)
[code]
Pipline as follows:
[code]

## Debug information
- gst-inspect vaapi
[code]
- What's libva/libva-utils/gmmlib/

[2021-11-23 12:41] fti-ahande commented on #1295
I found below in dmesg:
`uvcvideo: Failed to resubmit video URB`
kernel issue?

[2021-11-23 14:53] Sherry-Lin commented on #1290
21.4.2 tagged just now(https://github.com/intel/media-driver/releases/tag/intel-media-21.4.2) after passing qualification, so I will close this issue.

[2021-11-23 14:53] #1290 closed

[2021-11-24 07:18] SiewHoon commented on #1225
Hi @MicroYY @jiafengy1

I tried on this https://github.com/intel/media-driver/pull/1281 and running the test with gstreamer-vaapi in pipeline mention in this issue. It is still failing.

[2021-11-24 09:03] SiewHoon commented on #1225
HI @MicroYY  @jiafengy1

The PR#1281 can work after git format-patch -1  from jiafeng repo and apply on top of Q3'2021 media driver and able execute on this command pipeline :

Command:
export GST_GL_PLATFORM=egl
gst-launch-1.0 filesrc location=/mnt/media/Elecard1_3840x2160_8mbps_30fps_444_1.avi ! avidemux ! vaapijpegdec ! vaapipostproc ! glimagesink

[2021-11-25 18:30] ajgnet commented on #1265
Yes: latest IFWI. Does not make a difference. We were forced to upgrade to Alder Lake which runs perfectly.

[2021-11-26 05:33] mattst88 commented on #1065
Even if the options are not tested, it makes sense to simply remove the Gen10 code, since Cannonlake GPUs never shipped.

ChromeOS would appreciate code-size reductions, and Gen10 code is at least 3.8 MiB (>10%, 35 MiB -> 31 MiB):

[code]

`size` output:
[code]

[2021-11-26 09:20] Karlson2k opened #1297 "Missing "releases" for "tags""
This repository has many [tags](https://github.com/intel/media-driver/tags) without matching [releases](https://github.com/intel/media-driver/releases).
21.4.1, 21.4.2, 21.3.0, 21.3.1, 21.3.2, 21.3.4, 21.3.4 are all tags without releases.
It was mentioned In https://github.com/intel/media-driver/issues/1290, that code is tagged only after proper testing.

Does it mean that releases are made only a

[2021-11-26 17:16] D0nnieD4rk0 opened #1298 "libva error: /usr/lib/dri/iHD_drv_video.so init failed"
running an intel chip Intel Celeron N3150 post broadwell (brasswell released in 2015) and i get this with the intel-media-driver on arch
any suggestions on how to make it work ?
thanks in advance

[2021-11-28 01:59] schnulller commented on #1295
I had a similar issue (segfault with error 4) and resolved it temporarily by using the non-free version of the driver. I know it's just a workaround, but maybe it helps.

[2021-11-28 11:32] ghost opened #1299 "vainfo only shows supported profile 'VAProfileNone VAEntrypointVideoProc'"
## System information
- CPU information
` Intel(R) Core(TM) i5-9600K CPU @ 3.70GHz`
- GPU information:
`00:02.0 VGA compatible controller [0300]: Device [1234:1111] (rev 02) `
`00:10.0 VGA compatible controller [0300]: Intel Corporation Device [8086:3e98]`

## Issue behavior
case when I use `export LIBVA_DRIVER_NAME=i965`
expect supported profile for decode/encode as the document said
I also tried

[2021-11-28 19:24] chao-camect commented on #1080
Unfortunately, commit "Correct the resource reference count" causes another problem: huge memory usage increase.
I have 12 cameras (4 8MP, 4 4MP, 4 2MP). Without the commit, gem objects use about 2G memory. With the commit, gem objects use about 6.5G memory. Is there anyway to avoid reference these bo unnecessarily?

[2021-11-29 05:04] fti-ahande commented on #1295
Thanks @schnulller for your suggestion. I forgot to mention that I have compiled libva and intel-media-driver from source.

[2021-11-29 07:06] Sherry-Lin commented on #1284
Build error when compiling GmmLib, submitter moved to https://github.com/intel/gmmlib/issues/90, so close this issue.

[2021-11-29 07:06] #1284 closed

[2021-11-29 07:22] Sherry-Lin commented on #1287
Is it related to format support issue in gst-inspect-1.0 vaapipostproc? Could you provide the cmdline to reproduce this issue?

[2021-11-29 07:44] Jexu commented on #1282
Some questions:
It is single session or  multi-session decode?
Only hang with your h265 bitstream or any one can reproduce it? If only with your bitstream, does your h265 have realtile? i mean you can try if it works with scalability disabled.

[2021-11-29 11:11] SiewHoon opened #1300 "media-driver: hitting double free running with gst-vaapi decode pipeline with multiple decode"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
model name      : Genuine Intel(R) CPU 0000 @ 1.70GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
 00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:9a78] (rev 01)
- Display server if rendering to display(X or wayland): X
- OS Ubuntu: 20.04

## Issue behavior
Every time running

[2021-11-29 11:48] SiewHoon commented on #1300
This issue does not reproduce by using Q2'2021 Media stack release.

[2021-11-29 21:31] edwarddavidbaker opened #1301 "Building with -DGEN8=OFF fails"
## System information
- GPU platform enabling for new feature: Build configuration request and not specific to hardware.
- Host machine if it's descreted card: Not a discrete card.
- libva/libva-utils/gmmlib/media-driver version you are using? Top of master branches
- Are you willing to contribute it?(Yes/No) Yes

## Feature Information
### Describe the feature and expected behavior
Building with

[2021-11-29 22:10] mattst88 commented on #1301
There's a similar issue filed as https://github.com/intel/media-driver/issues/1065

It makes some sense to me to support disabling particular generations, but especially Gen10 since it never shipped and costs ~3.8 MiB on disk.

[2021-11-29 22:43] edwarddavidbaker commented on #1301
Thanks Matt. Not sure how I missed that when searching for prior issues. I'll close this since it is a duplicate and the other thread has in progress conversations.

[2021-11-29 22:44] #1301 closed

[2021-11-30 11:10] SiewHoon commented on #1300
This issue not able reproduce without this patch : https://github.com/intel/media-driver/commit/99690b6c66eccc710772a1ea82b8d626a7c7089c + Q3'2021 media driver.

Also git checkout this commit 99690b6c66eccc710772a1ea82b8d626a7c7089c  and install it in the system able to reproduce the issue.

[2021-11-30 16:56] uartie opened #1303 "[regression] JPEGd 422V (440P) wrong Cr output"
## System information
- Impacted GPU platform:

  KBL, CFL, DG1

- Host machine if it's descreted card:
- **GOOD** libva/libva-utils/gmmlib/media-driver version?

  intel-media-driver: e2011ffcb5dc2d04ffd320ebcfe57fb55522baa7

  cartwheel ffmpeg: https://github.com/intel-media-ci/cartwheel-ffmpeg/commit/3ef607590e782c9266308a66b73979c740558910

- **BAD** libva/libva-utils/gmmlib/media-driver versi

[2021-11-30 16:57] uartie commented on #1303
Here is the 422V input file:

![smpte_422V](https://user-images.githubusercontent.com/677859/144092383-39bd8631-d907-4566-8073-f5a0407e038a.jpeg)

[2021-12-01 05:32] Sherry-Lin commented on #1300
it's related to MOS change, so move to media common team debug.

[2021-12-01 07:02] mattst88 commented on #1065
Please reopen. This is still broken for `-DGEN10=OFF`.

[2021-12-01 15:09] dvrogozh commented on #1065
Reopening (got automatically closed after #1302 merge in).

[2021-12-01 17:37] dvrogozh commented on #1065
GEN10=OFF build failures:
[code]

@XinfengZhang : do you remember whether g10 headers usage for g11 path was by intent?

[2021-12-01 17:54] dvrogozh commented on #1065
Looking into the code, codechal_vdenc_vp9_g11.cpp is trivial - we can freely remove `#include "igcodeckrn_g10.h"`, nothing depends on 2 definitions it exposes.

`codechal_vdenc_hevc_g11.cpp` is the problem however. It heavily uses definitions from `codechal_vdenc_hevc_g10.h` which results in a bunch of errors:
[code]

[2021-12-02 10:24] pingliwa commented on #1300
Please help to try this PR https://github.com/intel/media-driver/pull/1305

[2021-12-02 11:59] nyanmisaka opened #1306 "[JSL] Jasper Lake Gen11 doesn't support non-low-power(PAK+kernel+VME) encoding"
## System information
- CPU information: Intel(R) Pentium(R) Silver N6005 @ 2.00GHz
- GPU information: Intel Corporation JasperLake [UHD Graphics] [8086:4e71] (rev 01)
- Display server if rendering to display: X11

## Issue behavior
### Describe the current behavior
On Jasper Lake Gen11 platform, the H264 and HEVC non-low-power encoding(PAK+kernel+VME encoding) is not available.
This means only CQ

[2021-12-02 12:39] XinfengZhang commented on #854
#1293

[2021-12-02 15:49] SiewHoon commented on #1300
Done verified using this PR#1305. The issue no longer able to reproduce.

[2021-12-03 03:28] Sherry-Lin commented on #1300
Thanks @SiewHoon  for quick check. We will try to merge the code as quick as possible.

[2021-12-03 15:26] #1241 closed

[2021-12-04 22:21] jankratochvil opened #1307 "Crash in firefox playing media on Intel+nVidia Lenovo 20TD002MCK"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
model name	: 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
00:02.0 VGA compatible controller [0300]: Intel Corporation TigerLake-LP GT2 [Iris Xe Graphics] [8086:9a49] (rev 01)
05:00.0 3D controller: NVIDIA Corporation TU117M [GeForce MX450] (rev a1)
- Disp

[2021-12-05 09:23] XinfengZhang commented on #1307
actually, there are some issue with sandbox of firefox , could you help to try latest master with commit 4e70cd699 , this commit remove IPC call for TGL

[2021-12-05 09:29] xsmart opened #1309 "no VP9 encode for TGL"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`): 00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:9a49] (rev 01)
- Display server if rendering to display(X or wayland):X
-
Driver: https://github.com/intel/media-driver/releases/tag/inte

[2021-12-05 10:22] jankratochvil commented on #1307
Yes, it is working now. Thanks for finding the issue. I have [requested update for rpmfusion](https://bugzilla.rpmfusion.org/show_bug.cgi?id=6162).
rpmfusion is probably following the official intel-media-driver releases, maybe you could make a new release as this issue is serious.

[2021-12-05 10:22] #1307 closed

[2021-12-05 12:38] XinfengZhang commented on #1307
actually, we have another PR for older platform, #1293 , so, suppose we will have a release after it merged , then TGL and older platform will  both work.

[2021-12-05 12:42] XinfengZhang commented on #1283
suppose the issue is caused by the IPC failure then failed to exit with correct return value. so, I think maybe we need fix both.
1. could you help to try latest master with commit 4e70cd6? it remove IPC call for TGL.
2. @cqian2 , could you help to add some protection code to avoid crash?

ps, we have another PR #1293  for older platform

[2021-12-05 12:48] XinfengZhang commented on #1247
I guess the issue is similar with #854, #1307, #1283, #1289.
if you are using the older platform before TGL, please refer the PR #1293 , if your platform is TGL, suppose latest media driver master  (with commit 4e70cd6 ) should work

[2021-12-05 12:49] XinfengZhang commented on #1289
I guess the issue is similar with #854, #1307, #1283,.
your platform is TGL, suppose latest media driver master (with commit 4e70cd6 ) should work.

(ps, if you are using the older platform before TGL, please refer the PR #1293 )

[2021-12-05 13:22] XinfengZhang commented on #1309
@xsmart , could you share your build option ? by default VP9 enc is enabled, but if you build with ENABLE_NONFREE_KERNELS = OFF, it will be disabled.

[2021-12-05 13:25] XinfengZhang commented on #1306
@nyanmisaka , suppose it is not expectation? JSL has no  VME, so

[2021-12-05 13:30] XinfengZhang commented on #1303
seems it is because the incorrect UV offset.   which function is used to read final output? vaGetImage , or vaDeriveImage?

[2021-12-05 13:38] nyanmisaka commented on #1306
Can you confirm that JSL doesn't support VME and VEBox?
I see the VEBox was also disabled in the EHL/JSL sku code. The 3D-LUT(HDR10 TM) is disabled as a result.

https://github.com/intel/media-driver/blob/791f0c11359c5bcb8bbd58facb3e696f93d83398/media_driver/linux/gen11/ddi/media_sku_wa_g11.cpp#L364

[2021-12-05 14:14] XinfengZhang commented on #1299
could you help to try  vainfo --device card1 --display drm

[2021-12-05 14:16] XinfengZhang commented on #1298
please use https://github.com/intel/intel-vaapi-driver, media driver just support BDW and gen9+

[2021-12-05 14:17] XinfengZhang commented on #1294
@pingliwa , suppose it is an requirement for our next step refactor

[2021-12-06 01:07] xsmart commented on #1309
thanks
 cmake -DMEDIA_RUN_TEST_SUITE=OFF -DCMAKE_CXX_FLAGS=-fPIC -DCMAKE_C_FLAGS=-fPIC -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/home/user/h5sv/output/linux-x86_64-64bit/  ../../;

when check build command, it seem VP ENC is enable

-DENABLE_KERNELS -DHEVC_FEI_ENABLE_CMRT -DIGFX_GEN10_CNL_SUPPORTED -DIGFX_GEN10_SUPPORTED -DIGFX_GEN11_ICLLP_SUPPORTED -DIGFX_GEN11_JSL_SUPPORTED -DIGFX_GEN11

[2021-12-06 01:22] XinfengZhang commented on #1306
it support VEBox with pass-though mode only, in another words, it just used to program the command for SFC .  so, you could still run CSC , Scaling etc.

[2021-12-06 05:18] nyanmisaka commented on #1306
Thanks for your comments. Close it for now.

[2021-12-06 05:18] #1306 closed

[2021-12-06 05:53] uartie commented on #1303
@xhaihao do you have answer?

[2021-12-06 06:26] xhaihao commented on #1303
@uartie @XinfengZhang  FFmpeg uses vaGetImage() to retrieve data from gfx memory.

[2021-12-06 06:41] pingliwa commented on #1294
It accesses the /etc/igfx_user_feature.txt twice for each media context, one is to open for read at the beginning of the media context creation, and the other is to open for write at the end of the media context termination.
Does it run in multiple processes? Does it create and destroy media context multiple times in one process?

[2021-12-06 09:28] chao-camect commented on #1080
I am testing some changes like the following:
<pre>
diff --git a/media_driver/agnostic/common/codec/hal/codechal_decode_avc.cpp b/media_driver/agnostic/common/codec/hal/codechal_decode_avc.cpp
index ac85098..3f590fa 100644
--- a/media_driver/agnostic/common/codec/hal/codechal_decode_avc.cpp
+++ b/media_driver/agnostic/common/codec/hal/codechal_decode_avc.cpp
@@ -518,8 +520,11 @@ MOS_STATUS Codecha

[2021-12-06 09:59] paulmenzel commented on #1294
Thank you for your responses:

Why is that? What is written to it?

Sorry, no idea. With Mozilla Firefox/Nightly 96.0a1 (20211204215420) and I am currently not able to reproduce that anymore, when playing one video from YouTube (H264). Maybe beforehand there was some advertisement video played in some tab.

But, both of the files are not present on my system and not documented on my system. Readin

[2021-12-06 10:18] pingliwa commented on #1294
It is a configure file  mainly for debug for example the [Video-Processing-Debug-Tool](https://github.com/intel/media-driver/wiki/Video-Processing-Debug-Tool).

Write back the driver status.

Do not need it for the normal Intel media driver releases.

[2021-12-06 10:25] paulmenzel commented on #1294
Yes, that is what I wrote.

Well, if it’s not there in the beginning, can code be added to only write to it, if it was there in the beginning.

Can an environment variable be added to enable the debug mode, and if it’s not set, do not access these files at all?

[2021-12-07 01:36] Jexu commented on #1080
The issue seems related to the reference frame management. When umd try to update the reference list, it doesn't unreference the previous resource in the list. So you can check if any other places have similar reference updating. maybe in codechal_decode_avc_g12.cpp as well.

[2021-12-07 07:13] XinfengZhang commented on #1309
@ansokolo , could you help to take a look?

[2021-12-07 07:37] dyang23 commented on #1309
As I know by default TGL disable HuC firmware, without HuC firmware media driver will take as no VP9 encode support, please enable HuC firmware first.

[2021-12-07 08:30] xsmart commented on #1309
The OS is Description:    Ubuntu 20.04.3 LTS

echo "options i915 enable_guc=2" > /etc/modprobe.d/i915.conf (as root)

and i find there has error,
# dmesg  | grep guc
[    2.983617] Setting dangerous option enable_guc - tainting kernel
[    3.039451] i915 0000:00:02.0: Direct firmware load for i915/tgl_guc_49.0.1.bin failed with error -2
[    3.039457] i915 0000:00:02.0: [drm] GuC firmware i915/tgl

[2021-12-07 08:44] dyang23 commented on #1309
You can check HuC/GuC firmware load status by "cat /sys/kernel/debug/dri/0/i915_huc_load_status"
If no please make sure you installed the firmware in your Ubuntu system, then try to load it.

[2021-12-07 08:55] xsmart commented on #1309
manual download the file to from https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/ to /lib/firmware/i915/ will be OK.
it works. thanks
      VAProfileVP9Profile0            : VAEntrypointVLD
      VAProfileVP9Profile0            : VAEntrypointEncSliceLP
      VAProfileVP9Profile1            : VAEntrypointVLD
      VAProfileVP9Profile1            : VAEntrypointEncSliceLP

[2021-12-07 08:56] #1309 closed

[2021-12-07 09:00] MicroYY commented on #1225
We discussed internally and got an agreement that PR https://github.com/intel/media-driver/pull/1281 isn't a proper fix as it falls back BT2020 to BT709 silently while APP won't know. Currently Linux caps can't query color format and space simultaneous in one function, so media driver can't handle this case.
A initial idea is to add new API for caps, but we haven't finalize it. Will give more deta

[2021-12-07 10:36] eero-t commented on #1283
First ticket about this seems to be: https://github.com/intel/media-driver/issues/854

[2021-12-08 05:14] Jexu commented on #1287
It is umd driver regression?

[2021-12-08 05:36] HeJunyan commented on #1287
Please wait for more info from the community, I just get it from the community but I can not produce it locally. We need other maintainers root cause it.

[2021-12-08 07:53] Sherry-Lin commented on #1179
Close this issue which has been fixed.

[2021-12-08 07:53] #1179 closed

[2021-12-09 08:40] aidan2020sh commented on #1265
@ajgnet We do not observe such kind of GPU hang issue in internal VP9 encoder test. What you reported looks to be similar with one GPU hang resolved by a IFWI upgrade several months ago but i am not sure whether your IFWI contain the fix.  Are you still going to work on RKL with this issue resolved?  if yes, could you share the IFWI version and the source in your test?

[2021-12-11 16:08] primeos opened #1311 "The latest release fails to build with gmmlib 21.3.4"
See https://github.com/intel/gmmlib/issues/93. I haven't tested with `master` but 42ffd7983a32b75cf8403c235d8d0f727191390c might fix this. Maybe it's time for a new release?

[2021-12-13 17:41] edwarddavidbaker opened #1313 "[Encode] GLK VP8"
## System information
- GPU platform enabling for new feature: `N5000` device `0x3184`.
- Host machine if it's descreted card: Not applicable.
- libva/libva-utils/gmmlib/media-driver version you are using? Top of tree.
- Are you willing to contribute it? Yes.

## Feature Information
### Describe the feature and expected behavior
If possible, GLK platforms should support `VAProfileVP8Version0_3

[2021-12-14 04:20] xhaihao commented on #1303
@cqian2 @XinfengZhang any update for this issue ?

[2021-12-14 19:57] mattst88 commented on #1297
Ping?

[2021-12-15 05:43] cqian2 commented on #1303
@xhaihao , we are still syncing it internally. Will update here after it is confirmed or we have conclusion for it. Thx.

[2021-12-15 10:15] hye5 commented on #1300
Can u update the HSD to fix implemented?

[2021-12-15 13:49] fenhu commented on #1303
Would you try belwo patch?

intel@intel-OptiPlex-9020-0:~/gfx/opensource/media-driver$ git diff ./
diff --git a/media_driver/linux/common/ddi/media_libva.cpp b/media_driver/linux/common/ddi/cpp
index 865f9a97..99975efe 100755
--- a/media_driver/linux/common/ddi/media_libva.cpp
+++ b/media_driver/linux/common/ddi/media_libva.cpp
@@ -5174,7 +5174,7 @@ static VAStatus DdiMedia_CopySurfaceToImage(

[2021-12-15 15:57] SiewHoon commented on #1300
The issue fixed in PR#1305 fixed and code already merged. Move this issue to closed.

[2021-12-15 15:57] #1300 closed

[2021-12-16 01:10] fenhu commented on #1303
There is the PR:
https://github.com/intel-innersource/drivers.gpu.unified/pull/52661
verified both on KBL and DG1.   JPEGd works.

[2021-12-16 04:59] xhaihao opened #1314 "Core dumped when running vp9 tile encoding"
### CPU info
model name      : Genuine Intel(R) CPU 0000 @ 3.60GHz

### GPU info
00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:3e92]
03:00.0 VGA compatible controller [0300]: Intel Corporation Device [8086:4907]

### Describe the current behavior

Core dumped when running the command beblow:
[code]

### Describe the expected behavior

Run the above command without error.

[2021-12-17 05:34] Sherry-Lin commented on #1313
Thank you to provide the patch. Could you submit a pull request for it?

[2021-12-17 05:57] edwarddavidbaker commented on #1313
Thanks Sherry. I opened a pull request.

[2021-12-17 15:17] Sherry-Lin commented on #1297
Media-driver supports two release model
- Bi-weekly rolling release, to support some faster integration. That's the `tags` you see in GitHub.
- Quarterly release, OSV is major pick up this one. That's the `releases` you see in GitHub.

Basically these two release qualification cycles are similar but release scope may be different.

[2021-12-18 17:49] #1190 closed

[2021-12-21 08:05] #471 closed

[2021-12-21 20:55] catakot commented on #1231
I have same issue. Any ideas how to fix it?

- Windows 11
- 11th Gen Intel(R) Core(TM) i7-11370H @ 3.30GHz   3.30 GHz

Here is crashpad report

`PROCESS_NAME:  chrome.exe

ERROR_CODE: (NTSTATUS) 0xc00000fd - **A new guard page for the stack cannot be created.**

EXCEPTION_CODE_STR:  c00000fd

EXCEPTION_PARAMETER1:  0000000000000001

EXCEPTION_PARAMETER2:  0000009773401ff8

ADDITIONAL_DEBUG_TEXT:

[2021-12-21 22:43] ffontaine commented on #1311
Indeed, a new release would be great as https://github.com/intel/media-driver/commit/42ffd7983a32b75cf8403c235d8d0f727191390c does not apply cleanly on 21.4.3.

[2021-12-22 08:02] mengker33 opened #1316 "[TGL] VPP sharpen not working for YV12 input"
## System information
- CPU information:
  model name	: 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz
- GPU information:
   0000:00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:9a49] (rev 01)

### Describe the current behavior
Run vavpp cmd below:
<pre><code>vavpp process_sharpness.cfg
libva info: VA-API version 1.14.0
libva info: User environment variable requested drive

[2021-12-26 12:49] XinfengZhang commented on #1303
it should be fixed by fce936af16da67ccb9327ad1fa023cec769df00a

[2021-12-27 19:33] uartie commented on #1303
Thanks. Fix confirmed.

[2021-12-27 19:33] #1303 closed

[2021-12-28 06:24] dalcombright commented on #704
I am running into this issue now while using an i7-11700k.

[hevc_vaapi @ 0x55cc823a8480] Failed to end picture encode issue: 24 (internal encoding error).
[hevc_vaapi @ 0x55cc823a8480] Encode failed: -5.

or I get this in most of my conversions:

[h264 @ 0x559bb0a4a740] Failed to end picture decode issue: 23 (internal decoding error).
[h264 @ 0x559bb0a4a740] hardware accelerator failed to decode

[2021-12-28 07:37] fanli-hub opened #1317 "[regression]ffmpeg-qsv encode/10bit/hevc failure on cfl"
Platform: CFL
Kernel: 5.4.0-91-generic
Firmware 1.173.19
libva : 7be0c8afa5b4
gmmlib : 879c22e4e76e
onevpl : b4094560c82c
msdk-runtime (msdk) : 0db73aa1b2de
onevpl-gpu : 958d8bfa31ce
vaapi-fits-smoke : aaa7b91c5b85
vaapi-fits : df2539a5f754
ffmpeg : db0059ef86df
Good media-driver: 5d333070696482e70a5b5933e0c017f90e080db2
Bad media-driver: 4c689f7e73e9f07a05e8d5f7643f5f96d34710a0

Defect Descriptio

[2021-12-28 12:51] TerrenceXu opened #1318 "iHD driver load with core dump on VF"
## Reproduce step
Run "vainfo" to load the iHD driver

## Commit
6cbe8c20f40eff

## Issue behavior
### Describe the current behavior
OS is Ubuntu 18.04 or Ubuntu20.04
It is works on host, but not works on on VF (it is VM, create with GPU SRIOV)
The intel_context created failed. (InitStreamParameters:404: Invalid (nullptr) Pointer.)

### Describe the expected behavior
VF also works well

## Debug i

[2021-12-28 12:52] TerrenceXu commented on #1318
Add "video=vesafb:off video=efifb:off" on host grub, still met this issue.

[2021-12-28 23:01] uartie commented on #1317
I upgraded kernel from 5.4 to **5.11.0-43-generic** on one CFL that is having this issue.  But the issue did not go away with **5.11** kernel.

[code]

[2021-12-28 23:11] uartie commented on #1317
Also on another system with exact same HW, we have 5.8.0-63-generic kernel and the problem still exists.

[2021-12-28 23:17] uartie commented on #1317
This bug also breaks several hevc and vp9 8/10bit decode cases and all codecs for encode.  Also see this issue on other gen9 like SKL and KBL, too.

[2021-12-28 23:19] uartie commented on #1317
Issue also seen using gstreamer-vaapi, gstreamer-msdk and ffmpeg-vaapi.

[2021-12-29 02:05] xuguangxin commented on #1317
@XinfengZhang , could you check this?
thanks

[2021-12-29 05:44] pingliwa commented on #1318
Failed at mos_gem_context_create_ext, the driver parameter is correct. Need help form uapi.

[2021-12-29 05:47] TerrenceXu commented on #1318
It run DRM IOCTL "I915_GEM_CONTEXT_CREATE_EXT" failed, drm.debug log as below:
[ 54.174971] [drm:drm_ioctl] comm="vainfo" pid=701, dev=0xe280, auth=1, I915_GEM_CREATE
[ 54.176435] [drm:drm_ioctl] comm="vainfo" pid=701, dev=0xe280, auth=1, I915_GEM_CONTEXT_CREATE_EXT
[ 54.176445] [drm:drm_ioctl] comm="vainfo", pid=701, ret=-5

[2021-12-29 08:09] XinfengZhang commented on #1317
@pingliwa are checking this issue. will update it as soon as possible

[2021-12-30 00:18] dalcombright commented on #1028
I am running into this issue now while using an i7-11700k.

[hevc_vaapi @ 0x55cc823a8480] Failed to end picture encode issue: 24 (internal encoding error).
[hevc_vaapi @ 0x55cc823a8480] Encode failed: -5.

or I get this in most of my conversions:

[h264 @ 0x559bb0a4a740] Failed to end picture decode issue: 23 (internal decoding error).
[h264 @ 0x559bb0a4a740] hardware accelerator failed to decode

[2021-12-30 14:10] primeos commented on #1311
https://github.com/intel/gmmlib/issues/92#issuecomment-996067414 fixed this by switching to a better versioning scheme (not sure why I even opened this issue for media-driver as well) and there's a new media-driver release now: https://github.com/intel/media-driver/releases/tag/intel-media-22.1.0.

[2021-12-30 14:10] #1311 closed

[2021-12-30 20:23] mattst88 commented on #1297
Thanks, this makes sense. Feel free to close.

[2021-12-31 09:51] #1297 closed

[2021-12-31 10:10] #1313 closed

[2022-01-01 11:50] fhvwy opened #1319 "3DLUT on Icelake?"
## System information
`Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz`
`00:02.0 VGA compatible controller: Intel Corporation Iris Plus Graphics G7 (rev 07)`

## Issue behavior
### Describe the current behavior
Filters show that 3DLUT is present, but it then returns no capabilities.

vadumpcaps output:
[code]

### Describe the expected behavior
Either 3DLUT is present and it should return capabilities,

[2022-01-04 02:25] mengker33 commented on #1316
@FurongZhang, any update on this?
-Thanks

[2022-01-04 03:22] FurongZhang commented on #1316
We are sure .nv12 file can support sharpness via SFC. Is it possible for you to check NV12.

Currently, as we know, YV12 sharpness can not be supported via GFX render engine, we are confirming with GFX fixed function.

[2022-01-04 06:41] mengker33 commented on #1316
There is no issue with .nv12, only yv12 does not work on TGL and platforms after.

[2022-01-04 19:59] lUNuXl commented on #925
Hello,

Is this bug being worked on? The software decoder takes less time (~10 ms) than the hardware one (45+ ms).

[code]
[code]

[2022-01-05 02:41] nzlov opened #1322 "J6413 gpu enable_guc=2 works on linux 5.14, 5.15 does not"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): model name	: Intel(R) Celeron(R) J6413 @ 1.80GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`): 00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:4555] (rev 01)
- Display server if rendering to display(X or wayland): no

## info
[code]

## Issue behavior
### Describe the current b

[2022-01-05 03:13] cloudjiang2 opened #1323 "Is it possible to make hardware acceleration effective without display attached"
There are two graphics cards in a windows 10 host, one is UHD, another is Geforce 1030, I found that MSDK hardware acceleration (HEVC decode/encode) works only when there is display attached to UHD graphics. My requirements:
1. two 4K displays attached to Geforce
2. UHD do video encode/decode acceleration without display attached

[2022-01-05 14:41] FurongZhang commented on #1316
The conclusion is that YV12 sharpness is not be supported on TGL+ platforms.

Fixed function(VEBOX+SFC) can not support YV12 format. Render can support YV12 without sharpness due to HW change.

[2022-01-05 14:42] FurongZhang commented on #1316
Will clarify that in document.

[2022-01-05 14:53] FurongZhang commented on #1316
BTW, may I know your usage of YV12?

[2022-01-06 01:10] mengker33 commented on #1316
Ok, got this. Thanks for your quick help :)

[2022-01-06 01:14] mengker33 commented on #1316
Actually, we just follow the document and do some tests accordingly. Since no support for YV12 sharpness will exclude this feature in the test.

[2022-01-06 01:40] FurongZhang commented on #1316
Thanks for your quick reply. OK. We have worked on document update.

[2022-01-06 01:43] FurongZhang commented on #1316
BTW, which document you are following? What is the link? Will update the link you are referring and update that into this issue link.

[2022-01-06 02:03] mengker33 commented on #1316
There is no format-specific description here https://github.com/intel/media-driver#video-processing-features for video processing, the test could be made for all the formats (i.e., NV12 and YV12 for 8bit) if no explicit unsupported format is shown on the page. I have seen a detailed doc on wiki, will leave the comment there.

[2022-01-06 02:18] uartie commented on #1316
There is also SFC table here: https://github.com/intel/media-driver/blob/master/docs/media_features.md#supported-video-processing-cscscaling-format

[2022-01-06 02:47] FurongZhang commented on #1319
As for graphics hardware capability of 3DLUT, there is no change between Gen11 and Gen12. Gen12 is the first platform we enabled from SW side, that is why we have the code https://github.com/intel/media-driver/blob/master/media_driver/linux/common/vp/ddi/media_libva_vp.c#L4517-L4518.

I will take a look at the vadumpcaps output you mentioned.

[2022-01-06 03:00] FurongZhang commented on #1316
We have already changed the document on Wiki.

[2022-01-06 03:22] XinfengZhang commented on #1323
I suppose it is not suitable to report the issue here:
1. it is a windows issue , not open source linux media driver issue.
2. it is about MSDK, @onabiull  could you help to answer the question?

[2022-01-06 05:05] FurongZhang commented on #1316
Conclusion:  YV12+sharpness is not supported on TGL in media driver.

[2022-01-06 05:06] #1316 closed

[2022-01-07 04:31] Sherry-Lin commented on #1262
what's the libva version you used? Could you try with latest libva release 2.13.0?

[2022-01-07 07:48] zrus commented on #1262
Yes. When I rollback to latest version I could build it successfully. I was using git clone the master of libva so it might lead to failure.

Thank you.

[2022-01-07 08:22] XinfengZhang commented on #1262
latest master should not have such issue. VADisplayAttribCopy is added in this patch https://github.com/intel/libva/pull/513 . hi @zrus, so this issue could be closed?

[2022-01-07 08:28] zrus commented on #1262
It's alright with me. Idk has the OP fixed yet.

[2022-01-07 08:52] #1262 closed

[2022-01-07 08:54] XinfengZhang commented on #1322
it looks a guc enabling issue, @zxye , could you help to take a look?

[2022-01-09 09:47] lat9nq commented on #1279
I was poking around with FFmpeg, and I've found a corner case where the VP9 driver actually works.

Here's the source video (too large to upload to GitHub directly, so apologies for Google Drive link): https://drive.google.com/file/d/1IC_tljreBW2CrKtDl2sOSv87s2SMQhAU/view?usp=sharing

Output of `ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_output_format vaapi -i 202201081423370

[2022-01-09 19:01] fhvwy commented on #1322
See https://gitlab.freedesktop.org/drm/intel/-/issues/4067 - HuC on gen11 is entirely broken on the Linux 5.15 stable branch because of this.

[2022-01-09 19:06] fhvwy commented on #1319
I found it confusing that the 3DLUT filter was advertised but then no configuration offered to actually use it.  Trying other cases, I see the same output on Gen9 as well - it shows the filter as present even though I'm pretty sure that doesn't have the hardware at all there.  If Gen11 isn't actually implemented (yet) then I guess this is really a capabilities reporting issue?

[2022-01-10 00:58] lat9nq commented on #1279
Setting `-loop_filter_level` to 0 or 1 increases the chance that the output will be usable. 480p 30 fps or 360p 60 fps works better with short clips (less than 10s) in this situation.

[2022-01-10 12:37] XinfengZhang commented on #1322
thanks @fhvwy to figure out the issue

[2022-01-13 07:22] XinfengZhang commented on #1322
@nzlov , could we close this issue?

[2022-01-13 08:11] #1322 closed

[2022-01-14 07:49] XinfengZhang commented on #1318
@zxye  to be aware of this issue. still not clear about the root cause, it is an IOCTL failure issue, maybe related with VM.

[2022-01-14 07:55] XinfengZhang commented on #1317
the commit is reverted. but still not clear with the root cause.

[2022-01-14 10:37] frantisekz opened #1325 "Generated vpkrnheader.h is missing some definitions needed to compile the driver"
## System information
media-driver-22.1.1
cm-compiler-1.0.119
intel-graphics-compiler-1.0.9636
compute-runtime-21.50.21939
gmmlib-22.0.1
opencl-clang-13.0.0
gcc-11.2.1
cmake-3.22.1
libva-2.13.0

## Issue behavior
### Describe the current behavior

I am working on getting the stripped, free version of the intel-media-driver into Fedora ( https://pagure.io/fedora-workstation/issue/209#comment-771853

[2022-01-17 01:14] FurongZhang commented on #1319
Will check this and get back to you.

[2022-01-17 01:51] Jexu commented on #1257
Are you still seeing the issue? If not, we will close this issue and you can re-open again if have any other questions.

[2022-01-17 06:35] FurongZhang commented on #1225
Will check the current API if it is good for this case.

[2022-01-17 06:36] FurongZhang commented on #1280
Will check the current API if it is good for this case.

[2022-01-17 13:37] XinfengZhang commented on #1257
@emaster987 suppose the issue was fixed by patch 8033de324f5eb19ad64199a43350f45d6dc0e6d2 and b66fee0c1d0a6d01b8b33adccc8a94f2b8238fdc ,
these two patch disable MMC in vaCreateSurfaces. @Jexu have you tried the vlc?

[2022-01-17 16:30] frantisekz commented on #1325
Hmm, I was aiming for free kernels/shaders rebuilt path, didn't know it could work without any of them. Anyhow, I didn't check the wiki and the script to delete the non-free shaders is very useful (if it's getting updated when there are new non-free shaders added to the source tree?). I was glueing together some custom nonfree file removal tool for package inclusion. Thanks for the link!

Yes, I'v

[2022-01-17 16:57] dvrogozh commented on #1325
We are trying to keep this wiki updated, but something might squeeze in, so if you will spot some issue - let us know. Right now DG2/ATSM upstreaming is happening, so it really might.

[2022-01-18 03:05] MicroYY commented on #690
We're trying @wangyan42164 's fix.  As it's an old PR and contains confilct, @wangyan42164 could you pls rebase the patch?

[2022-01-18 08:17] MicroYY commented on #644
Tried Furong's fix #653. Still now work. Debugging WIP.

[2022-01-18 08:24] MicroYY commented on #1325
I already have an internal fix but not promoted. Will notify you when it's ready.

[2022-01-18 08:25] MicroYY commented on #927
I'm trying to reproduce it.

[2022-01-19 16:31] eshiryae commented on #1314
Hi @xhaihao, currently this tile configuration (4x4) is not supported, we'll add correct feature support reporting.

[2022-01-20 10:11] TerrenceXu commented on #1318
Thanks all, I already root cause this issue is related to VF & GuC, not related to media driver.

[2022-01-20 10:12] #1318 closed

[2022-01-21 02:25] WARUKUCHI opened #1330 "Cannot get libva working with vainfo on Ubuntu20.04 : "libva info: va_openDriver() returns 18""
Hi,

I am trying to use the MSDK on a ubuntu20.04 but failed.Then I found that when I typed vainfo, the expected result was not output.
I follow the official steps to build the latest version of MSDK or use the script of one-click deployment , and export iHD_drv_video.so related LIBVA environment variables, yet both failed.

[code]

Here is my configuration :

[code]

Do you have any solutions?Thx

[2022-01-21 05:41] aidan2020sh commented on #1279
@lat9nq the corruption issue looks to be a known issue which has been fixed by updating the IFWI since ww33 2021. You can update the IFWI(include BIOS) to the latest version and have a try. Usually in intel lab, it's updated with a device named "dediprog"

[2022-01-21 11:14] kingskill opened #1331 "What's wrong with this?"
/libva/media-driver/media_driver/agnostic/common/cm/cm_mem_sse2_impl.cpp:27:
/media/king/1000G/004_包裹/Deepin/直接运行/libva/media-driver/media_softlet/agnostic/common/os/mos_interface.h:1832:58: error: ‘ADAPTER_BDF’ has not been declared
     static MOS_STATUS GetAdapterBDF(PMOS_CONTEXT mosCtx, ADAPTER_BDF *adapterBDF);
                                                          ^~~~~~~~~~~
make[2]: ***

[2022-01-21 17:32] kingskill commented on #1331
error: ‘ADAPTER_BDF’ has not been declared

This is the problem.

[2022-01-21 18:31] emaster987 commented on #1257
I am testing the software right now. I will report any news. As said here above, I am waiting for the patch to arrive to the major stream distribution and then I will try again

[2022-01-22 12:33] XinfengZhang commented on #1331
please update the gmmlib, the definition is defined in latest gmmlib. thanks

[2022-01-22 14:57] kingskill commented on #1331
Intel Media Driver 2021Q4 Release - 22.1.1
intel-gmmlib-22.0.1
Libva 2.13.0

I installed these version. But still not work.

error: ‘ADAPTER_BDF’ has not been declared

[2022-01-22 14:59] kingskill commented on #1331
![截图_deepin-terminal_20220122225819](https://user-images.githubusercontent.com/43365116/150643708-6043502c-d274-4f0d-963d-7ff9d2dc93cb.png)

[2022-01-22 14:59] kingskill commented on #1331
Please help.

[2022-01-22 15:07] kingskill commented on #1331
My system:
![截图_deepin-terminal_20220122230719](https://user-images.githubusercontent.com/43365116/150644049-cf8ad6b7-ba92-42f6-a8ad-e2db4427200d.png)

[2022-01-23 07:19] chemikadze commented on #1257
Had this issue too (green lines in VLC) on i7-1185g7 with Ubuntu 20.04 and intel-media-va-driver-non-free 20.1.1+ds1-1build1.

![vaapi-before](https://user-images.githubusercontent.com/867294/150666593-8b7ff4b8-1ad7-48cd-a648-413ce31f985c.png)

Tried to build and run with latest master, that seemed to work:

![vaapi-after](https://user-images.githubusercontent.com/867294/150666622-0d886a76-8c03-4d

[2022-01-24 03:02] WARUKUCHI commented on #1330
Here's the vainfo result.

[code]

[2022-01-24 06:03] Jexu commented on #1257
It is glade to see the issue is gone with latest libva/gmmlib. Perhaps, some fix in libva or gmmlib worked.

@emaster987 , can you also help try again with aboce experiment to see if it works for your issue?

[2022-01-25 05:56] XinfengZhang commented on #1331
the ADAPTER_BDF is added by https://github.com/intel/gmmlib/commit/94306f5443b97d9762dbb35ba65b341ee3e91cf0
and it is in intel-gmmlib-22.0.1
so, I guess that there are multiple gmmlib on your machine?

[2022-01-25 07:08] emaster987 commented on #1257
The issue is gone with the latest update also for me. I just updated the system and then tried again the test done above (run intel_gpu_top and vlc choosing hardware acceleration) and the test was passed by every codec (AV1,H264,H265,VP8,VP9). Thanks to all of you

[2022-01-25 07:12] emaster987 commented on #1257
Forgot to say that I also updated libva/gmmlib because I updated all the system package from repository

[2022-01-27 02:26] Jexu commented on #1257
Thanks all for your input, so if the the problem is gone, i will close this issue. Feel free to re-open it when you have any other problems.

[2022-01-27 05:33] fanli-hub opened #1337 "[regression]Hardware accelerator failed to decode picture"
Platform: ADLP/DG2/ATSM
Kernel: 5.14.0-rc1-CI-CI_DRM_10344+ (ADLP)
Firmware: 1.187.17
Libva: 453002ce69779c713f6f8315bedce140d34ba805
Gmmlib: 70d68b9f7146ef18a2522ecf1ece8075e8d8c207
libva-utils: 7bad184b2cf2ffaf4fb3cc71d4df63d7b142d592
onevpl dispatcher: b4094560c82cdf3c5f5cd04dcda01ab9edfec14b
onevpl runtime: 6676f7652249bb20ad51d229012f8a6ef26f67b0
mediaSDK: 0db73aa1b2dec5b61900ee54db3fa574de6d

[2022-01-27 05:36] XinfengZhang commented on #1330
03:00.0 VGA compatible controller [0300]: ASPEED Technology, Inc. ASPEED Graphics Family [1a03:2000] (rev 41)
you are using ASPEED card?
intel media driver just support intel graphics.

[2022-01-27 13:06] tjyrinki commented on #1257
Thank you for working on it, this is so far the first bug I've had with my new tiger lake laptop. The problem currently still exists in openSUSE Tumbleweed, I'll try to see which component should be patched/updated-

[2022-01-28 00:06] mikebenfield opened #1338 "new versions of clang warn for -Wbitwise-instead-of-logical"
[code]

This happens for instance with LLVM commit 18308e171b5b1dd99627a4d88c7d6c5ff21b8c96 and newer.

[2022-01-28 02:32] dvrogozh commented on #1338
That's with clang build from llvm master? not yet released version?

[2022-01-28 04:22] WARUKUCHI commented on #1330
Thank you. Is it all Intel graphics? Or only a part of it can be supported.

[2022-01-28 07:26] tjyrinki commented on #1257
I've checked that with the ffmpeg video decoding the resulting YUV file is fine (tested with mpv rawvideo playback). And I've checked with intel_gpu_top that both ffmpeg and VLC seem to use the Video hw. Still the result with VLC regarding h264 file (or h265, or vp9) is the garbled green.

I'd like to reopen the issue if possible, as I think the problem might have just been hidden but not resolved

[2022-01-28 07:47] tjyrinki commented on #1257
Here are some more after I switched from Wayland to X11 - mpv showing blue screen with the same file (hwdec=vaapi, gpu-context=x11egl), and finally a functional accelerated output with mpv -vo vaapi (which mpv says "Note that there is absolutely no reason to use this, other than compatibility.") - notably while all three other playbacks only show activity in "Video", the -vo vaapi shows considerab

[2022-01-28 13:03] XinfengZhang commented on #1330
https://github.com/intel/media-driver#supported-platforms
if you want older platform support, please use https://github.com/intel/intel-vaapi-driver

[2022-01-28 13:03] XinfengZhang commented on #1330
so, suppose this issue could be closed?

[2022-01-28 18:16] #1325 closed

[2022-01-28 18:38] mikebenfield commented on #1338
Yes, I think this warning does not yet happen in the most recent clang release.

[2022-01-30 01:27] harwck opened #1339 "Compiling errors?"
[code]

## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): **Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz**
- GPU information(`lspci -nn | grep -E 'VGA|isplay'`): **Intel Corporation UHD Graphics 620 (Whiskey Lake)**
- Display server if rendering to display(X or wayland): **X11**

## Issue behavior

- Compiling errors.

### Describe the current behavior
- Failing

[2022-01-30 20:08] oCanna opened #1341 "ADLS E2E Compression causing problems"
Alder Lake S 12th gen iGPU suffers from the same problem when e2e compression is enabled.
Mobile processors are probably affected as well.

https://github.com/intel/media-driver/commit/29d5f8fc118476dee84f3f784443badc819a3241
https://github.com/intel/media-driver/issues/1210

[code]

[2022-02-01 09:10] ablanco-stratio commented on #1339
Same error in my case.

[2022-02-01 12:59] DotIN13 commented on #1339
Commenting out `waTable->WaAuxTable64KGranular = 1;` in `media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp` enabled me to pass the compilation.

[2022-02-01 15:34] dvrogozh commented on #1339
What cmake configuration cmdline you were using?

[2022-02-01 15:39] DotIN13 commented on #1339
Plain old `mkdir build && cd build` and `cmake ..`.

[2022-02-01 16:03] dvrogozh commented on #1339
Driver builds fine on my side. This variable which was not found (`WaAuxTable64KGranular`) is declared in https://github.com/intel/gmmlib which is media-driver build dependency. Please, make sure that you've built and installed gmmlib on the system and pointed to gmmlib installation via PKG_CONFIG_PATH if you did not install it system wide (which would be the case if you've used bare `cmake ..`, y

[2022-02-01 16:12] DotIN13 commented on #1339
Ohh, that should be the problem, I’m using gmmlib shipped with manjaro.

[2022-02-01 23:54] harwck commented on #1339
@dvrogozh Thanks for the help, worked as expected!

[2022-02-01 23:54] #1339 closed

[2022-02-02 19:14] jvrobert opened #1342 "ffmpeg HW acceleration crashes GPU on ADL"
## System information
model name      : 12th Gen Intel(R) Core(TM) i7-12700K
00:02.0 VGA compatible controller [0300]: Intel Corporation AlderLake-S GT1 [8086:4680] (rev 0c)
no display, render only in ffmpeg

## Issue behavior
### Describe the current behavior

When using the latest compiled media driver and ffmpeg 5 (also happens on 4.x) with latest drm-tip kernel/linuxfirmware bins (also happens

[2022-02-05 09:41] catakot commented on #1231
@bbbear2002, after months of searching I found the problem. In my case update of Citrix Workspace solved the problem.

[2022-02-05 22:09] mgutt commented on #752
Any updates? I saw the recent label "P3" means "no customer usage". I don't know what a "customer" means for intel, but there are hundreds of posts similar to this in other communities:
https://forums.plex.tv/t/movies-with-vc-1-vc1-codec-badly-pixelated-flashing/708200

[2022-02-06 08:00] lqvnguyen commented on #752
Any chance this issue can be given some development cycles?

[2022-02-06 09:39] XinfengZhang commented on #752
sorry for late response, @guowillyy could you help to check whether the patch https://github.com/intel/intel-vaapi-driver/pull/234 is applicable for media-driver, from the discussion, looks they are similar issues.

[2022-02-06 10:11] XinfengZhang commented on #1231
LIBVA_TRACE could specify the location, also , if you set the LIBVA_TRACE=/tmp/aa , it will generate file with thread id followed.

[2022-02-06 11:53] lqvnguyen commented on #752
Please do what you can as this is a showstopper, pun intended, for all users of Comet Lake and newer.

[2022-02-07 02:27] XinfengZhang commented on #1341
it should already been fixed by https://github.com/intel/media-driver/commit/ed0876c2af7741c32facf15245391c581ae64b5a , right?

[2022-02-07 08:33] fanli-hub commented on #1317
Add avc and mpeg2 cmd and error messages.
Encode/avc cmd:
ffmpeg -hwaccel qsv -init_hw_device qsv=hw:/dev/dri/renderD128 -hwaccel_output_format qsv -v verbose -f rawvideo -pix_fmt yuv420p -s:v 3840x2160 -r:v 30 -i /opt/media/ci/assets/otc-media/sanity/yuv/4k_2013_3840x2160_I420_75frames.yuv -vf 'format=nv12,hwupload=extra_hw_frames=120' -an -c:v h264_qsv -profile:v main -preset 4 -g 30 -slices 1 -

[2022-02-07 19:32] #1338 closed

[2022-02-07 19:58] BjoernUsw commented on #930
Just checked with the latest Version of Plex for DSM6 on an DS920+ (Plex 1.25.4.5487). Trying to transcode 1080p H265 to 1080p H264 to burn in ASS subtitles for streaming to android devices still buffers every 5 seconds for at least 20 seconds using the `iHD_drv_video.so` but works fine with the `i965_drv_video.so`.

[2022-02-08 00:02] lat9nq commented on #1279
Updating the BIOS fixed it for VP9. HEVC via VAAPI is a mess but that's a separate issue (and seems already to be an Issue here.)

[2022-02-08 00:02] #1279 closed

[2022-02-08 00:20] aidan2020sh commented on #1279
@lat9nq Glad to see the VP9 issue was gone! About the HEVC issue, is there any link? Can you share the reproducing details?  Thanks!

[2022-02-08 00:54] bbbear2002 commented on #1231
Hi, after updating to Debian 11 (Deepin v23) the issues are resolved. Thank you all for your gracious input.

[2022-02-08 01:32] lat9nq commented on #1279
@aidan2020sh I was mistaken: the HEVC issue was not relevant to this repository, and there seems to be no equivalent here.

It's very similar to the initial issue here. A key difference however is `hevc_qsv` *does* work, while `hevc_vaapi` does not. Replaying the output in mpv results in effectively garbage. I will create a new issue for this.

[2022-02-08 02:16] lat9nq opened #1343 "Encoding with hevc_vaapi FFmpeg on RKL GT1 results in garbage"
## System information
Output of `inxi -GSC -xx`:
[code]

## Issue behavior
### Describe the current behavior

Source video: https://drive.google.com/file/d/17jEf6_pcQaC67ZVI_mVPJFre3KvSOKac/view?usp=sharing

Attempting to use the `hevc_vaapi` encoder with FFmpeg results in garbage. `hevc_qsv` works fine, by contrast.

Output of `ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_outp

[2022-02-08 03:06] WARUKUCHI commented on #1330
Thank you for your reply, but I have other questions. Can Intel media-driver be used in KVM?

[2022-02-08 04:53] #1080 closed

[2022-02-08 13:17] eero-t commented on #1330
Yes, if you correctly pass-through a PCI device supported by the media-driver.  However, each separate issue should have a separate ticket.  How to configure KVM does not belong to media-driver bug tracker though, but to a KVM one (if your KVM is not documenting it well enough).

[2022-02-08 13:20] eero-t commented on #1298
Which is also clearly documented in the media-driver front page (README.md).  "Supported platforms" section might note that for older HW the old intel-vaapi-driver should be used instead though.

[2022-02-08 13:51] eero-t opened #1344 "GCC v11 warnings for CM component"
## System information
- Ubuntu 21.10 container with GCC v11.2.0

## Issue behavior
### Describe the current behavior

[code]

### Describe the expected behavior

* Build to fail when there are warnings because you are enabling "MEDIA_BUILD_FATAL_WARNINGS" by default
* As the logic itself seems fine (based on variable name), do what the compiler suggests: `add parentheses around 'sizeof (DQWORD)' t

[2022-02-08 18:53] zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz-z opened #1345 "cannot build"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): model name      : 12th Gen Intel(R) Core(TM) i9-12900K
- Display server if rendering to display(X or wayland): no display, have x11 wayland installed.

## Issue behavior
### failed to cmake

## Debug information
- What's libva/libva-utils/gmmlib/media-driver version? 2.13.0/?/22.0.2/22.1.1
- Could you confirm

[2022-02-09 02:32] XinfengZhang commented on #1345
cmake .. do not use cmake ../media_driver, the upper cmake file is in the parent folder

[2022-02-09 05:56] Jexu commented on #1342
It looks gpu hang occurs..., may i know which codec is your decoder content? And it is much better if you can share the content to us and we can take a look locally.

[2022-02-09 05:57] Xiaogangli-intel commented on #930
@BjoernUsw could you provide some logs and dmesg result? Thank you.

[2022-02-09 06:53] #1345 closed

[2022-02-09 08:57] XinfengZhang commented on #1257
VLC just merged one patch https://github.com/videolan/vlc/commit/3633417edb6330c335c7d3602e255534979c05e7 which gl accept the modifiers from media.

[2022-02-10 08:41] WARUKUCHI commented on #1330
I see. I'll close this and open an new issue. Thank you for your reply.

[2022-02-10 08:41] #1330 closed

[2022-02-10 08:58] XinfengZhang commented on #1341
@oCanna , it should already been fixed. driver still enable compression , but will disable it with default surface creation in vaCreateSurfaces. could we close it?

[2022-02-10 09:01] WARUKUCHI opened #1349 "libva error: vaGetDriverNameByIndex() failed with unknown libva error,driver_name=(null)"
Hi,

I'm getting this error on my Ubuntu20.04 (it's a KVM):
[code]
Here is my configuration :
[code]
But media-driver can run successfully on the physical machine on which this KVM is built.
Here is the physical machine configuration :
[code]
What can be done?

[2022-02-10 11:40] oCanna commented on #1341
Sorry for the late response. At the moment I have no time to test the master branch. The 22.1.1 rls was the latest I have tested, but if it is already fixed like you said without completely disabling the compression, then sure, this can be closed.

Thank you!

[2022-02-10 14:01] oCanna commented on #1341
Sorry for the late response. At the moment I have no time to test the master branch. The 22.1.1 rls was the latest I have tested, but if it is already fixed like you said without completely disabling the compression, then sure, this can be closed.

Thank you!

[2022-02-10 21:31] dvrogozh commented on #1344
So, I provided a fix in https://github.com/intel/media-driver/pull/1350, but I actually don't like it. We can check with code owners if we can redeclare array as DQWORD but it might not make sense actually since we might need to have access to each byte to populate it. If that's so, then that's where I don't like current fix. It's difficult to explain to others why code was written in this way, an

[2022-02-11 07:52] XinfengZhang commented on #1349
not intel card? it is AMD card , right?
could you help to check the nodes under /dev/dri/ to find renderDxx
then call vainfo --display=drm --device=/dev/dri/renderDxxx  to check whether it work

[2022-02-11 10:58] eero-t commented on #1344
Or just add a comment.  Something like: "GCC gives warning when dividing sizeof(array) with sizeof(another type), in case division was intended to calculate array size. Extra parenthesis for the divisor suppresses the warning".

Another option is just to disable that particular GCC warning for that part of code:
https://stackoverflow.com/questions/3378560/how-to-disable-gcc-warnings-for-a-few-line

[2022-02-11 15:44] dvrogozh commented on #1344
Yes, that's what I was talking about saying "stop" forcing errors - that media driver scripts should stop forcing them.

[2022-02-11 20:06] DjibrilMAHOUACHE commented on #337
Uh... if imagine if you code phones' camera in video (like frame rate (PAL/SECAM: 25 fps), resolution (PAL/SECAM: 702x576, 704x576 or 720x576), etc...)

[2022-02-12 05:55] MicroYY commented on #1225
Updated docs. Pls refer to https://github.com/intel/media-driver/pull/1351
RGB 444 planar is only supported by composition path, but composition path doesn't support bt2020 color space. So in this case driver returns failure.
Currently Linux caps can't query color format and space simultaneous in one function, so a short term solution is to avoid using this format and BT2020 in apps. Long term sol

[2022-02-12 05:55] #1225 closed

[2022-02-12 05:58] MicroYY commented on #1280
The same root-cause of https://github.com/intel/media-driver/issues/1225.

Updated docs. Pls refer to https://github.com/intel/media-driver/pull/1351
RGB 444 planar is only supported by composition path, but composition path doesn't support bt2020 color space. So in this case driver returns failure.
Currently Linux caps can't query color format and space simultaneous in one function, so a short te

[2022-02-12 05:58] #1280 closed

[2022-02-13 22:21] ofsaleem commented on #930
i can confirm im having this problem on a qnap ts-653D with plex to *any* client that isnt directplaying, even for 2mbps 720p files. putting `VaapiDriver="i965"` at the end of the Preferences.xml file in my server folder completely solved the issue

[2022-02-14 07:11] fanli-hub commented on #1337
@huangli2018,  could you check this?
thanks

[2022-02-14 09:20] WARUKUCHI commented on #1349
Yes, but I can successfully deploy Media-Driver on this physical machine of AMD card. This is the output information:
[code]
However, when I run Media-Driver in the KVM deployed on this physical machine, even if I achieved CPU pass-through, it still fails.This is the KVM output information:
[code]

[2022-02-14 13:42] #1344 closed

[2022-02-15 09:52] eshiryae commented on #1265
Hi @ajgnet, do you still see this issue? if yes, could you share the IFWI version?

[2022-02-15 12:15] ansokolo commented on #1200
Some changes to improve VP9 performance were made. Now collecting new perf data is work in progress

[2022-02-16 06:13] #1317 closed

[2022-02-16 06:15] fanli-hub commented on #1317
This issue doesn't exist now.

[2022-02-17 13:21] tjyrinki commented on #1257
Tried out it now, using vlc (4.0 snapshot) 20220215.e308b8c851 gives a solid green screen on h264 and vp9 codec videos, hw accel in use according to intel_gpu_top, and unaccelerated av1 decoding.

vlc 3.0.16 continues to give the garbled greenish screen that was traced above.

Firefox 97 added with "media.ffmpeg.vaapi.enabled" (the only change needed now in Firefox 97 to enable VA API) gives the s

[2022-02-18 18:49] frantisekz commented on #1325
@MicroYY Thanks, it seems, however, with #1328 included (22.2.1)  that I am not getting any .fcpatch files in media_driver/agnostic/gen12_tgllp/vp/kernel_free/cache_kernel/ , shall I create a new issue for this?

It's then crashing on (bunch of similar errors just for different files):

[code]

If I hack around it with try/except, it then fails on cmake copy failing to find the .fcpatch file.

[2022-02-20 15:10] ti3gib opened #1352 "GuC for Jasper Lake (Celeron N5095)"
**## System information**
- **CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):**
`model name      : Intel(R) Celeron(R) N5095 @ 2.00GHz`
Kernel
`5.16.10-051610-generic`

- **GPU information(`lspci -nn | grep -E 'VGA|isplay`):**
`00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:4e55] (rev 01)`

- Libva, gmmlib, Media Deriver, Media SDK built from Intel Github

[2022-02-20 15:20] dvrogozh commented on #1352
As suggested in dmesg, check that required version of GUC firmware is actually available on your system. Try to search:
[code]

If it's not found, first try to upgrade FW package in your OS and check again. If your OS don't yet package this FW version, download manually from https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git (see in i915 folder) and copy them to `/lib/firm

[2022-02-20 15:52] ti3gib commented on #1352
I've updated the kernel to see if it would come with the necessary drivers, which seemed to do nothing, but I also installed the latest linux-firmware package, which doesn't seem to effect the error.

The file it's looking is there:

`XXX@XXX:/media/intel$ find /lib/firmware -name ehl_guc_62.0.0.bin
/lib/firmware/i915/ehl_guc_62.0.0.bin
XXX@XXX:/media/intel$ ls -la /lib/firmware/i915/ehl_guc_62.0.

[2022-02-20 16:47] ti3gib commented on #1352
I just booted with the other kernel and it seems to work! I feel so silly. Sorry for wasting your time. Closing this.

For future reference, doing this worked for me if anyone ends up here after extensive googling

1) Make sure you're on the latest kernels
2) Install drivers (build from intel repos, or try one of the available packages)
3) Set options i915 force_probe=4e55 enable_guc=2 in /etc/mod

[2022-02-20 16:52] #1352 closed

[2022-02-23 21:32] infinitecurse commented on #401
Any chance we can open this again as a feature request?

[2022-02-24 03:11] XinfengZhang commented on #401
I reopen the issue to track the status of adding more image format support
but , if possible, could you @infinitecurse @sebastinas @HeJunyan  provide a list of the required format?  maybe we could start with some of the exact/accurate "needed" format instead of a blind full list formats

[2022-02-24 05:00] Jexu commented on #1337
Could you try the latest version media driver and CI_DRM build kernel since some fix are merged into both from the Bad version.

[2022-02-26 22:36] pnegus commented on #1257
I have the same problem.

On fedora 35, latest 3.16.10 kernel, Intel TGL graphics (Iris Xe 96EU-- 11320H). Have intel-media-driver installed.

Vaapi is loaded successfully by firefox and gpu_top shows hardware decode but video shows up as a green screen.

[2022-02-27 10:28] heitbaum opened #1353 "Fatal compile error of media_ddi_decode_vp8.cpp when compiling with gcc 12.0.1"
## System information
Cross compiling media-driver 22.2.1 using gcc 12-20220220

## Issue behavior
### Describe the current behavior

### Describe the expected behavior
Compiles correctly with gcc 11.2.0

## build log

[code]

[2022-02-27 11:16] heitbaum opened #1354 "Compile error when compiling with -Werror using gcc 12.0.1"
## System information
Cross compiling media-driver 22.2.1 using gcc 12-20220220

## Issue behavior
### Describe the current behavior
Fails compile with:
- `warning: dangling pointer 'address2Counter' to 'ctr' may be used [-Wdangling-pointer=]`
- `warning: argument 1 range [18446744071562067968, 18446744073709551615] exceeds maximum object size 9223372036854775807 [-Walloc-size-larger-than=]`

###

[2022-03-01 01:39] vom22 commented on #1265
Hi,
I have the same crashes on Rocket Lake using electron I built with 'use_vaapi=true' option, too.
I can't encode VP9 with '--enable-features VaapiVideoEncoder.'

dmesg shows:
`GPU HANG: ecode 12:4:28ffff7d.`

vainfo shows:
[code]

How can I confirm the IFWI version?

[2022-03-01 06:36] WARUKUCHI commented on #1349
I built a KVM and did pass-through to make it fit the requirements. Here is the configuration :

[code]

But it still not work.

[code]

I suspect the /dev/dri has an impact

[code]

Now, what can I do?

[2022-03-01 09:00] MicroYY commented on #1325
Hi @frantisekz  Could you pls file another issue for it?

[2022-03-01 09:51] fanli-hub commented on #1337
This issue can't be reproduced. I am going to close this issue.

[2022-03-01 10:01] fanli-hub commented on #1151
I tried to use kernel 5.15 and the latest media driver, this issue still can be reproduced.

[2022-03-02 02:15] Jexu commented on #1151
It is about i915 driver issue for the bond extention submission. Please refer the link https://gitlab.freedesktop.org/drm/intel/-/wikis/How-to-file-i915-bugs to filse the issue for i915 driver.

[2022-03-02 10:45] DavidReinberger opened #1355 "Possible Inconsistency in readme and docs"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): Intel(R) Celeron(R) N4000 CPU @ 1.10GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`): Intel Corporation GeminiLake [UHD Graphics 600] [8086:3185] (rev 03)
- Display server if rendering to display(X or wayland):

## Issue behavior
### Describe the current behavior
GPU Hardware Accelerates `p010` surface

[2022-03-03 19:33] frantisekz opened #1356 "fcpatch files are completely missing in Free Build"
## System information
intel-igc-1.0.10395
intel-opencl-clang-13.0.0
intel-gmmlib-22.0.2
intel-compute-runtime-22.08.22549
intel-cm-compiler-1.0.119

## Issue behavior
### Describe the current behavior
Since #1328 , the free build path is failing on multiple fcpatch files missing (or more precisely, there aren't any).

I am using sources stripped by:
(according to https://github.com/intel/media-dri

[2022-03-03 19:33] frantisekz commented on #1325
Created https://github.com/intel/media-driver/issues/1356 .

[2022-03-03 19:33] frantisekz commented on #1356
@MicroYY

[2022-03-06 08:53] babam86 commented on #1343
I also got that glitch on Intel UHD G4 and Iris Xe (hevc_vaapi), but on Windows 10 it works fine (hevc_qsv).

Thanks.

[2022-03-07 08:25] cqian2 commented on #1104
@Sherry-Lin , seems that the failure happens in  vaapih264enc, thus maybe codec side can help check it?

[2022-03-08 03:45] XinfengZhang commented on #1104
there are two much fixes related with it , suppose it has been already fixed , and as I know it should already work. @FocusLuo  could you help to confirm?

[2022-03-09 09:04] XuanJessica commented on #752
Hi @DaveBinM , the file link is out of date (https://docs.google.com/uc?id=0B9X316MN6HHvSlNWb1ZhSGo2X2M&export=download), could you please help to provide a valid file link that can replicate this issue? Thanks a lot.

[2022-03-09 09:47] lqvnguyen commented on #752
Several samples provided here for the VC-1 decoder failures

https://drive.google.com/drive/folders/1PJ0Gjs1mdJB01bxlhi6PmnMvzk8yFOmD

[2022-03-10 02:34] FocusLuo commented on #1104
thanks all, closed, if still have other issue let us to open new one.

[2022-03-10 02:34] #1104 closed

[2022-03-14 08:44] damocles-dev opened #1358 "GPU HANG with libva-intel-media-driver 22.x but not with 21.x (NUC8i7BEH: i7-8559U & Iris Plus Graphics 655)"
## System information
- [x] Display server if rendering to display(X or wayland): X.Org X Server 1.21.1.3 (Wayland disabled)
- [x] Impacted GPU platform: Intel Corporation CoffeeLake-U GT3e [Iris Plus Graphics 655] [8086:3ea5] (rev 01)
- [x] Host machine if it's descreted card: Intel(R) Core(TM) i7-8559U CPU @ 2.70GHz
- [x] Linux kernel version: 5.16.8
- [x] Good libva/libva-utils/gmmlib/media-dri

[2022-03-14 09:14] ansokolo commented on #1200
Not all previous performance changes were made for TGL. But we see significant improvements on other platform. Moving changes to TGL - work in progress

[2022-03-14 16:25] damocles-dev commented on #1358
updated [gentoo package to gmmlib 22.0.3](https://packages.gentoo.org/packages/media-libs/gmmlib) and I still get GPU hangs

[code]

new debug trace:
<details><summary>
/sys/class/drm/card0/error
</summary>
[code]

</details>

[2022-03-15 05:42] MicroYY commented on #690
@LhGu What's the status of your PR?

[2022-03-15 05:44] LhGu commented on #690
It is under review.

[2022-03-15 05:49] MicroYY commented on #804
I'll help check-in @Jister's change.

[2022-03-15 05:51] MicroYY commented on #1356
This may be issues on the compiler. I was testing on internal compiler. Let me check with provided environment.

[2022-03-15 11:26] heitbaum commented on #804
@MicroYY - as fyi - this has been part of the LibreELEC code base for 12 months now: https://github.com/LibreELEC/LibreELEC.tv/commit/7fc14624c61d94ad4f3e0f24dd52b80b8a2c0907 Hope to see it in the official release in the near future.

[2022-03-15 11:41] AbhyudayaSharma opened #1359 "VAAPI hardware acceleration is broken: `vaInitialize failed with error code 2 (resource allocation failed),exit`"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): Intel(R) Core(TM) i7-8705G CPU @ 3.10GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
[code]
- Display server if rendering to display(X or wayland): Wayland

## Issue behavior
### Describe the current behavior

Video hardware acceleration is broken on my laptop with both the Intel HD Graphics as well

[2022-03-15 11:43] AbhyudayaSharma commented on #1359
Also, the `radeonsi` driver does work when manually pointed to the card:

[code]

[2022-03-15 15:50] AbhyudayaSharma commented on #1359
@XinfengZhang Libva:

[code]

MPV:

[code]

MPV log with `iHD`: [mpv.log](https://github.com/intel/media-driver/files/8254890/mpv.log)

Well it is an Intel+AMD chip. Moreover, it says `iris` so I thought it would belong here.

Libva logs:

[libva_trace.log.154519.thd-0x00000de5.txt](https://github.com/intel/media-driver/files/8254989/libva_trace.log.154519.thd-0x00000de5.txt)
[libva_trace.log.1545

[2022-03-15 16:03] AbhyudayaSharma commented on #1359
And this is the mpv log for `radeonsi`:

[code]

[2022-03-15 19:40] burkely-00orso69 commented on #1299
Hello, has there been any sort of resolution to this issue that I'm not seeing at all?  Figured I'd ask as to try and not contribute to more issues...

But I'm currently running an Intel  i7-1065G7 CPU @ 1.30GHz w/ Iris Plus Graphics G7 and have spent the bulk of last weekend trying to figure out why it continues to fail..  Although I do have other profiles listed below, and despite my best attemp

[2022-03-16 02:08] XinfengZhang commented on #1299
@burkely-00orso69 , let me have a summary:
your platform is ICL, i7-1065G7, with gpu device id 0x8A52. vainfo only report
VAProfileNone : VAEntrypointVideoProc
VAProfileNone : VAEntrypointStats

right?

have you compiled media_driver, if so, could you set a breakpoint in
MediaLibvaCapsG11::LoadProfileEntrypoints
it will load all codec profile entrypoints, you could check what happened there
.

[2022-03-16 02:09] XinfengZhang commented on #1299
also, if possible , please share libva_trace

[2022-03-16 08:15] FurongZhang commented on #1356
@MicroYY , I suppose you fix the issue. If yes, can we close this issue.

[2022-03-17 07:46] damocles-dev commented on #1358
The random hangs happens only with HEVC decoding.

If I play the same video several times, sometimes it works and sometimes it doesn't:
[code]

[2022-03-18 14:36] LhGu commented on #690
There is a limitation in the driver stack. It only supports the hex order is B-G-R-A, and our driver treats the hex order as VA_FOURCC_ARGB format.  I already have two PRs（#1334， #1335 ）to work around it.
However, **any work around code may be confused and affect our internal test cases**.  Just for this issue, **you can use this FFmpeg command to get the same output**:
ffmpeg -hwaccel vaapi -vaap

[2022-03-19 16:36] damocles-dev commented on #1358
I tried media-driver 22.4.o and it seems that the hang does not occur.

<pre>
$ vainfo
libva info: VA-API version 1.14.0
libva info: User environment variable requested driver 'iHD'
libva info: Trying to open /usr/lib64/va/drivers/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_14
libva info: va_openDriver() returns 0
vainfo: VA-API version: 1.14 (libva 2.14.0)
vainfo: Driver ver

[2022-03-19 22:42] babam86 commented on #1358
22.4.0?

[2022-03-20 12:29] XinfengZhang commented on #1358
@Jexu , it is CFL, PCI ID 0x3EA5 please help check it

[2022-03-20 16:02] damocles-dev commented on #1358
Gentoo emerge just download git HEAD code and tries to compile it.

<details>
<summary>
Emerge source prepare and configure
</summary>

<pre>
# emerge -v libva-intel-media-driver

These are the packages that would be merged, in order:

Calculating dependencies... done!
[ebuild   R   *] x11-libs/libva-intel-media-driver-9999::gentoo  USE="X redistributable -test" 0 KiB

Total: 1 package (1 reinstal

[2022-03-21 02:47] Jexu commented on #1358
It is the latest commit version(4171a3e4fc8399fc3a372ae846ef6e9e25b2ac8d), please help try it again. Thanks a lot.

[2022-03-21 06:48] Jexu commented on #1359
Per iHD driver only, the libva-trace log shows invalid surface id sent to media driver to export the surface for display. So it looks like frame drop or corrupted. Perhaps the decode results are correct but getting invalid surface to display.

Could you try other app like sample decoder or ffmpeg to check if the decode yuv is correct?

[2022-03-21 07:27] damocles-dev commented on #1358
These are the results:

- 21.4.3: works
- 22.1.0: cpu hang
- 22.2.2: works
- 22.3.0: works

Now I can play videos again, thank you very much for fixing it.

[2022-03-21 07:45] Jexu commented on #1358
Good to know it.  So @damocles-dev please helps close this issue and free to re-open it again if having other problem.

[2022-03-21 08:25] #1358 closed

[2022-03-21 08:26] damocles-dev commented on #1358
HEVC decoding is working now.

[2022-03-21 11:24] AbhyudayaSharma commented on #1359
@Jexu Do you mean [this](https://www.intel.com/content/www/us/en/developer/tools/media-sdk/code-samples.html) sample decoder?

[2022-03-21 11:55] Jexu commented on #1359
Please get more help from https://github.com/Intel-Media-SDK/MediaSDK

[2022-03-22 03:00] yasij commented on #804
How is this marked P3, no customer usage? I'm a customer, and this is a blocker bug for me. I've been testing Jister's change for a year now. What's blocking it from being committed?

[2022-03-22 03:55] xinyudox opened #1363 "[ATS-M3]Gup frequency cannot be locked"
os: ubuntu 20.04
kernel: 5.10.54+prerelease2400
libva: dad7abcb958b97b50c318dd42a477e035a42e358
ffmpeg: 534c4db1800ebdb1e7dab031a63413d74bab4bf8
gmmlib: 29152fc6d39f87983b176664f225d42af039f716
media-driver: c8decb7f6e8bc1c77f6becdbe7bbe0e1697d62e8

eg:
echo 1200 > /sys/class/card0/gt_max_freq_mhz

In fact, GPU still uses the maximum value.

[2022-03-23 01:43] Bin-CI opened #1364 "[build] gmmlib commit: 29152fc6 cause media-driver build error"
media-driver commit: https://github.com/intel/media-driver/commit/34d9e7870f250c91d7e5a9c3f0d9e3c54fae1195
gmmlib issue: https://github.com/intel/gmmlib/issues/96

[2022-03-23 01:55] Bin-CI commented on #1364
build error information:
[code]

[2022-03-23 02:08] Sherry-Lin commented on #1364
it's related to GmmLib ABI broken by https://github.com/intel/gmmlib/commit/8dcebfefaaacff0cbc262fe050b2b0fd060898d0, please update media code after https://github.com/intel/media-driver/commit/79c20b78a and gmmlib code after https://github.com/intel/gmmlib/commit/29152fc6d39f87983b176664f225d42af039f716

[2022-03-23 02:25] Bin-CI commented on #1364
fixed

[2022-03-23 02:25] #1364 closed

[2022-03-23 02:49] Sherry-Lin commented on #1364
Detail in https://github.com/intel/gmmlib/issues/95

[2022-03-23 03:47] AbhyudayaSharma commented on #1359
@Jexu Thanks for the information. I first extracted the video stream from the .webm file as described [here](https://stackoverflow.com/questions/48587350/how-to-extract-raw-vp9-stream-from-webm-file). I get this error with sample_decode:

[code]

[2022-03-24 07:51] pingliwa commented on #1354
Created a PR to fix it.
https://github.com/intel/media-driver/pull/1365

[2022-03-24 11:30] heitbaum commented on #1354
Tested - working 👍

[2022-03-24 20:44] lhw opened #1366 "Video decode fails with "operation failed" on Tiger Lake"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): 11th Gen Intel(R) Core(TM) i7-1165G7
- GPU information(`lspci -nn | grep -E 'VGA|isplay`): Intel Corporation TigerLake-LP GT2 [Iris Xe Graphics] [8086:9a49]
- Display server if rendering to display(X or wayland): wayland

## Issue behavior
### Describe the current behavior
The va-api library returns with code

[2022-03-24 22:44] ngboonhai opened #1367 "Unable to build Intel-Media-Driver"
## System information
- Impacted GPU platform: Intel ADL-P 1265UE iGPU
- System OS: Ubuntu 20.04
- Kernel: 5.16.12-051612-generic
- Current libva/libva-utils/gmmlib/media-driver version?
libva-drm2:amd64                            2.7.0-2
libva-wayland2:amd64                        2.7.0-2
libva-x11-2:amd64                           2.7.0-2
libva2:amd64                                2.7.0-2
intel

[2022-03-25 01:57] XinfengZhang commented on #1367
please install libva-X11 in your machine.  media driver build found X11, but libva is without X11.

[2022-03-25 08:59] Jexu commented on #1359
Could you share the full log of failure.
How about ffmpeg decode? If possible, you could share your stream.ivf to me to try.

[2022-03-25 12:33] ngboonhai commented on #1367
XinfengZhang.
          Alright. found libva-x11-dev not proper install, issues resolved.

[2022-03-26 10:16] AbhyudayaSharma commented on #1359
@Jexu This is the entire output I get when running sample_decode. LIBVA_TRACE also does not create a log file.

This is what happens with ffmpeg:

[code]

This is the libva trace:

[code]

This is the video I was trying to play https://www.youtube.com/watch?v=LXb3EKWsInQ. I downloaded it using [yt-dlp](https://github.com/yt-dlp/yt-dlp).

[2022-03-27 14:23] XinfengZhang commented on #1367
@ngboonhai lets close the issue?

[2022-03-27 14:37] ngboonhai commented on #1367
let, please close this and thank you.

[2022-03-27 14:37] #1367 closed

[2022-03-28 03:36] Jexu commented on #1359
From above log, it seems that amd gpu node is opened, but with iHD driver used.
Can you give all gpu node 'll /dev/dri'
and try to open with other gpu node like: LIBVA_TRACE=/tmp/libva_trace.log DRI_PRIME=1 LIBVA_DRIVER_NAME=iHD ffmpeg -loglevel verbose -init_hw_device vaapi=/dev/dri/card0

[2022-03-28 04:52] AbhyudayaSharma commented on #1359
[code]

I tried ffmpeg with both `vaapi=/dev/dri/card0` and `vaapi=/dev/dri/card1` and I still get the same error as in my [previous comment](https://github.com/intel/media-driver/issues/1359#issuecomment-1079655886). Setting `DRI_PRIME` to 0 or 1 also does not create any difference.

[2022-03-28 04:55] AbhyudayaSharma commented on #1359
@jexu I also get this in journalctl:

[code]

[2022-03-28 05:50] Jexu commented on #1359
What is your kernel version?

iHD driver calls the drm ioctl to get some hw infos from kernel, but your kernel returns invalid result with failure. Perhaps something wrong in kernel.
Please capture the dmesg log with setting ‘echo 0xff > /sys/module/drm/parameters/debug’

_DRM_IOCTL_I915_GEM_APERTURE failed: Invalid argument
Assuming 131072kB available aperture size.
May lead to reduced performanc

[2022-03-28 07:46] Jexu commented on #1359
[query_hw_info.txt](https://github.com/intel/media-driver/files/8360645/query_hw_info.txt)

please try this tool to query the hw info directly with the kernel: ./query_hw_info.txt --device=/dev/dri/renderD128 and ./query_hw_info.txt --device=/dev/dri/renderD129

then share the log on screen.

[2022-03-28 10:11] rathann commented on #1366
Same here on Fedora 36 pre-release with:
[code]
Downgrading to 21.x series makes it work again, so this looks like a regression.

[2022-03-28 11:29] AbhyudayaSharma commented on #1359
[code]

[code]

[2022-03-28 12:24] Jexu commented on #1359
So it is obvious that renderD128 is amd gpu while renderD129 is intel gpu. But your above failure is caused by iHD driver running on amd drm module.

How about LIBVA_TRACE=/tmp/libva_trace.log DRI_PRIME=1 LIBVA_DRIVER_NAME=iHD ffmpeg -loglevel verbose -init_hw_device vaapi=**/dev/dri/renderD129**

[2022-03-28 12:26] AbhyudayaSharma commented on #1359
@Jexu I get the same error unfortunately:

[code]

[2022-03-28 12:29] Jexu commented on #1359
Look like that vaapi=/dev/dri/renderD129 cann't force iHD driver calling into i915 module. Do your try to disable amd gpu?

[2022-03-28 12:30] Brampie66 opened #1371 "Alder Lake init failed"
Hi,

I'm trying to get vaapi to work on an intel i7 12700 (alder lake), the pc is running centos8
vainfo:
Found init function _vaDriverInit_1_14
/usr/lib64/dri/iHD_drv_video.so init failed
va_openDriver() returns 1

I've tried and checked the following:
Linux localhost.localdomain 5.17.0-1.el8.elrepo.x86_64  , I updated linux-firmware as well, this dmesg part looks ok to me
[    1.516969] fb0: swi