[2018-10-09 16:48] nehudesi commented on #330
Thank you for your reply! I will try to do that and will update here.

[2018-10-09 22:35] chivakker opened #347 "Remove including local folders that don't exist during compilation"
media-driver compiles with the following includes which refer to local folders that don't exist.  gmmlib is found with pkg-config and the others do not exist

cmake ../media-driver && make

 -I<sources>/media-driver/../gmmlib/Source/inc
-I<sources>/media-driver/../gmmlib/Source/inc/common
-I<sources>/media-driver/../gmmlib/Source/inc/platform/iAlm
-I<sources>/media-driver/../gmmlib/Source/inc/umKm

[2018-10-09 22:37] chivakker opened #348 "Do not modify users environment unconditionally"
This script should not be included in the build system is user doesn't want to have those variables exported

./media_driver/cmake/linux/intel-media.sh.in

[2018-10-09 23:42] chivakker opened #350 "Include a readme file on os/libdrm headers"
To know where these headers are coming from and how they should be updated please include a README with instructions in

media_driver/linux/common/os/libdrm/

[2018-10-09 23:48] chivakker commented on #350
For example, mesa does it here

https://gitlab.freedesktop.org/mesa/mesa/tree/master/include/drm-uapi

[2018-10-10 01:58] feiwan1 commented on #322
Hi @wangyan42164 , Did you mean PR #323? It should be the fix of issue #318, not the fix of this issue.

[2018-10-10 02:33] Jister commented on #181
gstreamer-vaapi has fix the issue by commit ee27377cb38293f8e4f807ad4d0eaaf6d9740174

[2018-10-10 02:38] Jister commented on #288
@riccardocagnasso I push another fix into branch ws1, could you please update the code and test it again, the output should be fine now.

[2018-10-10 09:09] Jister commented on #288
@riccardocagnasso OK, thanks. Will merge the fix into master branch later.

[2018-10-10 14:38] dmitryermilov commented on #343
@XinfengZhang , can you please comment or assign this to someone?

[2018-10-10 20:08] chivakker opened #353 "simplify header including structure"
All headers present in media-driver are scattered all over.  Consolidate them in a single place so that includes during compilation can be reduced.

[2018-10-10 22:08] chivakker opened #354 "remove -fno-strict-aliasing from imposed building filags"
media-driver imposes -fno-strict-aliasing, which in reality is hiding things like this:

/vphal_common.c:945:19: error: dereferencing type-punned pointer will break strict-aliasing rules [-Werror=strict-aliasing]
     dwInput   = *((uint32_t *) (&fInput));
                  ~^~~~~~~~~~~~~~~~~~~~~~~

Fix errors when this flag is removed from build.

[2018-10-11 02:41] Sherry-Lin commented on #350
it's diff story with Mesa. Media driver libdrm is for driver internal usage. The interaction between driver and kmd is based on driver request so no need to add it. Please let me know if any questions.

[2018-10-11 05:41] wangyan42164 commented on #322
@feiwan1 How should I reproduce this issue? What profile do you use? VAProfileHEVCMain?

[2018-10-11 06:02] XinfengZhang commented on #342
we mentioned AVC, actually, it is enough.

[2018-10-11 06:13] LuoIvan commented on #343
@dmitryermilov , thanks for comments. GetstatusReport provides one way  for app to proactive check the readiness of specific task at GPU side. So as long as no other event notification mechanism enabled on Linux, non-pooling like usplee is needed.
here is  the POSIX specification of usleep
The usleep() function will cause the calling thread to be suspended from execution ...
so this clearly requir

[2018-10-11 08:07] kwizart opened #356 "media-driver 18.3.0 - compilation fails on 32bit"
I'm trying to compile on media-driver 18.0.3 on i686 and I have a compilation error.
For the record, I still consider important to have a 32bit for running steam client on x86_64 OS.

Full compilation log: http://koji.rpmfusion.org/kojifiles/work/tasks/6969/266969/build.log

[code]

[2018-10-11 15:00] XinfengZhang commented on #295
cant reproduce this issue with latest media driver. commit 60b1e83aef1b751fb2b455b67766dc579cd73c80

[2018-10-11 17:23] chivakker opened #358 "CMRT building as a plug-in, should it have a API/ABI?"
CMRT is still a building dependency for this driver.  Can it be isolated at compile time?  If it is installing as part of the features provided by this, could it  define an API/ABI as well?

[2018-10-11 19:48] nehudesi commented on #330
Ok.. With libva 2.3.0 I am able to pass through this error. However, I now hitting this error:

/codec/ddi/media_libva_decoder.cpp:45:10: fatal error: 'X11/Xutil.h' file not found
#include <X11/Xutil.h>
         ^~~~~~~~~~~~~
1 error generated.
make[2]: *** [media_driver/CMakeFiles/iHD_drv_video_OBJ.dir/build.make:9711: media_driver/CMakeFiles/iHD_drv_video_OBJ.dir/linux/common/codec/ddi/media_lib

[2018-10-12 01:29] HeFan2017 commented on #358
Hi @chivakker , we already have an API definition in media/cmrtlib/agnostic/share/cm_rt.h. Do we need to copy it to somewhere else?

[2018-10-12 02:06] dvrogozh commented on #358
To use this library the one needs its headers. So, yes, you need to provide full development and runtime installation for it. Also, please, clarify the usage model: should application link against the library or load it. I.e. please, provide documentation. Finally, do you have stable backward compatible uAPI and uABI for the library?

I suggest you to provide the above information for review befor

[2018-10-12 02:36] feiwan1 commented on #322
Hi @wangyan42164 , I used gst-vaapi cmdline to reproduce this issue:
# gst-launch-1.0 videotestsrc num-buffers=100 ! video/x-raw,format=YUY2 ! vaapih265enc ! fakesink

The default profile is VAProfileHEVCMain, does this profile support YUY2 in driver side? Or I need to use
other profile like 422-main-10?

[2018-10-12 02:43] HeFan2017 commented on #358
hi @dvrogozh , Thanks for the info.

Here are the information needed and it would be nice if you can help review it:

cmrtlib is a runtime library needed when user wants to execute their own GPU kernels on render engine. It calls iHD media driver to load the kernels and allocate the resources. It provides a set of backward compatible APIs defined in media/cmrtlib/agnostic/share/cm_rt.h for user to

[2018-10-12 03:13] yangnin commented on #347
Could u help to review PR#316? it will be helpful for this issue.

[2018-10-12 03:51] wangyan42164 commented on #322
@feiwan1 I did some initial checking on my KBL(Gen9) platform because I have not ICL (Gen11). But I think they are similar in this issue.
It should have 2 points for this issue:
1. Surface attribute of VAProfileHEVCMain in media driver doesn't include YUY2 and UYVY. I added some code to fix it.
2. gstreamer-vaapi cannot support it. I use master branch of gstreamer-vaapi build like the following:
g

[2018-10-12 04:36] dvrogozh commented on #358
If user is supposed to link against cmrt library, then it is named incorrectly. You use Windows style name which on Linux is reserved for plugins which are loaded via dlopen. So, if library can be linked against, then it should be named lib<name>.so.<major_version>.<minor_version><micro_version>. Where major.micro.minor is usually just an API version. For cmrt you need to chose a name, it will be

[2018-10-12 05:16] feiwan1 commented on #322
@wangyan42164 , please add YUY2/UYVY surface support in meida-driver. I will take a look at gst-vaapi side.
Thanks

[2018-10-12 06:17] wangyan42164 commented on #322
@feiwan1 Added. Thanks.

[2018-10-13 07:17] FocusLuo commented on #208
Closed this bug for almost all test cases passed

[2018-10-13 07:17] #208 closed

[2018-10-15 08:11] wangyan42164 commented on #325
@zhuqingliang @XinfengZhang I can reproduce it in my KBL GT2 by MOBILE_352x288_30_orig_01.yuv.
But this issue may come from MediaSDK and not media driver.
The following is the detail:
MfxHwH264Encode::CheckVideoParamQueryLike() in MediaSDK/_studio/mfx_lib/shared/src/mfx_h264_enc_common_hw.cpp:3397:
                mfxF64 rawDataBitrate = 12.0 * par.mfx.FrameInfo.Width * par.mfx.FrameInfo.Height *

[2018-10-15 09:29] wangyan42164 commented on #325
After talked with @XinfengZhang, I will submit a PR to MediaSDK git upstream. Thanks.

[2018-10-16 06:52] #295 closed

[2018-10-16 07:18] #291 closed

[2018-10-16 08:33] feiwan1 opened #361 "[gst-vaapi][ICL][HEVC Encode][Low power]vaCreateConfig returns VA_STATUS_ERROR_ATTR_NOT_SUPPORTED."
1. cmdline:
gst-launch-1.0 videotestsrc num-buffers=100 ! vaapih265enc tune=3 rate-control=cbr ! fakesink
(Note: this cmdline need a patch for gst-vaapi, please feel free to ping me if you need the patch for debug).

2. error log:
root@icl_vpg_kernel:~# gst-launch-1.0 videotestsrc num-buffers=100 ! vaapih265enc tune=3 rate-control=cbr ! fakesink
Setting pipeline to PAUSED ...
Pipeline is PREROLLIN

[2018-10-16 13:15] andreasunterhuber opened #362 "MediaDecodeDdiTest.DecodeHEVCLong fails during make"
Running current GIT `media-driver` and current GIT `gmmlib` on `i7-8700K CPU` as

1. **cmake** command
`cmake ../media-driver -DMEDIA_VERSION="2.0.0" -DBUILD_ALONG_WITH_CMRTLIB=1 -DBS_DIR_GMMLIB=`pwd`/../gmmlib/Source/GmmLib/ -DBS_DIR_COMMON=`pwd`/../gmmlib/Source/Common/ -DBS_DIR_INC=`pwd`/../gmmlib/Source/inc/ -DBS_DIR_MEDIA=`pwd`/../media-driver -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_INSTALL_LIBDI

[2018-10-16 13:29] andreasunterhuber commented on #362
Changing gmmlib branch to `intel-gmmlib-18.3` solves the problem. Some newer commit in **master** branch seems to create problems and should be investigated. Thanks in advance.

[2018-10-16 16:36] uartie opened #363 "[regression] over 1600 failures in libva-utils conformance tests"
There are over 1600 new test regressions in libva-utils conformance test suite (test_va_api) introduced since:

[code]

[2018-10-17 02:50] uartie commented on #190
Is this still an issue?  I can't reproduce on today's mainline stack.

[2018-10-17 06:31] XinfengZhang commented on #363
thanks reporting, will follow up immediately

[2018-10-17 13:17] FurongZhang commented on #322
I read the whole thread, it is related to codec context. @XinfengZhang to check it.

[2018-10-17 13:28] FurongZhang commented on #181
Since gstreamer-vaapi has fixed the issue by commit ee27377cb38293f8e4f807ad4d0eaaf6d9740174, close it. @TheanSiew Please verify it. Thanks a lot in advance!

[2018-10-17 13:36] FurongZhang commented on #155
@wangzj0601, is it possible for you to verify it? Thanks a lot in advance!

[2018-10-17 13:56] FurongZhang commented on #230
Pending on submitter to verify that.

[2018-10-17 13:57] FurongZhang commented on #155
Pending on submitter to verify that.

[2018-10-17 15:35] eero-t opened #365 "GPU hang with today's commit"
Setup:
- SKL i5-6600K (GT2)
- Ubuntu 18.04
- Latest git versions of libva, gmmlib, media-driver & MediaSDK from Intel Github repositories

Use-case:
[code]

This worked fine with media-driver commit from yesterday:
[code]

But with the latest commit:
[code]

MediaSDK sample application complains about GPU hang:
[code]

Nothing else changed besides the media-driver update, so the issue is either of

[2018-10-17 16:39] uartie opened #366 "[regression] nearly all ffmpeg-qsv and many gst-msdk pipelines fail"
First bad commit is:

[code]

Nearly every encode, decode and vpp pipeline for ffmpeg-qsv no longer work.

For example:

[code]

Also, this broke many vpp pipelines in gst-msdk, for example:

[code]

[2018-10-17 16:46] uartie commented on #366
Also related: #365

[2018-10-17 17:59] uartie commented on #230
@FurongZhang without format conversion, I see this issue.  Perhaps try these commands:

This command fails (i.e. format=I420):
[code]

This command passes (i.e. format=NV12):
[code]

Oddly, this command passes for me (which should be equivalent to initial reported command):
[code]

All commands work on i965 driver.

NOTE: This is my current stack
[code]

[2018-10-18 02:05] feiwan1 commented on #322
According @Maggieie comment on #359 , VAProfileHEVCMain will not support YUY2/UYVY format, If so, do we need to support VAProfileHEVCMain422_10 encode? Now vainfo shows only VAProfileHEVCMain422_10 decode is supported on ICL.

[2018-10-18 03:50] #272 closed

[2018-10-18 04:01] #288 closed

[2018-10-18 04:08] #340 closed

[2018-10-18 05:50] fenhu commented on #366
Hi uartie.

 I back out my CL which case this issue  to OpenSource  by change https://gerrit-gfx.intel.com/#/c/505327/

Please help to try it.

Thank you
Molly

[2018-10-18 05:59] uartie commented on #366
@fenhu sorry, but I don't have access to your gerrit system.  Please revert it here in GitHub.

[2018-10-18 06:11] Sherry-Lin commented on #366
reverted in commit#7bd497ee0493a8314155d18233d2e124e663b304

[2018-10-18 08:03] FurongZhang commented on #181
The submitter TheanSiew has already verified that this issue is fixed.

[2018-10-18 14:02] eero-t commented on #365
Revert at current git HEAD fixed the GPU hang, although it didn't mention this ticket:
[code]

[2018-10-18 14:02] #365 closed

[2018-10-18 14:43] eero-t opened #367 "intel-media.sh is installad outside of -DCMAKE_INSTALL_PREFIX target directory"
Use-case:
* Use (Gnome) JHBuild for building Intel Media stack
* "/opt/install/Custom_4026" is a symlink to "/opt/install" directory
* JHBuild sets buildroot to /opt/install/Custom_4026/root-media-driver
* and gives CMake "-DCMAKE_INSTALL_PREFIX=/opt/install/Custom_4026" option
* "make install"

Expected outcome:
* intel-media.sh goes to:
  /opt/install/Custom_4026/root-media-driver/opt/install/Cu

[2018-10-18 15:03] eero-t opened #368 "Example programs installed to incorrect directory"
Media driver installs example programs like "sample_multi_transcode" under $PREFIX/share/ directory, which is reserved for non-architecture specific files:
https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s11.html

Examples in general would be better in source form, and then they would should be installed under share/, e.g. to share/<package-name>/examples/.

Binaries should be under *bin/ or

[2018-10-18 15:23] eero-t commented on #343
10us sleep is *very* short.  Polling with microscopic sleeps definitely uses CPU because scheduling itself has some overhead: switching to kernel context, calculating which process to run next and switching to that.

(I think Linux normally schedules process at most at 1000Hz, i.e. if other processes are waiting to be woken, each such process can cause 1ms delay until your process is woken again,

[2018-10-18 21:18] KrisKnez opened #369 "Hardward Acceleration (QSV) Causes Problems when decoding videos."
I've tried everything and couldn't find a REAL solution to this problem.

Proof 1:
I've installed a fresh copy of Windows and Chrome web browser, when I view some videos I get a black screen for a fraction of a section on random intervals. In Chrome hardware acceleration setting is enable by default and when disabling it, it seems to work normally.

Proof 2:
I used a screen recording program calle

[2018-10-19 01:32] shiqiangyu commented on #363
Here is a patch for fix these new regressions. uartie, could you help me verify the patch within you env. Thanks.

[remove_check_nullptr_for_zero_size_array.zip](https://github.com/intel/media-driver/files/2494136/remove_check_nullptr_for_zero_size_array.zip)

[2018-10-19 10:03] wangyan42164 commented on #320
Previous PR https://github.com/intel/media-driver/pull/333 will cause ULT error when manual build on WIndows X64 Debug. So I refined it as #371.

[2018-10-19 18:41] uartie commented on #363
@shiqiangyu please build and install https://github.com/intel/libva-utils and run `test_va_api` to validate your patch.  I don't have bandwidth to sling around patch archives.

[2018-10-19 18:45] uartie commented on #363
`test_va_api` should take less than a minute to execute.  Would be good if all devs incorporated this test suite into their workflow before submitting patches.

[2018-10-19 21:43] uartie opened #372 "[regression] ffmpeg-vaapi [M]JPEG encode quality drop"
With ffmpeg-vaapi, [M]JPEG encoding quality dropped significantly for all input YUV files and quality settings since:

[code]

For example:
[code]

PSNR for above example **before** regression commit:
[code]

PSNR for above example **after** regression commit:
[code]

[2018-10-19 21:48] uartie opened #373 "[regression] ffmpeg-qsv [M]JPEG encode commands fail (conversion failed!)"
For ffmpeg-qsv, all [M]JPEG encode pipeline commands fail since:

[code]

[code]

[2018-10-19 21:52] uartie commented on #373
Prior to the regressing commit, encode would succeed as long as ffmpeg is patched with https://patchwork.ffmpeg.org/patch/10639/

[2018-10-19 22:03] uartie commented on #373
oops, I pasted wrong ffmpeg-qsv output in description initially.  Updated.

[2018-10-19 23:10] uartie commented on #338
@XinfengZhang should configuration files bump minimum required libva version to prevent getting this far into compilation?

[2018-10-20 12:13] dseeker commented on #243
@Brainiarc7 I'm stuck at "compute runtime project"
time make -j$(nproc) package VERBOSE=1

what is the procedure to update the driver and get rid of the

 errors?

[2018-10-20 13:07] Brainiarc7 commented on #243
That's because the Intel Graphics Compiler (IGC) is not installed.

Show us your build steps.

On Sat, Oct 20, 2018, 15:13 D See Ker <notifications@github.com> wrote:

[2018-10-20 16:14] dseeker commented on #243
was following https://gist.github.com/Brainiarc7/4f831867f8e55d35cbcb527e15f9f116 line by line:

[2018-10-20 16:34] Brainiarc7 commented on #243
With that mentioned, were you able to build ICR?

It's a prerequisite for building IGC.

[2018-10-20 17:15] dseeker commented on #243
[code]

[code]

[2018-10-20 17:38] dseeker commented on #243
@Brainiarc7 apparently so, there are some warnings but it completes
[code]

**and time make**

[code]

[2018-10-20 17:43] Brainiarc7 commented on #243
Good, you'll also need to install it.

If you're on Ubuntu, you can use:

`time make -j$(nproc) package VERBOSE=1`

After the step above, and install the package's artifacts via:

`sudo dpkg -i *.deb`

Ran in the build directory.

You can install the package directly without generating Debian archives via:

`sudo make -j$(nproc) install VERBOSE=1`

Then proceed to build ICR. The build should compl

[2018-10-20 18:47] Brainiarc7 commented on #243
@dseeker can you confirm that installing ICR fixes the problem you're encountering?

[2018-10-21 00:46] dseeker commented on #243
Really thankful for helping out, but maybe I'm miscommunicating, because that's what doesn't work. when I do
`time make -j$(nproc) package VERBOSE=1`
I get all the include errors

[code]

I tried continuing the process all to the end anyway but FFMPEG build also fails with

[code]

[2018-10-21 03:35] shiqiangyu commented on #373
@uartie Thanks for reporting the issue. Need to verify whether it shared the same root cause with libva-utils conformance tests, and the fix is under reviewing. Could you share the test suits to me, so that I can verify before commit to reduce the back and forth overhead for regression reporting and fixing. Thanks.

[2018-10-22 06:59] shiqiangyu commented on #372
@uartie, what's the command for comparing the psnr? And could you attach the yuv file for reproducing the psnr degradation issue? Thanks.

[2018-10-22 07:34] feiwan1 opened #374 "[gstreamer-vaapi][ICL] vaGetConfigAttributes returns VA_STATUS_ERROR_INVALID_PARAMETER."
1. gst encode cmdline:
gst-launch-1.0 videotestsrc num-buffers=30 ! video/x-raw,format=NV12 ! vaapih265enc ! filesink location=a.h265

2. When using VAProfileHEVCMain444/VAEntrypointEncSlice/VAConfigAttribRTFormat to call vaGetConfigAttributes, VA_STATUS_ERROR_INVALID_PARAMETER returns.

3. Gdb info:
(gdb)
vaGetConfigAttributes (dpy=0x77f000, profile=VAProfileHEVCMain444, entrypoint=VAEntrypointEn

[2018-10-22 07:50] shiqiangyu commented on #373
I got below error when running the command:

[2018-10-22 08:21] shiqiangyu commented on #372
I reproduced this issues locally, it shared the same root cause with the 1600 libva-utils conformance test fails. With the patch I attached previously, psnr degradation issue disappeared. And the patch is under reviewing, will upstream soon.

[2018-10-22 09:13] shiqiangyu commented on #373
Got below error

[2018-10-22 15:42] uartie commented on #373
Are you using upstream https://ffmpeg.org/download.html#get-sources?

[2018-10-22 18:06] uartie commented on #373
FYI, my software stack is:

[code]

My ffmpeg configure flags are:
[code]

[2018-10-23 02:13] feiwan1 opened #375 "[gst-vaapi][ICL] vaCreateImage can not used ayuv(8bit/444sample) format to create image."
By using ayuv format in vaCreateImage, un-implemented status will be return. This format required by Iotg, may need your help to support this format.

[2018-10-23 11:41] dmitryermilov opened #376 "Does the driver support Gemini Lake?"

[2018-10-24 07:15] shiqiangyu commented on #373
managed to repro this issue using CNL, found the same root cause with libva-utils conformance tests, will check in soon.

[2018-10-24 10:57] djie1 opened #377 "For decoders, vaCreateConfig() returns INVALID_PARAMETER if no attributes supplied."
For the decoding, if vaCreateConfig() is called with (attrib_list == NULL && num_attribs == 0), it returns INVALID_PARAMETER.

[2018-10-24 14:32] uartie commented on #377
AFAIK, this is being addressed by @shiqiangyu soon... see patch in #363 and other related regressions caused by this in #372 and #373.

[2018-10-24 21:07] uartie commented on #372
FYI, it looks like codecs in ffmpeg-vaapi decode is falling back to SW decode with commit 9fbf6c9ad5ed226e.  So the problem is worse than just mjpeg.  I have updated our tests (that I shared with you) to detect this sw fallback and fail.  Please verify patch fixes this too.

[2018-10-24 21:59] dvrogozh opened #379 "Different QVBR settings lead to the same quality"
Discussed within #319.

@ChenXiaomin36 : I see some strange behaviour on enabled qvbr. Could you, please, check on your side? Consider the following mediasdk command lines with _different_ bitrate settings (compare: -b 2500 and -b 4000, -MaxKbps 3000 and MaxKbps 4800):
[code]

The strange thing is that if you will check the quality of output streams, you will see that PSNR values are identical. Ar

[2018-10-25 01:15] shiqiangyu commented on #372
@uartie Sure, will check this, but now I have no idea how to detect whether it's using SW decode or not from the output. How about check in the patch first? Will follow up if another root cause for the decoder fallback issue.

[2018-10-25 01:53] djie1 commented on #377
@uartie , correct, patch in #363 could fix this issue and the encoding related regressions.

[2018-10-25 05:34] feiwan1 opened #381 "[gstreamer-vaapi][ICL] HEVC doesn't support 422 10bit encode."
422 10bit(Y210 color format) encode is required by Iotg, need your help to support it in media-driver.
Currently, vainfo only shows VAProfileHEVCMain422_10 decode is supported.

[2018-10-25 12:13] zhoujd opened #382 "[vpp/mirroring]vaQueryVideoProcPipelineCaps doesn't support query mirror_flags in struct VAProcPipelineCaps"
VAAPI vaQueryVideoProcPipelineCaps doesn't support query mirror_flags in struct VAProcPipelineCaps.
Should add code in media_libva.cpp::DdiMedia_QueryVideoProcPipelineCaps ?

[2018-10-25 14:18] uartie commented on #372
@shiqiangyu yes, please submit the patch ASAP.

For this particular regression, FFmpeg will output the following when it fails to init hwaccel:
[code]
There are many other potential points of failure and arbitrarily different error messages in ffmpeg hwaccel init phase.  FFmpeg automatically switches to SW mode when any of these errors occur.  This makes it difficult to "auto-detect" when this hap

[2018-10-25 21:46] uartie opened #383 "[regression] ffmpeg-qsv 100% broken since 24f4538c870c - [VP] 1to3 kernel integration(CL#810055)"
All ffmpeg-qsv encode/decode/vpp pipelines fail since:

[code]

For example:

[code]

Software Stack:
[code]

[2018-10-25 21:58] uartie opened #384 "[regression] gst-msdk rotation broken since 24f4538c870c - [VP] 1to3 kernel integration(CL#810055)"
All gst-msdk rotation pipelines broken since:

[code]

For example:
[code]
Actual Output:

![rotation-fail](https://user-images.githubusercontent.com/677859/47532658-cc8eb080-d865-11e8-8df2-4a863f55aac7.jpg)

Software Stack:
[code]

[2018-10-25 22:12] uartie opened #385 "[regression] gst-msdk denoise broken since 24f4538c870c - [VP] 1to3 kernel integration(CL#810055)"
gst-msdk denoise fails to produce correct output at level 0 setting since:

[code]

For example:
[code]
...only outputs 1 frame, but there should be 3 frames.

Software Stack:
[code]

[2018-10-25 22:18] uartie opened #386 "[regression] ffmpeg-vaapi scale broken since 24f4538c870c - [VP] 1to3 kernel integration(CL#810055)"
ffmpeg-vaapi scale pipelines fail since:

[code]

For example:
[code]

Software Stack:
[code]

[2018-10-26 10:36] mypopydev opened #387 "Build fail"
in the commit: 9d258e13eba16e1d5b81dbf5fa5f73f00cba6a7e

after re-build media-driverl, get the build error like:

/home/barry/Sources/umd_dev/media-driver/media_driver/linux/gen8/ddi/media_sysinfo_g8.cpp: In function ‘bool InitBdwShadowSku(GfxDeviceInfo*, SHADOW_MEDIA_FEATURE_TABLE*, LinuxDriverInfo*)’:
/home/barry/Sources/umd_dev/media-driver/media_driver/linux/gen8/ddi/media_sysinfo_g8.cpp:128:1

[2018-10-26 19:30] uartie commented on #377
3c55dfe3061e49a3507d50cf60dafe12583b506c reverts the regressing commit. Please reference issue numbers (e.g. #377) in commit messages. GitHub will automatically create link between issue and commit and makes it easier to see when activity occurs for specific issue.

[2018-10-26 19:31] uartie commented on #373
3c55dfe3061e49a3507d50cf60dafe12583b506c reverts the regressing commit. Please reference issue numbers (e.g. #373) in commit messages. GitHub will automatically create link between issue and commit and makes it easier to see when activity occurs for specific issue.

[2018-10-26 19:31] uartie commented on #372
3c55dfe3061e49a3507d50cf60dafe12583b506c reverts the regressing commit. Please reference issue numbers (e.g. #372) in commit messages. GitHub will automatically create link between issue and commit and makes it easier to see when activity occurs for specific issue.

[2018-10-26 19:31] uartie commented on #363
3c55dfe3061e49a3507d50cf60dafe12583b506c reverts the regressing commit. Please reference issue numbers (e.g. #363) in commit messages. GitHub will automatically create link between issue and commit and makes it easier to see when activity occurs for specific issue.

[2018-10-29 05:30] HeFan2017 commented on #358
Just list the tasks we need to follow up:
1. provide readme in cmrtlib folder to state the backward compatibility of API/ABI , and clarify the relationship with the old cmrt
2. Add a flag in cmake files to exclude cmrtllib in build
3. change the lib name to libxxx.so.xxx.xx.xx
4. provide installation mechanism to install cmrt header files for external users (to /usr/include/cmrt or something simil

[2018-10-29 21:37] uartie opened #389 "AVC LP Multi-Slice Encode corrupted"
Encoding h264 low-power with multi-slice produces corrupted output.

**Reproduce Steps:**

In gst-msdk:
[code]

In gst-vaapi:
[code]

In ffmpeg-vaapi:
[code]

Playback test.h264:
[code]
See more details in https://trac.ffmpeg.org/ticket/7523

Software Stack:
[code]

[2018-10-31 05:47] XinfengZhang commented on #361
@wangyan42164 please help to check

[2018-10-31 06:42] feiwan1 commented on #318
By using master code, the issue is gone. Thanks for fixing it.

[2018-10-31 06:42] #318 closed

[2018-10-31 08:20] wangyan42164 commented on #361
@feiwan1 @XinfengZhang I submit it one RFC patch for review. I think it is similar with the previous closed issue https://github.com/intel/media-driver/issues/8.
Thanks.
Yan Wang

[2018-10-31 08:35] wangyan42164 commented on #389
@uartie Could you please clarify it. GST is OK and FFMPEG fails? Or both fails. And what platform do you use? KBL or SKL?
Thanks

[2018-10-31 09:33] wangyan42164 commented on #361
@feiwan1 Sorry for missing "break" in the previous version. I updated it. Could you please try it again? Thanks.

[2018-10-31 15:59] uartie commented on #389
It fails with both FFMPEG and GST (i.e. all commands above under "Reproduce Steps").  I am using KBL locally, but our CI shows same issue exists on KBL, CFL and WHL.

[2018-10-31 16:04] uartie commented on #389
I have not tested it on SKL since the intel-media-driver docs don't include AVC E2 (LP) support.

[2018-10-31 17:46] vshampor opened #393 "Render target table implementation is faulty"
Currently, when the render target table is full and a new surface needs to be inserted into it via DdiMediaBase::RegisterRTSurfaces, the table will search for the first inactive surface from the beginning of the table's static array and remove it to insert the new one. This is wrong, since the first inactive surface from the beginning of the table's static array is not necessarily the oldest and m

[2018-10-31 17:51] vshampor commented on #393
In fact we already have tests failing on MediaSDK side due to this issue - when we allocate more HW surfaces on app level via VA calls than `DDI_MEDIA_MAX_SURFACE_NUMBER_CONTEXT` (which is 127) and run decode, we get a MFX_ERR_DEVICE_FAILED at Mos_Specific_GetResourceInfo.

I provided a solution that fixes the issue in the following PR:
https://github.com/intel/media-driver/pull/392

A more elegan

[2018-10-31 23:33] wangyan42164 commented on #389
@uartie Thanks for your clarifying. I will check it.

[2018-11-01 01:31] wangyan42164 commented on #361
@feiwan1 Could you please provide back trace for analysis too? Thanks.

[2018-11-01 02:41] HeFan2017 commented on #358
https://github.com/intel/media-driver/pull/394 is created for this:
2. Add a flag in cmake files to exclude cmrtllib in build

[2018-11-02 11:28] HeJunyan opened #401 "vaPutImage and vaCreateImage functions not implemented for RGB kind format in Gen10+ platform"
Call vaCreateImage or vaPutImage failed on gen10+ platform for ARGB ABGR xRGB, etc formats.
Step:
Use
  status = vaCreateSurfaces (display, GST_VAAPI_CHROMA_TYPE_RGB32, 64, 64,
      &surface_id, 1,
      some_attribs, att_num);
create a surface
Use
  status = vaCreateImage (display,
      the_rgba_va_format,
      64, 64, &image_id);
create a image
and use:
  status = vaPutImage (display,
      s

[2018-11-03 03:11] mypopydev commented on #389
@wangyan42164 @uartie  SKL failed too

[2018-11-03 03:13] mypopydev opened #402 "[RFC] Need to support VAConfigAttribFrameSizeToleranceSupport query"
When I enabled the sliding window, I found iHD didn't implement the VAConfigAttribFrameSizeToleranceSupport query, any plan for this query?

[2018-11-03 14:15] mypopydev opened #403 "[regression] 9fbf6c9ad5ed226e91b97e2ee6a19272c6e5a2f3 break the FFmpeg decoder"
After the commit 9fbf6c9ad5ed226e91b97e2ee6a19272c6e5a2f3, ffmpeg decoder is broken

[code]

[2018-11-03 14:43] #403 closed

[2018-11-04 13:53] XinfengZhang commented on #401
thanks reporting, will follow up

[2018-11-04 13:55] XinfengZhang commented on #393
thanks @vshampor, will check your PR and test it.

[2018-11-05 08:40] yangnin commented on #367
Hi,
media driver uses CMAKE_INSTALL_FULL_SYSCONFDIR as intel-media.sh destination.
Please reference
https://cmake.org/cmake/help/v3.4/module/GNUInstallDirs.html

[2018-11-05 09:33] eero-t commented on #367
Wow.  I had no idea that Filesystem Hierarchy Standard (FHS) requires non-standard handling for "etc" directory when it's for the /opt/ directory hierarchy:
http://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch03s07.html#etcoptConfigurationFilesForOpt

I'm not sure moving "etc" out of build target should be taken by the build system (CMake) though, as there's no guarantee that a directory outside of

[2018-11-05 09:33] #367 closed

[2018-11-05 22:47] ajitkumarkp opened #405 "Media driver compilation fails with- "fatal error: va/va_dricommon.h: No such file or directory""
Hi,
I have successfully installed gmmlib and libva. But when it comes to the media-driver, the installation fails with the below error messages. Please help to resolve. Let me know if/what additional info is needed from my side. Tx.

[ 30%] Building CXX object media_driver/CMakeFiles/iHD_drv_video_OBJ.dir/linux/common/os/libdrm/xf86drmHash.c.o
[ 30%] Building CXX object media_driver/CMakeFiles/iHD

[2018-11-06 03:19] xhaihao opened #406 "hevc 10bit decoding is broken when using sample_decode on KBL/CFL"
libva: 285267586a3d4db0e721d30d4a5f5f9fe6a3c913
gmmlib: 5cd8dca50b1f6ddbce229098dc2bec55fc922fa7
media-driver: e0227fae06ccf9aaadd16543fd84817b485e1986
MediaSDK: 7ca2c5bf72eb822b0fe32b3a1680abbce1d8fe51

[ERROR], sts=MFX_ERR_UNSUPPORTED(-3), Init, m_pmfxDEC->Init failed at /home/xhh/graphics/ex/vaapi/MediaSDK/samples/sample_decode/src/pipeline_decode.cpp:437

[ERROR], sts=MFX_ERR_UNSUPPORTED(-3),

[2018-11-07 02:50] xhaihao commented on #406
I used an old sample app for testing, sorry for the noise.

[2018-11-07 02:50] #406 closed

[2018-11-07 07:10] Jister commented on #230
Hi, @uartie , for the first failed test case:
[code]
the failed reason is that when create I420 surface, gstreamer-vaapi didn't set fourcc of I420 in attribute list, and it created a NV12 surface.

[2018-11-07 07:35] ganxiao2008 commented on #243
Same issue here after exact step follow https://gist.github.com/Brainiarc7/4f831867f8e55d35cbcb527e15f9f116
From https://github.com/intel/compute-runtime/issues/61#issuecomment-418420052 we might use media-driver 18.3.pre2 pre-release instead

[2018-11-07 11:36] ceyusa commented on #230
It would be interesting, in vaapipostproc, to set the upstream color format as the first option when negotiating downstream, instead of the default template, which has NV12 as the first option.

[2018-11-08 06:48] XinfengZhang commented on #405
hi , could you help to check is va_dricommon.h is exist in your installed libva include folder?

[2018-11-08 19:05] ykku16github opened #409 "[ICL][ffmpeg-vaapi][VP8 encode] ffmpeg exits with "Output file is empty, nothing was encoded""
[201811081026_vp8_320x180_100kbps_30fps.txt](https://github.com/intel/media-driver/files/2563135/201811081026_vp8_320x180_100kbps_30fps.txt)

The attached stdout was captured by running the following ffmpeg command:
`ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -f rawvideo -pix_fmt nv12 -s:v 320x180 -r 30 -i tulip2-320x180-55be7124b3aec1b72bfb57f433297193.yuv -vf 'format=nv12,hwupload'

[2018-11-08 19:39] ykku16github commented on #409
For every frame that gets encoded, ffmpeg prints the following:
`[vp8_vaapi @ 0x27dee40] Output buffer: 32717 bytes (status 00000001).
[vp8_vaapi @ 0x27dee40] Output buffer: 0 bytes (status 00000000).
`
This is printed by the for-loop in:
[https://github.com/FFmpeg/FFmpeg/blob/70463b702697ef8be4ec4d88969b4fce5b4e7a7e/libavcodec/vaapi_encode.c#L517](url)

This is because vaMapBuffer() returned 2 pa

[2018-11-08 22:12] ajitkumarkp commented on #405
Hi, Yes va_dricommon.h exists in <workspace>/libva/va folder.
Here's my tree:
<workspace>
├── build_media
├── gmmlib
├── libva
├── libva-utils
└── media-driver

[2018-11-08 22:48] ykku16github opened #410 "[ICL][ffmpeg-vaapi][VP8 encode] Encode bitrates are much greater than requested max bitrates"
[vstats_210542.log](https://github.com/intel/media-driver/files/2563842/vstats_210542.log)
[201811072105_vp8_320x180_100kbps_30fps.txt](https://github.com/intel/media-driver/files/2563843/201811072105_vp8_320x180_100kbps_30fps.txt)

The attached stdout and vstats log were captured by running the following command:
`ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -f rawvideo -pix_fmt nv12 -

[2018-11-09 03:36] dvrogozh opened #411 "MFE does not support some features"
See https://github.com/Intel-Media-SDK/MediaSDK/issues/863 - GPU happens on ffmpeg-qsv if MFE is used for ICQ path. There are other cases which are not supported by MFE:
* ICQ
* QVBR
* VCM

and some other, they are highlighted inhttps://github.com/Intel-Media-SDK/MediaSDK/pull/882.

As of now VAAPI does not have any query API to return list of features supported or not by MFE, for example vaQueryC

[2018-11-09 03:37] dvrogozh commented on #411
@lizhong1008, @artem-shaporenko  : FYI

[2018-11-12 06:36] HeFan2017 commented on #358
https://github.com/intel/media-driver/pull/413 is created for this:
3. change the lib name to libxxx.so.xxx.xx.xx

[2018-11-12 06:48] zhuqingliang commented on #207
passed at latest codebase ffmpeg(n4.1)

[2018-11-12 07:20] #57 closed

[2018-11-12 07:20] #58 closed

[2018-11-12 07:20] #110 closed

[2018-11-12 07:21] #114 closed

[2018-11-12 08:45] XinfengZhang commented on #410
thanks , will check it. thanks

[2018-11-12 12:59] XinfengZhang commented on #389
@wangyan42164 please help to check the slice structure , for Low power mode, iHD just support equal_rows slice structure.

[2018-11-12 15:35] artem-shaporenko commented on #411
ICQ is definitely possible and requires support. For QVBR is it supported by Lowpower encoder only or by dual pipe as well?

[2018-11-12 15:52] artem-shaporenko commented on #411
Right now I'm thinking that there is just a bug for MFE during BRC kernel  integration with support for ICQ, rather then issue with supporting MFE, should be easy to fix.

[2018-11-12 18:41] dvrogozh commented on #411
QVBR is supported in DP encoder (see _merged_ https://github.com/intel/media-driver/pull/319). And as of now it is not supported in LP encoder, but patch seems to be on its way, see https://github.com/intel/media-driver/pull/404 (not merged).

[2018-11-12 19:44] artem-shaporenko commented on #411
Ok, in this case QVBR should be also supported.

[2018-11-12 19:45] artem-shaporenko commented on #411
BTW anyone checked LP encoder is not trying to work in MFE mode?

[2018-11-12 20:10] dvrogozh commented on #411
I did not. And I believe that in mediasdk we just enabled DP QVBR support, LP is missing.

[2018-11-12 20:11] artem-shaporenko commented on #411
Actually usage wise - LP is more priority for QVBR usage.

[2018-11-13 00:29] enihcam opened #415 "[vo/gpu/vaapi-egl] vaAcquireSurfaceHandle() failed (invalid VASurfaceID)"
Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz
Archlinux (with all packages up to latest)
intel-media-driver ver: 18.3.0

mpv output:
[code]

[2018-11-13 07:00] feiwan1 opened #417 "[gst-vaapi][ICL][Decode] vaGetConfigAttributes return wrong RT when the profile set as V1AProfileHEVCMain444 or VAProfileHEVCMain444_10."
Another patch similar to  PR323 needed to support HEVC profile V1AProfileHEVCMain444/VAProfileHEVCMain444_10.

[2018-11-13 18:53] chivakker opened #419 "RFC: make gmmlib use optional at compile time"
I would like to have gmmlib as an optional allocator that can be decided at compile time.  This is strictly for the driver and not for cmrt.  If possible have the driver using a local allocator that doesn't require an external dependency to be able to compile.  This should simplify the usage and be at par with what i965 driver provides.

Please comment on this topic.

[2018-11-14 02:14] zhuqingliang commented on #206
passed at latest codebase ffmpeg(n4.1)

[2018-11-14 14:02] ishmael1985 opened #420 "Linker errors when building media driver"
I am getting the following linker errors when building the media driver.

[code]

I am using the latest master of both media-driver and gmmlib. Not sure what's going on here.

[2018-11-14 15:18] ishmael1985 commented on #420
Resolved it by setting the correct LD paths to the build gmmlib libraries

[2018-11-14 15:18] #420 closed

[2018-11-14 16:18] uartie commented on #190
Yes, I'm seeing a lot of failures on my end now.  Not sure what changed.

[2018-11-14 21:45] uartie commented on #190
Setting `-threads 1` before `-i` option works

[2018-11-15 03:04] wangyan42164 commented on #389
@XinfengZhang @uartie @mypopydev
In fact, equal_row slice may be too strict. It should be enough for row aligned. And current media driver will force one slice for one row if gstreamer/ffmpeg send non row-aligned slice parameter.
The root cause is m_isVdencSuperSliceEnabled is enabled in media driver when using low power encoding. For super slice, first_mb_in_slice of slice header should be zero a

[2018-11-15 04:09] xhaihao commented on #389
How is  the middle-ware aware of the driver's limitation? Your patch (https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/merge_requests/15) doesn't make sense to me

[2018-11-15 04:30] xhaihao commented on #389
it makes sense first_mb_in_slice is 0 for the first slice, but for other slices, first_mb_in_slice shouldn't be 0.

[2018-11-15 05:03] wangyan42164 commented on #389
@xhaihao @XinfengZhang Could we add one query API into libva for super slice usage? We may need more discussion.

[2018-11-15 06:09] #152 closed

[2018-11-15 06:09] #161 closed

[2018-11-15 07:03] #237 closed

[2018-11-15 07:04] #347 closed

[2018-11-15 07:16] yangnin commented on #353
Hi,
Driver doesn't support this.

[2018-11-16 14:47] eero-t commented on #405
Do you have libva-dev package installed on your distribution?  If yes, check that media driver didn't find that instead of the one you built from your CMake configuration (if that's the issue, you didn't tell media driver where to find the installed config files for the sources you built).

[2018-11-16 16:52] eero-t commented on #251
Linked fixes seem to have been merged to master in September.  Can this be closed now, or didn't they fix this issue?

[2018-11-16 18:48] uartie commented on #251
WFM

[2018-11-17 05:11] XinfengZhang commented on #419
just allocation part, right? surface & buffer & image is enough?

[2018-11-19 09:57] HeFan2017 commented on #358
https://github.com/intel/media-driver/pull/421 is created for this:
1. provide readme in cmrtlib folder to state the backward compatibility of API/ABI , and clarify the relationship with the old cmrt

[2018-11-19 15:07] XinfengZhang commented on #169
the restriction is because we need to add 1 line , then align with 4096.
now, we removed restriction of UserPTR by commit e38b7e4b.

[2018-11-19 15:07] #176 closed

[2018-11-19 15:11] #205 closed

[2018-11-19 15:14] XinfengZhang commented on #209
P frame supported.

[2018-11-19 15:16] XinfengZhang commented on #209
from 5c8a663

[2018-11-19 15:17] XinfengZhang commented on #210
GLK issue, low priority.

[2018-11-20 02:14] zhuqingliang commented on #209
some other case of cqp encode failed:
ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v verbose -f rawvideo -s:v 352x288 -i ./MOBILE_352x288_30_orig_01.yuv -vf format=nv12,hwupload -c:v hevc_vaapi -g 30 -bf 3 -qp 46 -quality 4 -vframes 100 -y ./hevce_cqp_352x288_gop30_refdist3_qp46.h265

[2018-11-20 02:24] #206 closed, assigned to nobody

[2018-11-20 21:14] jbeich commented on #358
Is API compatible with [standalone](https://github.com/intel/cmrt) variant ([packaged](https://repology.org/metapackage/cmrt/versions))?

[2018-11-21 00:31] ajitkumarkp commented on #405
Sry for the delayed response! I checked, I dont have libva-dev pkg. btw im using Ubuntu 17.10.

[2018-11-21 05:32] HeJunyan opened #422 "XBGR va format is not very correct"
Query return two types of XBGR format,
one is 32 bit standard XBGR and another is 16 bit 1-5-5-5 xbgr
The two format have save forcc XBGR
It is a little confusing and may need to change the 16 bit
XBGR's forcc to another.

And the 16 bit XBGR format's RGB mask is
red_mask f800, green_mask 7d0, blue_mask 1f
while 32 bit XBGR is
red_mask 0x000000ff, green_mask 0x0000ff00, blue_mask 0x00ff0000
channe

[2018-11-21 06:08] lizhong1008 commented on #325
@wangyan42164 ， any update? Woud you please provide the MSDK issue link?

[2018-11-21 07:14] wangyan42164 commented on #325
@lizhong1008 No more response from MSDK team. You can refer to the discussion in the above #804.

[2018-11-21 21:30] ajitkumarkp commented on #405
The problem was with my libva installation path. Did the whole thing from scratch and its working this time. Closing the issue, Thanks!

[2018-11-21 21:30] #405 closed

[2018-11-22 05:37] XinfengZhang commented on #417
need to add correct RT format for the range extension.  @wangyan42164 please help on it.

[2018-11-22 05:39] XinfengZhang commented on #415
@enihcam it seems a old question, no vaAcquaieSurfaceHandle interface in libva 2.x
suggest to use vaExportSurfaceHandle

[2018-11-22 05:40] XinfengZhang commented on #410
@Tianhaol , please update it.

[2018-11-22 06:33] Tianhaol commented on #409
This issue can be reproduced on our side.

[2018-11-22 08:32] enihcam commented on #415
Then when (which future version) will vaAcquaieSurfaceHandle be available?

[2018-11-27 01:33] HeFan2017 commented on #358
hi @jbeich , the answer is no.
This cmrtlib library is a separate effort from a similar library (https://github.com/intel/cmrt). They may provide the same functionalities but this is not intended to replace the other.

[2018-11-27 02:00] Tianhaol commented on #410
@ykku16github, could you provide the patch to dump vp8 file?  Because issue 409 dumped the empty file.

[2018-11-27 02:29] feiwan1 opened #431 "[gst-vaapi][ICL][Dec] when use Y410 to vaCreateImage, the image num_planes will return 0."
Need to add Y410 in vaCreateImage and vaPutImage.

When decode a hevc 444 10bit stream by gst-vaapi, will reproduce this issue:

root@icl_vpg_kernel:~/media# gst-launch-1.0  filesrc location=Main444_10bit.h265 ! h265parse ! vaapih265dec ! fakesink
Setting pipeline to PAUSED ...
Pipeline is PREROLLING ...
Got context from element 'vaapidecode_h265-0': gst.gl.GLDisplay=context, gst.gl.GLDisplay=(Gst

[2018-11-27 05:12] FocusLuo opened #432 "[ffmpeg-vaapi][hevc 10bit encode] HEVC 10bit encode CMD line failed on iHD, but works well for i965"
platform: KBL
OS: ubuntu 16.04
These CMD lines can't work on ffmpeg-vaapi+i965, but failed on ffmpeg-vaapi+iHD
CQP:
ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v verbose -f rawvideo -s:v 1920x1080 -pix_fmt p010le -i /media/encoderbitstreams/10bit/1080P_1920x1080.P010 -vf format=p010,hwupload -c:v hevc_vaapi  -profile:v main10 -g 30 -bf 3 -qp 28 -quality 4 -vframes 100 -y ./hevce_cqp_1

[2018-11-27 05:13] FocusLuo commented on #432
ffmpeg-qsv can work well on iHD for cqp/cbr/vbr hevc 10bit encode

[2018-11-27 05:59] wangyan42164 commented on #432
@FocusLuo Please try #371. It has passed the review but hasn't been merged. Thanks.

[2018-11-27 07:06] feiwan1 commented on #374
Same issue with https://github.com/intel/media-driver/issues/361, so close this one.

[2018-11-27 07:06] #374 closed

[2018-11-27 14:23] eero-t commented on #251
VP8 webm files generated by Chromium, can still GPU hang when decoded. Pull request https://github.com/intel/media-driver/pull/430 should fix that.

[2018-11-27 17:44] ykku16github commented on #410
I worked around issue 409 by doing the following:
`diff --git a/media_driver/linux/common/codec/ddi/media_ddi_encode_vp8.cpp b/media_driver/linux/common/codec/ddi/media_ddi_encode_vp8.cpp
index f2a2202..5be510e 100644
--- a/media_driver/linux/common/codec/ddi/media_ddi_encode_vp8.cpp
+++ b/media_driver/linux/common/codec/ddi/media_ddi_encode_vp8.cpp
@@ -240,8 +240,10 @@ VAStatus DdiEncodeVp8::Stat

[2018-11-28 02:10] Tianhaol commented on #410
Thanks. An explanation are required to provide why  pFindTheLastEntry->next  is not null. We're figuring out how to handle it.

[2018-11-28 05:42] Tianhaol commented on #410
AP will read the next segment for long-term reference enabling control. Otherwise, please discard the next segment.

[2018-11-29 01:35] Tianhaol commented on #410
Please help to verify with this PR https://github.com/intel/media-driver/pull/433

[2018-11-29 14:54] lvella opened #434 "Video encoded with libx265 hangs GPU at decoding."
Entire X11 session freezes while decoding process is running. Tested decoding with VLC, MPV and ffmpeg on processor Intel(R) Atom(TM) x5-Z8350  CPU @ 1.44GHz. Also tested on Skylake Core i3 and Core i7.

[This is a sample file](https://github.com/intel/media-driver/files/2629547/arquivo.ts.gz) encoded with libx265 on ffmpeg that triggers the problem.

[2018-11-29 23:41] ykku16github commented on #410
Thanks.  Your patch works.  The same ffmpeg command (from my first comment) now shows an average bitrate of 102.7k.

[2018-12-02 07:50] mypopydev opened #436 "Performance issue when dump frame to CPU with VPP/scaling."
Used the command in  SKL like:

[code]

and
[code]

i965 performance better than iHD about 5 times in mine test env for this case, I think iHD must be have some performance issue in this case.

[2018-12-04 02:29] wangzj0601 opened #437 "[Enhancement] MVC decode/encode support"
Does our driver will implement this function?

[2018-12-04 08:10] wangzj0601 opened #439 "[gstreamer-vaapi][avc encode]the bitrate of avc vbr encoded file is out of range target 10%."
System Environment
=======
Platform: KBL/APL/SKL
Arch: x86_64
Kernel:	4.18.0+
libva	commit 285267586a3d4db0e721d30d4a5f5f9fe6a3c913
media_driver	commit 59763808054c2f9f708e1c178180432d62b72c40
gstreamer master branch c45b386b54aea4e707a8be5cbf79dc43623c4614
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git
gst-vaapi master branch c728fb4ff6c3b4fc9eb9b43fcea4a22bc15fd678
repo: https://gi

[2018-12-04 09:20] wangzj0601 commented on #232
this issue has been fixed with the latest driver, so close this issue

[2018-12-04 09:20] #232 closed

[2018-12-05 02:05] wangzj0601 commented on #281
this issue also can be duplicate on gstreamer-vaapi, cmdline as below
gst-launch-1.0 filesrc location=/media/encoderbitstreams//720x480p.yuv '!' videoparse format=i420 width=720 height=480 '!' videoconvert '!' video/x-raw,format=NV12 '!' vaapijpegenc quality=10 '!' filesink location=720x480p.yuv.jpeg
result:
720x480p.yuv_720_480_10  29.73393 PASS
720x480p.yuv_720_480_20  32.22547 PASS
720x480p.yuv

[2018-12-05 09:45] wangzj0601 commented on #439
avc vdenc vbr encoding also has this issue.

[2018-12-05 10:03] wangzj0601 opened #440 "[gstreamer-vaapi][hevc 8bit encode]the bitrate of hevc vbr encoded file is out of range target 10%."
System Environment
Platform: KBL/APL/SKL
Arch: x86_64
Kernel:	4.18.0+
libva	commit 285267586a3d4db0e721d30d4a5f5f9fe6a3c913
media_driver	commit 5976380
gstreamer master branch c45b386b54aea4e707a8be5cbf79dc43623c4614
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git
gst-vaapi master branch c728fb4ff6c3b4fc9eb9b43fcea4a22bc15fd678
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer-

[2018-12-05 10:17] wangzj0601 opened #441 "[gstreamer-vaapi][avc vdenc encode]the encoded file has garbage"
System Environment
Platform: KBL/APL/SKL
Arch: x86_64
Kernel:	4.18.0+
libva	commit 285267586a3d4db0e721d30d4a5f5f9fe6a3c913
media_driver	commit 5976380
gstreamer master branch c45b386b54aea4e707a8be5cbf79dc43623c4614
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git
gst-vaapi master branch c728fb4ff6c3b4fc9eb9b43fcea4a22bc15fd678
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer-

[2018-12-05 17:11] uartie commented on #441
Duplicate of #389

[2018-12-06 01:47] wangzj0601 commented on #441
close this bug, please refer to #389

[2018-12-06 01:47] #441 closed

[2018-12-06 05:39] #348 closed

[2018-12-06 08:48] #320 closed

[2018-12-07 01:48] feiwan1 opened #444 "[gst-vaapi][decode] vaGetImage fail for unsupported RT format in DdiMedia_CreateSurfaces2 when using I420 format."
By using gst-vaapi commit 176bbce9, can reproduce this issue.
cmdline:
$ gst-launch-1.0 -vf filesrc location=input.264 ! h264parse ! vaapih264dec ! videoconvert ! video/x-raw,format=I420 ! checksumsink2 file-checksum=false frame-checksum=false plane-checksum=false dump-output=true dump-location=test.yuv

Bug link to gstreamer-vaapi issue:
https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/is

[2018-12-07 01:50] feiwan1 commented on #444
Need to add I420 support in DdiMedia_CreateSurfaces2  at:
https://github.com/intel/media-driver/blob/b2cf21234e0ddbea06c87f509462da8d433257bf/media_driver/linux/common/ddi/media_libva.cpp#L1998

[2018-12-07 02:17] HeFan2017 commented on #358
hi @dvrogozh @chivakker , https://github.com/intel/media-driver/pull/445 is created for these:
4. provide installation mechanism to install cmrt header files for external users (to /usr/include/cmrt or something similar)
5. provide installation mechanism to install cmrt.pc file (to usr/lib64/pkgconfig or whatever is system default)

[2018-12-07 06:06] wangzj0601 commented on #230
test with the latest gstreamer and media driver, this issue can not be duplicated with below env, so close it.

libva	commit 285267586a3d4db0e721d30d4a5f5f9fe6a3c913
media_driver	commit 5976380
gstreamer master branch c45b386b54aea4e707a8be5cbf79dc43623c4614
gst-vaapi master branch c728fb4ff6c3b4fc9eb9b43fcea4a22bc15fd678

[2018-12-07 06:06] #230 closed

[2018-12-07 07:49] XinfengZhang commented on #444
https://github.com/intel/media-driver/blob/b2cf21234e0ddbea06c87f509462da8d433257bf/media_driver/linux/common/ddi/media_libva.cpp#L2132
 you need to send VASurfaceAttribPixelFormat with correct fourcc, I know that before the VA_RT_FORMAT_YUV420 is I420 by default inside intel-vaapi-driver. but it is NV 12 now

[2018-12-07 08:47] feiwan1 commented on #440
Hi @wangzj0601 , Please use more details description words and your expection instead of using variable like bitrate_real/bitreate_gap. Thus can make others get a better understanding of what you want to express. :)

[2018-12-07 08:48] XinfengZhang commented on #440
if it is smaller than expectation. it should be not a bug, because VBR should only ensure max bit rate.  also, HRD overflow is not an issue.

[2018-12-07 08:51] XinfengZhang commented on #439
if it is smaller than expectation. it should be not a bug, because VBR should only ensure max bit rate. also, HRD overflow is not an issue.

[2018-12-07 08:52] XinfengZhang commented on #437
no

[2018-12-07 08:53] XinfengZhang commented on #436
thanks reporting, could you help to try #408 ?

[2018-12-07 08:59] XinfengZhang commented on #434
thanks for reporting the issue. we will check it.

[2018-12-07 09:42] wangzj0601 opened #447 "[gstreamer-vaapi][avc fei encode]encode fail"
System Environment
Platform: SKL
Arch: x86_64
Kernel:	4.18.0+
libva	commit cf11abe5e1b9c93ee75cf974076957162c1605b9
media_driver	commit ba63dbe1ef0c0ca5f72e01f81ee01178eacae112
gstreamer master branch e501e2f5c9b69dcedaeb89a25a1de29503b1d51f
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git
gst-vaapi master branch c728fb4ff6c3b4fc9eb9b43fcea4a22bc15fd678
repo: https://gitlab.freedesktop

[2018-12-07 09:48] wangzj0601 opened #448 "[gstreamer-vaapi][vpp]skin-tone-enhancement has no working"
System Environment
Platform: KBL/APL/SKL
Arch: x86_64
Kernel:	4.18.0+
libva	commit cf11abe5e1b9c93ee75cf974076957162c1605b9
media_driver	commit ba63dbe
gstreamer master branch e501e2f5c9b69dcedaeb89a25a1de29503b1d51f
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git
gst-vaapi master branch c728fb4ff6c3b4fc9eb9b43fcea4a22bc15fd678
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer-

[2018-12-07 10:11] wangzj0601 commented on #440
We hope that the bitrate range can be controlled within target 10%, in this case we set the bitrate as "1500", but it got 1071.58 from the encoded file in fact, the range is out of 10%. In addition, this issue also can be duplicated on hevc 10bit vbr encoding.

[2018-12-07 14:56] dvrogozh commented on #358
@HeFan2017 : thank you, we will take a look.

[2018-12-07 18:49] dvrogozh opened #449 "Remove custom -DLINUX pre-compile definitions"
Please, remove custom -DLINUX and any similar custom pre-compile definitions:
[code]

This requires cmake-level change and code-level change. Instead, please, use standard `__linux__` macro mandated by Linux kernel: http://www.faqs.org/docs/Linux-HOWTO/GCC-HOWTO.html#INDEX.25.

We consider to add installation of cmrt header files (see #445) and there is a risk that sooner or later our custom defin

[2018-12-08 19:47] dvrogozh opened #450 "Can't build Gen11 only driver"
I am trying to build Gen11 only driver which fails with:

[code]

[2018-12-08 20:17] dvrogozh opened #451 "Can't build Gen11 only driver w/ disabled VDENC"
Note: HEVC vdenc is disabled comparing to #999.

[code]

[2018-12-09 06:17] dvrogozh opened #452 "Duplicate VP shaders (kernels) in media driver"
Looks like there are duplicated shaders (kernels) declared in media driver. At least these:

https://github.com/intel/media-driver/blob/bc71759059b6490d84c2f8547e69116f629527ee/media_driver/agnostic/common/vp/kernel/vpkrnheader.h#L593
https://github.com/intel/media-driver/blob/bc71759059b6490d84c2f8547e69116f629527ee/media_driver/agnostic/common/vp/kernel/vpkrnheader.h#L598

**Question:** which so

[2018-12-10 00:47] feiwan1 commented on #444
@wangyan42164 , with patch #446 , it still have this issue:

$gst-launch-1.0 filesrc location=a.h264 ! h264parse ! vaapih264dec ! videoconvert ! video/x-raw,format=I420 ! checksumsink2 file-checksum=false frame-checksum=false plane-checksum=false dump-output=true dump-location=test.yuv
Setting pipeline to PAUSED ...
Pipeline is PREROLLING ...
Got context from element 'vaapidecode_h264-0': gst.gl.G

[2018-12-10 05:08] zliu50 commented on #452
Open source kernel always uses *Scale* kernel name. if the vpkrnheader.h is online generated , then you should only see *Scale* kernel. *SCALE* kernel might from gen11 previous platform which are not required for kernel open source. it's not duplicated, just different name for different platform.

[2018-12-10 20:42] dvrogozh commented on #452
1. If _SCALE_ is pre-gen11, then why you use it on Gen11: see https://github.com/intel/media-driver/blob/9b8441382da3d0961030e09aa1017d81fc4fafb0/media_driver/agnostic/gen11/vp/kdll/hal_kernelrules_g11.c#L3447?
2. "just different name for different platform" - that's exactly why it is a duplication. You had a kernel which you have used on some pre-Gen11 platforms. Why you did not use the same name

[2018-12-11 01:00] zliu50 commented on #452
1.  If SCALE is pre-gen11, then why you use it on Gen11: see https://github.com/intel/media-driver/blob/9b8441382da3d0961030e09aa1017d81fc4fafb0/media_driver/agnostic/gen11/vp/kdll/hal_kernelrules_g11.c#L3447?
[Bob] I double check open sourced kernel name, there is no *SCALE* kernel, I would check w/ driver team to fix it in kernel rules.

  1.  "just different name for different platform" - that'

[2018-12-11 01:12] dvrogozh commented on #452
This is a key open source rule. You support all the platforms and code which you have published almost forever.

[2018-12-11 03:12] wangyan42164 commented on #444
@feiwan1 So this issue seems to come from gst-vaapi based on Junyan's comments. May you close this issue?

[2018-12-11 05:16] feiwan1 commented on #444
Hi @HeJunyan ， can we close this issue? Is this issue belongs to gst-vaapi?

[2018-12-11 06:03] feiwan1 commented on #431
Update, the 2 patch in gst-plugin-base and gstreamer-vaapi already merged. So can use master of them to reproduce this issue, don't need to additional patch.

[2018-12-11 06:09] feiwan1 commented on #375
Reproduce step:
using master of gstramer-vaapi and cmdline:
$ gst-launch-1.0 filesrc location=main_444_8bit.h265 ! h265parse ! vaapih265dec ! fakesink

[2018-12-11 08:11] wangyan42164 commented on #375
@feiwan1 The format error is gone after I applied #425. But I am not sure if it is gst-vaapi issue like the following log:
[LIBVA]:ENTER    - DdiMedia_MapBufferInternal
0:00:00.076540831  3717      0x18680f0 ERROR                  vaapi gstvaapidecoder_h265.c:2264:decode_picture: failed to reset quantizer matrix
0:00:00.076559255  3717      0x18680f0 ERROR            vaapidecode gstvaapidecode.c:7

[2018-12-11 08:17] wangyan42164 commented on #375
@feiwan1 ensure_quant_matri() in gstvaapidecoder_h265.c will return GST_VAAPI_DECODER_STATUS_ERROR_UNSUPPORTED_CHROMA_FORMAT.
From comments, it should only support 4:2:0.

[2018-12-11 08:36] feiwan1 commented on #375
Hi @wangyan42164 , you can use TSCTX_8bit_RExt_SHARP_1.bin this stream to reproduce this issue.

[2018-12-12 05:31] wangzj0601 commented on #155
it can be pass when convert to I420, YV12 or YUY2,  but still fail when convert NV12 to RGBX with driver version ba63dbe

[2018-12-12 20:22] sebastinas commented on #401
This issue causes playback of h264 to fail with mpv. Users of the Debian package reported the following issue: when playing h264 files with mpv (version 0.29.1) and media-driver 18.3.0, mpv completely fails to display the video. mpv reports:
[code]

Is there already a fix available or why was this issue closed?

[2018-12-12 23:43] dvrogozh opened #462 "Full open source build still includes codec kernels for gen11_icllp"
Full open source build was not supposed to include codec kernels for gen11_icllp, but it actually does. See for example:
https://github.com/intel/media-driver/blob/f8f3b0d5dcc002411f80a1dd9b07652e9bf4bdcf/media_driver/agnostic/gen11_icllp/media_interfaces/media_interfaces_g11_icllp.cpp#L448

Similar story happens for this VP kernel:
https://github.com/intel/media-driver/blob/f8f3b0d5dcc002411f80a1

[2018-12-13 02:34] XinfengZhang commented on #401
@HeJunyan why you closed the issue?  from @sebastinas comments, seems we need to reopen it

[2018-12-13 08:46] wangyan42164 commented on #422
So far libva only has VA_FOURCC_XRGB definition. Need change libva at first.

[2018-12-13 16:08] andreyor opened #464 "MFE is broken"
MSDK performance validation has shown regression on MFE tests between Q2.2 and Q3 releases up to 53%.

I have found that regression commit in media_driver:
https://github.com/intel/media-driver/commit/d74b48d4a72fa702c8f7356b66316fbe8cd5146e

To reproduce, run sample_multi_transcode with par-file:
`-i::h264 <720x480p_30.00_4mb_h264> -async 1 -o::sink -join  -hw
-async 1 -b 2000 -u 4 -o::h264 strea

[2018-12-13 22:48] dvrogozh opened #465 "AVC VDENC wrongly declared unsupported for Gen9 SKL"
According to readme (https://github.com/intel/media-driver#supported-codecs) AVC VDENC is not supported on SKL. This is contradicted by the source code:
https://github.com/intel/media-driver/blob/a6af7268d90512ae1fe7b52e073ceff489ca18b0/media_driver/linux/gen9/ddi/media_sku_wa_g9.cpp#L47

I believe AVC VDENC _is_ supported on SKL. Please, fix readme accordingly.

[2018-12-14 04:56] #462 closed

[2018-12-14 14:36] andreyor opened #468 "MCTF performance regression on BDW up to 38%"
Mediasdk performance validation has shown regression on MCTF workloads beetween Q2 and Q3 releases.

Regression commit was found: https://github.com/intel/media-driver/commit/e80bd63e25504cdc9c1a4ad47713d00cd84a6764

To reproduce, run sample_multi_transcode with par-file:
`-o::h264 <out.h264> -mctf 2:0:10 -b 6000 -i::h264 <1920x1080p_29.97_10mb.264> -u 4 -async 1 -hw`

[2018-12-15 03:55] enihcam opened #469 "chromium-vaapi (ffmpeg v4.1): "Failed syncing surface VA error: internal decoding error""
Web video crashes when dragging progress bar (chromium-vaapi with HW accel. enabled, ffmpeg v4.1)

[code]

Contents of chrome://gpu:
[code]

Try the following video links:
https://www.billboard.com/video/janet-jackson-meets-bts-backstage-at-mnet-asian-music-awards-billboard-news-8490370
https://www.nhl.com/video/icymi-lundqvists-stellar-save/t-277350912/c-64029403

intel-vaapi-driver has no such i

[2018-12-17 18:16] dvrogozh opened #471 "shaders: warning during VP shaders generation"
Apply #453, you will see the following warning during shaders generation:
[code]

It is coming from here:
https://github.com/intel/media-driver/blob/273ef13413a1c1f3527831df9f2ad962361dd97c/media_driver/agnostic/gen11_icllp/vp/kernel/Source/return.asm#L24

I've been on this commit in IGC (https://github.com/intel/intel-graphics-compiler):
[code]

[2018-12-17 18:33] dvrogozh opened #472 "shaders: regenerated vpkrnheader.h misses some shader definitions"
Apply #453, regenerate shaders and you will see the following non-trivial difference in vpkrnheader.h. The following definitions will be missed in regenerated file:
{code}
#define IDR_VP_Save_444SCALE16_ARGB_64Byte 541
#define IDR_VP_Save_444SCALE16_NV21 542
#define IDR_VP_Save_444SCALE16_RGB_64Byte 543
#define IDR_VP_Save_444SCALE16_XRGB_64Byte 544
{code}

References to these shaders are complete

[2018-12-17 18:36] dvrogozh opened #473 "shaders: eliminate trivial differences in regenerated shaders"
Apply #453. Once shaders will be regenerated, you will notice a range of trivial differences comparing to files stored in the repository:
* Tailing whitespaces in vpkrnheader.h
* Windows style line feeds in vpkrnheader.h - please, use Linux line feeds only (`\n`)
* Tailing whitespaces in igvpkrn_g11_icllp.c in the data section
* Not a difference, but nice to be fixed: tailing whitespaces in the li

[2018-12-19 17:30] uartie commented on #389
any update?

[2018-12-22 00:06] chivakker commented on #215
@XinfengZhang please fix this,  a recent update in gmmlib ABI wasn't caught because this wasn't fixed.

[2018-12-22 06:10] #393 closed

[2018-12-22 14:46] zhoujd commented on #382
Do you have any update regarding this issue ?

[2018-12-24 00:05] FurongZhang commented on #382
WIP to file a PR.

[2018-12-24 12:27] dbermond opened #479 "Build error with gcc8: clearing an object of non-trivial type ‘MHW_STATE_BASE_ADDR_PARAMS’"
I'm getting the following error when trying to build intel-media-driver git master with gcc8:

[code]

- A git bisect shows that this is caused by commit https://github.com/intel/media-driver/commit/352456b6869fc67baf21312b9de043d501a7fcd2.

- It builds fine when using gcc 7.4.1, but fails to build with gcc 8.2.1.

- **System Information:**
  - **OS:** Arch Linux x86_64
  - **Compiler:** gcc 8.2.1

[2018-12-26 03:07] #465 closed

[2018-12-26 14:10] dmenshov opened #482 "HEVCe: refactoring error handling in VAAPI packer class"

[2018-12-26 14:12] #482 closed

[2018-12-27 15:55] dmitryermilov opened #483 "[MPEG2][Decode] Invalid max frame width/height attribute reporting"
Driver reports max supported frame width/height as 1920x1920 while it should actually support 2K resolution according to https://github.com/intel/media-driver/blob/master/docs/media_features.md

The bug comes from https://github.com/intel/media-driver/blob/f9b1c19c36ead3cca95295581f0fee8b8b99a137/media_driver/agnostic/common/codec/shared/codec_def_common_encode.h#L53, https://github.com/intel/medi

[2018-12-29 06:44] FurongZhang commented on #471
Will check that.

[2018-12-29 06:49] FurongZhang commented on #448
I am debugging this issue and will get back to this thread within 2 weeks..

[2018-12-29 06:51] FurongZhang commented on #422
I am adding a set of new format including RGB10, FP16 etc into VAAPI. Meanwhile, I will clean the related format issues.

[2018-12-29 08:14] XinfengZhang commented on #483
hi @dmitryermilov  could you tell us the codec?

[2018-12-29 08:15] XinfengZhang commented on #483
1920---> 2048?

[2018-12-29 08:49] dmitryermilov commented on #483
Hi @XinfengZhang ,

It's MPEG2.

Yes.

[2018-12-31 21:25] #479 closed, assigned to nobody

[2019-01-03 07:28] feiwan1 opened #484 "[gstreamer-vaapi][Denoise][YV12] denoise doesn't work with YV12 input."
By using gst-vaapi cmdline with YV12 as input, and YV12 output, and enable denoise. But the dumped output YV12 file is bit match with input.
If using I420 as input or using YV12 + HSBC/sharp, the output is different with input.

Cmdline:
gst-launch-1.0 filesrc location=test.1920x1080.yv12 num-buffers=1 ! rawvideoparse format=yv12 width=1920 height=1080 ! vaapipostproc format=yv12 width=1920 height

[2019-01-07 02:05] FurongZhang commented on #484
Start to debug this issue.

[2019-01-07 02:10] FurongZhang commented on #382
I have already rooted caused it and WIP to check in the code.

[2019-01-09 23:09] haribommi opened #488 "[regression] gst-msdk HEVC 8-bit encode quality drop"
With gst-msdk, HEVC 8-bit encoding quality dropped significantly for all input YUV files since following commit (HEVC 10-bit encoding working fine)

[Encode] vaDerivedImage Chroma plane offsets based on GMM

The following change will provide chroma plane offsets based on
GMMLib for vaDerivedImage.

Change-Id: I6324016ed9dd5310f81d9282edbfabc6f8dfbea6

For Example:
gst-launch-1.0 -vf filesrc locati

[2019-01-10 05:52] #439 closed

[2019-01-11 18:55] haribommi commented on #488
Below patch fixed the issue.
[Encode] Fix transocode psnr drop issue

MDF compiler did extra type cast for integer comparison, which makes QP
value overflow, rebuild kernel with MDF fix.Integrat kernel v190107

Change-Id: I1ebd6e80a37a9582f3e48ef3e2670fca15e1bbf2

[2019-01-11 18:55] #488 closed

[2019-01-13 13:39] jlaba commented on #401
Same here on gentoo with UHD 605 (J5005 processor), libva-intel-media-driver 18.3.0 and mpv 0.27.2.

But it seems to be the same result for i965 driver from libva-intel-driver.

Output of vainfo with iHD driver
[code]

And the log excerpt from mpv playing HEVC 8bit video:
[code]

[2019-01-16 16:55] eero-t commented on #366
Why this is still open?  Is there still something to fix?

[2019-01-16 16:58] eero-t commented on #372
`3c55dfe reverts the regressing commit. Please reference issue numbers (e.g. #372) in commit messages.`
Is there still something to fix, or why this bug is still open?

[2019-01-16 17:16] eero-t commented on #469
Both of these are containers formats, what's the actual failing codec, VP8?

(e.g. mediainfo program in Linux would give more info on the video format.)

Does "dragging progress bar" mean that failure happens at some specific position in video?

Can you reproduce the issue e.g. with FFmpeg or sample applications in MediaSDK?

[2019-01-17 01:58] enihcam commented on #469
Repo steps:
1. boot with Manjaro LiveCD:
2. yaourt -S intel-media-driver chromium-vaapi (or chromium-vaapi-bin)
3. change vaapi driver to iHD
4. enable hardware video acceleration in chromium about:flags
5. Try "dragging progress bar" for the the following videos:
https://www.billboard.com/video/janet-jackson-meets-bts-backstage-at-mnet-asian-music-awards-billboard-news-8490370
https://www.nhl.com

[2019-01-17 12:32] andreyor commented on #464
Fix:
https://github.com/intel/media-driver/commit/f6956eaf72bebb9f4a867e39ad5c2fde74aa40c8

[2019-01-17 12:33] #464 closed

[2019-01-18 03:32] illigle opened #497 "Decoder doesn't support linear tiling"
Hello, I tried to display decoded NV12 surface using Vulkan in zero-copy mode
(import PRIME fd into Vulkan Memory),
but since the NV12 surface is not defaulted to linear tiling, the result is not correct.

I tried to allocate custom VA surface in linear tiling, using `drm_intel_bo_alloc`, `drm_intel_bo_gem_export_prime`, `VASurfaceAttribExternalBuffers`.
But the decoded NV12 data is still not in l

[2019-01-18 03:56] illigle commented on #497
I tried to decode a 1920x1080 video
(Ubuntu 18.10, LibVa 2.2, iHD driver 16.9.git_00f9ae_2018-10-1, Iris 655)
using the the default tiling surface it takes about 1.6 ms per frame,
using the custom linear surface it takes almost the same time.

But if I copy the decoded surface into system memory(using `vaDeriveImage`, `vaMapBuffer`)
when using default surface, it need 0.6 ms to copy one frame,
but

[2019-01-21 02:32] fulinjie opened #498 "[MCTF] causes segmentation fault when using hwupload in ffmpeg-qsv"
MCTF needs reference frame and will return MFX_ERR_MORE_DATA when the first frame comes. This leads to the vpp failures in sample_vpp when only processing 1 frame.

In msdk:
/sample_vpp -i /home/linjiefu/Videos/sourceVideo/1920x1080.nv12 -o msdk.yuv -lib hw -sw 1920 -sh 1080 -dw 1920 -dh 1080 -scc nv12 -dcc nv12 -mctf 5 -iopattern d3d_to_sys -async 1 -n 1

will report:
[ERROR], sts=MFX_ERR_UNDEFIN

[2019-01-21 16:40] eero-t opened #499 "[APL/BXT] VPP scaling fails with decoded 10-bit (HEVC) data"
Setup:
* Ubuntu 18.04
* drm-tip kernel v4.20
* MediaSDK and its deps built from Git
* HW: J4205 (18EU APL/BXT)

Test-case:
* 10-bit HEVC decoding, scaling and download

Expected outcome:
* This works on BXT with iHD, as it works fine e.g. on KBL and CFL devices, or when using FFmpeg VA-API with i965 driver

Actual outcome:
* Using scaling causes pipeline to fail, see below for details

MediaSDK sa

[2019-01-22 04:33] uartie commented on #484
Easier way to reproduce:
[code]

[2019-01-23 05:38] zhoujd opened #500 "[ffmpeg-vaapi] ARGB and RGB10 surface are not supported when call vaQuerySurfaceAttributes"
For create ARGB and RGB10 surface, need add ARGB and RGB10 surface support when call vaQuerySurfaceAttributes.

[2019-01-23 05:50] zhoujd opened #501 "[ffmpeg-vaapi] ARGB and RGB10 surface are not supported when call vaCreateImage"
ARGB and RGB10 surface is not support in Ddi_Media_CreateImage, need your help to add them to support.

[2019-01-23 06:08] zhoujd opened #502 "[ffmpeg-vaapi][jpeg] Media_Format_IMC3 is not supported in DdiVp_GetColorSpaceFromMediaFormat"
when run loadjpeg and jpeg have IMC3 surface, put image will failed because Media_Format_IMC3 is not supported in DdiVp_GetColorSpaceFromMediaFormat.

$ loadjpeg 61a54ilgerc1i1bqyo6rna4z.jpg
WARNING:Height need to be a multiple of 16 (current height is 1240)
WARNING:Width need to be a multiple of 16 (current Width is 964)
Decoding JPEG image 964x1240...
libva info: VA-API version 1.4.0
libva info:

[2019-01-25 00:13] chivakker opened #504 "build in Fedora: can't find __user in i915 header file"
When compiling in Fedora 29 with gcc (GCC) 8.2.1 20181215 (Red Hat 8.2.1-6)

It seems definition of __user is missing, since this is a kernel only descriptor, can a long term solution with no i915 headers be considered?

[code]

[2019-01-25 00:47] chivakker commented on #504
igt-gpu-tools doesn't carry the __user identifier in those headers.  Using those headers or better their method should fix this problem.

[2019-01-25 00:52] chivakker commented on #504
from igt-gpu-tools README file

**include/drm-uapi**

Imported DRM uapi headers from airlied's drm-next branch.
These should be updated all together by executing "make
headers_install" from that branch of the kernel and then
copying the resulting ./usr/include/drm/*.h in and committing
with a note of which commit on airlied's branch was used to
generate them.

[2019-01-25 05:52] uartie commented on #504
FWIW, I can't reproduce this error.  I compiled the latest master libva, gmmlib and media-driver in a clean Fedora 29 Docker container with system installed `libdrm-devel 2.4.96` and `g++ (GCC) 8.2.1 20181215 (Red Hat 8.2.1-6)`.

Perhaps you have a polluted environment?

[2019-01-25 05:58] uartie commented on #504
Also, according to our CI, we haven't had a single build failure on Fedora 29 for master media-driver since Dec 25th (unrelated).  Latest full master build at https://media-ci.ostc.intel.com/build/229843 passed.

[2019-01-25 06:02] XinfengZhang commented on #504
@chivakker yes, maybe we can pick the headers after "make
headers_install". will file a PR. but I still dont understand why you meet the issues. the define should exist there.

[2019-01-25 15:55] widefox commented on #469
I don't know about WEBM but MP4 fails e.g. mp4, 1920x1080, avc1.640028, 24fps. Same issue on up to date Fedora 29, kernel 5.0rc3, Chromium-vaapi Version 71.0.3578.98 (RPMFusion Build) chromium-vaapi (64-bit), iHD, HW accel enabled, ffmpeg v4.0.3 . Does not happen with unaccelerated Chrome 71, Chrome beta 72. YouTube videos H264 (to reproduce use h264ify extension). Default WEBM YouTube with VP9 (1

[2019-01-27 08:17] KamistixX commented on #499
Could issue https://github.com/intel/intel-vaapi-driver/issues/398 be related to this one ?

[2019-01-28 05:34] wakuken opened #507 "Failed to initialize on CLF (i9-9900K)"
I built up two Cofee Lake Refresh-S computers (Core i9-9900K and i7-9700K / Intel Z390 chipset MB).
First, I installed drivers on Ubuntu 16.04 LTS + Kernel v4.14.16 by executing build_msdk_ubuntu.sh but VAAPI does not work on my both computers.

So I upgraded Ubuntu to 18.04 LTS, changed to Kernel v4.18.0 (sudo apt install linux-generic-hwe-18.04), and upgraded graphics driver (oibaf/graphics-driv

[2019-01-28 05:52] FurongZhang commented on #473
Since @yangnin has fixed this issue, assign this issue to @yangnin , thanks @yangnin !

[2019-01-28 05:55] FurongZhang commented on #382
@zhoujd Have you had a chance to verify this issue? If verified, is it possible for you to close it? Thanks a lot in advance!

[2019-01-28 05:57] FurongZhang commented on #502
@zhoujd  Is it possible for you to share the command which can be used to reproduce this issue? If there is no command, we can not know how to reproduce this issue. Thanks a lot in advance!

[2019-01-28 05:58] FurongZhang commented on #500
@zhoujd Is it possible for you to let us know the command which can be used to reproduce this issue? Thanks a lot in advance!

[2019-01-28 09:15] eero-t commented on #499
That issue is only about the output for chroma plane being incorrect, this is about the operation failing completely when scaling is enabled.

[2019-01-28 19:30] dvrogozh commented on #504
@chivakker: can you, please, try #505 to see if your build on Fedora succeeds?

[2019-01-29 05:31] FurongZhang commented on #382
Thank you very much.

[2019-01-29 05:32] zhoujd commented on #502
@FurongZhang  the command line is -
$ loadjpeg 61a54ilgerc1i1bqyo6rna4z.jpg

I can send the file 61a54ilgerc1i1bqyo6rna4z.jpg in email.

libva-utils loadjpeg can reproduce it.

[2019-01-29 15:16] eero-t commented on #436
This could be issue of kernel not keeping GPU (and CPU) speed up.  Which distro/kernel version do you use?

Do you use "powersave" P-state governor?
  `head /sys/devices/system/cpu/cpufreq/policy*/scaling_governor`

If yes, does changing to "performance" P-state governor at least double iHD performance?
[code]

[2019-01-30 08:35] wangzj0601 opened #511 "[gstreamer-msdk][avc enc cqp]encode fail with 4K clips under IPB mode on APL"
System Environment
=======

Platform: APL
Arch: x86_64
Kernel: 4.18.0+
libva commit 382acf177ce18c069e0293408afa34c5875296ff
gmmlib commit 001d32de2153e3d37f21d6dfa0a771cd3c34c9d7
msdk: commit 91eded1ef35020b85977c8fcf5d5c14645c89a37
media_driver commit d31ce0b969733ee745e5e65316aafb66456249ae
gstreamer master branch 5688773b91c3ea1094996a573f119230727a0978
repo: https://gitlab.freedesktop.org/gst

[2019-01-30 19:52] dvrogozh commented on #473
Fixed by https://github.com/intel/media-driver/commit/51463814e3815e7de8379981103709d85e6b83d9

[2019-01-30 19:52] #473 closed

[2019-01-31 02:40] wangzj0601 commented on #440
now our test standard has changed for vbr, it become to 0.75*bitrate to 1.1*max-vbv-bitrate, and we add option "max-bframes" into cmdline, then this issue can not duplicated, so close it.
for example
gst-launch-1.0 -vf filesrc location=/media_stream/assets/yuv/SOCCER_704x576_30_orig_02_704x576_I420.yuv num-buffers=150 ! rawvideoparse format=i420 width=704 height=576 framerate=30 ! videoconvert ! v

[2019-01-31 02:40] #440 closed

[2019-01-31 03:17] wangzj0601 opened #512 "[gstreamer-msdk][hevc 8bit encode]the bitrate of hevc cbr encoded file is out of range target 10%"
System Environment
Platform: KBL/APL/SKL
Arch: x86_64
Kernel: 4.18.0+
libva commit 382acf177ce18c069e0293408afa34c5875296ff
gmmlib commit 001d32de2153e3d37f21d6dfa0a771cd3c34c9d7
msdk: commit 91eded1ef35020b85977c8fcf5d5c14645c89a37
media_driver commit d31ce0b
gstreamer master branch 5688773b91c3ea1094996a573f119230727a0978
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git
gst-plugin-ba

[2019-01-31 06:41] wangzj0601 opened #513 "[gstreamer-msdk][hevc 10bit enc vbr]encode fail with 1080P/4K clips unber IPB mode with quality as 1"
System Environment
Platform: APL
Arch: x86_64
Kernel: 4.18.0+
libva commit 382acf177ce18c069e0293408afa34c5875296ff
gmmlib commit 001d32de2153e3d37f21d6dfa0a771cd3c34c9d7
msdk: commit 91eded1ef35020b85977c8fcf5d5c14645c89a37
media_driver commit d31ce0b
gstreamer master branch 5688773b91c3ea1094996a573f119230727a0978
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git
gst-plugin-bad master

[2019-02-01 00:01] dvrogozh commented on #507
@wakuken: can you, please, check whether the above commit fixes the issue for you? Please, start with the kernel you were using.

[2019-02-01 00:37] dvrogozh opened #515 "Do we really support some device IDs: eliminate triple list of device IDs"
Right now media driver uses 3 lists of device IDs:
1. First list is located in gmmlib: https://github.com/intel/gmmlib/blob/master/Source/inc/common/igfxfmid.h
2. Second list located in i915 backend of media-driver: https://github.com/intel/media-driver/blob/master/media_driver/linux/common/os/i915/include/intel_chipset.h
3. Third list located in a bunch of files:
3.1. https://github.com/intel/med

[2019-02-01 05:48] zhoujd commented on #500
1. Get ffmpeg tonemap_vaapi filter code
$ git clone https://gitlab.com/zhoujd/ffmpeg.git
$ git checkout  <branch-name> -b zz/tonemap

2. Run following command line
$ ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_output_format vaapi -i Life_of_Pi_draft_Ultra-HD_HDR.mp4 -vframes 2 -loglevel debug -vf tonemap_vaapi=h2s -f null -

You will got following log -
**[Parsed_tonemap_vaapi

[2019-02-01 15:46] wakuken commented on #507
Hello @dvrogozh

Thank you for your support!

After applying your patch, I confirmed to decode H264/H265 4K stream in my live streaming app.

It succeeded in decoding the stream, but the **decoding speed is too slow**.

KBL(Core i7-7700): about 100 fps.
This CFL(Core i9-9900): about 40 fps.

My app uses system memory and set AsyncDepth to 1. When it uses VAAPI memory, the decoding in the CFL becom

[2019-02-01 15:54] wakuken commented on #507
This situation can be also reproduced with MediaSDK's sample decoder.
[code]

[code]

[2019-02-02 07:33] feiwan1 commented on #361
@wangyan42164 , any update for this issue?

[2019-02-02 12:52] FurongZhang commented on #500
Thanks for the information. Will follow up this issue ww07 and keep it updated..

[2019-02-02 14:57] #507 closed

[2019-02-02 15:32] dvrogozh commented on #507
@wakuken : Please, open separate issue to track performance problem. Which application you were using to initially reproduce CFL slow memory copy? Was it mediasdk based?

I believe mediasdk also miss the 0x3e98 device ID. Guys will add it to mediasdk in the beginning of the next week and I will let you know. Let's recheck then again the perf issue....

[2019-02-04 01:54] wakuken commented on #507
Hello @dvrogozh
Thank you for your help.
My original application is based on MediaSDK. The decoding scheme is almost the same as sample_decode (Set AsyncDepth to 1 and system memory).
MediaSDK also checks the device ID, doesn't it?
I will check again after the fix.

[2019-02-04 05:11] wakuken opened #519 "Performance issue on CFL (i9-9900K)"
This is separated from #507.

I found a performance issue on my Core i9-9900K Cofee Lake Refresh-S.
In my application based on MediaSDK, the **decoding speed is too slower** than previous CPU.

KBL(Core i7-7700): about 100 fps.
This CFL(Core i9-9900): about 40 fps.

My app uses system memory and set AsyncDepth to 1.
As a trial, I added "{ 0x3E98, MFX_HW_CFL, MFX_GT2 }, " into listLegalDevIDs[] in

[2019-02-05 06:34] wakuken commented on #519
I updated the kernel to v4.20.6, but it also had no effect on the performance.

[2019-02-05 14:58] dvrogozh commented on #519
Kernel should not matter much here. At least 4.18 vs. 4.20. That's something else, I think.

Can you, please, double check that you see the issue on the latest mediasdk from master? Make sure that you have this commit: https://github.com/Intel-Media-SDK/MediaSDK/commit/611cb30a6722c420cfd17ce329f975b2fe79f3b0 which propagates your device ID to mediasdk.

[2019-02-06 03:47] wakuken commented on #519
Hi @dvrogozh ,
Thank you for your advice.
I updated MediaSDK from master, but there seems to be no change in performance.

[2019-02-06 04:52] dvrogozh commented on #519
@wakuken : ok, thank you. Well, at least we now know that platform should be fully propagated now. Let me think a little bit, please.

[2019-02-06 11:13] wakuken commented on #519
Hi @dvrogozh ,

I noticed that the current GPU frequency is always set to 350 Mhz on my CFL, so I changed the minimum frequency.

# cat /sys/bus/pci/devices/0000\:00\:02.0/drm/card0/gt_max_freq_mhz > /sys/bus/pci/devices/0000\:00\:02.0/drm/card0/gt_min_freq_mhz

Then, the decoding speed has been improved greatly! It has increased to 100fps!
Is this solution correct?

In my other machine (KBL NUC),

[2019-02-06 15:07] dvrogozh commented on #519
Wow. Of course, frequency has direct effect over the speed. However, this is not a correct solution - it just demonstrates that something goes wrong in i915 driver when it scales frequency. You can use it as a workaround, but there is a bug somewhere, most likely in the kernel. So, you actually greatly narrowed down the problem, thank you:).

We need to return to the kernel and essentially follow

[2019-02-07 14:08] snir911 opened #520 "[Intel GVT-g] Fail to create context with mediated pass-through GPU"
I have a VM with virtual mediated pass-through GPU (Intel GVT-g), when i'm trying to encode h264/h265 from the guest using libva-utils encoding utilities it fails with the following error:
"setup_encode:caCreateContext (1306) failed,exit" (returned value 1).

Additional info:
-Fedora 29 both on host and guest, work fine on host.
-It works well with intel-vaapi-driver(i965) (the issue is only with

[2019-02-08 14:03] wakuken commented on #519
Hi @dvrogozh ,

I'm sorry for the late reply.
First of all, the decoding speed is improved on the drm-tip kernel!
It seems that the frequency has changed flexibly. (I checked /sys/bus/pci/devices/0000\:00\:02.0/drm/card0/gt_cur_freq_mhz.)

As you can see, the problem has been fixed between 4.20.6 and 5.0.0rc5+(drm-tip kernel).

Please check the following dmesg's logs.
[boot_dmesg_4.20.6.txt](https

[2019-02-10 21:00] maximbaz commented on #469
VA-API patch is now part of official Chromium on Arch Linux, so be aware that `chromium-vaapi` and `chromium-vaapi-bin` are obsolete now, also HW video acceleration is enabled by default so no need to mess with Chromium flags to get it enabled.

This also means that the bug is suddenly more important because potentially more people are affected by this now 😉

I can confirm that the issue can only

[2019-02-12 11:31] wangyan42164 commented on #515
1. I do some initial check, the macro definition of intel_chipset.h seems not be used in media-driver. So it may be able to be removed.
2. media_sysinfo_xxx.cpp can use the macro definition of igfxfmid.h of gmmlib instead of the hard-coded id number.

[2019-02-13 14:31] semelianova opened #523 "QueryProcessingRate returns a wrong status"
In function MediaLibvaCaps::QueryProcessingRate https://github.com/intel/media-driver/blob/269853a52a282beeeac38b05db319d72e019dd97/media_driver/linux/common/ddi/media_libva_caps.cpp#L2190 boolean variable "res" determines a returned status. It is calculated by calling GetMbProcessingRateEnc or GetMbProcessingRateDec functions. When this functions return VA_STATUS_SUCCESS=0, "res" takes the value

[2019-02-14 14:06] kwizart opened #525 "build issue - struct GMM_RESOURCE_FLAG_REC has no member named 'LocalOnly'"
There is a build issue on Fedora 29 (gcc-8.2.1-6.fc29) and Fedora 30 (gcc-9.0.1-0.4.fc30) on this project using
libva-2.4.0 and intel-gmmlib 18.4.1-1.fc29.
[code]

[2019-02-14 14:12] kwizart commented on #525
My bad, the build wasn't using the last intel-gmmlib version

[2019-02-14 14:12] #525 closed

[2019-02-16 05:43] FurongZhang commented on #287
@Jister , Have we merged the fix? Is it possible for you to update the status? If merged, how about closing this issue? Thanks a lot!

[2019-02-17 13:22] XinfengZhang commented on #520
sorry for late response, are you using hevcenc or avcenc?

[2019-02-17 13:52] snir911 commented on #520
I tried both hevcencode and h264encode both failed with same error (but on hevcencode it's line 2310)

[2019-02-17 15:09] XinfengZhang commented on #520
only CreateContext error? vaInitialize return VA_STATUS_SUCCESS

[2019-02-17 17:01] widefox commented on #469
Confirm H264 seeking still broken in chromium-vaapi.x86_64                                                                         72.0.3626.81-2.fc29 libva-2.3.0-1.fc29.x86_64 intel-media-driver.x86_64                                                                         18.3.0-2.fc29  . chromium-vaapi is the package name in Fedora from rpmfusion (rpmfusion-free-updates). Note that currently F2

[2019-02-18 07:48] snir911 commented on #520
I did really not look into the code, I got only this error when i tried it. But I think it did pass the initialization successfully if it got to the encoding phase

[2019-02-18 08:26] Jister commented on #287
IA44, AI44, IA88 will not be supported, unless there is specific/strong requirement. Other formats have be added.

[2019-02-18 09:46] FurongZhang commented on #287
@krogueintel  Have you had a chance to check if this issue is fixed or not? Thanks a lot in advance! Currently, we don't have a plan to support IA44, AI44, IA88 until there is a strong request since they are legacy formats.
BTW, do you know if there is some main usage for IA44, AI44, IA88 formats?

[2019-02-19 02:30] TerrenceXu commented on #520
@snir911 , I am from Intel GVT-g team can you file this issue in below link with the detail error log? Thanks!
https://github.com/intel/gvt-linux/issues

[2019-02-19 02:37] Jister commented on #484
Driver just cannot support YV12/I410 for denoise.

[2019-02-19 03:00] feiwan1 commented on #361
@XinfengZhang @wangyan42164 @Sherry-Lin
I used a new version of kernel/guc/huc from Emma, but still have gpu hang issue.

cmdline(this cmdline need a patch on gst-vaapi, see attatchment):
root@icl_1604:~/build/gstreamer-vaapi# gst-launch-1.0 videotestsrc num-buffers=100 ! vaapih265enc tune=low-power quality-level=4 ! filesink location=test.h265

root@icl_1604:~# dmesg
[63955.743664] i915 0000:00:0

[2019-02-19 22:38] dvrogozh commented on #356
Interesting that Debian did not meet with this issue and managed to package media-driver in both 32- and 64-bit flavors. They applied a custom patch however: https://salsa.debian.org/multimedia-team/intel-media-driver/blob/master/debian/patches/0002-Remove-settings-based-on-ARCH.patch, but I don't think that it relates to the issue you describe.

I had no chance to try build myself yet for Fedora/

[2019-02-20 08:57] HeJunyan opened #531 "Build error if lack X11 support"
Will get build error if no X11 header.
But the cmake does not check if X11 exists

In file included from /home/robinhe/media/build/include/X11/Xutil.h:53,
                 from /home/robinhe/media/media-driver/media_driver/linux/common/codec/ddi/media_libva_decoder.cpp:45:
/home/robinhe/media/build/include/X11/Xlib.h:44:10: fatal error: X11/X.h: No such file or directory
 #include <X11/X.h>

[2019-02-20 09:29] #531 closed

[2019-02-20 09:30] HeJunyan opened #532 "No packed 24 RGB image format support"
Need to support packed 24 RGB image format as input.

[2019-02-20 09:35] HeJunyan opened #533 "Need to add RGB16(RGB565) image format support"
No RGB16(RGB565) image format support now. The RGB565 or BGR565 image format should be added.

[2019-02-20 09:39] HeJunyan opened #534 "Failed to create XRGB format image."
vaQueryImageFormats return XRGB format but we failed to create a XRGB image using vaCreateImage,
return VA_STATUS_ERROR_UNIMPLEMENTED error.

[2019-02-21 06:45] wangzj0601 commented on #281
now this issue can be duplicated on jpeg encoding while pass on mjpeg encoding with ffmpeg-vaapi/ffmpeg-qsv/gst-vaapi/gst-msdk.

[2019-02-21 18:55] dvrogozh commented on #356
@[kwizart](/kwizart): you could wish to join discussion here: https://github.com/intel/libva/issues/281

[2019-02-22 05:23] enihcam commented on #469
Hi Intel, when will you start debugging on this?
latest chromium + latest media-driver does not resolve the issue.

[2019-02-25 12:04] dmitryermilov commented on #483
@XinfengZhang , did you have a chance to take a look?

[2019-02-25 12:07] dmitryermilov opened #537 "[MPEG2d][Security issue] Memory corruption on BDW"
In case of corrupted content the driver makes some internal copy of picture with gaps in slices to internal buffer. This copy is done by Huc but on BDW Huc is not available:

[code]

**The Huc version of copy has a check of src/dst sizes, but the memcpy version doesn't have it**. Thus it can be considered it a security issue.

[2019-02-26 01:59] #267 closed

[2019-02-26 07:19] FurongZhang commented on #533
Will check it and get back.

[2019-02-26 07:26] FurongZhang commented on #533
May I know what the usage is for RGB16(565)? Now, the trending is 8bit, 10bit. May I know if there is someone who is using RGB565? Thanks a lot in advance!

[2019-02-26 07:27] FurongZhang commented on #534
@Jister  Is it possible for you to check that? Thanks a lot in advance!

[2019-02-26 08:21] HeJunyan commented on #533
Some requirement says:

 gst-launch-1.0 filesrc location= /media/Raw_Videos/Prog_Planar_RGB16_320x240_5frames.yuv ! videoparse width=320 height=240 format=rgb16 ! vaapipostproc format=nv12 ! glimagesink

Here, rgb16 is the RGB565 format.

[2019-02-26 10:53] HeJunyan opened #538 "Need to add ARGB-10LE image format support"
Need to support 10bits ARGB format.  The display may support 10bits ARGB input.
E.G.
gst-launch-1.0 videotestsrc ! capsfilter caps=video/x-raw,format=P010_10LE ! vaapipostproc format=argb-10le ! glimagesink

need 10bits ARGB image as input to display.

[2019-02-26 12:24] FurongZhang commented on #538
I have added 10bit RGB in Libva. Currently, the pull request is being reviewing. Driver side, will also submit a patch.

[2019-02-26 12:26] FurongZhang commented on #532
May I know the reason why packed 24 RGB image format is needed? For what kind of usage? Thanks a lot in advance!

[2019-02-27 12:04] widefox commented on #469
Appears fixed on Fedora 29 (rpmfusion testing) chromium-vaapi 72.0.3626.109 (RPMFusion Build) chromium-vaapi (64-bit), libva 1.4 . [enihcam](/enihcam) do you have details?

[2019-02-27 12:39] maximbaz commented on #469
Are you sure @widefox? I don't think there have been any releases in this repo, and Fedora's spec doesn't seem to use any new patches. Maybe you are accidentally using a different driver?

[2019-02-28 14:40] widefox commented on #469
@maximbaz Yes. Tested on 2 Intel i5/i7 laptops (5th gen and 2nd gen). Confirm no seeking problem now. I may have the hybrid driver installed now too when I didn't before I don't know, as I varied many things when I got the libva 1.3 and 1.4 version mismatch for a week which prevented hardware acceleration (as I reported above - which I presume the package maintainer should fix the chromium-vaapi p

[2019-02-28 15:00] hexchain commented on #469
The old libva-intel-driver may be in use if it's installed. Could you please verify that you are really using the new media-driver? e.g. run applications (vainfo, chromium) with environment `LIBVA_DRIVER_NAME=iHD` and try to reproduce the problem.

[2019-02-28 15:15] aulitin opened #540 "[H264][DEC] Incorrected resolutions return"
Found problem with h264 decode on BDW Ubuntu 18.04.. Function vaQueryConfigEntrypoints don't work correctly. This function returns 8192x8192 resolution for VAProfileH264High profile and VAEntrypointVLD entrypoint. But [it](https://github.com/intel/media-driver/blob/master/docs/media_features.md) says they the output resolution is 4K.
Commit 0e46d8574ca07d4580c20dadefd57a005213855a introduced regre

[2019-02-28 17:31] widefox commented on #469
@hexchain @maximbaz my mistake - you're both right. It still fails with the iHD driver - 1.0.0 . It works with the Intel i965 driver. I must have only had the iHD driver before the 1.3/1.4 issue, but now have both. (This is with ffmpeg version 4.0.3 )

[2019-02-28 23:50] enihcam commented on #469
@maximbaz @hexchain can you find more details from driver logs instead of chromium logs, and then open a new bug? I don't think they will take a look at this 'chromium issue'. You know what i mean.

By the way, i have switched back to i965 driver already, because I'll get an AMD laptop next month.

[2019-03-01 07:54] XinfengZhang commented on #540
thanks report, yes, BDW AVC does not support level 6.x, @wangyan42164 , please help to check it

[2019-03-01 09:10] maximbaz commented on #469
unfortunately I have no idea how to do that - could you please help the issue open? many people have already subscribed to it

[2019-03-01 09:30] HeJunyan commented on #532
I know this is a rarely used format but the request is we need to support:
gst-launch-1.0 videotestsrc ! video/x-raw, format=RGB, framerate=30/1, width=640, height=360 ! vaapipostproc ! glimagesink

here format=RGB is packed 24 bits RGB

[2019-03-01 09:54] enihcam commented on #469
https://01.org/linuxgraphics/documentation/bugs-and-debugging

[2019-03-01 13:27] eero-t commented on #533
Trend for 8 & 10-bit data is mainly for human eyes.  Neural networks related software typically requires RGB input,  YUV is rarely used there.  They process data with low number of bits, both for training the network (with huge amount of input video) and when the trained network processes data.  Don't know whether anything specifically uses 565 though.

[2019-03-01 13:34] eero-t commented on #468
Does this happen also on something else than BDW?

[2019-03-01 14:03] eero-t commented on #434
FFmpeg shows errors for the attached HEVC video both with CPU decoder and iHD VAAPI driver, so it appears at least partly broken.  There are no GPU hangs.

If there are GPU hangs with x5-Z8350, which is BSW / Cherry trail processor which isn't supported by this driver (media-driver i.e. iHD), those hangs came from the old i965 driver.  And indeed, using i965 driver in Ubuntu 18.04 causes a GPU han

[2019-03-01 14:06] eero-t commented on #410
If the issue is fixed, could somebody close this issue?

[2019-03-03 13:31] wangyan42164 commented on #540
I will check it.

[2019-03-04 05:20] krogueintel commented on #287
I changed groups; any work on the media driver is completely out of scope (and indeed almost unrelated) for my group's responsibilities.

[2019-03-05 16:29] enihcam commented on #469
Try replace ffmpeg with ffmpeg-qsv?

[2019-03-06 01:47] rosetta-jpn opened #549 "vaGetConfigAttributes for VAConfigAttribEncMaxRefFrames and HAVC returns VA_STATUS_ERROR_INVALID_PARAMETER"
vaGetConfigAttributes for VAConfigAttribEncMaxRefFrames and HAVC profile will return
(with intel-vaapi-driver)
VA_STATUS_SUCCESS
value=(1 << 16) | (4 << 0)
https://github.com/intel/intel-vaapi-driver/blob/72f10f16f7e5767492acde130eeeaa598d26a3a6/src/i965_drv_video.c#L1109
(with media-driver)
VA_STATUS_ERROR_INVALID_PARAMETER
value=N/A
https://github.com/intel/media-driver/blob/eb0ffe9fd0ea33dfc28f

[2019-03-06 02:35] uartie commented on #549
Oddly when running the GetConfigAttributes tests in libva-utils (https://github.com/intel/libva-utils/blob/e8045a4fd83193d4c29efdb54253951d25e00a84/test/test_va_api_config_attribs.cpp#L101 ) they don't seem to complain.

[2019-03-06 02:40] uartie commented on #549
Which VAProfile and VAEntrypoint are you using?

[2019-03-06 15:37] aulitin opened #550 "[HEVC][ENC] Incorrected resolutions return"
Found problem with hevc encode on SKL and BXT Ubuntu 18.04.. Function vaQueryConfigEntrypoints doesn't work correctly. This function returns 8192x8192 resolution for VAProfileHEVCMain profile and VAEntrypointEncSlice entrypoint. But [this table](https://github.com/intel/media-driver/blob/master/docs/media_features.md) says that the output resolution is 4K.
Version Media-drver: 224141564fe20c19e279

[2019-03-06 19:18] sreerenjb commented on #549
I believe it is taken care of by this code: https://github.com/intel/media-driver/blob/eb0ffe9fd0ea33dfc28f23a6fdc8217a22aa46ee/media_driver/linux/common/ddi/media_libva_caps.cpp#L600

@rosetta-jpn  Do you have any test case which is failing?

[2019-03-07 04:56] #215 closed

[2019-03-07 05:01] #417 closed

[2019-03-13 03:06] xhaihao opened #554 "BGRA and ARGB are taken as the same format in the driver."
in DdiMedia_OsFormatToMediaFormat() in media_libva.cpp:

But according to the comment in va.h, VA_FOURCC_BGRA and VA_FOURCC_ARGB should be different.

[2019-03-13 09:25] dnagasun commented on #533
TSD's customer are using this format for camera support. So there is need to enable this for IOTG product.

[2019-03-13 09:26] dnagasun commented on #532
TSD's customer are using this format for camera support. So there is need to enable this for IOTG product.

[2019-03-13 09:27] dnagasun commented on #533
TSD's customer are using this format for camera support. Specifically for Mondelo. So there is need to enable this for IOTG product. Thanks in advance for your support.

[2019-03-13 12:21] zhuqingliang opened #556 "Need to add vpp deinterlace weave and MotionCompensated support"
reproduce step:
$ ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v debug -f rawvideo -pix_fmt yuv420p -s:v 720x480 -top 1 -i MotionTest_i_tff_720x480_10f_I420.yuv -vf 'format=nv12,hwupload,deinterlace_vaapi=mode=weave:rate=field,hwdownload,format=nv12' -pix_fmt yuv420p -vframes 20 -y dump.yuv

message:
[Parsed_deinterlace_vaapi_2 @ 0xd69e80] Deinterlacing mode 2 (Weave) is not supported.

[2019-03-14 00:45] FurongZhang commented on #533
Sure. Then, we will support that. Thanks a lot for the information.

[2019-03-14 02:52] wangzj0601 commented on #218
this is a regression issue.
regression commit:
d7e8c7c sw swizzle surface in vaGetImage

this issue can not be duplicated with gst-msdk on APL.

[2019-03-14 02:56] wangzj0601 opened #558 "[gstreamer-vaapi][hevc 10bit decode][regression]all cases dumped files have garbage and not bit match with reference md5 on APL"
System Environment
=======

Platform: APL
Arch: x86_64
Kernel: 4.18.0+
libva commit 0dc70068e49f9538fbd03f2f0aa1e56a91e986e7

gmmlib commit ac68e2cebf9774b17bc8a4057d30959117222127
media_driver commit 7a35908c575306d3764dfb98e8e6b83d185ffea1
gstreamer master branch e322250fb1d1c31692d1e97e3de19ead6b016d7f
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git

gst-plugins-base commit b0faf03

[2019-03-14 02:56] wangzj0601 commented on #558
regression commit:

d7e8c7c sw swizzle surface in vaGetImage

this issue can not be duplicated with gst-msdk on APL.

[2019-03-14 05:00] xhaihao opened #559 "Wrong A/Y/U/V order for AYUV on Linux"
According to https://github.com/intel/libva/blob/a99bab12713b67a3f9281b2945df53e7b23c830f/va/va.h#L3775-L3779,  VA_FOURC_AYUV is defined in A-Y-U-V order.

In gstreamer, GST_VIDEO_FORMAT_AYUV is also defined in A-Y-U-V order (https://gitlab.freedesktop.org/gstreamer/gst-plugins-base/blob/master/gst-libs/gst/video/video-format.h#L42),

However, the output for AYUV surface from the driver is in V-U-

[2019-03-14 05:01] xhaihao commented on #559
You may reproduce it by vavpp in libva-utils after applying https://github.com/intel/media-driver/pull/555

[2019-03-14 06:00] TianmiChen opened #560 "media driver doesn't support WHL with device id 0x3EA0"
We see that media driver (https://github.com/intel/media-driver/blob/master/README.md ) should support WHL (Whiskey Lake) platform. But we cannot have video playback work on WHL and got below error messages when loading the driver. We checked on Bspec that device id 3ea0 is WHL. Pease confirm whether the driver supports WHL with device iD 3ea0 or not.

/////////////////////////////////////////////

[2019-03-14 13:54] dvrogozh commented on #560
You are loading another driver: i965_drv_video.so, which is this one: https://github.com/intel/intel-vaapi-driver. As far as I know it has limited WHL support.

To load iHD, make sure to have:
`export LIBVA_DRIVER_NAME=iHD`

[2019-03-15 00:42] TianmiChen commented on #560
Thanks for pointing out! After switched to VPG driver, this issue is gone.

[2019-03-15 02:07] makedir opened #561 "README file wrong or not updated correctly?"
https://github.com/intel/media-driver/blob/master/README.md#hw-media-features

Why does it claim, Coffee Lake doesnt support HEVC 8 and 10bit hw encode?

![image](https://user-images.githubusercontent.com/6721083/54403201-749afe00-46cf-11e9-82bc-e7d0eb0ad5ef.png)

The part about CNL cant do AVC HW encode also doesnt make sense. Kaby Lake should also do all these, and should do VP9 encode too, no?

[2019-03-15 05:56] wangzj0601 opened #563 "[gstreamer-vaapi][avc cqp encode]the cmdline will hang up when run it several times on APL"
System Environment
=======
Platform: APL(intel nuc)
Arch: x86_64
Kernel: 4.18.0+
libva commit 0dc70068e49f9538fbd03f2f0aa1e56a91e986e7
gmmlib commit ac68e2cebf9774b17bc8a4057d30959117222127
media_driver commit 7a35908c575306d3764dfb98e8e6b83d185ffea1
gstreamer master branch e322250fb1d1c31692d1e97e3de19ead6b016d7f
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git
gst-plugins-base commit

[2019-03-15 08:28] wangzj0601 opened #564 "[gstreamer-vaapi][vpp][denoise/scale/contrast] the output has garbage if the output format is NV12 on APL"
System Environment
=======
Platform: APL
Arch: x86_64
Kernel: 4.18.0+
libva commit 0dc70068e49f9538fbd03f2f0aa1e56a91e986e7
gmmlib commit ac68e2cebf9774b17bc8a4057d30959117222127
media_driver commit 7a35908c575306d3764dfb98e8e6b83d185ffea1
gstreamer master branch e322250fb1d1c31692d1e97e3de19ead6b016d7f
repo: https://gitlab.freedesktop.org/gstreamer/gstreamer.git
gst-plugins-base commit b0faf032d2

[2019-03-16 10:38] rosetta-jpn commented on #549
Sorry for delay response. I don't have any test.
The value is filled in media_libva_caps.cpp then?
The above g8 and g9 code is unreachable?

[2019-03-18 01:37] rosetta-jpn opened #565 "The maximum resolution for VP8 Encoding is (1920, 1920)"
When I query the maximum resolution by vaQuerySurfaceAttributes with VAProfileVP8Version0_3 and VAEntrypointEncSlice, the values of VASurfaceAttribMaxWidth and VASurfaceAttribMaxHeight both are 1920.
https://github.com/intel/media-driver/blob/6c99fc02c0fd6adaf7f00b1cf571769ebf62e5a5/media_driver/linux/common/ddi/media_libva_caps.cpp#L2593
https://github.com/intel/media-driver/blob/4c0407c16ebcf08e

[2019-03-20 08:44] rosetta-jpn opened #568 "Update media-driver capability."
This table seems outdated. https://github.com/intel/media-driver#default-driver-build-features
For example, VP8 HW encoding is available on KBL since 18.4 release.

[2019-03-21 05:58] FurongZhang commented on #287
Thanks @krogueintel for the information.

[2019-03-21 06:04] xhaihao commented on #538
@FurongZhang @XinfengZhang what is the fourcc code for 10bit RGB?

[2019-03-21 06:10] FurongZhang commented on #499
Jister, could you please check this issue?

[2019-03-21 06:11] FurongZhang commented on #499
@Jister Is it possible for you to check the issue?

[2019-03-21 06:20] FurongZhang commented on #538
@xhaihao  I added a PR in Libva. And I am fixing the RGB10 format issues, will merge into master after I finish the fixes.

[2019-03-21 06:35] FurongZhang commented on #538
@xhaihao  I have already added you into the link. Is it possible for you to help to review that? Thanks a lot in advance!

[2019-03-21 07:43] FurongZhang commented on #538
@xhaihao Your merge about ARGB10 fixed your issue?

[2019-03-21 08:53] FurongZhang commented on #534
https://github.com/intel/media-driver/pull/572  fix is filed. @HeJunyan, Could you please let me know how to verify it? Thanks a lot in advance!

[2019-03-21 10:23] HeJunyan commented on #534
Verified, OK

[2019-03-21 10:59] aulitin commented on #540
@wangyan42164, Can your pull request fix [this problem](https://github.com/intel/media-driver/issues/550)?
I am waiting for fix. When are you going to merge pull request?

[2019-03-21 23:58] FurongZhang commented on #534
Thanks a lot.

[2019-03-22 00:54] #255 closed

[2019-03-22 00:56] xhaihao commented on #559
The YUV order supported by media-driver is V-U-Y-A,  I added a new format GST_VIDEO_FORMAT_VUYA in gstreamer, we may map GST_VIDEO_FORMAT_VUYA to VA_FOURCC_AYUV but need to change the comment for VA_FOURCC_AYUV. @FurongZhang @XinfengZhang Any commnet?

[2019-03-22 02:14] xhaihao commented on #538
@FurongZhang I need your driver fix, I only merged the fourcc code  in libva.

[2019-03-22 07:18] fulinjie opened #574 "[Enhancement][FFmpeg vaapi] support for HEVC Encode Trellis"
Do we have this feature or have the plan to enable Trellis for HEVC encode?

[2019-03-25 02:19] #560 closed

[2019-03-25 04:13] fulinjie opened #576 "[ffmpeg-vaapi][hevc Y210 decode][ICL] GPU Hung"
Apply the patch:
https://github.com/intel-media-ci/ffmpeg/pull/27/commits/5dfd317058e3240eeeb83729c38c4320fb6c3682

CMDLine:
ffmpeg -v debug -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -y -i ./Main_422_10_A_RExt_Sony_2.bin -f rawvideo y210.yuv

Error message:
[AVHWFramesContext @ 0x7f49742367b0] Map surface 0x18.
[hevc @ 0x55efb50333d0] nal_unit_type: 2(TSA_N), nuh_layer_id: 0, temporal_id:

[2019-03-27 02:00] fulinjie opened #577 "[FFmpeg-VAAPI][ICL] vaCreateSurfaces doesn't support Media_Format_AYUV"
in vaQuerySurfaceAttributes, only AYUV is supported.

https://github.com/intel/media-driver/blob/8773ef5e82e8a151e1bcfef317f7808f319c91c2/media_driver/linux/gen11/ddi/media_libva_caps_g11.cpp#L842

[2019-03-27 02:01] fulinjie commented on #577
I think VA_FOURCC_444P is needed.

[2019-03-28 06:23] linjiefu commented on #498
any comments for this?

[2019-03-29 12:47] eero-t opened #578 "[ffmpeg-vaapi][VP8 encode] floating point exception"
Setup:
* Tested to happen both on ICL and KBL GT2
* Git version of drm-tip kernel and all media components

Use-case:
* ffmpeg -loglevel verbose -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_output_format vaapi -threads 1 -i 1280x720p_29.97_10mb_h264_cabac.264  -c:v vp8_vaapi  -y test.webm

Result is floating point exception:
[code]
Same happens also with #409 use-case.

[2019-03-29 12:56] eero-t opened #579 "[ICL][ffmpeg-vaapi] VP9 encode doesn't work"
Setup:
* drm-tip kernel git version
* latest git versions of all media components (from libdrm to ffmepg)

Use-case is VP9 encoding:
* ffmpeg -loglevel verbose -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_output_format vaapi -i 1280x720p_29.97_10mb_h264_cabac.264 -c:v vp9_vaapi -low_power 1 -qscale:v 20 -y test.webm

It fails:
[code]

This happens regardless of:
* Input resolution and

[2019-03-29 13:49] eero-t opened #580 "[ICL][ffmpeg-qsv/-vaapi] low-power (HW encoding) mode doesn't work"
Setup:
* ICL HW
* drm-tip kernel Git head build
* Git head builds of media driver, MediaSDK and Ffmpeg
* igt-gpu-tools Git head build

Use-case:
* Start intel_gpu_top in another console
* Ask 10-bit 4K HEVC encoding in low power (LP) mode:
  `ffmpeg -loglevel verbose -hwaccel qsv -qsv_device /dev/dri/renderD128 -c:v hevc_qsv -i Netflix_FoodMarket_4096x2160_10bit.h265 -c:v hevc_qsv -low_power 1 -qs

[2019-03-29 15:04] dmenshov commented on #580
What is the rate control mode? If you try use BRC, then it is need HUC enabled in the kernel which is not available by default. So, on public kernel only CQP will work.

[2019-03-29 16:34] eero-t commented on #580
"-qscale" option means CQP, FFmpeg "-low_power 1" option fails without it.

Issue seems to be size of the video, as low power actually "seems to" work with smaller resolution 8-bit input (*):
`ffmpeg -loglevel verbose -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_output_format vaapi -i 1280x720p_29.97_10mb_h264_cabac.264 -c:v hevc_vaapi -low_power 1 -qscale:v 20 -y test.h265`

Both 4K

[2019-04-01 06:37] fulinjie commented on #577
it needs to be fix in vaCreateSurfaces:
https://github.com/intel/media-driver/blob/4620c0caae5e5fba51fdd3414347e05b08251cf9/media_driver/linux/common/ddi/media_libva.cpp#L2000

Currently, can not create surface with expect_fourcc  == VA_FOURCC_AYUV,
and can not use DdiMedia_OsFormatToMediaFormat to get Media_Format_AYUV.

[2019-04-01 08:37] dmitryermilov commented on #580
@eero-t, this issue with CQP mode is new to us. Thanks for bringing it.
 @dmenshov , would you like to investigate?

[2019-04-01 09:53] lizhong1008 opened #582 "ffmpeg-vaapi can't specify SFC scaling mode"
**Summary:**
    There is no any difference to set scaling mode as fast (VA_FILTER_SCALING_FAST) and hq (VA_FILTER_SCALING_HQ).  The output files are same, the performances are same, GPU usage are same.

Expectation: VA_FILTER_SCALING_FAST should be faster，lower GPU usage than VA_FILTER_SCALING_HQ.

**Reproduce:**
1. ffmpeg -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -hwaccel_output_format

[2019-04-01 14:49] dmenshov commented on #580
First for reproduce the issue i need to know version of libs which are used in the case. eero-t please could you write the version of the libs?

[2019-04-01 15:02] eero-t commented on #580
As mentioned, latest from git when I was testing it, specifically:
* **kernel** git://anongit.freedesktop.org/drm-tip at 8cac0cc264d2a6af0b33370b542b12d516e022c5 2019-03-28_13-42-05 drm-tip: 2019y-03m-28d-13h-41m-08s UTC integration manifest
* **libdrm** git://anongit.freedesktop.org/git/mesa/drm at ae836decb41a69d00bfadab78a7cb69f88de4c94 2019-03-25_21-34-13 intel: sync i915_pciids.h with kernel

[2019-04-01 15:08] eero-t commented on #580
HW is ICL-B4 with v3071 BIOS version (two weeks ago that was latest BKC for B4).

[2019-04-01 15:58] dmenshov commented on #580
Could you share the full log of run case for ffmpeg (after run: ffmpeg -loglevel verbose -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_output_format vaapi -i 1280x720p_29.97_10mb_h264_cabac.264 -c:v hevc_vaapi -low_power 1 -qscale:v 20 -y test.h265)?

[2019-04-01 16:15] eero-t commented on #580
Full FFmpeg ouput:
[code]

After which there's in dmesg:
[code]

[2019-04-02 05:32] lizhong1008 commented on #582
@FurongZhang @XinfengZhang

[2019-04-02 07:07] dmenshov commented on #580
I observe the same:
./ffmpeg -loglevel verbose -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_output_format vaapi -i input.h264 -c:v hevc_vaapi -low_power 1 -qscale:v 20 -y test.h265
ffmpeg version N-93322-gd227ed5 Copyright (c) 2000-2019 the FFmpeg developers
  built with gcc 6.3.0 (GCC)
  configuration: --disable-static --enable-shared --enable-libdrm --enable-vaapi --enable-libmfx --

[2019-04-02 07:10] dmenshov commented on #580
I will try to debug it with my environment. I will report about my result today later.

[2019-04-02 08:00] dmenshov commented on #580
Sorry the result is not the same. I will try it again with drm-tip.

[2019-04-02 13:40] dmenshov commented on #580
I tried drm-tip. I observe the same issue. I will create issue on bugzilla

[2019-04-03 07:27] dmenshov commented on #580
https://bugs.freedesktop.org/show_bug.cgi?id=110307

[2019-04-03 08:05] HeJunyan opened #587 "[gstreamer-vaapi][avc cbr encode] Can not generate correct cbr stream if VAEncMiscParameterRateControl->max_qp=0"
If VAEncMiscParameterRateControl->max_qp set to 0 while VAEncMiscParameterRateControl->min_qp is not 0
The gst cmmand:

GST_VAAPI_ALL_DRIVERS=1 LIBVA_DRIVER_NAME=iHD gst-launch-1.0 videotestsrc num-buffers=1000 ! capsfilter caps=video/x-raw,format=NV12,width=720,height=480,framerate=30/1 ! vaapih264enc rate-control=cbr keyframe-period=30 num-slices=1 max-bframes=0 bitrate=500 ! capsfilter caps=vid

[2019-04-03 08:14] zhoujd commented on #502
I am closing this issue.

[2019-04-03 08:14] #502 closed

[2019-04-03 14:55] andreyor commented on #468
No, only on BDW.

[2019-04-03 16:32] uartie commented on #587
Is this the same root-cause for VBR issue too?

[2019-04-08 02:19] xhaihao commented on #559
let's close this issue because a new format VUYA was defined in gstreamer and we may map gstreamer VUYA format to media-driver AYUV format.

[2019-04-08 02:19] #559 closed

[2019-04-08 05:51] zjamy commented on #361
When will https://github.com/intel/media-driver/pull/391 be merged? The gstreamer-vaapi test pass with patch#391.

[2019-04-08 09:49] HeJunyan commented on #587
I am not very sure about the VBR mode. In CBR mode, it is sure that we have this kind of bug.

[2019-04-08 09:53] HeJunyan commented on #587
Gst's encoder pipeline setting is the same for CBR and VBR mode. The iHD internal handle logic may be different, but I think they are probably the same issue.

[2019-04-09 10:58] dmitryermilov opened #590 "Race condition in AVC FEI"
The problem occurs when two threads are sharing a VADriverContext and are both calling vaCreateConfig followed by vaCreateContext. The sequence is the following:
[code]
Thread 1 is creating a context for a PreEncoder and Thread 2 is creating a context for an FEI Encoder but both are writing to the same MediaContext->FeiFunction variable.

So Thread 1 sets MediaContext->FeiFunction = 0, then Thread

[2019-04-10 02:44] zhuqingliang opened #591 "[ICL] [ffmpeg qsv/vaapi] vp9 8k decode not supported image size 7680x4320"
environment:
platform: icelake
system: 16.04
kernel: 5.0.0
gmmlib: afd15488255d6ebbdef099a2bc266b3070c4991f
media-driver: 95fba0dfb53ac5cd6188924e6d739acc87ca3502
ffmpeg : 0a347ff4222345c88b93d7962a696f0e9aae7ca2

vp9:
1.ffmpeg -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -v verbose -i 8k/VP9-8K/Peru\ 8K\ HDR\ 60FPS\ \(FUHD\).WEBM -pix_fmt yuv420p -f rawvideo -vsync passthrough -vframes 129

[2019-04-10 12:35] jbeich commented on #356
Also doesn't affect FreeBSD i386 where `off_t` is always 64-bit.
http://beefy5.nyi.freebsd.org/data/latest-per-pkg/libva-intel-media-driver/

[2019-04-10 13:37] #537 closed

[2019-04-11 01:32] #361 closed

[2019-04-11 07:10] wangyan-intel commented on #576
@fulinjie could you share your input stream for debugging?

[2019-04-11 08:08] #345 closed

[2019-04-11 08:09] #533 closed

[2019-04-11 08:39] zhoujd commented on #500
may I know some update ?

[2019-04-11 14:29] FurongZhang commented on #422
Hi, I checked the code, in HD driver, we support 32bit xbgr format. 16bit 1-5-5-5 xbgr is not PORed. May I know what16bit 1-5-5-5 is for?

[2019-04-11 16:26] FurongZhang commented on #532
https://github.com/intel/media-driver/pull/594

[2019-04-12 02:36] feiwan1 commented on #554
By using gst-vaapi to convert NV12 to ARGB, but the dumped output format is BGRA. Same issue by using yamivpp.

gst-vaapi:
gst-launch-1.0 videotestsrc num-buffers=10 pattern=4 ! video/x-raw,format=NV12,width=720,height=480 ! vaapipostproc format=bgra ! filesink location=red.bgra

libyami:
yamivpp 720x480.nv12 720x480.argb

[2019-04-12 03:13] HeJunyan commented on #422
I made a mistake,
In gst
videoparse width=320 height=240 format=rgb16

It's my mistake that I though rgb16 is this format and report this bug. It's RGB565 :)
But I really find that this format has some problems.
It report
FourCC XBGR, with byte_order 1, bits_per_pixel 16, depth 16, red_mask f800, green_mask 7d0, blue_mask 1f, alpha_mask 0
and the 32 bits xbgr also have the same fourcc, just with d

[2019-04-12 05:49] FurongZhang commented on #422
Thanks a lot for the information. Then, we will revisit this issue later.

[2019-04-12 07:04] #375 closed

[2019-04-13 01:09] kwende commented on #308
Is there any further input on this? I'm getting this error too. I'm using the same branch as this guy.

[2019-04-15 01:42] zhuqingliang commented on #591
lucas can decode,  ffmpeg issue.

[2019-04-15 01:42] #591 closed

[2019-04-15 03:36] FurongZhang commented on #532
PR has been merged.

[2019-04-15 06:53] ss22ongithub opened #596 "Log the version information of media kernels"
This media_driver/agnostic/gen9/vp/kernel/igvpkrn_g9.c (and other similar files ) has the binary content of the 'kernels' used in the driver.

For the purpose of clarity and debugging it  would help to know version information of the 'kernels' used in the media driver . As  this   file is auto generated KernelBinToSource.exe tool  it should be possible to include a const. string which can hold the

[2019-04-15 08:47] HeJunyan opened #597 "Failed to give correct attribute value of VAConfigAttribRTFormat for VP9 10bits"
MediaLibvaCaps::CreateDecAttributes need to handle the VP9 10 bits case for VAConfigAttribRTFormat attribute. vaGetConfigAttributes API query VAConfigAttribRTFormat just get VA_RT_FORMAT_YUV420 for 10bits VP9. So APP failed to create VA_RT_FORMAT_YUV420_10BPP kind surface and cause a decoder setting error.

[2019-04-15 21:48] dmitryermilov commented on #580
Reply from Tvrtko at bugzilla:
According to my interpretation of the error state the execution hangs on command dw 0x73880080 (HEVC_VP9_RDOQ_STATE) submitted from a batch buffer.

  IPEIR: 0x00000000
  IPEHR: 0x34240010
  INSTDONE: 0xbbffffff
  batch: [0x00000000_018fb000, 0x00000000_018ff000]
  BBADDR: 0x00000000_018fbf45

...
0x018fbf44:      0x73880080: 3D UNKNOWN: 3d_965 opcode = 0x7388
...

O

[2019-04-16 02:42] feiwan1 opened #601 "[Gstreamer-vaapi][ICL][hevc 422 10bit decode] GPU hang."
1. apply #600 first, and decode the stream with gst-vaai:
$gst-launch-1.0 filesrc location=Main_422_10_A_RExt_Sony_2.bin ! h265parse ! vaapih265dec ! fakesink

This cmd will decode the 10bit stream into Y210 format. when call vaEndPicture, it will GPU hang. And dmesg information:
root@media_libva_icl:~/media# dmesg
[86323.257339] i915 0000:00:02.0: Resetting vcs0 for hang on vcs0

[Main_422_10_A_R

[2019-04-16 02:47] feiwan1 opened #602 "[Gstreamer-vaapi][ICL][hevc 444 8bit decode] GPU hang."
apply #600 first, and decode the stream with gst-vaai:
$gst-launch-1.0 filesrc location=TSCTX_8bit_RExt_SHARP_1.bin ! h265parse ! vaapih265dec ! fakesink
This cmd will decode the 10bit stream into AYUV format. And dmesg information:
root@media_libva_icl:~/media# dmesg
[86323.257339] i915 0000:00:02.0: Resetting vcs0 for hang on vcs0

[TSCTX_8bit_RExt_SHARP_1.zip](https://github.com/intel/media-dri

[2019-04-16 02:52] feiwan1 opened #603 "[Gstreamer-vaapi][ICL][hevc 444 10bit decode] GPU hang."
apply #600 and #459 first, and decode the stream with gst-vaai:
$gst-launch-1.0 filesrc location=TSCTX_10bit_RExt_SHARP_1.bin ! h265parse ! vaapih265dec ! fakesink
This cmd will decode the 10bit stream into Y410 format. And dmesg information:
root@media_libva_icl:~/media# dmesg
[86323.257339] i915 0000:00:02.0: Resetting vcs0 for hang on vcs0

[TSCTX_10bit_RExt_SHARP_1.zip](https://github.com/inte

[2019-04-16 05:43] #431 closed

[2019-04-16 09:54] tursulin commented on #580
Basically the error state suggests hanging command could be HEVC_VP9_RDOQ_STATE. Media domain knowledge is needed to think about possible reasons.

[2019-04-17 03:40] XinfengZhang commented on #596
it is hard to implement it, because there are several kernel combined in igvpkrn_g9.c  change the tools and check the fill a version list of each kernel?

[2019-04-17 05:25] wangyan-intel commented on #597
@HeJunyan
What profile did you try? For FtrIntelVP9VLDProfile2Decoding10bit420, the VA_RT_FORMAT_YUV420_10BPP has been added like the following. We may need add 10bit YUV444 RT format for the other profiles.
https://github.com/intel/media-driver/blob/fb20edf05ba5a4ec4a1bb0b47aed883cb939c44f/media_driver/linux/common/ddi/media_libva_caps.cpp#L882

[2019-04-17 05:33] feiwan1 commented on #597
Hi @wangyan-intel , If possible, could you add all RT formats here for all VP9 profiles base on VP9 profiles definition? Otherwise it will still block 422/444 8/10bit decode feature that we will develop soon.
https://www.webmproject.org/vp9/profiles/

[2019-04-17 08:49] fulinjie opened #608 "[FFmpeg-vaapi][ICL][hevc 444 10bit decode] GPU hang."
Run with ffmpeg patch applied, otherwise it will fallback to software decode path and decode successfully in software decoder. (Patch will be attached next)
CMDline:
ffmpeg -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -y -i ./GENERAL_10b_444_RExt_Sony_2.bit -vframes 30 444.yuv -v debug
Error Info:
[AVHWFramesContext @ 0x7f1890037df0] Map surface 0x18.
[hevc @ 0x55c4f9c1c1d0] nal_unit_type: 3

[2019-04-18 02:10] #523 closed

[2019-04-18 07:29] XinfengZhang commented on #483
@dmitryermilov , sorry , missed it, will file a PR soon

[2019-04-18 10:33] dmitryermilov commented on #483
Thank you!

[2019-04-18 14:09] dmitryermilov commented on #580
It was confirmed that HEVC-LP needs HuC supports (including CQP). So the fact that HEVC-LP doesn't work on drm-tip is expected. However of course MSDK/UMD should return an error **at initialization** for this case.

[2019-04-18 14:29] eero-t commented on #580
Will HEVC-LP work on ICL also with 4K resolution and 10-bit when there's HuC?  Or is it still limited to 8-bit at smaller resolutions?

[2019-04-19 04:28] HeJunyan commented on #597
I verify that,
On Gen 9.5, FtrIntelVP9VLDProfile2Decoding10bit420 is OK,
On Gen11, no that support and still need
 https://github.com/intel/media-driver/pull/605

[2019-04-21 05:45] FurongZhang commented on #532
@HeJunyan  This fix has been merged into master branch. Is it possible for you to close this issue? Thanks a lot in advance!

[2019-04-21 06:09] FurongZhang commented on #534
@HeJunyan Since verified, how about to close it? Thanks a lot in advance!

[2019-04-22 06:21] HeJunyan commented on #532
Verified and OK

[2019-04-22 06:21] #532 closed

[2019-04-22 06:22] #534 closed

[2019-04-22 06:25] HeJunyan commented on #538
Still need to add ARGB10 to surface and image query, and then, application can know such kind of format exists.

[2019-04-23 05:52] Xiaogangli-intel commented on #579
Hi Eero,
          Currently, GuC and HuC firmware is not ready in drm-tip, so  HEVC/VP9 low power cases will not work! GuC/HuC up-streaming is WIP, will let you know once it ready.

[2019-04-23 05:59] Xiaogangli-intel commented on #580
Hi Eero,
Currently, GuC and HuC firmware of ICL is not ready in drm-tip, so HEVC/VP9 low power cases will not work! GuC/HuC up-streaming is WIP, will let you know once it ready.

[2019-04-24 05:22] fulinjie opened #611 "[FFmpeg-vaapi-encode][KBL][max_frame_size] memory leak"
apply patch to enable max_frame_size for vaapi:
https://github.com/intel-media-ci/ffmpeg/pull/36/commits/bd592e74a98377483d7ccd40ada459acac3815cd

run cmdline:
valgrind --tool=memcheck --leak-check=full --log-file=webm_log.txt ffmpeg_g -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v verbose -f rawvideo -s:v 352x288 -i ./MOBILE_352x288_30_orig_01.yuv -vf format=nv12,hwupload -c:v h264_vaapi -pr

[2019-04-24 07:36] zhuqingliang opened #612 "[avc vdenc] multislice encode file have garbage and decode error"
bug describe
NOT  lowpower mode , multislice encode  is good
enable lowpower mode , the h264 file have garbage ,  both in ffmpeg and gstreamer.

1. environment
Platform: KBL
Platform: ICL
Arch: x86_64
Kernel: 5.0.0
Libva: c98b06d2b8c00dc4df628488b672711b3f0eb118
iHD_driver: 5366de39a3f3b7f256b540bfa0ba088133315610
libva-utils: 375e4eaae3377c1806e83874f9fa9b79b1f225b1
ffmpeg-vaapi: 9dece050ef01c70d

[2019-04-24 13:40] #568 closed

[2019-04-24 13:48] semelianova commented on #550
The same problem appears on CFL and KBL. 8k is not supported on platform less ICL.

[2019-04-24 13:56] dmitryermilov commented on #550
@aulitin , @semelianova , would you like to prepare a pool request with a fix to the driver repo?

[2019-04-24 15:00] uartie commented on #612
This is a duplicate of #389

[2019-04-24 19:00] aulitin commented on #550
@dmitryermilov, I am unable to do it soon.

[2019-04-25 07:15] zhuqingliang commented on #612
reduplicate , close .

[2019-04-25 07:15] #612 closed

[2019-04-25 08:45] HeJunyan commented on #597
#605 works for me on my icelake platform, thanks

[2019-04-25 20:04] Spongman commented on #469
how do you set an environment variable for a program that's running inside a snap?

[2019-04-26 06:48] fulinjie commented on #576
ping?
Any update?

[2019-04-26 06:58] wangyan-intel commented on #576
@fulinjie I have sent mail to Fei about #601, #602, #603. I think this issue may be similar with them. You can talked with Fei at first. Thanks.

[2019-04-26 08:30] fulinjie commented on #576
@wangyan-intel  This situation is kind of different, the hang issue occurs during map and sync surface, which didn't call parsePicParams yet.

[2019-04-26 08:35] wangyan-intel commented on #576
I will check it. Thanks.

[2019-04-27 00:12] dvrogozh opened #613 "AVC low power encoding fails on ubuntu 19.04 with intel-media-va-driver"
Derived from https://github.com/Intel-Media-SDK/MediaSDK/issues/1398.

AVC low power encoding fails under Ubuntu 19.04 under `intel-media-va-driver ` because of 2 reasons:
1. Bug in mediasdk which can be addressed by for example Intel-Media-SDK/MediaSDK#1399
2. Becuse intel/media-driver@26d7d50 commit is missed in https://github.com/intel/media-driver/releases/tag/intel-media-18.4.1 release which

[2019-04-27 00:15] dvrogozh commented on #613
@tjaalton: can you, please, consider to update media driver with 19.1 release to pull in 26d7d50? or we need to cherry-pick the change to 18.4 which you currently use in Ubuntu 19.04?

[2019-04-28 06:52] XinfengZhang commented on #497
sorry, for late response, it is a bug, we will add swizzling in vaMapBuffer soon, such  as vaGetImage + vaMapBuffer

[2019-04-28 10:23] wangyan42164 commented on #576
@fulinjie I checked ffmpeg code. It also hasn't VAPictureParameterBufferHEVCRext and only has VAPictureParameterBufferHEVC. And after debugging, I found GPU hang occurs after the first call of DdiDecodeHEVCG11::ParsePicParams(). (It should be the 1st frame. GPU hang should occurs after finish updating all parameters include picture into HW.)
And Fei has confirmed #602 and #603 will be fixed after

[2019-04-29 05:58] #597 closed

[2019-04-29 20:38] tjaalton commented on #613
hi, I probably need to cherry-pick the fix..

[2019-04-30 05:34] feiwan1 commented on #601
Thanks @wangyan-intel for your analysis, this issue is fixed by add VAPicturePaarmeterBufferHEVCExtension&VASlicePaarmeterBufferHEVCExtension setting in h265parse and vaapih265dec. Now 2 patches submitted to gstreamer.
https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad/merge_requests/310
https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/merge_requests/78
So close this one.

[2019-04-30 05:34] #601 closed

[2019-04-30 05:35] feiwan1 commented on #603
Same as #601 , close this.

[2019-04-30 05:35] #603 closed

[2019-04-30 05:35] feiwan1 commented on #602
Same as #601 , close this.

[2019-04-30 05:35] #602 closed

[2019-04-30 08:17] feiwan1 opened #616 "[gstreamer-vaapi][encode][Jpeg] jpeg file show noise by using UYVY input format."
When using UYVY format as the input for jpeg encode, the output file show noise.
(This need the patch #615 )

cmdline:
$ gst-launch-1.0 videotestsrc num-buffers=1 ! video/x-raw,format=UYVY ! vaapijpegenc ! jpegparse ! filesink location=out.uyvy.jpeg

And I used jpegenc from libva-utils got the same result:
$ jpegenc 320 240 in.uyvy out.jpeg 2 50

Ps, when using YUY2, the output looks good.

Noise

[2019-04-30 16:04] uartie commented on #389
This seems to be fixed in _gst-msdk_ and _ffmpeg-qsv_, but _gst-vaapi_ and _ffmpeg-vaapi_ still has this issue.  I'm not sure when or what fixed this in gst-msdk/ffmpeg-qsv.  My current stack is:
[code]
Can someone confirm and/or point to commit that fixed it in above 2 cases?

[2019-04-30 16:32] uartie commented on #389
@dvrogozh are you aware of any specific fix/commit in the msdk component that would have fixed this in gst-msdk and ffmpeg-qsv (see my last comment).

[2019-05-06 01:26] fulinjie commented on #577
currently work around by https://github.com/intel-media-ci/ffmpeg/pull/41/commits/de7312abe09bd7561f0f4035eee7d88f38533ece to match the behaviour in driver.
#define VA_RT_FORMAT_AYUV VA_FOURCC_AYUV

[2019-05-07 14:18] lizhong1008 commented on #582
@FurongZhang ,any update?

[2019-05-07 16:01] FurongZhang commented on #582
1.  Regarding VA_FILTER_SCALING_FAST, if no VEBOX specific features are enabled and VAAPI user set VA_FILTER_SCALING_FAST, driver will use Render Engine(AVS sampler) to do scaling which is same as VA_FILTER_SCALING_HQ.
2.  VA_FILTER_SCALING_DEFAULT is using SFC if not hitting HW limitation.
Code details, please see the below:
------------------------------------------------------------------------

[2019-05-08 01:27] FurongZhang commented on #582
Let's use this structure to differentiate SFC and AVS(EU)
/** \brief Video Processing Mode. */
typedef enum _VAProcMode {
     /**
      * \brief Default Mode.
      * In this mode, pipeline is decided in driver to the appropriate mode.
      * e.g. a mode that's a balance between power and performance.
      */
     VAProcDefaultMode = 0,
     /**
      * \brief Power Saving Mode.
      * In this

[2019-05-08 05:07] fulinjie opened #618 "[ffmpeg-vaapi][HEVC encode][ICL][low power][ICQ support]"
I'm enabling low power encode for ffmpeg hevc_vaapi.
patch:
https://github.com/fulinjie/ffmpeg/commit/3c7b3eea0070d71d752a53db6b94520be8c6a29e

cmdline:
ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v verbose -f rawvideo -s:v 1920x1080 -pix_fmt yuv420p -i 1080p_blue_sky.yuv -vf format=nv12,hwupload -c:v hevc_vaapi -low_power 1 -global_quality 25 -vframes 5 -y ./vaapi.h265

Known limitat

[2019-05-08 05:14] fulinjie commented on #576
Thanks a lot for the input @wangyan-intel , ffmpeg vaapi decode works for 422/422_10/444/444_10 streams now with patch set:
https://github.com/intel-media-ci/ffmpeg/pull/41

[2019-05-08 05:14] #576 closed

[2019-05-08 05:15] fulinjie commented on #608
Closed and thanks.
intel-media-ci/ffmpeg#41

[2019-05-08 05:15] #608 closed

[2019-05-08 05:17] fulinjie commented on #577
Will use the work around way and closed.

[2019-05-08 05:17] #577 closed

[2019-05-09 03:12] wangyan-intel commented on #616
@feiwan1 I tried your command with #615 but no this issue on KBL. What platform do you run it on? My tried commit is 54a198. Thanks.

[2019-05-09 05:05] feiwan1 commented on #616
I am using SKL. @wangyan-intel

[2019-05-09 06:01] wangyan42164 commented on #611
@fulinjie  Could you please try #619? Thanks.

[2019-05-09 09:53] xuguangxin opened #620 "Do not map linear surface with no cache."
The driver [always ](https://github.com/intel/media-driver/blob/8c96c595e753c7f7cb8b213703a53a2ddd6034c7/media_driver/linux/common/ddi/media_libva_util.cpp#L1000)uses mapgtt on the atom.  No matter it’s tiled or linear surface. This logic does not exist on [i965](https://github.com/intel/intel-vaapi-driver/blob/72f10f16f7e5767492acde130eeeaa598d26a3a6/src/i965_drv_video.c#L3065).
The logic will di

[2019-05-09 14:13] FurongZhang commented on #620
I will be OOO ww20. Will follow up this issue ww21.

[2019-05-10 01:44] xuguangxin commented on #620
Thanks, Furong for quick response

[2019-05-10 03:01] fulinjie commented on #611
Thanks @wangyan42164 , after applying the PR, got the dumped log:

HEAP SUMMARY:
==1132==     in use at exit: 24,477 bytes in 120 blocks
==1132==   total heap usage: 25,224 allocs, 25,104 frees, 48,604,956 bytes allocated
==1132==
==1132== 396 bytes in 99 blocks are definitely lost in loss record 12 of 18
==1132==    at 0x4C2FB0F: malloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==1

[2019-05-10 06:12] wangyan42164 commented on #611
@fulinjie Thanks for your test. It seems only reduce 4 bytes leak based your latest log. I update my PR for free after encoding every time. Could you please try it again? Thanks.

[2019-05-12 21:36] freefreeno opened #621 "With LIBVA_DRIVER_NAME=iHD variable set in /etc/enviroment only the h 264 works and Vp9 works only if you remove the variable"
Sorry for the length of this but this is proof and I want to back up my claims. I am using Arch Linux with Intel HD 620 and Mesa and the this Intel-media-driver installed. No other drivers.
With the LIBVA_DRIVER_NAME=iHD set in /etc/environment the vainfo command shows this:
![Screenshot_15](https://user-images.githubusercontent.com/41884680/57587895-1d988600-74d2-11e9-91bf-727520d1c23f.png)

Also

[2019-05-13 02:58] wangyan-intel commented on #621
@freefreeno After remove LIBVA_DRIVER_NAME=iHD, chrome browser should fall back to SW decoding. For VP9, I can see VpxVideoDecoder from your screenshot of chrome://media-internals.  I am not sure which commit of iHD driver is used. Could you please try the latest commit? Recently, some VP9 profile patches are merged. Thanks.

[2019-05-13 06:59] wangyan42164 commented on #578
@eero-t Could you please share this bit stream for reproducing? Thanks

[2019-05-13 17:15] freefreeno commented on #621
I am using from Arch AUR and it is the 19.1.0-1 so i think it is the latest.

[2019-05-13 17:20] freefreeno commented on #621
Chromium is not using the software rendering after the variable is removed I dont't think. As you can see my videos are playing h264 and Vp9 videos with the variable removed but with the variable I can only play h 264. I don't even understand how the h 264 and Vp9 videos are being played after the variable is removed.

[2019-05-14 03:35] wangyan-intel commented on #621
@freefreeno I mean software decoder not software rendering.  VpxVideoDecoder from your chrome://media-internals should be software decoder. And MojoVideoDecoder is GPU accelerated which will use iHD driver. You can check chromium code to confirm it.
H264 is similar. When iHD is enabled, chrome browser will use its GPU wrapper to call iHD driver for decoding, otherwise use software decoder.
Just cu

[2019-05-14 08:36] wangyan-intel commented on #578
@eero-t I submitted the PR#622 to fix it. It works fine on my platform. Could you please try it? Thanks.

[2019-05-14 10:55] eero-t commented on #578
Yes, it gets rid of the exception.  However, fix to #409 is also needed, otherwise output file is empty.

(Tested on KBL GT2.)

[2019-05-14 10:56] eero-t commented on #409
Issue title is misleading.  This issue isn't ICL specific, it happens also e.g. on KBL.

[2019-05-14 12:27] eero-t commented on #579
What about non-low-power (shader based) VP9 HW encoding?

[2019-05-14 13:49] freefreeno commented on #621
I would Like to show you something. Just to see if it would change things I removed the driver and installed the older libva-intel and when I type the vainfo command I see that now I have the slice next to Vp9 and with you alls intel-media-driver I did not have that.

![Screenshot_12](https://user-images.githubusercontent.com/41884680/57702833-7d9f4180-7624-11e9-9d8c-0cbacfb19d47.png)

Ok so what

[2019-05-15 08:45] wangyan-intel commented on #621
1.  intel-media-driver (i965) driver is different with iHD driver.
2. In fact, I enabled VP9 8K video playback on Chrome OS browser with iHD driver on KBL platform recently. It just need my merged patch baedcc3 for 8K. I am not sure what is your video resolution. If it is not larger than than 4K, it should works without this patch. I can see the obvious difference between SW and HW accelerated dec

[2019-05-15 17:21] freefreeno commented on #621
I compiled this driver yesterday and the same problem is still there. Mesa has been updated this morning. The hardware decoded Vp9 videos do not work on the old libva-intel and your intel-medi-driver. It did work a couple weeks back. Your driver doesn't even show to be capable to run Vp9 hardware decode on my system and it did a week or so ago. I have done everything possibel including building an

[2019-05-16 04:29] Xiaogangli-intel commented on #519
Thank you @dvrogozh for helping.
Hi @wakuken,
     So the issue has been fixed, right? Can we close this now?

[2019-05-16 06:25] fulinjie opened #624 "[FFmpeg-vaapi][ICL][VP9][VDENC] vaMapBuffer returns two bufs in the buf_list including a zero-sized buf"
Any constraints or BKMs for enabling vp9 VDENC?
Like hevc VDENC does in https://github.com/intel/media-driver/issues/618

[2019-05-16 06:44] Xiaogangli-intel commented on #574
Do you mean Trellis-QP?

[2019-05-16 06:46] fulinjie commented on #574
Yes, for quantization

[2019-05-16 06:50] Xiaogangli-intel commented on #574
Currently it's not supported, I didn't see any plan until now.

[2019-05-16 07:01] fulinjie commented on #624
Currently, i see only VDENC is allowed for VP9 encode (VAEntrypointEncSliceLP),

With cmdline:
ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v verbose -f rawvideo -s:v 1920x1080 -pix_fmt yuv420p -i 1080p_blue_sky.yuv -vf format=nv12,hwupload -c:v vp9_vaapi -qp 30 -vframes 100 -y ./vaapi.webm

Error message:
[AVBSFContext @ 0x20976c0] Too many invisible frames
[AVBSFContext @ 0x20976c0]

[2019-05-16 07:03] fulinjie commented on #574
@Xiaogangli-intel thanks, will leave this feature open in FFmpeg.
Closed.

[2019-05-16 07:03] #574 closed

[2019-05-17 02:23] wakuken commented on #519
Hi @Xiaogangli-intel,

I tried Kernel v5.0.13 (https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.0.13/) on Ubuntu 18.04 LTS.
Unfortunately the kernel seems to have the same problem.

[2019-05-19 02:57] Brainiarc7 opened #625 "[ffmpeg-vaapi][h264 encode] VBR encode output bitrate disparities between the QSV and VAAPI encoders."
Hello there,

Similar to this ticket: https://trac.ffmpeg.org/ticket/7629
I'm observing major issues with VBR encoding's bitrate adherence disparities between h264_qsv and h264_vaapi, made even worse when switching between VAAPI drivers, ie `i965` and `iHD`.
See this ticket for logs and more info: https://trac.ffmpeg.org/ticket/7910
It could be an issue with the `media-driver` package, or failing

[2019-05-20 02:58] zhoub commented on #578
Interesting, I have this issue with libva+vaapi driver at i7 8700k.
[code]

[2019-05-20 02:59] zhoub commented on #409
I have this fixed in FFmpeg as workaround.

https://github.com/zhoub/FFmpeg/commit/493e507e20663aec29cfb699e82a98dad70ed088

[2019-05-20 08:19] fulinjie opened #629 "[FFmpeg-vaapi][vp9 10bit][decode]"
Tested on ICL with b88f49f1f53c60b586cdb7e569ad1139e550763b , and it occurs in KBL, too.

CMD:
ffmpeg -hwaccel vaapi -hwaccel_device /dev/dri/renderD128 -v verbose -i vp9_sf_10bit_CrowdRun_256x256_112x112_256x256.ivf -pix_fmt p010le -f rawvideo -y dump.yuv

Error Message:
[MOS]:  CRITICAL - Mos_Specific_GetResourceInfo:2169: Invalid (nullptr) Pointer.
[CODEC]:CRITICAL - CodecHalGetResourceInfo:507

[2019-05-20 21:32] EwoutH commented on #328
Any update on this issue?

[2019-05-21 02:19] wangyan-intel commented on #629
@fulinjie Could you please share your vp9_sf_10bit_CrowdRun_256x256_112x112_256x256.ivf? Thanks.

[2019-05-21 05:50] fulinjie commented on #611
@wangyan42164 Sorry for replying late, I had tested it early but didn't update the result until now.

==15144== HEAP SUMMARY:
==15144==     in use at exit: 24,081 bytes in 21 blocks
==15144==   total heap usage: 25,224 allocs, 25,203 frees, 48,604,956 bytes allocated
==15144==
==15144== LEAK SUMMARY:
==15144==    definitely lost: 0 bytes in 0 blocks
==15144==    indirectly lost: 0 bytes in 0 block

[2019-05-21 07:01] EwoutH opened #630 "VP9 encode support from Kaby Lake+"
The [Readme.md](https://github.com/intel/media-driver/blob/master/README.md) states VP9 encoding will only be supported from Ice Lake forward. The [Readme](https://github.com/intel/intel-vaapi-driver/blob/master/README) and [code](https://github.com/intel/intel-vaapi-driver/blob/master/src/gen9_vp9_encoder.c) over at [intel/intel-vaapi-driver](https://github.com/intel/intel-vaapi-driver) however s

[2019-05-21 07:52] Xiaogangli-intel commented on #618
Hi,
    ICQ mode is not supported in low power mode on ICL, it should be disabled in app level.

[2019-05-21 09:17] #578 closed

[2019-05-21 12:20] #611 closed

[2019-05-22 19:44] Brainiarc7 commented on #625
Any updates on this?

[2019-05-24 07:08] XinfengZhang commented on #630
@EwoutH , it is difficult to explain it. gen9 HW didn't implement all VP9 features,  cant guarantee the quality and VP9 sub features enabling. another solution is hybrid solution( CPU & GPU work together to encode VP9) , but no much benefit comparing CPU solution.

[2019-05-27 07:52] FurongZhang commented on #620
Sorry for the late response because of taking annual leave. I will check this issue this week.

[2019-05-27 17:08] #309 closed

[2019-05-28 06:31] fulinjie commented on #624
@Xiaogangli-intel
Hi Xiaogang, update some new information for VP9 VDENC.

Error message:
vp9_vaapi @ 0x2039fc0] Input surface format is nv12.
[vp9_vaapi @ 0x2039fc0] Using VAAPI profile VAProfileVP9Profile0 (19).
[vp9_vaapi @ 0x2039fc0] Using VAAPI entrypoint VAEntrypointEncSliceLP (8).
[vp9_vaapi @ 0x2039fc0] Using VAAPI render target format YUV420 (0x1).
[vp9_vaapi @ 0x2039fc0] No quality level

[2019-05-28 07:02] wangyan-intel commented on #629
@fulinjie I just submitted one patch to FFMPEG maillist. This issue comes from FFMPEG destroy VAAPI context when the resolution of the 2nd frame is different with the 1st frame. It will cause reference frame surface lost. Thanks.

[2019-05-28 07:04] fulinjie commented on #618
FFmpeg will try the allowed RC modes according to query result in vaGetConfigAttributes.
Disable this in hard code is not acceptable in the community.

IMHO,If not supported, vaGetConfigAttributes shouldn't have reported the support for ICQ mode for VAEntrypointEncSliceLP.

[2019-05-28 09:03] #590 closed

[2019-05-28 10:46] eero-t opened #634 "Recoverable GPU hangs with multi-process h264 transcode"
I'm seeing occasional recoverable GPU hangs with smaller resolution multi-process AVC transcoding.

Setup:
* HW: CFL GT3e (i5-8259U), KBL GT3e (i7-7567U), SKL GT3e (i5-6260U), 12 (J3455) or 18EU (J4205) BXT/APL, or BDW GT2 (i3-5010U)
* drm-tip git kernel v5.1 or newer
* git builds of the Media stack from within few weeks (libdrm, gmmlib, libva, media-driver, MediaSDK, ffmpeg, gst-msdk)

Test-cases

[2019-05-28 14:54] jackersson commented on #264
Hi,

Had anyone solved previous problem? (Having the same troubles)

[2019-05-29 05:10] fulinjie commented on #624
Cope with potential multiple buf situation in ffmpeg level:
https://github.com/intel-media-ci/ffmpeg/pull/44

[2019-05-30 03:10] wangyan-intel commented on #621
@freefreeno Do you try it on Ubuntu/Fedora with the chromium upstream? Ubuntu/Fedora may be easier to debug and locate this issue. Thanks.

[2019-05-30 04:11] freefreeno commented on #621
Uh NO. How would an operating system that I have never used be easier to debug. I have everything set just like every wiki and everyone says and there is more than then environment variable going on. Me and everyone you see listed above says there Vp9 does not play any longer and that goes for intel-vaapi or intel-media driver. I can remove all the variables with the same results. I just wanted to

[2019-05-30 05:01] wangyan-intel commented on #621
@freefreeno I have not ArchLinux + Chromium browser to test currently. And I cannot find this issue on Ubuntu/Fedora.

[2019-05-30 07:34] XinfengZhang commented on #621
@freefreeno maybe you can enable libva trace and upload the logs also try debug version media driver to tell us the root cause

[2019-05-30 08:52] freefreeno commented on #621
Just an overview. I have all the latest packages from Arch Linux. When I did a clean install about two weeks ago I went thru everything again. Enabled early kms. Enabled huc and guc and can confirm kms and huc and guc is loaded.  I have intel-media-driver, xf86-video-fbdev and  libva-utils installed. I can set the variable for the name like so-LIBVA_DRIVER_NAME=iHD
BUT if I set the variable for th

[2019-05-30 09:14] wangyan-intel commented on #621
@freefreeno I am not sure if there is also i965 media driver at your platform. If yes, could you please remove it fully? Thanks.

[2019-05-31 06:04] freefreeno commented on #621
Yes we have the intel-vaapi driver in ther AUR and I have never installed it since I did my clean install 2 weeks back. I did try it and IT DID JUST LIKE THE INTEL MEDIA DRIVER. Same exact thing. I could set the name variable but not the path. Makes me wonder if it isn't a Arch Linux problem or not a problem but maybe something they are doing differently. I just want my stuff to work and I may not

[2019-05-31 07:13] XinfengZhang commented on #621
hi @freefreeno ,  1.  should set LIBVA_DRIVERS_PATH=/usr/lib/dri/, this variable should only include the path name exclude the driver so filename , vainfo should works with  LIBVA_DRIVER_NAME=iHD & LIBVA_DRIVERS_PATH=/usr/lib/dri/ . 2. I still prefer to get the libva log or media driver log. simply export LIBVA_TRACE=folder name. you can get the libva traces. we can help check the call sequence. t

[2019-05-31 11:09] eero-t commented on #634
J4205 BXT/APL devices hard hang now sometimes in following MSDK test:
`sample_multi_transcode -i::h264 1280x720p_29.97_10mb_h264_cabac.264 -o::h264 output.h264 -b 800 -u 4 -n 2400 -f 15 -w 352 -h 240 -FRC::PT -async 4 -hw`

[2019-05-31 18:16] freefreeno commented on #621
NO IT DOES  NOT AND I HAVE EXPLAINED THAT. Vainfo only works if I set it like this.
LIBVA_DRIVER_NAME=iHD

If I set it like this it shows error 1.
LIBVA_DRIVERS_PATH=/usr/lib/dri/iHD_drv_video.so
LIBVA_DRIVER_NAME=iHD

BUT I can set it like this but IT WILL NOT SAY OPENING THE DRIVER in the vainfo command.
It should say opening driver in the vainfo command and the reason it does not is because I C

[2019-05-31 19:47] uartie commented on #621
@freefreeno using ALL CAPS is _generally_ viewed/interpreted as **SHOUTING**.  If you need to emphasize something, please use other means like, **bold**, *italics*, etc...  Thanks.

[2019-05-31 20:28] freefreeno commented on #621
I am not shouting but ok.

[2019-06-03 02:30] uartie commented on #621
No worries.  It's just a netiquette thing and wouldn't want your posts to be taken the wrong way ;-)

[2019-06-03 02:38] feiwan1 commented on #500
We meet the same issue is gstreamer-vaapi full test. When we want to convert NV12/I420 into ARGB, the result from vaQuerySurfaceAttributes and filtered by VASurfaceAttribPixelFormat shows that doesn't support ARGB.

If media-driver support this kind of case, then ARGB should be added into m_vpSurfaceAttr:
https://github.com/intel/media-driver/blob/05ec842840ce76bc665ad3c8905a6450a6a4ca39/media_dri

[2019-06-03 07:39] freefreeno commented on #621
Sorry. If anything I am aggravated. I have posted to Arch site this week with no help there yet. Can someone please tell me if  the old intel driver can be ran with the intel-media-driver?? I found some info on Arch wiki that says that if you want to take advantage of huc and guc and other things as well like fbc then that requires the old regular intel driver. I did not know that and I am not rea

[2019-06-04 03:16] wangyan-intel commented on #432
#371 has been merged. So close this issue.

[2019-06-04 03:16] #432 closed

[2019-06-04 05:24] wangyan-intel commented on #625
@Brainiarc7 Could you please share your rv,mkv in  https://trac.ffmpeg.org/ticket/7910? We can try to reproduce it. Thanks.

[2019-06-04 15:31] uartie opened #637 "[regression] +378 vaapi conformance failures since c1e0c23bf05"
Since commit c1e0c23bf050815a38dc37301361d943e4c611f9, there are 378 new conformance test failures (test_va_api from https://github.com/intel/libva-utils):

[code]

...previously (prior to this commit) there were only 104 outstanding failures.

[code]

[2019-06-05 22:18] uartie commented on #637
Yep, #638 fixes this regression for me ;)

[2019-06-06 08:44] dmitryermilov commented on #637
Thanks for confirmation :)

[2019-06-10 01:40] zhuqingliang opened #639 "[ffmpeg-vaapi][transcode] transcode with scale_vappi failed"
cmdline:
ffmpeg -v verbose -init_hw_device vaapi=hw:/dev/dri/renderD128 -filter_hw_device hw -hwaccel_output_format vaapi -hwaccel vaapi -c:v h264 -i /root/media/testing/assets/avc/720x480p_30.00_4mb_h264_cabac_180s.264 -an -vf 'hwupload,scale_vaapi=w=4096:h=2304' -c:v hevc_vaapi -vframes 200 -y dump.265

error message:
[Parsed_scale_vaapi_0 @ 0x55b6337b6d40] Failed to render parameter buffer: 18

[2019-06-10 03:06] wangyan-intel commented on #639
@zhuqingliang I tried some H264 videos on my hand but no this issue with the same command based on the latest media driver. If you have still this issue, could you please share your video stream? Thanks

[2019-06-10 04:00] #540 closed

[2019-06-10 06:44] dnagasun commented on #616
I tried the command with #615 in EHL Simics, can see this issue.
it fails with UYVY, but looks good when tried with YUY2.

[2019-06-10 07:02] dnagasun commented on #538
hi @FurongZhang, appreciate if you could provide the status of this fix? Need media driver fix to close this issue.

[2019-06-10 08:20] feiwan1 opened #640 "[Gst-vaapi][VPP][deinterlace] Bob and Motion-adaptive got the same result."
When set the deinterlace mode as Bob and Motion-adaptive, the output are bit match:

$ gst-launch-1.0 -vf filesrc location=1080p_MotionTest.yuv num-buffers=20 ! rawvideoparse format=nv12 width=1920 height=1080 interlaced=true top-field-first=1 ! vaapipostproc format=nv12 width=1920 height=1080 deinterlace-mode=1 deinterlace-method=bob ! checksumsink2 dump-output=true dump-location=./de.bob.nv12

$

[2019-06-11 01:09] Brainiarc7 commented on #625
Will do, thanks.

[2019-06-11 01:17] Brainiarc7 commented on #625
@wangyan-intel, here comes:

1. rv.mkv: https://www.dropbox.com/s/7svk3lbujb2hq8d/rv.mkv?dl=1

[2019-06-11 01:40] wangyan-intel commented on #625
@Brainiarc7 We will check it. Thanks.

[2019-06-11 01:53] Brainiarc7 commented on #630
@EwoutH ,

Case in point: VP9 encoding on KBL is [limited to 60 fps only](https://github.com/intel/intel-vaapi-driver/pull/209), as the MFX block on that H/W gen is incomplete as far as VP9 encoding is concerned.
This is the kind of stuff a company such as Intel wouldn't want to declare prod ready in mediasdk and the media-driver projects, [considering the implications](https://github.com/intel/in

[2019-06-11 04:37] FurongZhang commented on #538
I am working on that now.

[2019-06-11 05:09] #637 closed

[2019-06-11 07:20] wangyan-intel commented on #625
@Brainiarc7 I found I cannot access dropbox URL. Could you please share it on Google drive? Sorry for this.

[2019-06-11 07:42] FurongZhang commented on #582
https://github.com/intel/media-driver/pull/641

[2019-06-11 08:18] FurongZhang commented on #582
@lizhong1008, can you please help to review the code? Thanks a lot in advance!

[2019-06-11 08:18] FurongZhang commented on #582
If no further concern, we will merge the code and close this issue.

[2019-06-11 16:34] Entropy512 commented on #561
If I'm reading the documentation correctly, those platforms require nonfree shaders in order to encode those particular codecs.  You've linked the table for the fully opensource version of the driver.  Scroll up for the table of codecs supported with nonfree shaders.

[2019-06-12 01:13] Brainiarc7 commented on #625
Hello there, you should be able to fetch it via wget, as shown:

[code]

[2019-06-12 01:17] Sherry-Lin commented on #561
Yes, we have two build options. Non-free kernel is default option which could support full features(https://github.com/intel/media-driver#features-in-default-driver-build), and free kernel is mapping to full open source build(https://github.com/intel/media-driver#features-in-open-source-build).

[2019-06-12 01:37] Brainiarc7 commented on #625
Now on Google drive https://drive.google.com/open?id=1CRdDZZPHdgHVlvNMZnOjRiglyG_b0XqY

[2019-06-12 03:00] fulinjie opened #643 "[ffmpeg-vaapi][max_frame_size][vaGetConfigAttributes][Enhancement]"
Since VAConfigAttribMaxFrameSize has been added in libva,https://github.com/intel/libva/commit/dcbd65bf03d0755bbdaa1e69b81480e8de1fb8e2
IMHO, m_attributes for m_profileEntryTbl need to be added too to make the query for max_frame_size valid.

Message:
[h264_vaapi @ 0x5594b51cbec0] Max frame size attribute is not supported.

p (*m_profileEntryTbl[1].m_attributes)
$21 = std::map with 8 elements = {[

[2019-06-12 05:28] HeJunyan opened #644 "Gstreamer can not convert the ARGB color to NV12 correctly."
The gstreamer pipeline

./build/bin/gst-launch-1.0 videotestsrc ! capsfilter caps=video/x-raw,format=ARGB ! vaapipostproc ! video/x-raw,format=NV12 ! vaapisink

get wrong result

while
./build/bin/gst-launch-1.0 videotestsrc ! capsfilter caps=video/x-raw,format=RGBA ! vaapipostproc ! video/x-raw,format=NV12 ! vaapisink
and
./build/bin/gst-launch-1.0 videotestsrc ! capsfilter caps=video/x-raw,forma

[2019-06-12 08:26] wangyan-intel commented on #625
@Brainiarc7 Very thanks. I get it now.

[2019-06-13 05:20] FurongZhang commented on #640
Adding Jason to check this issue.

[2019-06-13 05:20] FurongZhang commented on #640
Jason, is it possible for you to assign this issue to yourself? Sorry, I did not know your account.

[2019-06-13 08:27] FurongZhang commented on #620
@xuguangxin , I filed pull request for this issue. Please help to review that, thanks a lot in advance!
https://github.com/intel/media-driver/pull/646

[2019-06-13 22:14] dmitryermilov opened #647 "Driver on ICL fails to encode HEVC 422 10 bit in PG mode"
HEVC 422 10 bit is promised as a supported on ICL : https://github.com/intel/media-driver/blob/master/README.md#features-in-default-driver-build
but actually it doesn't work:
[code]
At least it fails for vaGetConfigAttributes with VAProfileHEVCMain422_10/VAEntrypointEncSlice

[2019-06-14 04:08] xuguangxin commented on #620
thanks @FurongZhang , @fulinjie could you help check it benefits.
_decode output -> scale and csc to i420 surface -> send i420 surface directly to x264_
or not?
thanks

[2019-06-14 05:48] zhuqingliang commented on #639
@wangyan-intel After update my ffmpeg environment, this issue can not reproduce, thank you for the information.

[2019-06-14 05:48] #639 closed

[2019-06-15 15:47] Brainiarc7 commented on #625
Do post back with updates on this issue, thanks.

[2019-06-17 01:44] wangzj0601 opened #650 "[gstreamer-vaapi][vp9-10bit decode]the md5 does not match with standard when decode odd resolution stream"
System Environment
=======
Platform: KBL
Arch: x86_64
Kernel: 4.18.0+
libva commit 382acf177ce18c069e0293408afa34c5875296ff
gmmlib commit 5a931e80d9bc1da7967927fc2faf02def8bd1234
msdk: commit 11a171e6b4efd9675a845691e0756e13eee6496f
media_driver commit 8be0789fb4b724440594a07f9f61ad70e3146e8d
gstreamer master branch 3635a6a98b39b6ff0e45474414d5ff6af82b9970
repo: https://gitlab.freedesktop.org/gstr

[2019-06-17 03:07] fulinjie commented on #620
Trid above pipeline but failed with cmdline:
ffmpeg -hwaccel qsv -c:v h264_qsv -i 9-\ 4K-\ Nature-\ H264-\ SDR_60fps.mp4 -vf "scale_qsv=format=yuv420p,hwdownload,format=yuv420p" -c:v libx264 -f h264 /dev/null

And I tried HW decode + CSC to rgb32 pipeline on APL, the performance is similar:
ffmpeg -hwaccel qsv -c:v h264_qsv -i 9-\ 4K-\ Nature-\ H264-\ SDR_60fps.mp4 -vf "scale_qsv=format=rgb32,hwdo

[2019-06-17 06:07] FurongZhang commented on #422
const VAImageFormat m_supportedImageformatsG9[] =
{   {VA_FOURCC_BGRA,   VA_LSB_FIRST,   32, 24, 0x00ff0000, 0x0000ff00, 0x000000ff,  0xff000000},
    {VA_FOURCC_ARGB,   VA_LSB_FIRST,   32, 24, 0x00ff0000, 0x0000ff00, 0x000000ff,  0xff000000},
    {VA_FOURCC_RGBA,   VA_LSB_FIRST,   32, 24, 0x000000ff, 0x0000ff00, 0x00ff0000,  0xff000000},
    {VA_FOURCC_ABGR,   VA_LSB_FIRST,   32, 24, 0x000000ff,

[2019-06-17 06:07] FurongZhang commented on #422
const VAImageFormat m_supportedImageformatsG10[] =
{   {VA_FOURCC_BGRA,   VA_LSB_FIRST,   32, 24, 0x00ff0000, 0x0000ff00, 0x000000ff,  0xff000000},
    {VA_FOURCC_ARGB,   VA_LSB_FIRST,   32, 24, 0x00ff0000, 0x0000ff00, 0x000000ff,  0xff000000},
    {VA_FOURCC_RGBA,   VA_LSB_FIRST,   32, 24, 0x000000ff, 0x0000ff00, 0x00ff0000,  0xff000000},
    {VA_FOURCC_ABGR,   VA_LSB_FIRST,   32, 24, 0x000000ff,

[2019-06-17 06:07] FurongZhang commented on #422
const VAImageFormat m_supportedImageformatsG11[] =
{   {VA_FOURCC_BGRA,   VA_LSB_FIRST,   32, 24, 0x00ff0000, 0x0000ff00, 0x000000ff,  0xff000000},
    {VA_FOURCC_ARGB,   VA_LSB_FIRST,   32, 24, 0x00ff0000, 0x0000ff00, 0x000000ff,  0xff000000},
    {VA_FOURCC_RGBA,   VA_LSB_FIRST,   32, 24, 0x000000ff, 0x0000ff00, 0x00ff0000,  0xff000000},
    {VA_FOURCC_ABGR,   VA_LSB_FIRST,   32, 24, 0x000000ff,

[2019-06-17 06:08] FurongZhang commented on #422
For RGB565, it has been {VA_FOURCC_RGB565, VA_LSB_FIRST, 16, 16, 0xf800, 0x07e0, 0x001f, 0},

[2019-06-17 06:19] FurongZhang commented on #644
Yes, That is a bug.

[2019-06-17 06:51] FurongZhang commented on #644
https://github.com/intel/media-driver/pull/653  I am verifying this changelist. Will let you know when I finish the validation and check if this code changes can fix this issue or not. Thanks in advance!

[2019-06-17 08:22] Jister commented on #640
@feiwan1 We have kernel solution and Vebox solution for BOB DI, and media driver use VEBOX to do it for better quality. For motion adaptive, app need to give reference frame(previous frame) to driver, but gst-vaapi didn't give reference, thus result is same to BOB. The issue need gst-vaapi's change to pass reference frame to driver.

[2019-06-17 08:42] feiwan1 commented on #640
@Jister , looks media-driver performs different behavior with vaapi-drvier. When using vaapi-driver, it doesn't have this issue. @xhaihao , do you know how vaapi-driver deal with Motion-adaptive deinterlace? Is that make sense to provide an additional reference frame in middle-ware ?

[2019-06-17 08:54] Jister commented on #640
@feiwan1 By the way, can you help to compare the results between media-driver and vaapi-driver, what's the value of md5sum of vaapi-driver using the same input?

[2019-06-18 01:16] feiwan1 commented on #640
@Jister , here is vaapi-driver's result:
root@T:~/media/dein# md5sum de.*
1ebd131328ce1475f98f623fd11b34ae  de.bob.nv12
6aff6b7352dfbf757f4e4307b16dae8a  de.ma.nv12

And compared the 2 output files, there are lots of difference.

[2019-06-18 02:17] wangzj0601 commented on #650
This issue can be fixed with this patch, thanks

[2019-06-18 02:57] Jister commented on #640
@feiwan1 Thanks for the comparison, so the difference between media-driver and vaapi-driver is just the behavior when handling motion adaptive case. There is an example in Libva, https://github.com/intel/libva/blob/b8d1208a63e316e12e96c7916f40eee636fd555f/va/va_vpp.h#L223, here the reference frame is for motion adaptive deinterlace

[2019-06-18 04:52] FurongZhang commented on #538
https://github.com/intel/media-driver/pull/651
https://github.com/intel/media-driver/pull/652
https://github.com/intel/media-driver/pull/653

[2019-06-18 04:54] FurongZhang commented on #538
I have already submitted these 3 PRs, please help to verify if RGB10 support is ready or not in driver. If not, please let me know. If yes, please close this issue.

[2019-06-18 04:54] FurongZhang commented on #538
And glimagesink will not support 10bit in the near future in GStreamer.

[2019-06-18 07:42] FurongZhang commented on #564
Can we reproduce this issue on KBL? I don't have APL, I only have one KBL. If it can be reproduced on KBL, I can debug that.

[2019-06-18 08:03] wangyan-intel commented on #625
@Brainiarc7
Sorry for slow response.
I debugged your command including ffmpeg h264_vaapi and qsv. I can reproduce your result.
In general, the result comes from libVA interface limitation which causes -minrate:v invalid in fact.
The following is the detail:
1. ffmpeg h264_vaapi passes VAEncMiscParameterRateControl structure to media driver for setting rate control parameters. It is mainly defined

[2019-06-18 08:42] Jister commented on #448
@wangzj0601 The latest driver has no such issue and can get different results, could you also help to verify it? If the issue is fixed, we can close the issue.

[2019-06-18 09:01] FurongZhang commented on #448
Good, then, we can close this issue. Thanks Jister.

[2019-06-18 10:13] KamistixX commented on #564
It does not seem to be reproducible on Kaby Lake unfortunately, only Apollo Lake. It seems to be the same issue as reported [here](https://github.com/intel/intel-vaapi-driver/issues/398)

[2019-06-18 14:10] ss22ongithub opened #655 "Video Playback in the browser fails on ChromeOS after the changes: [Decode] Enable HEVC decode frame split for ICL Linux"
Video playback VP8 /VP9 and H264 in chrome browser on the chromium OS,  hangs as soon as the the video starts playing ex. youtube.com

Board used : ICL RVP
CHROMEOS_RELEASE_CHROME_MILESTONE=77
CHROMEOS_RELEASE_NAME=Chromium OS
CHROMEOS_RELEASE_VERSION=12278.0.2019_06_17_0146
Linux kernel version: Linux  5.2.0-rc5-intel-next-04694-g77e0c844b276

The changes were backtracked and found the issue alwa

[2019-06-19 07:46] wangyan42164 commented on #643
@fulinjie I submitted #656 to fix it. It works fine on my side. Could you please try it? Thanks.

[2019-06-19 07:51] wangyan-intel commented on #616
@feiwan1 Could you please try #648 ? Thanks.

[2019-06-19 08:34] fulinjie commented on #643
@wangyan42164 thanks Yan, it works in avc encoder and returns expected attrib.value for VAEncMiscParameterTypeMultiPassFrameSize.

A remained concern:
Is there any plan to support VAEncMiscParameterTypeMaxFrameSize which is also defined in libva?

If no, i would like to consider the multi path solution only.

[2019-06-19 08:41] wangyan42164 commented on #643
@fulinjie VAEncMiscParameterTypeMaxFrameSize has been supported in current media driver.

[2019-06-19 08:49] feiwan1 commented on #616
@wangyan-intel , with #615 and this patch, the issue is gone on SKL. Thanks.

[2019-06-19 10:31] xuguangxin commented on #620
Hi @FurongZhang ,
I double confirmed @fulinjie 's finding.
The iHD driver uses mos_bo_map map linear surface, but the performance is still not good.

you can use libyami to reproduce the issue.  the command is
`$yamidecode -i test.264   -m 0`

use iHD driver with your patch, we only get about 10fps for a 1080P video.
use i965 driver, it can reach 100+fps.

Is anything we missed here?

thanks

[2019-06-19 14:56] eero-t commented on #499
Tested with latest Git version of media stack and FFmpeg => these cases have been fixed, both with MSDK decode and FFmpeg.

Additionally, both 4K downscaling, and 10-bit  -> 8-bit format conversion in upload case also work with the MSDK decode sample app.

Format conversion doesn't work with FFmpeg QSV or VAAPI backend, and 10-bit 4K doesn't work with VAAPI backend, but as they work for MSDK, thos

[2019-06-19 14:56] #499 closed

[2019-06-19 14:58] OpenSourceAnarchist opened #657 "Is look_ahead support planned?"
MediaSDK supports LA_ICQ and LA (VBR) encoding. I just wanted to know if this is a planned feature of media-driver as well?

Is there a _noticeable_ benefit to LA_ICQ compared to standard ICQ? According to [this MediaSDK page](https://software.intel.com/en-us/articles/advanced-bitrate-control-methods-in-intel-media-sdk), there is a comparison between VBR and ICQ, and VBR and LA_ICQ, but not ICQ an

[2019-06-20 01:24] #647 closed

[2019-06-20 07:09] feiwan1 commented on #116
Junyan already set a patch to gst-vaapi to fixed this issue:
https://gitlab.freedesktop.org/gstreamer/gstreamer-vaapi/merge_requests/105

If there is no need behavior in media-driver side, I am going to close this. Thanks.

[2019-06-20 07:46] zhoujd commented on #501
@FurongZhang I met this issue on vaCreateImage, But I think RGB and RGB10 need be supported in vaPutImage and vaGetImage as well.
Can you also consider to add RGB and RGB10 in vaPutImage and vaGetImage functions ?

[2019-06-20 09:38] wangyan42164 commented on #616
For ICL platform, also need #658.

[2019-06-21 04:07] xhaihao commented on #538
The latest glimagesink may accept P010_10LE/BGR10A2_LE/RGB10A2_LE on little endian and do down-sampling internally if the framebuffer is 8bit.

[2019-06-24 07:43] xuguangxin commented on #620
@FurongZhang , any feedback on this?
thanks

[2019-06-24 08:08] wangyan-intel commented on #643
@fulinjie I checked the code of media driver. VAEncMiscParameterTypeMaxFrameSize should be for VP8/9 only.  VAEncMiscParameterTypeMultiPassFrameSize is for AVC only. Thanks.

[2019-06-24 08:15] fulinjie commented on #643
Thanks a lot.

[2019-06-24 08:15] FurongZhang commented on #620
I will check this function mos_bo_map and why it does not take effect as expected.

[2019-06-24 09:05] AntonGrishin opened #659 "UMD perf profiler doesnt work"
Hi. I try to use UMDPerfProfiler on SKL by instruction https://github.com/intel/media-driver/tree/master/Tools/MediaDriverTools/UMDPerfProfiler
I use default file igfx_user_feature.txt, and on step 3 after run my case like:
`/opt/intel/mediasdk/share/mfx/samples/sample_encode h264 -i stream720x480.yuv -w 720 -h 480 -n 10`
i didnt see output file in working directory.
Please resolve problem or tell

[2019-06-24 11:20] #659 closed

[2019-06-25 02:49] wangyan42164 commented on #587
@HeJunyan Could you please help test my PR? Thanks.

[2019-06-25 08:22] feiwan1 opened #662 "[gstreamer-vaapi][jpeg decode] fail to decode 4:0:0 chroma type jpeg into Y800 format."
Hi,
Now we are using gst-vaapi to decode a jpeg with Y channel only(grey jpeg), ideally it should be decode into Y800 format automatically, but now some va api doesn't support Y800 in media-driver, so now it will be decoded into NV12 in gst-vaapi side. So could help to support VA_FOURCC_Y800 into below apis?
1. vaQueryImageFormats
2. vaCreateImage
3. vaGetImage

jpeg info by mediainfo:
root@T:~# m

[2019-06-26 02:09] #616 closed

[2019-06-26 02:12] #650 closed

[2019-06-26 05:32] feiwan1 commented on #116
Fixed in gst-vaapi side:
https://cgit.freedesktop.org/gstreamer/gstreamer-vaapi/commit/?id=de51eb00599232d3311e6bc42fc168b04b86a027
Patch merged, and close this issue.

Thanks

[2019-06-26 05:32] #116 closed

[2019-06-26 05:48] feiwan1 commented on #484
Close this issue since media-driver will not support this format. And we will remove YV12 denoise test denoise test case.

[2019-06-26 05:48] #484 closed

[2019-06-26 06:43] feiwan1 commented on #662
BTW, if can add 411 chroma format(411P), that will be great.
411 jpeg file:
[411.jpeg.tar.gz](https://github.com/intel/media-driver/files/3328628/411.jpeg.tar.gz)

[2019-06-26 07:48] #587 closed

[2019-06-26 12:45] enihcam opened #664 "unsupported VA image format nv12 with Iris mesa driver (19.1.x)"
Repro steps:

mesa 19.1.1 with `MESA_LOADER_DRIVER_OVERRIDE=iris`
intel-media-driver 19.1.0 with `LIBVA_DRIVER_NAME=iHD`

mpv with an H264 video, and you shall see no pictures at all, with logs:
[code]

[2019-06-27 03:54] HeJunyan commented on #538
the #651 really fix query problem.
I am sorry I made a mistake.
After check, I find the Media_Format_R10G10B10A2 is only supported in DdiMedia_DeriveImage.
But for DdiMedia_CreateImage and GET/PUT functions, we just get VA_STATUS_ERROR_UNIMPLEMENTED.
All the images related functions need to add Media_Format_R10G10B10A2 support.
The logic in  gst-vaapi will create the image first and upload/downloa

[2019-06-27 09:48] alfinbi commented on #621
I also have same issue using arch linux and intel HD 630, it used to work few months before

[2019-06-27 10:01] eero-t commented on #634
BXT issue is not a hard hang or related to this issue, but a i915 driver deadlock without GPU hang: https://bugs.freedesktop.org/show_bug.cgi?id=110848

Regression here, i.e. random recoverable GPU hangs with multiple MSDK and FFmpeg instances running in parallel have continued with latest Git versions.  Here's error state for one of them:
https://bugs.freedesktop.org/attachment.cgi?id=144597

PS.

[2019-06-27 10:31] wangyan-intel commented on #664
@enihcam Could you share your video clips? And what OS you run MPV? Ubuntu? Fedora? Thanks.

[2019-06-27 10:54] enihcam commented on #664
@wangyan-intel Unfortunately I cannot share my video clip.

The OS is Archlinux, with all packages sync-ed. Here is the mpv.conf:

[code]

[2019-06-28 01:37] Jister commented on #556
Actually, driver internally use motion compensated when app set VAProcDeinterlacingMotionAdaptive, it's a bug, so I will correct the capability from VAProcDeinterlacingMotionAdaptive to VAProcDeinterlacingMotionCompensated.
Since MCDI has better quality than MADI, so we just enable MCDI, and won't enable MADI currently. And we also won't enable VAProcDeinterlacingWeave.
Do you have a strong requir

[2019-06-28 03:13] xuguangxin commented on #620
this @FurongZhang , waiting for your feedback

[2019-06-29 01:29] freefreeno commented on #621
@alfinbi  I have still not been able to resolve my issues and now I don't even think I can play any videos. I believe the issues is with the new chromium's. If you will install version 74.0.3729.169-2-x86_64 then I believe you will start back working then. Go to the aur and look at the comments there. It is known that the new versions break or hardware accel on Intel graphics but they are leaving

[2019-07-01 08:25] Jister commented on #662
@feiwan1 Could you please try #669 ?

[2019-07-02 00:04] chivakker commented on #362
Problem still happens with ToT and gmmlib 9.0.0.  Can tests be confirmed to work?

[2019-07-02 03:21] wangyan-intel commented on #362
@chivakker I have not i7-8700K in my hand. I tried KBL and ICL with the latest media driver and gmmlib. No this issue. Could you please double check it? Thanks.

[2019-07-02 09:49] wangyan42164 commented on #624
@fulinjie Media driver will return 2 buffers in fact. The first buffer is VACodedBufferSegment buffer which includes encoded output. And the second buffer is extra VACodedBufferVP9Status. If ffmpeg needn't it,  it could be ignored. Please refer to the following URL:
https://github.com/intel/media-driver/blob/master/media_driver/linux/common/codec/ddi/media_ddi_encode_vp9.cpp#L1030

[2019-07-02 14:37] alariono opened #671 "Endurance test's fails due to polling in driver"
This issue is very related to https://github.com/intel/media-driver/issues/343
Endurance test’s fails after updating kernel [4.19.5]->[5.0.0].
Linux kernel’s patch: https://cgit.freedesktop.org/drm/drm/commit/?id=b16c765122f987056e1dc9ef6c214571bb5bd694
Feedback from kernel’s team: “Proper fix on userspace side is not to poll with sleeps, especially not short ones”
But proper fix in UMD is actuall

[2019-07-02 14:39] alariono commented on #671
+ @dmitryermilov, @onabiull, @dvrogozh

[2019-07-02 14:43] dmitryermilov commented on #671
+ @Xiaogang-Li , @Xiaogangli-intel

[2019-07-03 12:13] alariono commented on #671
+@alariono

[2019-07-04 06:05] FurongZhang commented on #664
I saw yan had followed up this issue. So assign it to Yan. Thanks Yan in advance! Maybe related to video decoding.

[2019-07-04 06:06] FurongZhang commented on #644
I have checked in the code, is it possible for you to verify and close this issue? Please let me know if you still have any issues. Thanks a lot in advance! @HeJunyan

[2019-07-04 06:26] FurongZhang commented on #538
We have already added 10bit RGB support in DdiMedia_CreateImage and GET/PUT functions. The code fixes have been merged. Please check and let us know if any issues, thanks a lot in advance!

[2019-07-04 06:27] FurongZhang commented on #501
I have added 10bit RGB support in vaPutImage and vaGetImage. Code has been merged. Please download the latest code and verify it. Thanks a lot in advance! Please let me know if you are seeing any issues.

[2019-07-05 08:32] XinfengZhang commented on #657
LA will keep a lot of frames, it is not suitable to implement it inside driver

[2019-07-05 08:34] XinfengZhang commented on #671
I wonder why the issue is related with the frequent sleep. the code is very old, why KMD promotion will impact it?

[2019-07-05 15:08] alariono commented on #671
Hello XinfengZhang,
I will forward discussion to you

[2019-07-07 14:39] enihcam commented on #664
Related issue:
https://bugzilla.freedesktop.org/show_bug.cgi?id=110666

[2019-07-08 08:34] HeJunyan commented on #538
Thanks, and verified.

[2019-07-08 08:34] #538 closed

[2019-07-08 12:03] eero-t commented on #634
These recoverable GPU hangs still continue.

They happen also on GT2 devices.  Currently I'm seeing them more there than on the single KBL GT3e that I'm still testing.

I've seen them happen with VAAPI on KBL GT3e on too, not just BXT.   These recoverable hangs are much rarer with VAAPI though, than with MSDK or FFmpeg QSV.

[2019-07-08 16:08] HeJunyan commented on #644
After my debugging, it seems that the forcc ARGB and BGRA map to the same image format, the channels order is same for these two formats. Please help to check, thanks

[2019-07-10 07:47] #422 closed

[2019-07-10 16:07] HeJunyan opened #672 "RGB16(565) generate garbage in postproc for Gstreamer"
The command line
gst-launch-1.0 videotestsrc ! capsfilter caps=video/x-raw,format=RGB16,width=800,height=600 ! vaapipostproc ! video/x-raw,format=NV12 ! vaapisink

generate garbage in skylake
while the comment id:

commit 296c5fb61c812be2e82ae9857ac15c8c160561ec
Author: Chen, Jason K <jason.k.chen@intel.com>
Date:   Fri Mar 22 09:34:31 2019 +0800

    [VP]Add RGB565 support in vaCreateImage

Works

[2019-07-10 16:15] HeJunyan opened #673 "vaQueryImageFormats return depth of ARGB is 24"
should be 32.
Also for all alpha related formats.

[2019-07-11 01:38] ulyuing opened #674 "media server studio 2016 support for haswell"
hi , I recently try to get my E5-1200 V3 support for media sdk，but only the old drvier can do this job(media server studio 2016).  however, I failed to find out download link(only release note can be find). is there anyway to get this driver? thank you!

[2019-07-11 05:45] wangyan42164 commented on #673
@HeJunyan could you please try my PR #675? Thanks.

[2019-07-11 05:47] wangyan-intel commented on #672
@Jister Could you help check it? Thanks.

[2019-07-11 07:04] HeJunyan commented on #673
That's right, thanks

[2019-07-11 07:13] wangyan-intel commented on #673
@HeJunyan Thanks for confirmation. I will push the verifying flow.

[2019-07-11 08:57] Jister commented on #672
@HeJunyan, as I dump the input and output data, seems input data is not correct, could you help to check whether gstreamer pass correct input data to driver?
[dumpData.zip](https://github.com/intel/media-driver/files/3381144/dumpData.zip)

[2019-07-11 09:35] HeJunyan commented on #672
But i check
commit 296c5fb
can really work well, what is the difference?

[2019-07-11 10:08] HeJunyan commented on #672
@Jister
I tried all white input using
gst-launch-1.0 videotestsrc pattern=white ! capsfilter caps=video/x-raw,format=RGB16,width=800,height=600 ! vaapipostproc ! video/x-raw,format=NV12 ! vaapisink

And all the input data is a 0xffff when I dump input, but still see garbage lines.
I see a lot of dither related modification include RGB16 format, is that have some effect?

[2019-07-11 10:30] AntonGrishin opened #677 "[ICL] GPU hangs on hevc y410 (ayuv) encoding in VDEnc mode"
Environment:

- ICL linux
- Q2 release versions of [linux media stack ](https://github.com/Intel-Media-SDK/MediaSDK/releases/tag/intel-mediasdk-19.2.0).

cmd: `./sample_encode h265 -y410 -qsv-ff -i stream176x144_y410.yuv -w 176 -h 144 -o ./stream176x144.hevc -n 5`

Expected result:

Actual results:

If build driver from master branch, then encode passes.
Fixed commit from master: [a674421]( https:

[2019-07-11 10:32] AntonGrishin commented on #677
@Sherry-Lin @onabiull @vvkalinin24

[2019-07-11 11:29] HeJunyan opened #678 "vaQueryImageFormats missing packed RGB24 format in postproc"
Gstreamer

gst-launch-1.0 videotestsrc ! capsfilter caps=video/x-raw,format=RGB,width=800,height=600 ! vaapipostproc ! video/x-raw,format=NV12 ! filesink location=ppp.yuv

can not work, because the FOURCC of VA_FOURCC_R8G8B8 can not be found in current driver.

While, I checked, at least the version:

commit d17f3fcf7e5238ae82b50c54c9591cde919ae3fe
Author: Huang_LiH <li.h.huang@intel.com>
Date:

[2019-07-11 11:33] HeJunyan opened #679 "vaQueryImageFormats return wrong format of AYUV, and failed to create its image"
vaQueryImageFormats of AYUV format return result
byte_order 1, bits_per_pixel 32, depth 24, red_mask ff0000, green_mask ff00, blue_mask ff, alpha_mask ff000000,

which is totally wrong, it's a YUV format and should have no RGB mask
Also failed to create this format's image, please check.

At least, the commit:

commit d17f3fcf7e5238ae82b50c54c9591cde919ae3fe (HEAD -> master)
Author: Huang_LiH <li.

[2019-07-12 02:08] Jister commented on #678
Since driver cannot output R8G8B8, currently, we cannot separate the image capability for input and output, and we remove it in image capability immediately, but you still can use it as input.

[2019-07-12 02:11] Jister commented on #672
Wrong input data is caused by wrong tile format between image and surface in PutImage. Will provide a fix for it.

[2019-07-12 02:23] Jister commented on #672
@HeJunyan please try #680

[2019-07-12 02:24] FurongZhang commented on #679
I will fix it.

[2019-07-12 02:42] FurongZhang commented on #679
https://github.com/intel/media-driver/pull/681/commits/bde9f6eec5d40dd1e9841ee761302fba7c1202df

[2019-07-12 02:43] FurongZhang commented on #679
Please verify the above PR. Sorry for the issue.

[2019-07-12 02:44] FurongZhang commented on #678
Jister, please help to follow up this issue, thanks a lot in advance!

[2019-07-12 08:51] #643 closed

[2019-07-12 15:53] mathpfvr opened #682 "Add support for vulkan on older cpus intel"
I have Intel Celeron 3205U 1.5ghx on my notebook of Samsung and I used Linux Zorin OS 15, please add support for vulkan on older cpus Intel

[2019-07-14 08:39] XinfengZhang commented on #682
linux media driver is pure UMD encode/decode/vpp driver,  suppose you want [libva ](https://github.com/intel/libva) support vulkan , right?

[2019-07-14 08:40] XinfengZhang commented on #655
@ss22ongithub  , as I know, you work on it and triage the issue, could you update current status?

[2019-07-15 03:42] Jister commented on #662
@feiwan1 have you verified the patch? If it works fine, will start to merge the PR#669

[2019-07-15 04:33] feiwan1 commented on #662
HI @Jister , sorry for missing your last ping, you patch looks good for me, some error info need to be removed from gst-vaapi side. Please help to merge your parch. And thanks for your great support.

[2019-07-15 05:46] FurongZhang commented on #448
@wangzj0601 Can you verify this issue? If no response within 1 week, I want to close this issue since we have verified that the issue is fixed.

[2019-07-15 06:15] wangzj0601 commented on #448
I have a regression test on this issue. It still can be duplicated with the latest iHD driver bc73baa6f1c7cc9fe977aad7caa1885930d867db, thanks

[2019-07-16 07:04] wangyan42164 commented on #618
@fulinjie Could you please try #683? Thanks.

[2019-07-16 08:16] wangyan42164 commented on #634
@eero-t This issue happens on KBL GT2. Right? Could you share your video clip for debugging? Thanks.

[2019-07-16 08:40] zhuqingliang opened #685 "[icl encode] quality drop on ICL compare with KBL"
description:
when set bframes=2 ,do some of hevc 10bit encode test, then decode the encode file , draw bd-psnr-y  between ICL and KBL .  ICL psnr got quality  drop compare with KBL.

reproduce step:
gstreamer-vaapi:
1.   encode:
gst-launch-1.0 -vf filesrc location=1080P_1920x1080.P010 num-buffers=150 ! rawvideoparse format=p010-10le width=1920 height=1080 framerate=25 ! videoconvert ! video/x-raw,

[2019-07-16 09:22] fulinjie commented on #629
Update:

VP9 allows resolution changes per frame. Currently in VAAPI, resolution
changes leads to va context destroy and reinit. This will cause
reference frame surface lost and produce garbage.

Though refs surface id could be passed to media driver and found in
RTtbl, vp9RefList[] in hal layer has already been destroyed. Thus the
new created VaContext could only got an empty RefList.

As libva a

[2019-07-16 12:08] zhuqingliang opened #686 "[ICL VPP] brightness affect UV on ICL"
description:
When do vpp brightness, the UV will change on ICL , but KBL will not change UV

reproduce step:
set brightness=0
1.  ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v debug -f rawvideo -pix_fmt yuv420p -s:v 1280x720 -i /root/media/testing/assets/yuv/720p5994_parkrun_ter_1280x720_I420.yuv -vf 'format=nv12,hwupload,procamp_vaapi=b=-100.0,hwdownload,format=nv12' -pix_fmt yuv420p

[2019-07-17 08:08] zhuqingliang opened #687 "[vp8 encode] maximum support 4k failed"
description :
  ffmpeg vp8 4k  encode failed ,shows hardware only support  32-1920

reproduce step:
1.ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v verbose -f rawvideo -pix_fmt yuv420p -s:v 3840x2160 -i 4k_2013_3840x2160_I420.yuv -vf 'format=nv12,hwupload' -c:v vp8_vaapi -rc_mode CQP -g 30 -global_quality 28 -loop_filter_sharpness 0 -loop_filter_level 0 -vframes 10 -y test.ivf
2. erro

[2019-07-17 08:19] wangyan-intel commented on #687
@zhuqingliang It should be duplicated with #565.

[2019-07-18 02:52] #687 closed

[2019-07-18 08:00] #673 closed

[2019-07-19 01:52] Jister commented on #672
@HeJunyan have you verified the patch? If it works fine, will start to merge the PR#680

[2019-07-19 13:01] HeJunyan commented on #672
Verified and OK, thanks

[2019-07-19 18:56] #672 closed

[2019-07-22 09:48] shakeeb80 opened #689 "Noise reduction not working"
I want to use noise reduction filter (VAProcFilterNoiseReduction) using va api but it does not seems to be doing anything. Can anyone guide me what may be wrong ? Also what algoirthm does the noise reduction filter use ? Is it using spatial or temporal or both ?

I am following the instructions mentioned in https://people.freedesktop.org/~gb/vaapi/vpp/group__api__vpp.html

Thanks

[2019-07-23 07:45] fulinjie opened #690 "[ffmpeg][vaapi][ARGB/BGRA] mismatch of ARGB/BRGA"
cmdline:
ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -hwaccel_output_format vaapi -i Nature.h264 -vf scale_vaapi=format=rgb32,hwdownload,format=rgb32 -f rawvideo /dev/null

https://github.com/FFmpeg/FFmpeg/blob/3883c9d1479d3e653bb66c9960fdd2ebd6ba9594/libavutil/hwcontext_vaapi.c#L607
if (expected_format->fourcc == test_image.format.fourcc) {

expected_format->fourcc is different from

[2019-07-23 07:56] wangyan-intel commented on #690
@fulinjie Could you share your video clip for debugging? Thanks.

[2019-07-23 08:00] fulinjie commented on #690
@wangyan-intel Random clips should be ok, since the cmdline simply decoded a clips and do color space convert.

[2019-07-24 02:31] wangyan-intel commented on #690
I tried it by one MP4 h264 clip but cannot find this issue. the commit of iHD driver is c2aae3e8. Could you please double check it? Thanks.

[2019-07-24 03:13] fulinjie commented on #690
Hi Yan, update to latest version of iHD driver, and this issue still exists.
This happens when vaapi_frames_init is called for VPP (csc, called the second time.)

vaCreateImage is used instead of vaDeriveImage, thus makes the performance drop.

[2019-07-24 07:58] wangyan42164 commented on #690
@fulinjie Could you please try #692? It works fine on my side. Thanks.

[2019-07-24 08:15] #565 closed

[2019-07-24 10:29] AntonGrishin opened #693 "[SKL][Enc] Incorrect caps report for HEVC 10 bit encoding"
Hi,
According to iHD support table in readme, SKL doesn't support HEVC 10bit encoding.
Also this proofs by vainfo:

But driver on SKL reports via caps about reverse situation:
https://github.com/intel/media-driver/blob/ab96b8258e013f4033d2d36da443284912eb6de6/media_driver/linux/gen9_skl/ddi/media_libva_caps_g9_skl.cpp#L39

[2019-07-25 07:23] intel-media-ci opened #695 "[ffmpeg-vaapi] VC1 decode failed"
The commit ID bb920ee213275d234fbfb6d6eb868a10bf0a5274 cause VC1 decode failed.
It looks like a regression.
https://github.com/intel/media-driver/commit/bb920ee213275d234fbfb6d6eb868a10bf0a5274

The same command line works for the previous commit ID
https://github.com/intel/media-driver/commit/a798a38fff76ae738188813a4cb416c0204fb0da

The command line like following -
ffmpeg -hwaccel vaapi -init_h

[2019-07-25 07:50] wangyan-intel commented on #695
@maksenox Could you help check it? Thanks.

[2019-07-26 08:07] FurongZhang commented on #689
May I know how you are using the noise filter? Can you try our sample code first? Thanks a lot in advance!
Libva-Utils: https://github.com/intel/libva-utils
https://github.com/intel/libva-utils/blob/master/videoprocess/vppdenoise.cpp

[2019-07-29 02:22] XinfengZhang commented on #389
how about driver handle it, such as decode the slice parameter from the packed header then pack it again inside driver？

[2019-07-29 03:13] wangyan-intel commented on #389
@XinfengZhang Yes. I also think so. I am working on this.

[2019-07-30 06:48] fulinjie commented on #618
HI @wangyan42164 ,
after applying this pr, ICQ mode is still quried as supported mode for ICL.

[hevc_vaapi @ 0x1a94480] Input surface format is nv12.
[hevc_vaapi @ 0x1a94480] Using VAAPI profile VAProfileHEVCMain (17).
[hevc_vaapi @ 0x1a94480] Using VAAPI entrypoint VAEntrypointEncSliceLP (8).
[hevc_vaapi @ 0x1a94480] Using VAAPI render target format YUV420 (0x1).
[hevc_vaapi @ 0x1a94480] Driver

[2019-07-30 08:52] wangyan42164 commented on #389
@uartie I have submitted #697 to fix it on media driver side. Now ffmpeg/gst-vaapi can work fine for the case. BTW, I find that MSDK also set first_mb_in_slice to 0 in his implementation. So ffmpeg/gst use MSDK has not this issue.

Now I tried your decoding command to decode the output H264 stream. It displays rightly.
But I still get failure on my local KBL platform by your https://github.com/int

[2019-07-30 15:15] ceyusa opened #698 "reply VASurfaceAttribMemoryType to vaQuerySurfaceAttributes()"
Other drivers, such as intel-vaapi-driver and amdgpu gallium, according to [vadumpcaps](https://github.com/fhvwy/vadumpcaps), reply when calling `vaQuerySurfaceAttributes()` the available `VASurfaceAttribMemoryType` to all the profile/entrypoints, but media-driver only replies it to the postprocessor profile,  not to the rest of the encoders and decoders.

[2019-07-31 02:12] #685 closed

[2019-07-31 03:52] wangyan-intel commented on #698
@ceyusa I will check it. Thanks.

[2019-07-31 08:56] wangyan-intel commented on #698
@ceyusa I have submitted #699 for fixing this issue. Thanks.

[2019-08-01 01:22] Sherry-Lin commented on #677
resolved by https://github.com/intel/media-driver/commit/6cc99540, so close it.

[2019-08-01 01:22] #677 closed

[2019-08-05 08:45] zhuqingliang opened #700 "[ffmpeg_vaapi][hevc_lp_encode] encode file has garbage on ICL"
description:
  the color have some error on hevc lowpower encode cbr/vbr mode

reproduce step:
1.ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -v verbose -f rawvideo -pix_fmt yuv420p -s:v 352x288 -r:v 30 -i yuv/MOBILE_352x288_30_orig_01_352x288_I420.yuv -vf 'format=nv12,hwupload' -c:v hevc_vaapi -profile:v main -rc_mode CBR -g 30 -slices 1 -b:v 100k -maxrate 100k -low_power 1 -vframes 30

[2019-08-09 18:56] Saentist commented on #214
I have near same problem with today cloned repo
this is manual with i fallow
https://gist.github.com/Brainiarc7/4f831867f8e55d35cbcb527e15f9f116
Ubuntu 18.04 x64
4.15.0-55-generic #60-Ubuntu SMP Tue Jul 2 18:22:20 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[code]

any suggestions

[2019-08-09 19:09] Brainiarc7 commented on #214
Your libva installation is out of date.
Did you compile libva from source?

On Fri, Aug 9, 2019, 21:56 Saentist <notifications@github.com> wrote:

[2019-08-09 19:14] Saentist commented on #214
Yes I fallow your manual

[code]

[2019-08-09 19:33] Brainiarc7 commented on #214
I'll try running the rebuild on my test bed and report back to you.

On Fri, Aug 9, 2019, 22:14 Saentist <notifications@github.com> wrote:

[2019-08-09 23:21] Brainiarc7 commented on #214
In the meanwhile, can you show us the output of vainfo?
Thanks,
Dennis

[2019-08-10 07:04] Saentist commented on #214
[code]

[2019-08-10 15:01] Brainiarc7 commented on #214
Your  older libva installation is at `/usr/local/lib`, and that should not
be the case.
What you build (if you followed my guide) should be prefixed to `/usr/`.

On Sat, 10 Aug 2019 at 10:05, Saentist <notifications@github.com> wrote:

[2019-08-10 16:02] Saentist commented on #214
I fallow manual step-by-step I wont to have working GPU acceleration to transcode live tv to my device.

[code]

[2019-08-10 16:20] Brainiarc7 commented on #214
Uninstall that older build first. And follow the documentation on building
libva prefixed to the correct install location.

On Sat, Aug 10, 2019, 19:02 Saentist <notifications@github.com> wrote:

[2019-08-10 18:29] Saentist commented on #214
I try to do that but result is same.
Is there any specific steps to do libva uninstalling?

[2019-08-10 20:28] shakeeb80 opened #701 "creating surfaces for I420 with VA_SURFACE_ATTRIB_MEM_TYPE_USER_PTR"
I am trying to use vaCreateSurfaces to create an I420 surface with VA_SURFACE_ATTRIB_MEM_TYPE_USER_PTR memory type. However it looks like any multi plane surface is not supported. I am filling VASurfaceAttribExternalBuffers like so

GstVideoInfo video_info;

VASurfaceAttribExternalBuffers extern_buf;
  memset(&extern_buf, 0, sizeof(VASurfaceAttribExternalBuffers));
  extern_buf.buffers = new unsig

[2019-08-11 18:12] tmm1 opened #702 "Build as static library"
I am working on some patches to enable building the driver as a static archive. Is there any interest in making this an officially supported build mode?

[2019-08-11 20:43] tmm1 opened #703 "Support for Bay Trail?"
On the J1900 CPU it seems intel-vaapi-driver works but intel-media-driver does not support it.

What is the process for adding support? Is this something that I could port from the vaapi-driver, or something that only Intel would be able to accomplish?

[2019-08-11 20:58] tmm1 opened #704 "Encoding failure on Kaby Lake"
I'm getting failures on i5-7260U:

[code]

What could cause this issue?

[2019-08-12 06:22] wangyan-intel commented on #700
@zhuqingliang Could you share your video clip for debugging? Thanks.

[2019-08-12 06:24] wangyan-intel commented on #704
@tmm1 Could you share your command and input file for debugging? Thanks.

[2019-08-12 07:12] tmm1 commented on #704
stream.mpg: http://0x0.st/zVAr.mpg

[2019-08-13 06:02] wangyan-intel commented on #704
@tmm1 Thanks for sharing. But I cannot download your video clip so far. Could you share it by the other method? Thanks.

[2019-08-13 06:12] tmm1 commented on #704
How about this one: https://www.dropbox.com/s/k2xc5psgp3l6soh/stream.mpg?dl=1

If that does not work I can upload to S3.

[2019-08-13 06:15] wangyan-intel commented on #704
@tmm1 Sorry. I cannot access dropbox. Google Doc may be OK. Thanks.

[2019-08-13 06:17] tmm1 commented on #704
https://drive.google.com/file/d/1faAXczONDfI65oT2akQF_Ed5Xt5YQbte/view?usp=drivesdk

[2019-08-13 06:20] wangyan-intel commented on #704
@tmm1 Get it. Thanks.

[2019-08-13 07:08] wangyan-intel commented on #704
@tmm1 I tried on my local platform  (Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz) with media driver (4ee2a4d8c) but I cannot find your mentioned error. I also checked the output h264 video clip. It is OK.
The following is the my ffmpeg log. Could you please try it with the latest media driver? Thanks.

[AVHWDeviceContext @ 0x43f66c0] libva: VA-API version 1.6.0
[AVHWDeviceContext @ 0x43f66c0] libva: v

[2019-08-13 07:12] tmm1 commented on #704
My error was with version 19.2

I will try again with master

[2019-08-13 07:59] XinfengZhang opened #707 "potential thread racing issue"
https://github.com/intel/media-driver/blob/master/media_driver/linux/common/ddi/media_libva.cpp#L4517
https://github.com/intel/media-driver/blob/master/media_driver/linux/common/ddi/media_libva.cpp#L4752
this two function use first VPP context to handle the VPP call, but this context maybe consume by other thread.

[2019-08-13 08:00] XinfengZhang commented on #707
#706 maybe is a solution, but it will impact perf

[2019-08-13 10:20] #693 closed

[2019-08-13 13:51] eero-t commented on #703
Is there a particular reason why you would want to use the new driver on the old HW instead of using the driver that was written for that HW?

(Even if somebody could port new driver to support also the old HW it's possible, probably even likely, that it would never support all the HW features that the old driver does.)

[2019-08-13 13:53] eero-t commented on #682
Mathpfvr added ticket to libva, so I suppose this can be closed: https://github.com/intel/libva/issues/321

[2019-08-13 16:12] tmm1 commented on #703
Just as a matter of convenience for programs/scripts that expect to run on multiple systems. It would be easier if the same driver and flags worked without having to probe the system and CPU first.

But I understand this is not feasible and that the legacy driver is needed for legacy chipsets.

[2019-08-13 16:12] #703 closed

[2019-08-13 16:20] eero-t commented on #634
I don't have anymore KBL GT2, only BDW & SKL GT2, KBL GT3e and BXT J4205.  From last one I'm not getting regular data due to: https://bugs.freedesktop.org/show_bug.cgi?id=110848

Of the above listed 3 Core devices, I've gotten Media GPU hang only once in last 4 weeks, it was yesterday, on KLB GT3e, in the same video file as earlier (hangs seem to have gone mostly away after upgrading to 5.2 drm-ti

[2019-08-13 20:20] tmm1 commented on #704
I rebuilt with f0874503a3b02c7af3ea92865e3309800fac4d17 (also had to upgrade to g++ 6.4.0), but I'm still having the same issue:

[code]

[2019-08-13 20:25] tmm1 commented on #704
If I try to use vaapi to decode mpeg2, there is a similar problem:

[code]

The same binaries work as expected on a different Broxton J3455 system with 4.4.59+ kernel.

[2019-08-14 07:49] wangzj0601 opened #709 "[regression][ff3f0edd7eaf7a1d7afeabd62bad675f07106de6][gst-vaapi][avc dec]core dump when do decoding"
platform: KBL
media-driver: ff3f0edd7eaf7a1d7afeabd62bad675f07106de6
gstreamer: 21798184a0588dbe0a423a03314022f3ad2d84be
gst-vaapi: 9e0c133a2403d5457de4e1e247f019a430516ac0

repo step
gst-launch-1.0 -vf filesrc location=./AUD_MW_E.264 ! h264parse ! vaapih264dec ! videoconvert dither=0 ! video/x-raw,format=I420 ! checksumsink2 file-checksum=false qos=false frame-checksum=false plane-checksum=false

[2019-08-14 08:21] zhuqingliang commented on #700
@wangyan-intel  https://drive.google.com/file/d/1mnTYUS_0MMGT0az4MbihvIL_BmyGas-T/view?usp=sharing

[2019-08-14 21:45] dvrogozh commented on #701
You asked this question in libva. Please, provide answer on questions from this comment: https://github.com/intel/libva/issues/326#issuecomment-520578078. Posting it here as well:

How original i420 memory was allocated? Mind that userptr path has 2 basic requirements:

Pointer should be page aligned
Data size should be page aligned
There are other requirements implied by the media-driver, but the

[2019-08-15 00:47] dvrogozh opened #710 "Support dma buffer export for VA_FOURCC_RGBP"
https://github.com/intel/media-driver/blob/f0874503a3b02c7af3ea92865e3309800fac4d17/media_driver/linux/common/ddi/media_libva.cpp#L5993

Please, support export/import of VA_FOURCC_RGBP surfaces. Export as VA_EXPORT_SURFACE_COMPOSITE_LAYERS is definitely missing. It seems that import actually works by the way.

[2019-08-15 04:50] fulinjie commented on #690
Hi @wangyan42164, how is this going?

[2019-08-15 05:26] uartie commented on #709
It looks like the bad commit got reverted in 4054fa6aca43fe0e61b5342c9a8fe228f6b356a0

But maintainers/commit failed to mention this issue.

[2019-08-15 06:24] wangzj0601 commented on #709
Do anyone mention this issue, I will keep this issue one day, and will close it due to the bad commit got reverted in 4054fa6

[2019-08-16 01:46] #709 closed

[2019-08-16 08:00] #698 closed

[2019-08-16 08:00] #689 closed

[2019-08-16 10:06] fulinjie opened #711 "[ffmpeg][vaapi][decode][mjpeg 422H]422 mjpeg decode has garbage"
[Cmdline]
ffmpeg -hwaccel vaapi -init_hw_device vaapi=hw:/dev/dri/renderD128 -filter_hw_device hw -v debug -i /root/media/testing/assets/jpeg/canoneos450d_img_3719.jpg -f rawvideo -vsync passthrough -vframes 1 -y test.yuv

[Result]
Reslult has garbage.

[Analysis]
It could be root caused the decode result before VP process is correct in yuy2 format.

Got result through debug tool:
surfdump_loc[pre